mixin hero(data)
    .hero
        .hero__center
            a.hero__logo(href='javascript:void(0);')
            .hero__button
                != jadeHelpers.Icon.call(locals, {iconName: 'menu', className: 'hero-icon'})
            .hero__content
                h1.hero__title amazing dude.
                h1.hero__title amazing life.
                p Welcome to the personal site of #[strong John Doe].
                p A professional skier and a musician.