mixin block-form-section-quaternary()
    section.section-quaternary
        span.section-quaternary__caption
            | опишите свои эмоции
        textarea.section-quaternary__description( placeholder='Можно прям в красках, не стесняясь в выражениях' )
