mixin purchase(data)
    .purchase
        .purchase__center
            .purchase__primary
                .purchase__content
                    h2.purchase__title Looking for a quality and affordable for your next project?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla dui, volutpat eu lectus vel, dapibus hendrerit ipsum. Nam nec ante lacus.
            .purchase__secondary
                button.purchase__button(type="button") purchase

