mixin topheader(data)
    header.topheader.fixed
        span.button-sidebar
            != jadeHelpers.Icon.call(locals, {iconName: 'indent-increase', className: 'topheader-icon'})
        h1.topheader-title soho
        span.button-navbar
            != jadeHelpers.Icon.call(locals, {iconName: 'briefcase', className: 'topheader-icon'})