@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold.woff2') format('woff2'), url('../fonts/firasans-bold.woff') format('woff'), url('../fonts/firasans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}