// File for less-vars.
// For example: main colors, paddings and so on.


$width = 1200px
$gutter = 15px



$color-white = #fff
$color-black = #000
$color-grey = #f3f1ef
$color-grey-light = #f9f9f9
$color-grey-dark = #919191
$color-blue = #3f729b
$color-dark = #282b2f
$color-dark2 = #212227
$color-green-light = #2ebd59



$firasans-bold = 'fira_sansbold', sans-serif