// File for less-vars.
// For example: main colors, paddings and so on.


$width = 1200px
$gutter = 15px



$color-white = #fff
$color-black = #000
$color-grey = #f3f1ef
$color-blue = #3f729b



$firasans-bold = 'fira_sansbold', sans-serif