
// GALLERY
// ---------------------------------

.gallery
	height 100%


	// GALLERY HEADER
	// ---------------------------------

	&__header
		lost-utility clearfix
		margin-bottom 6rem


	// GALLERY ITEM
	// ---------------------------------

	&__item
		lost-column 1/3
		lost-column-gutter 2rem
		padding-bottom 22%
		background-position center center
		background-repeat no-repeat
		background-size cover
		position relative

		&:hover .gallery-overlay
			opacity 1

		&:nth-child(-n+3)
			margin-bottom 2rem

		&:nth-child(1)
			background-image url(../images/gallery/small/gallery-image-small-01.jpg)

		&:nth-child(2)
			background-image url(../images/gallery/small/gallery-image-small-02.jpg)

		&:nth-child(3)
			background-image url(../images/gallery/small/gallery-image-small-03.jpg)

		&:nth-child(4)
			background-image url(../images/gallery/small/gallery-image-small-04.jpg)

		&:nth-child(5)
			background-image url(../images/gallery/small/gallery-image-small-05.jpg)

		&:nth-child(6)
			background-image url(../images/gallery/small/gallery-image-small-06.jpg)

		+below($bp-786)
			lost-column 1/2 2
			lost-column-gutter 2rem
			padding-bottom 32%

		+below($bp-500)
			lost-column 1/1
			lost-column-gutter 0
			padding-bottom 62%

			&:not(:last-child)
				margin-bottom 2rem


	// GALLERY FOOTER
	// ---------------------------------

	&__footer
		text-align center


// GALLERY OVERLAY
// ---------------------------------

.gallery-overlay
	display block
	position absolute
	display flex
	flex-direction column
	top 0
	left 0
	width 100%
	height 100%
	opacity 0
	transition opacity .3s


	// GALLERY OVERLAY HEADER
	// ---------------------------------

	&__header
		display flex
		justify-content center
		align-items center
		height 80%
		background-color rgba(41, 47, 54, .5)

		&::before
			content '+'
			color $color-white
			font-size 4rem
			font-weight 700


	// GALLERY OVERLAY FOOTER
	// ---------------------------------

	&__footer
		display flex
		align-items center
		height 20%
		background-color #292f36
		padding-left 2rem

		& > h4
			font-size 1.2rem
			text-transform uppercase
			color $color-white


// MAGNIFIC POPUP FADE EFFECT
// ------------------------------------------

.mfp-with-fade {

	// before-open state
	.mfp-content,
	.mfp-arrow,
	&.mfp-bg {
		opacity: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition: opacity 0.3s ease-out;
		-moz-transition: opacity 0.3s ease-out;
		-o-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
	}

	// open state
	&.mfp-ready {
		.mfp-content,
		.mfp-arrow {
			opacity: 1;
		}
		&.mfp-bg {
			opacity: 0.8; // background opacity
		}
	}

	// closed state
	&.mfp-removing {
		.mfp-content,
		.mfp-arrow,
		&.mfp-bg {
			opacity: 0;
		}
	}


}
