include ../button/button

mixin gallery(  )
	section.gallery
		ul.gallery__header
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-01.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-02.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-03.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-04.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-05.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
			li.gallery__item
				a.gallery-overlay( href='assets/images/gallery/large/gallery-image-large-06.jpg' )
					header.gallery-overlay__header
					footer.gallery-overlay__footer
						h4.gallery-overlay__title partnership guidlines
		footer.gallery__footer
			+button( 'show me more' )
