mixin features-gallery()
	.features-gallery
		.features-gallery__item
			.features-gallery__image
				img( src='/assets/images/features-gallery-image-01.jpg' alt='Image' )
			h4.features-gallery__title
				| product design: eames chairs
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis eius architecto. Eos tenetur iste quidem soluta aut incidunt ea earum vero, saepe quaerat magni blanditiis nobis reprehenderit, nostrum ipsam.
		.features-gallery__item
			.features-gallery__image
				img( src='/assets/images/features-gallery-image-02.jpg' alt='Image' )
			h4.features-gallery__title
				| elegant and colorful logos
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vero et autem, animi omnis sunt voluptatem consectetur ratione quisquam nulla perferendis quaerat quam beatae, consequatur cumque laudantium corporis, ad commodi.
		.features-gallery__item
			.features-gallery__image
				img( src='/assets/images/features-gallery-image-03.jpg' alt='Image' )
			h4.features-gallery__title
				| a showcase of creative
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fugit dolorem magni dolorum, impedit iste odio quo a deserunt explicabo repellendus quaerat sapiente quis eaque error dolor fugiat, alias repudiandae!
