
// FEATURES-GALLERY
// --------------------------------------
.features-gallery
	lost-center 100%

	// FEATURES-GALLERY ITEM
	// ----------------------------------------

	&__item
		lost-column 4/12
		lost-column-gutter 3rem

		& > p
			font-size 1rem
			line-height 1.8
			color #dcdfe1

		+below($bp-500)
			lost-column 1/1
			lost-column-gutter 0
			text-align center

			&:not(:last-child)
				margin-bottom 3rem

	// FEATURES-GALLERY IMAGE
	// -----------------------------------------------

	&__image
		margin-bottom 5rem
		img-adaptive()

	// FEATURES-GALLERY TITLE
	// ---------------------------------------------

	&__title
		text-transform uppercase
		color $color-white
		font-size 1.4rem
		font-weight 700
		margin-bottom 2rem
