mixin block-benefits(data)
    .block-benefits
        .center
            header.block-benefits__header
                h2.block-benefits__title
                    | Преимущества
            main.block-benefits__main
                .block-benefits__item
                    .block-benefits__icon
                    h3.block-benefits__caption
                        | Удобная доставка
                    p
                        | Доставим или вернем ваши вещи с точностью до 2 часов
                .block-benefits__item
                    .block-benefits__icon
                    h3.block-benefits__caption
                        | Прозрачные цены
                    p
                        | Стоимость услуги согласовывается с вами заранее
                .block-benefits__item
                    .block-benefits__icon
                    h3.block-benefits__caption
                        | Приятный сервис
                    p
                        | Оплата только после доставки чистых и поглаженных вещей
                .block-benefits__item
                    .block-benefits__icon
                    h3.block-benefits__caption
                        | Экспресс-чистка
                    p
                        | Ваши вещи вернуться к вам через 24 часа
                .block-benefits__item
                    .block-benefits__icon
                    h3.block-benefits__caption
                        | Обратная связь
                    p
                        | Учитываем все ваши пожелания и становимся лучше
