mixin block-heading(title,item1,item2)
    .block-heading
        h1.block-heading__title= title
        ul.block-heading__nav
            li: a(href="javascript:void(0);")= item1
            li: a(href="javascript:void(0);")= item2