.block-heading
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 396px
    background-color: $color-grey-light


    // HEADING TITLE
    // ----------------------------------------------------------
    &__title
        text-transform: uppercase
        font: 3.6rem/1 $amsdam-regular
        color: $color-white
        letter-spacing: .2rem
        padding: 0 0 3rem
        margin: 0 0 3rem
        position: relative

        &::after
            content: ''
            display: block
            width: 60%
            height: .5rem
            position: absolute
            left: 50%
            bottom: 0
            transform: translateX(-50%)
            background: url("%=static=%assets/block-heading/underline-pattern.png") 0 0 repeat-x


    // HEADING NAVIGATION
    // ----------------------------------------------------------
    &__nav
        display: flex
        justify-content: center

        & li
            padding: 0 1rem
            position: relative
            font: 400 1.4rem/1 $crimson_text-roman
            color: $color-white

           &:not(:last-child)::after
               content: '>'
               position: absolute
               right: -.5rem
               top: 50%
               transform: translateY(-50%)

        & a
            text-decoration: none
            text-transform: capitalize
            color: $color-white
            transition: color .2s

            &:hover
            &:focus
                text-decoration: underline























