mixin pricing()
	+b.pricing

		// pricing title
		.pricing__center

			// pricing headling
			.heading

				.heading__left
					h2.heading__title plant&amp; <span>pricing</span>
					small.heading__subtitle what we do with love

				.heading__right
					p.heading__text Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse

			// pricing table
			.table

				// table item
				.table__item
					header.table__header
						h2.table__heading basic plan
						.table__price
							span.table__currency $
							span.table__value 25
							span.table__duration mo
					main.table__body
						ul.table__features
							li.table__features-item: <span>60</span> users
							li.table__features-item: <span>unlimited</span> forums
							li.table__features-item: <span>unlimited</span> reports
							li.table__features-item: <span>3,000</span> entries per month
							li.table__features-item: <span>200mb</span> storage
							li.table__features-item: <span>unlimited</span> support
					footer.table__footer
						a.table__button(href="#{jv0}") order now
						small.table__free 30 days free trial

				// table item
				.table__item
					header.table__header
						h2.table__heading basic plan
						.table__price
							span.table__currency $
							span.table__value 25
							span.table__duration mo
					main.table__body
						ul.table__features
							li.table__features-item: <span>60</span> users
							li.table__features-item: <span>unlimited</span> forums
							li.table__features-item: <span>unlimited</span> reports
							li.table__features-item: <span>3,000</span> entries per month
							li.table__features-item: <span>200mb</span> storage
							li.table__features-item: <span>unlimited</span> support
					footer.table__footer
						a.table__button(href="#{jv0}") order now
						small.table__free 30 days free trial

				// table item
				.table__item
					header.table__header
						h2.table__heading basic plan
						.table__price
							span.table__currency $
							span.table__value 25
							span.table__duration mo
					main.table__body
						ul.table__features
							li.table__features-item: <span>60</span> users
							li.table__features-item: <span>unlimited</span> forums
							li.table__features-item: <span>unlimited</span> reports
							li.table__features-item: <span>3,000</span> entries per month
							li.table__features-item: <span>200mb</span> storage
							li.table__features-item: <span>unlimited</span> support
					footer.table__footer
						a.table__button(href="#{jv0}") order now
						small.table__free 30 days free trial

				// table item
				.table__item
					header.table__header
						h2.table__heading basic plan
						.table__price
							span.table__currency $
							span.table__value 25
							span.table__duration mo
					main.table__body
						ul.table__features
							li.table__features-item: <span>60</span> users
							li.table__features-item: <span>unlimited</span> forums
							li.table__features-item: <span>unlimited</span> reports
							li.table__features-item: <span>3,000</span> entries per month
							li.table__features-item: <span>200mb</span> storage
							li.table__features-item: <span>unlimited</span> support
					footer.table__footer
						a.table__button(href="#{jv0}") order now
						small.table__free 30 days free trial


