.pricing
	background-color #f7f7f7
	padding 21rem 0 14rem

	+below(500px)
		padding 6rem 0

	&__center
		lost-center $width
		padding 0 1rem

	& .heading
		margin-bottom 14rem
		padding 0 1rem


	// PRICING TABLE
	// ------------------------------------------

	& .table
		lost-center 100%

		// PRICING TABLE ITEM
		// ------------------------------------------

		&__item
			lost-column 3/12
			lost-column-gutter 2rem
			text-align center
			color #333

			+below(980px)
				lost-column 6/12
				lost-column-cycle 2
				lost-column-gutter 2rem

				&:nth-child(-n+2)
					margin 0 0 4rem 0

			+below(650px)
				lost-column 1/1
				lost-column-cycle 0
				lost-column-gutter 0

				&:not(:last-child)
					margin 0 0 4rem 0

		&__heading
			padding 2.8rem 0
			margin 0 0 4rem 0
			background-color $blue
			color $white
			font-family $lato-bold
			font-size 2.2rem
			text-transform capitalize

		&__currency
			display inline-block
			vertical-align top
			font-size 3.6rem
			font-family $lato-bold
			margin-top .4rem

		&__value
			font-size 6rem
			font-family $lato-bold

			+below(500px)
				font-size 5rem

		&__duration
			font-size 2.4rem

			&::before
				content '/'
				margin-right .3rem

		&__body
			padding 5rem 0

		&__features-item
			padding 1.6rem 0
			font-size 1.6rem
			text-transform capitalize
			text-overflow ellipsis
			white-space nowrap

			& > span
				font-family $lato-bold

		&__footer
			display flex
			flex-direction column
			align-items center
			padding 2rem 0
			font-size 1.1rem
			text-transform uppercase

		&__button
			display block
			padding 1.4rem 2.4rem
			margin 0 0 2.5rem
			font-family $lato-bold
			color #333
			text-decoration none
			border .1rem solid #333
			border-radius .4rem
			transition background-color .2s, color .2s

			&:hover
			&:active
				background-color #333
				color #fff

		&__free
			text-transform uppercase
			color #999
