.post-head
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 39.6rem
    background: url("%=static=%assets/post-head/post-head-bg.jpg") 50% 50% no-repeat

    & .heading
        margin: 0 0 3rem 0

    & .heading__title
        color: $color-white
        margin: 0

        &::after
            background: url("%=static=%assets/post-head/underline-pattern.png") 0 0 repeat-x
            width: 60%
            left: 50%
            transform: translateX(-50%)

    & .heading__subtitle
        display: none

    & .post-head__nav
        display: flex
        justify-content: center

        & li
            padding: 0 1rem
            position: relative
            font: 400 1.4rem/1 $crimson_text-roman
            color: $color-white

            &:not(:last-child)::after
                content: '>'
                position: absolute
                right: -.5rem
                top: 50%
                transform: translateY(-50%)

        & a
            text-decoration: none
            text-transform: capitalize
            color: $color-white
            transition: color .2s

            &:hover
            &:focus
                text-decoration: underline

