include ../heading/heading

mixin post-head(data)
    .post-head
        +heading('post with sidebar')
        ul.post-head__nav
            li: a(href="javascript:void();") home
            li: a(href="javascript:void();") blog
