.footer
  background-color $color-grey-dark
  padding 6rem 0 50rem

.footer__center
  lost-center $width
  padding 0 1rem

// FOOTER SECONDARY
// --------------------------------------------

.footer__primary
  lost-center 100%
  margin 0 0 4rem 0

.footer__column
  lost-column 1/3
  lost-column-gutter 5rem

  @media screen and (max-width $bp768)
    lost-column 1/1
    lost-column-gutter 0
    text-align center

    &:not(:last-child)
      margin 0 0 4rem 0

.footer__title
  text-transform capitalize
  color $color-white
  font-family $opensans-regular
  font-weight 400
  font-size 1.4rem
  margin 0 0 3rem 0

  & + p
    font-family $opensans-regular
    font-weight 400
    color $color-grey-light
    font-size 1.2rem
    line-height 1.6

.footer__icons
  display flex

  & > a
    display flex
    justify-content center
    align-items center
    width 5rem
    height 5rem
    border-radius 50%
    margin 0 1rem 0 0
    transition background-color .2s

    &:nth-child(1)
      background-color $color-facebook-icon

      &:hover
      &:active
        background-color lighten($color-facebook-icon, 10%)

    &:nth-child(2)
      background-color $color-twitter-icon

      &:hover
      &:active
        background-color lighten($color-twitter-icon, 10%)

    &:nth-child(3)
      background-color $color-youtube-icon

      &:hover
      &:active
        background-color lighten($color-youtube-icon, 10%)

    &:nth-child(4)
      background-color $color-linkedin-icon

      &:hover
      &:active
        background-color lighten($color-linkedin-icon, 10%)

  @media screen and (max-width $bp768)
    justify-content center


// FOOTER SECONDARY
// --------------------------------------------

.footer__secondary
  lost-center 100%

.footer__form
  lost-column 2/3
  lost-offset -1/3

.footer__form
  lost-center 100%
  lost-column-gutter 1rem

.form__field:nth-child(1)
  lost-column 1/4

.form__field:nth-child(2)
  lost-column 2/4

.form__field:nth-child(3)
  lost-column 1/4

.footer__form input
.footer__form button
  width 100%
  padding 1.2rem 2rem
  border none
  font-size 1.4rem

.footer__form input
  // width 100%
  +placeholder()
    font-size 1.4rem
    text-transform capitalize

.footer__form button
  text-transform capitalize
  background-color $color-green
  transition background-color .2s
  color $color-white
  font-size 1.6rem
