.team
    padding: 7rem 0
    background: url('%=static=%assets/team/team-bg.jpg') 50% 50% no-repeat
    background-size: cover

    // TEAM CENTER

    &__center
        lost-center $width
        padding: 0 $gutter

    // TEAM GALLERY

    &__gallery
        lost-center 88rem flex
        justify-content: center

    // TEAM ITEM

    &__item
        lost-column 1/3
        lost-column-gutter 3rem
        position: relative

        & > img
            display: block
            width: 100%
            height: auto

        &:hover .team__cover
        &:focus .team__cover
            opacity: 1
            visibility: visible

        @media screen and  (max-width: $bp600)
            lost-column 1/1
            lost-column-gutter 0

            &:not(:last-child)
                margin-bottom: $gutter

    // TEAM ITEM COVER

    &__cover
        position: absolute
        background-color: rgba(246, 246, 246, .82)
        top: 1rem
        left: 1rem
        width: calc(100% - 1rem * 2)
        height: calc(100% - 1rem * 2)
        /*opacity: 0*/
        /*visibility: hidden*/
        transition: opacity .2s, visibility .2s

    &__data
        position: absolute
        left: 2rem
        bottom: 2rem
        width: 60%

    &__headling
        padding: 0 0 1rem
        border-bottom: .2rem solid #515151
        margin: 0 0 2rem

    &__name
        text-transform: capitalize
        font: 400 1.3rem/1 $montserrat-regular
        color: $color-grey
        margin: 0 0 .8rem

    &__occupation
        font: 400 1.3rem/1 $crimson_text-roman
        color: $color-grey
        text-transform: capitalize
        font-style: italic
        margin: 0

    &__socials
        display: flex

        & .team-icon
            width: 1rem
            height: 1rem

        & a:not(:last-child)
            padding-right: .5rem
            border-right: .1rem solid #3e3d3d

        & a:not(:first-child)
            padding-left: .5rem
