mixin testimonials()
	+b.testimonials
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					figure.testimonials__image
						img(src="assets/images/testimonials-image-1.jpg", alt="Gallery Image")
					h2.testimonials__title Lorem ipsum dolor sit amet
					h3.testimonials__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, amet
				.swiper-slide
					figure.testimonials__image
						img(src="assets/images/testimonials-image-2.jpg", alt="Gallery Image")
					h2.testimonials__title Lorem ipsum dolor sit amet
					h3.testimonials__subtitle blaz robar, pixel guru
				.swiper-slide
					figure.testimonials__image
						img(src="assets/images/testimonials-image-3.jpg", alt="Gallery Image")
					h2.testimonials__title Lorem ipsum dolor sit amet
					h3.testimonials__subtitle manoela ilic, founder &copy; codrops.
			.swiper-pagination
			.swiper-button-next
			.swiper-button-prev
