
// BLOG SIDEBAR HEADER
// ----------------------------------

.blog-sidebar__header .header-hero
    background: url( '%=static=%assets/block-hero/block-hero-bg-02.jpg' ) 50% 50% no-repeat


// BLOG SIDEBAR MAIN
// ----------------------------------

.blog-sidebar__main
    background-color $color-grey-pale
    padding 8rem 0

// BLOG SIDEBAR CENTER
// ----------------------------------

.blog-sidebar__center
    lost-center $width flex
    padding: 0 $gutter


// BLOG SIDEBAR PRIMARY
// ----------------------------------

.blog-sidebar__primary
    lost-column 8/12
    lost-column-gutter $gutter*2


// BLOG SIDEBAR SECONDARY
// ----------------------------------

.blog-sidebar__secondary
    lost-column 4/12
    lost-column-gutter $gutter*2
