mixin header()
	+b.header&attributes(attributes)
		header.header#header
			.swiper-container
				.swiper-wrapper
					.swiper-slide
					.swiper-slide
					.swiper-slide
					.swiper-slide
					.swiper-slide
					.swiper-slide
					.swiper-slide
					.swiper-slide
			.header__content
				h1.header__title Design, collaborate, win.
				h2.header__subtitle Sedna - responsive one page website, designed &amp; developed by Peter Finlan, exclusively for Codrops.
				.header__controls
					a.header__button(href="#{jv0}") download for free
					a.header__button(href="#{jv0}") learn more
			a.header__arrow(href="#{jv0}")
			.header-mobile
				a(href="#assets") assets
				a(href="#features") features
				a(href="#news") blog
				a(href="#download") download
