.header
	height 100vh

	// HEADER SLIDER
	// -------------------------------------------------

	& > .swiper-container
		width 100%
		height 100%

		& > .swiper-wrapper > .swiper-slide
			width 100%
			background-repeat no-repeat
			background-position 50% 50%
			background-size cover

			&::before
				position absolute
				top 0
				right 0
				left 0
				bottom 0
				display block
				content ''
				background-color rgba(38, 43, 56, .9)

			&:nth-child(1)
				background-image url(../images/hero-image-01.jpg)

			&:nth-child(2)
				background-image url(../images/hero-image-02.jpg)

			&:nth-child(3)
				background-image url(../images/hero-image-03.jpg)

			&:nth-child(4)
				background-image url(../images/hero-image-04.jpg)

			&:nth-child(5)
				background-image url(../images/hero-image-05.jpg)

			&:nth-child(6)
				background-image url(../images/hero-image-06.jpg)

			&:nth-child(7)
				background-image url(../images/hero-image-07.jpg)

			&:nth-child(8)
				background-image url(../images/hero-image-08.jpg)


	// HEADER LOGO
	// ------------------------------------------

	&__logo
		font-size 2.4rem
		text-decoration none
		letter-spacing .5rem
		text-transform uppercase
		color #6b758c

		& > span
			color $color-white
			transition color .2s

		&:hover > span
		&:active > span
			color $warm-pink


	// HEADER CONTENT
	// -------------------------------------------------------

	&__content
		position absolute
		z-index 1
		top 50%
		left 50%
		text-align center
		transform translate(-50%, -50%)
		width 90%
		padding 0 1rem

		+below($bp3)
			width 100%


	// HEADER TITLE
	// -------------------------------------------------------

	&__title
		margin-bottom 2.6rem
		font-size 4rem
		line-height 7rem
		text-transform capitalize
		color $color-white

		+below($bp3)
			font-size 3rem
			margin-bottom 4%

		+below($bp4)
			font-size 2rem


	// HEADER SUBTITLE
	// -------------------------------------------------------

	&__subtitle
		margin-bottom 8rem
		font-family $opensans-light
		font-size 2rem
		line-height 1.8
		color $color-white

		+below($bp3)
			font-size 1.6rem
			margin-bottom 10%

		+below($bp4)
			font-size 1.4rem


	// HEADER BUTTONS
	// -------------------------------------------------------

	&__controls
		display flex
		justify-content center

	&__button
		margin 0 1rem
		padding 1.9rem 3.5rem
		display block
		font-size 1.3rem
		text-decoration none
		text-transform uppercase
		color $warm-pink
		border .2rem solid $warm-pink
		border-radius 50em
		transition color .2s, background-color .2s

		&:hover
		&:active
			color rgba($color-white, 1)
			background-color $warm-pink

		+below($bp3)
			padding 1.2rem 2rem

		+below($bp4)
			padding 1rem 1.4rem
			font-size 1rem


	// HEADER ARROW
	// -------------------------------------------------------

	&__arrow
		position absolute
		z-index 1
		left 50%
		bottom 3%
		display block
		width 2rem
		height 1.6rem
		background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMiAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+ZG93biBhcnJvdyBpY29uPC90aXRsZT48cGF0aCBkPSJNMTEuMDA0IDEwLjE2M2w4Ljc4My05LjY2Yy4zMzMtLjMzNy44OC0uMzM3IDEuMjEzIDAgLjMzMy4zMzcuMzMzLjg4NSAwIDEuMjJsLTkuMzQ2IDEwLjI4MmMtLjE4LjE4LS40Mi4yNTYtLjY1LjI0NC0uMjQuMDEtLjQ3OC0uMDY2LS42NTgtLjI0NUwxIDEuNzI1Qy42NjcgMS4zODcuNjY3Ljg0IDEgLjUwMmMuMzQyLS4zMzcuODgtLjMzNyAxLjIxMyAwbDguNzkgOS42NiIgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+')
		background-repeat no-repeat
		background-position 50% 50%
		background-size 90%
		animation arrowAnime 2s infinite


// HEADER ARROW ANIMATION
// -------------------------------------------------------

@keyframes arrowAnime
	0%, 100%
		transform translate(-50%, 0%)
	50%
		transform translate(-50%, -50%)
	60%
		transform translate(-50%, 50%)


.header-mobile
	position fixed
	z-index 2
	top 0
	right 0
	display none
	width 100%
	background-color #789

	+below($bp1)
		display block

	& > a
		padding 2rem 0
		display block
		text-align center
		text-transform capitalize
		color $color-white
