mixin gallery(data)
  section.gallery#services
    .gallery__center
      // first row
      .gallery__row
        .gallery__primary
          figure.gallery__image
          .gallery__content
            != jadeHelpers.Icon.call(locals, {iconName: 'user', className: 'gallery-icon'})
            h4 track your
            h2 lifestyle
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ea explicabo mollitia quam. Saepe magnam tempora nihil dolores voluptatem eum?
        .gallery__secondary
          figure.gallery__image
            .gallery__data
                .gallery__date 24th august
                .gallery__meta
                  | health &amp; fitness
                  != jadeHelpers.Icon.call(locals, {iconName: 'gallery-icon', className: 'gallery-icon'})
          .gallery__content
            h2 summer of fun
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloremque tempore hic repudiandae praesentium libero provident corporis minima veniam, et sunt necessitatibus dicta, blanditiis, excepturi consequuntur. Provident hic eum nulla? Perspiciatis esse quisquam nisi ullam eos, nam ratione iusto fuga.
      // second row
      .gallery__row
        .gallery__secondary
          figure.gallery__image
          .gallery__content
            != jadeHelpers.Icon.call(locals, {iconName: 'strawberry', className: 'gallery-icon'})
            h4 track your
            h2 get involved in yourself
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempore, ipsum cupiditate reiciendis tenetur voluptatum eum, suscipit porro non assumenda! Rerum, adipisci eveniet hic harum eum, iure necessitatibus nisi soluta perspiciatis quasi dolores consectetur, illo officia quia provident suscipit itaque.
        .gallery__primary
          figure.gallery__image
          .gallery__content
            != jadeHelpers.Icon.call(locals, {iconName: 'pear', className: 'gallery-icon'})
            h4 improve your
            h2 eating habits
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos atque eum doloribus mollitia officia quibusdam doloremque rem, sunt odio accusantium!

