mixin gallery(data)
  section.gallery
    .gallery__center
      .gallery__row
        .gallery__primary
        .gallery__secondary
      .gallery__row
        .gallery__primary
        .gallery__secondary
      .gallery__row
        .gallery__secondary
        .gallery__primary
      .gallery__row
        .gallery__secondary
        .gallery__primary
