.gallery
  background-color $color-red

  &__center
    lost-center $width
    padding 0 2rem

    @media screen and (max-width 600px)
      padding: 2rem

  &__row
    display flex
    background-color $color-white

    & > div:last-child
      background-color $color-green

    @media screen and (max-width 600px)
      flex-direction column

  &__primary
    lost-column 4/12
    lost-column-gutter 0

    @media screen and (max-width 768px)
      lost-column 1/1
      lost-column-gutter 0

  &__secondary
    lost-column 8/12
    lost-column-gutter 0

    @media screen and (max-width 768px)
      lost-column 1/1
      lost-column-gutter 0

  &__row:nth-child(1) div:nth-child(1) .gallery__image
    background url('%=static=%assets/gallery/gallery-image-01.jpg') center center no-repeat
    background-size cover

  &__row:nth-child(1) div:nth-child(2) .gallery__image
    background url('%=static=%assets/gallery/gallery-image-02.jpg') center center no-repeat
    background-size cover

  &__row:nth-child(1) div:nth-child(2) .gallery__content h2
  &__row:nth-child(2) div:nth-child(2) .gallery__content h2
  &__row:nth-child(1) div:nth-child(2) .gallery__content h4
  &__row:nth-child(2) div:nth-child(2) .gallery__content h4
  &__row:nth-child(1) div:nth-child(2) .gallery__content p
  &__row:nth-child(2) div:nth-child(2) .gallery__content p
    color $color-white

  &__row:nth-child(2) div:nth-child(1) .gallery__image
    background url('%=static=%assets/gallery/gallery-image-03.jpg') center center no-repeat
    background-size cover

  &__row:nth-child(2) div:nth-child(2) .gallery__image
    background url('%=static=%assets/gallery/gallery-image-04.jpg') center center no-repeat
    background-size cover

  &__image
    height 360px

  &__image img
    display block
    width 100%
    height auto

  &__data
    display flex
    justify-content space-between
    align-items center
    padding 6rem 6rem 0

    @media screen and (max-width: 768px)
      flex-direction: column
      padding: 6rem 0 0 0

      & > .gallery__date
        margin-bottom: 1rem

    @media screen and (max-width 600px)
      flex-direction: row
      padding 6rem 6rem 0

      & > .gallery__date
        margin-bottom: 0

    @media screen and (max-width: 450px)
      flex-direction: column
      padding: 6rem 0 0 0

      & > .gallery__date
        margin-bottom: 1rem

    & a
      color: $color-white
      text-decoration: none
      text-transform: uppercase
      font-size: 1.4rem
      font-family $montserrat-regular
      font-weight: 400
      transition: color .2s

      &:hover
        color: $color-red

  &__meta
    display flex
    align-items center
    justify-content space-between


.gallery-icon
  margin 0 0 0 1rem

.gallery__content
  padding 4rem 6rem 8rem 4rem
  position relative

  & > h4
    color $color-red
    text-transform uppercase
    font-family $montserrat-regular
    font-weight 400
    font-size 1rem
    margin 0 0 1rem 0

  & > h2
    color $color-green
    text-transform uppercase
    font-family $opensans-light
    font-weight 300
    font-size 2.2rem
    line-height 1.2
    margin 0 0 3rem 0

  & > p
    color $color-grey
    font-size 1.2rem
    font-family $opensans-regular
    font-weight 400
    line-height 1.8
    margin 0

  & > .gallery-icon
    position absolute
    top 4rem
    right 3rem
    size(3.2rem)

  @media screen and (max-width 600px)
    text-align center
