// BUTTON PRIMARY
// ---------------------------------------------
.btn
    padding 1.8rem 6rem 2rem
    border-width .1rem
    border-style solid
    border-radius 2.5rem
    font 600 1.6rem/1.2 $raleway
    transition background-color .2s, color .2s

    // BUTTON PRIMO
    // -----------------------------------
    &--primo
        border-color $color-orange
        color $color-orange

        &:hover
            background-color $color-orange
            color $color-white

        &:focus
        &:active
            background-color $color-brown
            border-color $color-brown

    // BUTTON SECONDO
    // ------------------------------------
    &--secondo
        border-color $color-yellow
        color $color-yellow

        &:hover
            background-color $color-yellow
            color $color-white

        &:focus
        &:active
            background-color $color-orange
            border-color $color-orange

    // BUTTON TETRO
    // ------------------------------------
    &--tetro
        border-color $color-orange
        background-color $color-orange
        color $color-white

        &:hover
            background-color $color-brown
            border-color $color-brown

        &:focus
        &:active
            background-color $color-brown--dark
            border-color $color-brown--dark

    // BUTTON QUATTRO
    // ------------------------------------
    &--quattro
        border-color $color-white
        color $color-white

        &:hover
            color $color-yellow
            border-color $color-yellow

        &:focus
        &:active
            border-color $color-yellow
            background-color $color-yellow
            color $color-white

    // BUTTON INACTIVE FULL
    // -----------------------------------
    &--inactive-full
        color $color-white
        background-color $color-grey--light
        border-color $color-grey--light
        cursor not-allowed

    // BUTTON INACTIVE TRANS
    // -----------------------------------
    &--inactive-trans
        border-color $color-grey--light
        color $color-grey--light
        cursor not-allowed
