// DIMENTIONS
// ----------------------------------
$width = 120rem
$gutter = 2rem

// COLORS
// ----------------------------------
$help-color-white = #fff
$help-color-black = #000
$help-color-orange = #fd6021
$help-color-grey-light = #f5f5f5
$help-color-grey-dark = #202020
$help-color-medium = #ededed
$help-color-instagram-hover = #125687
$help-color-facebook-hover = #4e68a1

// MEDIA QUERIES
// -----------------------------------
$desktop = 1024px
$desktop-x = 968px
$tablet = 768px
$tablet-x = 600px
$mobile = 500px
$mobile-x = 400px


// FONTS
// -----------------------------------
$raleway = Raleway, sans-serif
$ptsans = 'PT Sans', sans-serif
$ptsans-caption = 'PT Sans Caption', sans-serif

