$intro-icon-1 = 42px 42px
$intro-icon-2 = 29px 42px
$intro-icon-3 = 39px 42px
$promo-icon-1 = 36px 37px
$promo-icon-2 = 41px 37px
$promo-icon-3 = 31px 38px


svgSize($icon)
	width $icon[0]
	height $icon[1]