
// COLORS
// -------------------------------

$color-white = #fff
$color-black = #000

$warm-pink = #ff5274
$charcoal-grey = #3d4351
$grey-blue = #607286
$silver = #e6e9ea
$dark-slate-blue = #1c3653
$dark-red = #c12740
$grey-blue-two = #6b758c
$faded-orange = #f69d52
$cool-grey = #acb1b4
$slate-grey = #677074


// DIMENTIONS
// --------------------------------
$width = 106rem


// FONTS
// --------------------------------
$opensans-regular = 'open_sansregular', sans-serif
$opensans-light = 'open_sanslight', sans-serif
$opensans-bold = 'open_sansbold', sans-serif
