mixin example(data)
  sectuion.example
    .control
      .control__group
        label.control__label filter
        button.filter(type="button" data-filter="all") all
        button.filter(type="button" data-filter=".category-1") category 1
        button.filter(type="button" data-filter=".category-2") category 2
      .control__group
        label.control__label sort
        button.sort(type="button" data-sort="myorder:asc") asc
        button.sort(type="button" data-sort="myorder:asc") desc
    .container#container
      .container__item.mix.category-1
      .container__item.mix.category-2
      .container__item.mix.category-1
      .container__item.mix.category-2
      .container__item.mix.category-1
      .container__item.mix.category-2
