
// DIMENTIONS
// ------------------------------------------------

$width = 114rem


// COLORS
// ------------------------------------------------

$color-white = rgba( 255, 255, 255, 1 )
$color-black = rgba( 0, 0, 0, 1 )

$color-blue = #23b7a4
$color-grey = #a5aead


// FONTS
// -------------------------------------------------

$sans-regular = 'open_sansregular', sans-serif
$sans-semibold = 'open_sanssemibold', sans-serif
$sans-bold = 'open_sansbold', sans-serif
$quattro-bold = 'quattrocento_sansbold', sans-serif


// MEDIA QUERIES
// -------------------------------------------------

$bp-786 = 768px
$bp-500 = 500px
