.button-to-top
	display flex
	justify-content center
	align-items center
	size( 5rem )
	border-radius 50%
	background-color darken( $color-blue, 30% )
	position fixed
	right 2rem
	z-index 1
	bottom 2rem
	transition all .2s

	&:hover
	&:active
		background-color darken( $color-blue, 20% )

	& > .icon
		size( 4rem )
		fill: $color-white

	&--active
		bottom 3rem
