// INCLUDE GOOGLE FONTS
// ----------------------------------------

//@import url( 'https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext' );

// FONT VARIABLES
// ----------------------------------------
$base-font-family: 'PT Sans', sans-serif;
$base-font-size: 16px;
$base-font-color: #666;
$base-line-height: 1.4;

// COLOR VARIABLES
// ----------------------------------------
$primary-color: #00aff0;
$secondary-color: #7fba00;

$color-light: #e4eef2;
$color-dark: #333;
$color-white: #fff;
$color-black: #000;


// DIMENTIONS
// ---------------------------------------
$padding: 30px;

