.readmore-button
    display: flex
    align-items: center
    justify-content: space-around
    width: 12rem
    height: 4rem
    background-color: $color-green
    cursor: pointer
    wiil-change: background-color
    transition: background-color .2s
    font: 1.5rem/1 $open_sans-regular
    text-transform: capitalize

    &:hover
        background-color: lighten( $color-green, 10% )