doctype html
html( class="no-js", lang="ru" )

    include ../components/head/head
    include ../components/block-topheader/block-topheader
    include ../components/block-hero/block-hero
    include ../components/block-intro/block-intro
    include ../components/block-advantage/block-advantage
    include ../components/block-mobile/block-mobile
    include ../components/block-announce/block-announce
    include ../components/block-review/block-review
    include ../components/footer/footer

    head
        +head( head.defaults )
    body.page
        |%=symbols=%
        //- +block-topheader()
        section.page__wrapper

            //- Include your components here
            +block-hero()
            +block-intro()
            +block-advantage()
            +block-mobile()
            +block-announce()
            +block-review()

            .page__buffer

        .page__footer
            +footer()

        script( src='%=static=%js/separate-js/svg4everybody.min.js' )
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script( src='%=static=%js/main%=hash=%%=min=%.js' )
