// DIMENTIONS
// ----------------------------------

$width = 118rem
$gutter = 2rem

// COLORS
// ----------------------------------

$color-white = #fff
$color-black = #000
$color-orange = #fd6021
$color-yellow = #ffcf06
$color-brown = #55413a
$color-brown--dark = #44342e
$color-grey = #f5f5f5

// MEDIA QUERIES
// -----------------------------------

$bp980 = 980px
$bp768 = 768px
$bp600 = 600px
$bp500 = 500px
$bp400 = 400px

// FONTS
// -----------------------------------

$raleway = 'Raleway', sans-serif
$ptsans = 'PT Sans', sans-serif
$ptsans-caption = 'PT Sans Caption', sans-serif
