.about
  padding 12rem 0
  background-color: $color-green;

  @media screen and (max-width 980px)
    padding: 10rem 0

  &__center
    lost-center $width
    padding: 0 2rem
    display: flex

    @media screen and (max-width 980px)
      display: block

  &__column
    lost-column 3/12
    lost-column-gutter 4rem
    display: flex
    flex-direction: column
    position: relative

    & > .about-icon
      min-height 4.4rem
      margin: 0 0 2rem 0

      @media screen and (max-width 980px)
        margin: 0 auto 2rem

    & > p
      font-size: 1.4rem
      font-weight: 400
      color: $color-white
      line-height: 1.6

      &:not(:last-child)
        margin: 0 0 3rem 0

    @media screen and (max-width 980px)
      lost-column 1/2
      lost-column-gutter 4rem
      lost-column-cycle 2
      text-align: center
      padding: 0 1rem

      &:nth-child(-n+2)
        margin-bottom: 6rem

    @media screen and (max-width 768px)
      lost-column 1/1
      lost-column-gutter 0
      lost-column-cycle 0

      &:not(:last-child)
        margin-bottom: 8rem

  &__title
    text-transform: capitalize
    font-family: $opensans-bold
    font-weight: 400
    font-style: 1.8rem
    color: $color-white
    line-height: 1.4
    margin: 0 0 2rem 0

  &__readmore
    font-family $opensans-regular
    font-size 1.2rem
    text-transform capitalize
    text-decoration none
    color $color-white
    transition color .2s
    position: absolute
    bottom: 0
    left: 0

    &::after
      content '\0020\02192'

    &:hover
      color: $color-grey

    @media screen and (max-width 980px)
      left: 50%
      transform: translateX(-50%)