mixin about(data)
  section.about#about
    .about__center
      .about__column
        != jadeHelpers.Icon.call(locals, {iconName: 'about-icon-01', className: 'about-icon'})
        h3.about__title resources
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptate esse saepe culpa quaerat quod odit nulla. Perferendis, ut, vel.
        a.about__readmore(href="#") explore more
      .about__column
        != jadeHelpers.Icon.call(locals, {iconName: 'about-icon-02', className: 'about-icon'})
        h3.about__title traning &amp; funding
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repudiandae, nulla necessitatibus unde tenetur magnam.
        a.about__readmore(href="#") browse traning
      .about__column
        != jadeHelpers.Icon.call(locals, {iconName: 'about-icon-03', className: 'about-icon'})
        h3.about__title connect
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, necessitatibus.
        a.about__readmore(href="#") connect now
      .about__column
        != jadeHelpers.Icon.call(locals, {iconName: 'about-icon-04', className: 'about-icon'})
        h3.about__title communicate
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, adipisci.
        a.about__readmore(href="#") start now