include ../content/content
include ../subscribe/subscribe

mixin main(data)
    main#main.main
        .main__wrapper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .slider-content
                            h2.slider-title sammen armchair
                            .slider-info
                                p.slider-price $399
                                a.slider-link(href='javascript:void(0);') buy now
                        .slider-image
                            img(src="%=static=%img/assets/main/slider-image-01.png" alt="Slider Image")
                        .slider-label new
                    .swiper-slide
                        .slider-content
                            h2.slider-title braun classic
                            .slider-info
                                p.slider-price $275
                                a.slider-link(href='javascript:void(0);') buy now
                        .slider-image
                            img(src="%=static=%img/assets/main/slider-image-02.png" alt="Slider Image")
                        .slider-label new
                    .swiper-slide
                        .slider-content
                            h2.slider-title sammen armchair
                            .slider-info
                                p.slider-price $399
                                a.slider-link(href='javascript:void(0);') buy now
                        .slider-image
                            img(src="%=static=%img/assets/main/slider-image-01.png" alt="Slider Image")
                        .slider-label new
                .swiper-pagination
        +content()
        +subscribe()
