mixin intro()
	+b.intro#intro
		ul.intro__center
			li.intro__column
				svg(class="icon" role="img")
					use(id="icon_intro-icon-1" xlink:href="/assets/images/icon.svg#icon_intro-icon-1")
				h3 easily customised
				p Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.
			li.intro__column
				svg(class="icon" role="img")
					use(id="icon_intro-icon-2" xlink:href="/assets/images/icon.svg#icon_intro-icon-2")
				h3 modern design
				p Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.
			li.intro__column
				svg(class="icon" role="img")
					use(id="icon_intro-icon-3" xlink:href="/assets/images/icon.svg#icon_intro-icon-3")
				h3 responsive development
				p Built using the latest web technologies like html5, css3, and jQuery rest assured Sedna website will look smashing on every decide under the sun.
