.intro
	padding 12rem 0
	background-color $color-white

	&__center
		lost-center $width
		margin auto
		padding 0 1rem

	&__column
		lost-column 4/12
		lost-column-gutter 2rem
		padding-left 7rem
		position relative

		& > .icon
			size(4.2rem)
			position absolute
			top 0
			left 0

		& > h3
			text-transform uppercase
			font-size 1.5rem
			color $charcoal-grey
			margin-bottom 1rem

		& > p
			font-size 1.5rem
			line-height 1.6
			color $grey-blue
			font-family $opensans-light
