.intro
	padding 12rem 0
	background-color $color-white

	&__center
		margin auto
		padding 0 1rem
		lost-center $width-desktop

		+below($bp1)
			lost-center $width-mobile

	&__column
		position relative
		padding-left 7rem
		lost-column 4/12
		lost-column-gutter 2rem

		+below($bp1)
			lost-column 1/1
			lost-column-gutter 0

			&:not(:last-child)
				margin-bottom 6rem

		& > .icon
			position absolute
			top 0
			left 0
			size(4.2rem)

		& > h3
			margin-bottom 1rem
			font-size 1.5rem
			text-transform uppercase
			color $charcoal-grey

		& > p
			font-family $opensans-light
			font-size 1.5rem
			line-height 1.6
			color $grey-blue
