include ../heading/heading

mixin clients(data)
    .clients
        .clients__center
            +heading('clients')
            .clients__gallery
                .clients__item
                    a(href="#"): img(src="%=static=%img/assets/clients/client-image-01.png" alt="Client Image")
                .clients__item
                    a(href="#"): img(src="%=static=%img/assets/clients/client-image-02.png" alt="Client Image")
                .clients__item
                    a(href="#"): img(src="%=static=%img/assets/clients/client-image-03.png" alt="Client Image")
                .clients__item
                    a(href="#"): img(src="%=static=%img/assets/clients/client-image-04.png" alt="Client Image")
                .clients__item
                    a(href="#"): img(src="%=static=%img/assets/clients/client-image-05.png" alt="Client Image")
