.clients
    background-color: $color-white
    padding: 8rem 0 12rem

    &__center
        lost-center $width
        padding: 0 $gutter

    &__gallery
        lost-center 100% flex
        justify-content: center

    &__item
        display: flex
        justify-content: center
        align-items: center
        flex 0 1 13.7rem
        margin: 1rem
