.clients
    background-color: $color-white
    padding: 8rem 0 12rem

    @media screen and ( max-width: $bp500 )
        padding: 8rem 0

    &__center
        lost-center $width
        padding: 0 $gutter

    &__gallery
        lost-center 100% flex
        justify-content: center

    &__item
        display: flex
        justify-content: center
        align-items: center
        flex 0 1 13.7rem
        margin: 2rem

        @media screen and ( max-width: $bp500 )
            flex 1 0 100%
            margin: 0 0 4rem

            &:last-child
                margin-bottom: 0

            & a
                display: block

