mixin block-price()
    section.price
        .center
            table.table
                thead
                    tr
                        th
                        th.table__head
                            h4.title База
                            p.price-value 1,99 USD
                        th.table__head
                            h4.title Стандарт
                            p.price-value 3,99 USD
                            small.table__label хит
                        th.table__head
                            h4.title Анлим
                            p.price-value 9,99 USD
                tbody
                    tr
                        td
                            | Розовый фильтр
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
                    tr
                        td Смайлики
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'no', className: 'table-icon-no' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
                    tr
                        td Комментарии
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'no', className: 'table-icon-no' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'no', className: 'table-icon-no' })
                        td
                            != jadeHelpers.Icon.call( locals, { iconName: 'yes', className: 'table-icon-yes' })
