mixin blog-links(data)
    ul.links
        li.links__comments
            a(href="javascript:void();") 95
        li.links__views
            a(href="javascript:void();") 567
        li.links__tag
            a(href="javascript:void();") branding
