.team
    padding: 6rem 0

    // TEAM CENTER
    // ----------------------------------

    & .center
        flex-direction: column
        align-items: center

    // TEAM HEADER
    // ----------------------------------

    &__header
        margin: 0 0 5rem

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-white-smoke
            line-height: 2
            text-align: center

    // TEAM MAIN
    // ----------------------------------

    &__main
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 100%

    // TEAM ITEM
    // ----------------------------------

    &__item
        display: flex
        flex: 0 1 27rem
        height: 34rem
        margin: 1.6rem
        position: relative

        & img
            display: block
            width: 100%
            height: auto

    // TEAM OVERLAY
    // ----------------------------------

    &__overlay
        position: absolute
        top: .8rem
        left: .8rem
        background-color: rgba( $color-white, .8 )
        size ( calc( 100% - .8rem * 2 ) )


    // TEAM CONTENT
    // ----------------------------------

    &__content
        position: absolute
        left: 2rem
        bottom: 4rem
        width: 50%

    // TEAM INFO
    // ----------------------------------

    &__info
        padding: 0 0 1rem 0
        border-bottom: .2rem solid $color-black-light
        text-transform: capitalize
        color: $color-grey

    // TEAM TITLE
    // ----------------------------------

    &__title
        font: 1.3rem/1.8 $montserrat-regular

    // TEAM SUBTITLE
    // ----------------------------------

    &__subtitle
        font: 1.4rem/1.4 $crimson-italic

    // TEAM SOCIAL
    // ----------------------------------

    &__social
        padding: 1rem 0 0 0











