.team
    padding: 6rem 0
    background: url( '%=static=%assets/block-team/team-bg.jpg' ) 50% 50% no-repeat
    background-size: cover

    // TEAM CENTER
    // ----------------------------------

    & .center
        flex-direction: column
        align-items: center

    // TEAM HEADER
    // ----------------------------------

    &__header
        margin: 0 0 5rem

        & p
            lost-center 100rem
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // TEAM MAIN
    // ----------------------------------

    &__main
        display: flex
        justify-content: center
        flex-wrap: wrap

    // TEAM ITEM
    // ----------------------------------

    &__item
        display: flex
        flex: 0 1 27rem
        height: 34rem
        margin: 1.6rem
        position: relative

        & img
            display: block
            width: 100%
            height: auto

        &:hover .team__overlay
            visibility: visible
            opacity: 1

    // TEAM OVERLAY
    // ----------------------------------

    &__overlay
        position: absolute
        top: .8rem
        left: .8rem
        background-color: rgba( $color-white, .8 )
        size ( calc( 100% - .8rem * 2 ) )
        opacity: 0
        visibility: hidden
        transition: visibility .2s, opacity .2s

    // TEAM CONTENT
    // ----------------------------------

    &__content
        position: absolute
        left: 2rem
        bottom: 4rem
        width: 50%

    // TEAM INFO
    // ----------------------------------

    &__info
        padding: 0 0 1rem 0
        border-bottom: .2rem solid $color-black-light
        color: $color-grey

    // TEAM TITLE
    // ----------------------------------

    &__title
        font: 1.3rem/1.8 $montserrat-regular
        text-transform: capitalize

    // TEAM SUBTITLE
    // ----------------------------------

    &__subtitle
        font: 1.4rem/1.4 $crimson-italic

    // TEAM SOCIAL
    // ----------------------------------

    &__social
        padding: 1rem 0 0 0

        & .social-icons .social-icon:hover
            fill: $color-grey
