rupture.mobile-cutoff = 540px

@import 'sprites/*'
@import 'helpers/svg-size'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'


@import 'vendors/swiper'
@import 'vendors/hint'
@import 'vendors/magnific-popup'

@import '../blocks/**/*'
