mixin features()
	+b.features#features
		.features__center
			.features__inner
				.features__content
					h1.features__title Designed using Sketch!
					p Easily change/switch/swap every placeholder inside every image on Sedna with the included Sketch files. You’ll have this template customised to suit your business in no time!
					p Nam vehicula malesuada lectus, <a href="#{jv0}" target="_blank" rel="nofollow">interdum</a> fringilla nibh. Duis aliquam vitae metus a pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. Proin condimentum et leo quis fringilla.
					a.features__button(href="${jv0}") what’s sketch?
			.features__image
