.features
	position relative
	padding 11rem 0 12rem

	&__center
		min-height 53.7rem
		lost-center $width

	&__content
		lost-column 6/12
		lost-column-gutter 2rem

		& p
			font-family $opensans-light
			font-size 1.5rem
			line-height 1.6
			color $dark-slate-blue

			&:not(:last-child)
				margin-bottom 2rem

			& > a
				color $dark-red

				&:hover
					color lighten($dark-red, 30%)

	&__title
		margin-bottom 2rem
		font-size 2.4rem
		color $charcoal-grey

	&__button
		margin-top 4rem
		padding 1.2rem 3rem 1.1rem
		display inline-block
		font-size 1.3rem
		vertical-align middle
		text-transform uppercase
		color $warm-pink
		border .2rem solid $warm-pink
		border-radius 50em
		transition color .2s, background-color .2s

		&:hover
		&:active
			color $color-white
			background-color $warm-pink

	&__image
		position absolute
		top 50%
		left 61%
		background url(../images/features-image.png) center center no-repeat
		background-size cover
		transform translateY(-50%)
		size(74rem, 53.7rem)
