.features
	padding 12rem 0 0

	&__center
		position relative
		min-height 53.7rem

	&__inner
		display flex
		min-height 53.7rem
		lost-center $width-desktop
		align-items center
		padding 0 1rem

		+below($bp1)
			lost-center $width-mobile
			min-height 0
			margin-bottom 10%

	&__content
		lost-column 6/12
		lost-column-gutter 2rem

		+below($bp1)
			lost-column 1/1
			lost-column-gutter 0

		& p
			font-family $opensans-light
			font-size 1.5rem
			line-height 1.6
			color $dark-slate-blue

			&:not(:last-child)
				margin-bottom 2rem

			& > a
				color $dark-red

				&:hover
					color lighten($dark-red, 30%)

	&__title
		margin-bottom 2rem
		font-size 2.4rem
		color $charcoal-grey

	&__button
		margin-top 4rem
		padding 1.2rem 3rem 1.1rem
		display inline-block
		font-size 1.3rem
		vertical-align middle
		text-transform uppercase
		color $warm-pink
		border .2rem solid $warm-pink
		border-radius 50em
		transition color .2s, background-color .2s

		&:hover
		&:active
			color $color-white
			background-color $warm-pink

	&__image
		position absolute
		top 0
		left 50%
		visibility hidden
		background url(../images/macbook-pro.png) center center no-repeat
		background-size cover
		animation-duration .8s
		animation-iteration-count 1
		size(92.2rem, 53.7rem)
		animation-fill-mode both

		+below($bp1)
			display none

	&__device
		display none
		margin auto
		width 80%

		+below($bp1)
			display block

		& > img
			display block
			width 100%
			height auto


@keyframes fadeInRight
	from
		opacity 0
		transform translate3d(100%, 0, 0)
	to
		visibility visible
		opacity 1
		transform none


