include ../heading/heading

mixin blog-head(data)
    .blog-head
        +heading('masonry blog')
        ul.blog-head__nav
            li: a(href="javascript:void();") home
            li: a(href="javascript:void();") blog
