.testimonials__primary
  background-color $color-red
  padding 10rem 0

.testimonials__secondary
  background-color $color-grey
  padding 10rem 0

.testimonials__center
  lost-center $width

.testimonials__item
  lost-column 4/12
  lost-column-gutter 0
