mixin testimonials(data)
  section.testimonials
    .testimonials__primary
      .testimonials__center
        header
          h1.testimonials__title Paralax section
          small Exploring the unexplored is a risky business, but a rewarding one.
        main
          blockquote
            | Design is in everything we make, but it's also between those things. It's a mix of craft, science, storytelling, propaganda, and philosophy.
    .testimonials__secondary
      .testimonials__center
        .testimonials__item
          header
            != jadeHelpers.Icon.call(locals, {iconName: 'icon-testimonials-01', className: 'icon-testimonials'})
            | 1000+
          p Happy users
        .testimonials__item
          header
            != jadeHelpers.Icon.call(locals, {iconName: 'icon-testimonials-02', className: 'icon-testimonials'})
            | 200
          p Sold products
        .testimonials__item
          header
            != jadeHelpers.Icon.call(locals, {iconName: 'icon-testimonials-03', className: 'icon-testimonials'})
            | 5632
          p Comments
        .testimonials__item
          header
            != jadeHelpers.Icon.call(locals, {iconName: 'icon-testimonials-04', className: 'icon-testimonials'})
            | 25000+
          p Lines of code
