include ../button/button

mixin features(data)
  section.features#features
    ul.features__center
      li.features__column
        h3.features__title design &amp; features
        h4.features__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita deserunt, repellendus quo alias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita deserunt, repellendus quo alias. Voluptate eligendi voluptatem sit quae excepturi cupiditate molestiae pariatur numquam alias ipsam harum non, debitis quia esse minima sunt nihil repellendus iste unde error qui laudantium. Et hic quidem porro temporibus incidunt placeat, facere earum ad nisi?
        +button('see more')
      li.features__column
        h3.features__title pocket power
        h4.features__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita deserunt, repellendus quo alias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, aperiam. Consequuntur aut sit, laudantium facilis commodi optio, totam sint quas itaque harum eos provident ducimus, necessitatibus sed accusantium eveniet dolore. Saepe odio ex accusantium, quas harum nulla est inventore aperiam deserunt excepturi. Numquam porro ad iure suscipit voluptatum? Nesciunt, sed.
        +button('buy now')
      li.features__column
        h3.features__title inspired by the world
        h4.features__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita deserunt, repellendus quo alias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam omnis facilis porro nobis aspernatur earum, nesciunt, ipsam, sapiente reprehenderit adipisci quidem quod. Aut aliquam, et ipsam totam saepe alias dolore ut eligendi, non soluta modi, aliquid a qui corporis maiores nihil ipsum praesentium. Atque quia ipsam odio vel perferendis!
        +button('contact us')
