include ../block-banner/block-banner

mixin block-header(data)
    header.block-header
        .center
            .block-header__content
                h1.block-header__title
                    | Освободите свое время!
                p.block-header__subtitle
                    | Передайте бытовые заботы по стирке, глажке белья или его химчистке нашим помощниками, а сами займитесь любимым делом
                button.button( type='button' ) Сколько стоит?
        +block-banner()
