// BLOCK-HEADER
// ---------------------------------------------------------
.block-header
    height 90rem
    background url( '%=static=%assets/block-header/header-bg.jpg' ) 50% 50% no-repeat
    background-size cover
    position relative

    // BLOCK HEADER OVERLAY
    // ------------------------------------------------
    &::before
        content ''
        display block
        min-width 100%
        min-height 100%
        position absolute
        top 0
        left 0
        background-color rgba( $help-color-black, .6 )

    // BLOCK-HEADER CENTER
    // ---------------------------------------------------------
    & .center
        min-height 90rem
        display flex
        flex-direction column
        justify-content center
        position relative

    // BLOCK-HEADER TITLE
    // ---------------------------------------------------------
    &__title
        font 900 6rem/1.2 $raleway
        text-transform uppercase
        color $help-color-white
        margin 0 0 6rem
        max-width 65rem

        @media screen and ( max-width $tablet )
            font-size 4.8rem
            margin 0 0 5rem

        @media screen and ( max-width $mobile )
            font-size 3rem
            line-height 1.4
            margin 0 0 3rem

    // BLOCK-HEADER SUBTITLE
    // ---------------------------------------------------------
    &__subtitle
        font 400 1.8rem/1.6 $ptsans
        color $help-color-white
        margin 0 0 8rem
        max-width 50rem

        @media screen and ( max-width $tablet )
            font-size 1.7rem
            margin 0 0 5rem

        @media screen and ( max-width $mobile )
            font-size 1.6rem
            margin 0 0 4rem
