
// IMPORT HELPER STYLES

@import 'helpers/sprite'
@import 'helpers/svg'
@import 'helpers/variables'
@import 'helpers/mixins'

// IMPORT VENDOR STYLES

// @import 'vendor/hint'
@import 'vendor/magnific-popup'
@import 'vendor/animate'
@import 'vendor/swiper'

// IMPORT BASE STYLES

@import 'base/fonts'
@import 'base/optimize'
@import 'base/base'

// IMPORT BLOCK STYLES

@import '../blocks/**/*'
