mixin block-logo-large()
    .block-logo-large
        .block-logo-large__thumb
        .block-logo-large__content
            p.block-logo-large__title
                | help!
            p.block-logo-large__subtitle
                | Твой персональный помощник
