// BLOCK-LOGO
// ------------------------------------------------
.block-logo-large
    display flex
    max-width 18rem

    // BLOCK-LOGO THUMB
    // ------------------------------------------------
    &__thumb
        bg( $logo-large )

        @media screen and ( max-width $desktop )
            bg( $logo-medium )

    // BLOCK-LOGO CONTENT
    // ------------------------------------------------
    &__content
        display flex
        flex-direction column
        justify-content center
        margin 0 0 0 .8rem
        width calc( 100% - 8.7rem - .8rem )

    // BLOCK-LOGO TITLE
    // ------------------------------------------------
    &__title
        font 900 2rem/1.4 $raleway
        text-transform uppercase
        color $help-color-white

    // BLOCK-LOGO SUBTITLE
    // ------------------------------------------------
    &__subtitle
        font 500 .9rem/1.4 $raleway
        color $help-color-white
