.team
    background: url('%=static=%assets/block-follow/follow-bg.jpg') 50% 50% no-repeat
    background-size: cover
    position: relative

    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        background-color: rgba( $color-black, .7 )
        position: absolute
        top: 0
        left: 0

    // TEAM CENTER
    // -------------------------------------------

    &__center
        lost-center: $width flex
        padding: 7rem 1rem
        position: relative
        z-index 1

    // TEAM HEAD
    // -------------------------------------------

    &__head
        margin: 0 0 8rem 0

    // TEAM CONTENT
    // -------------------------------------------

    &__content
        lost-center 100% flex


    // TEAM CONTENT ITEM
    // -------------------------------------------

    &__item
        lost-column 1/4 flex
        lost-column-gutter 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
        padding: 1rem

        @media screen and ( max-width: $bp980 )
            lost-column 1/2
            lost-column-cycle 2
            lost-column-gutter 0
            padding: 2rem 1rem

        @media screen and ( max-width: $bp600 )
            lost-column 1/1
            lost-column-cycle none
            lost-column-gutter 0


    // TEAM CONTENT IMAGE
    // -------------------------------------------

    &__header
        width: 18rem
        height: 18rem
        border-radius: 50%
        margin: 0 0 3.6rem
        overflow: hidden
        position: relative

        & img
            display: block
            width: 100%
            height: auto

        &:hover .team__header--overlay
            visibility: visible
            opacity: 1



    // TEAM CONTENT IMAGE OVERLAY
    // -------------------------------------------

    &__header--overlay
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        background-color: rgba( $color-black, .8 )
        position: absolute
        top: 0
        left: 0
        z-index: 1
        transition: visibility .2s, opacity .2s
        visibility: hidden
        opacity: 0

        & ul
            display: flex
            justify-content: center
            align-items: center

            & a
                display: block
                width: 1rem
                height: 1rem
                margin: 0 1.2rem

            & .team-icon
                width: 1.6rem
                height: 1.6rem

        @media screen and ( max-width: $bp600 )
            display: none


    // TEAM ITEM CONTENT
    // -------------------------------------------

    &__footer
        //

    &__title
        margin: 0 0 1.8rem

        & h4
            font: 2rem/1.2 $lato-bold
            text-transform: uppercase
            margin: 0 0 .6rem

        & small
            font: 1.2rem/1.2 $lato-regular
            color: $color-blue
            text-transform: capitalize

    &__info p
        font: 1.2rem/1.6 $lato-regular
        color: $color-white





































