mixin block-team(data)
    .team
        .team__center
            .team__content
                .team__item
                    .team__header
                        //
                    .team__footer
                        .team__title
                            h4 patricia medina
                            small senior desigener
                        .team__info
                            p Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
                .team__item
                    .team__header
                        //
                    .team__footer
                        .team__title
                            h4 patricia medina
                            small senior desigener
                        .team__info
                            p Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
                .team__item
                    .team__header
                        //
                    .team__footer
                        .team__title
                            h4 patricia medina
                            small senior desigener
                        .team__info
                            p Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
                .team__item
                    .team__header
                        //
                    .team__footer
                        .team__title
                            h4 patricia medina
                            small senior desigener
                        .team__info
                            p Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.