.team
    height: 100rem
    background: url('%=static=%assets/block-team/team-bg.jpg') 50% 50% no-repeat
    background-size: cover

    &__center
        lost-center $width flex
        padding: 0 $gutter
        height: 100rem



    // TEAM CONTENT
    // -------------------------------------------

    &__content
        lost-center 100%

    &__item
        lost-column 1/4 flex
        lost-column-gutter 0
        display: flex
        flex-direction: column
