// MOBILE
// ---------------------------------------
.mobile
    height _d( 20rem )
    background url( '%=static=%assets/block-mobile/block-mobile-bg.png' ) 0 0 repeat-x
    background-size cover

    // MOBILE CENTER
    // ---------------------------------------

    & .center
        height inherit
        align-items center
        color $color-white

    // MOBILE PRIMO
    // ---------------------------------------

    &__primo
        //

    // MOBILE TITLE
    // ---------------------------------------

    &__title
        //

    // MOBILE SECONDO
    // ---------------------------------------

    &__secondo
        //

    // MOBILE TETRO
    // ---------------------------------------

    &__tetro
        //
