mixin block-mobile()
    section.mobile
        .center
            .mobile__primo
                h3.mobile__title
                    | Помощник в вашем телефоне
            .mobile__secondo
                p
                    | Установите бесплатное приложение и получайте чистые вещи нажатием одной кнопки
            .mobile__tetro
                nav
                    a( href='#' )
                    a( href='#' )
