.skills
	background-color #f7f7f7
	padding 13rem 0 14rem
	position relative

	&__center
		lost-center $width

	&__title
		text-transform uppercase
		text-align center
		color #666
		font-size 2.4rem
		font-family $lato-black
		margin-bottom 5.4rem

	&__subtitle
		text-align center
		color #666
		line-height 2rem
		margin-bottom 10rem


// SKILLS DIAGRAMS
// --------------------------------------------

.diagrams
	lost-center 100%
	padding 0 1rem

	&__item
		lost-column 3/12
		lost-gutter 2rem
		text-align center

	&__canvas
		size(15.4rem)
		margin-bottom 4rem

	&__title
		color #333
		font-size 2rem
		font-family $lato-bold
		text-transform uppercase
		margin-bottom 2rem

	&__subtitle
		color #999
		line-height 1.2
