include ../heading/heading

mixin skills()
	+b.skills
		.skills__center
			header.skills__head
				h1.skills__title our skills
				p.skills__subtitle Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
			.diagrams
				.diagrams__item
					canvas.diagrams__canvas#wordpress
					h2.diagrams__title wordpress
					p.diagrams__subtitle aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.diagrams__item
					canvas.diagrams__canvas#html
					h2.diagrams__title html 5
					p.diagrams__subtitle aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.diagrams__item
					canvas.diagrams__canvas#css
					h2.diagrams__title css 3
					p.diagrams__subtitle aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.diagrams__item
					canvas.diagrams__canvas#photoshop
					h2.diagrams__title photoshop
					p.diagrams__subtitle aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
