.skills
	background-color #f7f7f7
	padding 13rem 0
	position relative

	+below(650px)
		padding 6rem 0

	&__center
		lost-center $width

	&__head
		padding 0 1rem
		margin 0 0 10rem 0

	&__title
		font-family $lato-black
		font-size 2.4rem
		text-transform uppercase
		text-align center
		color #666
		margin 0 0 4rem 0

	&__subtitle
		text-align center
		color #666
		line-height 2rem
		margin 0


// SKILLS DIAGRAMS
// --------------------------------------------

.diagrams
	lost-center 100%
	padding 0 1rem

	&__item
		lost-column 3/12
		lost-column-gutter 2rem
		text-align center
		padding 0 1rem

		+below(980px)
			lost-column 6/12
			lost-column-gutter 4rem
			lost-column-cycle 2

			&:nth-child(-n+2)
				margin-bottom 8rem

		+below(650px)
			lost-column 1/1
			lost-column-gutter 0
			lost-column-cycle 0

			&:not(:last-child)
				margin-bottom 8rem

	&__canvas
		size(15.4rem)
		margin 0 0 4rem 0

	&__title
		color #333
		font-size 2rem
		font-family $lato-bold
		text-transform uppercase
		margin 0 0 2rem 0

	&__subtitle
		color #999
		line-height 1.6
