mixin blog(data)
  section.blog
    .blog__center
      header.blog__header
        h1.blog__title latest blog posts
        small Information is a source of learning. But unless it is organized, processed, and available to the right people in a format for decision making, it is a burden, not a benefit.
      main.blog__content
