doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head
    include ../modules/top-header/top-header
    include ../modules/hero/hero
    include ../modules/about/about
    include ../modules/services/services
    include ../modules/history/history
    include ../modules/team/team
    include ../modules/portfolio/portfolio
    include ../modules/prices/prices
    include ../modules/purchase/purchase
    include ../modules/blog/blog
    include ../modules/clients/clients
    include ../modules/testimonials/testimonials
    include ../modules/map/map
    include ../modules/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        +top-header()
        section.page__wrapper
            //+hero()
            //+about()
            //+services()
            //+history()
            //+team()
            //+portfolio()
            //+prices()
            //+purchase()
            //+blog()
            //+clients()
            +testimonials()
            //+map()

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAjunIsdBzwn5n0IhHJctIg4PPCMlH7u24&language=en&region=AU')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
