.button
    display: flex
    justify-content: center
    align-items: center
    width: 13.4rem
    height: 4rem
    border: .2rem solid $color-grey
    text-transform: capitalize
    font: 400 1.3rem/1.2 $montserrat-regular
    color: $color-grey
    transition: background-color .2s, color .2s
    will-change: transition

    &:hover
        background-color: $color-grey
        color: $color-white