$width = 960px


// COLORS
// ----------------------------

$orange = #ffae00
$blue = #0cf
$white = #fff
$black = #000


// FONTS
// ----------------------------

$lato-light = 'latolight', sans-serif
$lato-italic = 'latoitalic', sans-serif
$lato-regular = 'latoregular', sans-serif
$lato-bold = 'latobold', sans-serif
$lato-black = 'latoblack', sans-serif

// dimentions
// ----------------------------
$heightBefore = 16rem
