.prices
    background-color: #e3e3e3
    padding: 7rem 0 9rem

    &__center
        lost-center $width
        padding: 0 $gutter

    & .table
        lost-center $width flex
        justify-content: center

        &__item
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            background-color: $color-white
            padding: 5rem 0
            text-align: center
            flex 0 1 36rem
            margin: 1.5rem

            &:nth-child(1) .table__icon
                background: url('%=static=%assets/prices/price-icon-01.png') 50% 50% no-repeat

            &:nth-child(2) .table__icon
                background: url('%=static=%assets/prices/price-icon-02.png') 50% 50% no-repeat

            &:nth-child(3) .table__icon
                background: url('%=static=%assets/prices/price-icon-03.png') 50% 50% no-repeat

        &__title
            text-transform: uppercase
            color: $color-grey
            font: 400 1.3rem/1.2 $montserrat-regular
            margin: 0 0 3rem

        &__icon
            width: 5rem
            height: 5rem
            border-radius: 50%
            border: .2rem solid $color-grey
            margin: 0 0 3rem
            position: relative

            &::before
            &::after
                content: ''
                display: block
                height: .1rem
                background-color: $color-grey
                width: 200%
                position: absolute
                top: 50%

            &::before
                left: 0
                transform: translate(-100%, -50%)

            &::after
                right: 0
                transform: translate(100%, -50%)

        &__price
            font: 700 6rem/1.2 $montserrat-bold
            color: $color-grey
            margin: 0 0 4rem

        &__currency
            font: 400 3rem/1.2 $montserrat-regular
            vertical-align top
            margin-right: -1rem

        &__list
            margin: 0 0 5rem
            padding: 0
            list-style-type: none
            font: 400 1.6rem/2 $crimson_text-italic
            color: $color-grey
            text-transform: capitalize

        &__button
            text-decoration: none
            text-transform: capitalize
            font: 400 1.3rem/1.2 $montserrat-regular
            color: $color-grey
            border: .2rem solid $color-grey
            padding: 1.4rem 4rem 1.4rem
            transition: background-color .2s, color .2s

            &:hover
            &:focus
                background-color: $color-grey
                color: $color-white




























