mixin prices(data)
    .prices
        .prices__center
            h1.prices__title prices
            p.prices__subtitle Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
            .table
                .table__item
                    h4.table__title basic
                    .table__icon
                    p.table__price 10
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href='#') sign up
                .table__item
                    h4.table__title advanced
                    .table__icon
                    p.table__price 20
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href='#') sign up
                .table__item
                    h4.table__title pro
                    .table__icon
                    p.table__price 30
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href='#') sign up
