mixin sidebar(data)
    aside#sidebar.sidebar-panel
        header.sidebar-header
            h2.title sidebar menu
        nav.sidebar-content
            ul.sidebar-menu
                li.sidebar-menu__item
                    a(href='#0') sidebar menu item
                li.sidebar-menu__item
                    a(href='#0') sidebar menu item
                li.sidebar-menu__item
                    a(href='#0') sidebar menu item
                li.sidebar-menu__item
                    a(href='#0') sidebar menu item
                li.sidebar-menu__item
                    a(href='#0') sidebar menu item