.sidebar-panel {
    padding: 0 0 6rem 0
}

// SIDEBAR HEADER
// ---------------------------------------------------

.sidebar-header {
    margin: 0 0 6rem 0;
}

// SIDEBAR CONTENT
// ---------------------------------------------------

.sidebar-content
    min-height: 100%
    text-align: center;
    padding: 0 1rem


// SIDEBAR MENU PRIMARY
// ---------------------------------------------------

.sidebar-menu--primary
    margin: 0 0 6rem

.sidebar-menu--primary .sidebar-menu__item
    margin: 0 0 2rem

    &:last-child
        margin-bottom: 0

    & a
        text-transform: capitalize;
        color: $color-dark
        font: 3.4rem / 1 $josefin-sans-bold;
        transition: color .2s;

        &:hover
            color: $color-red;


// SIDEBAR MENU SECONDARY
// ---------------------------------------------------

.sidebar-menu--secondary .sidebar-menu__item
    margin: 0 0 2rem

    &:last-child
        margin-bottom: 0

    & a
        text-transform: capitalize;
        font: 2.4rem/1 $josefin-sans-regular;
        color: $color-dark
        transition: color .2s;

        &:hover
            color: $color-red;