.sidebar-panel {
    padding: 0 0 6rem 0
}

// SIDEBAR HEADER
// ---------------------------------------------------

.sidebar-header
    display: flex
    justify-content: space-between
    align-items: center
    height: 6rem
    padding: 0 2rem
    margin: 0 0 10rem 0
    box-shadow: inset 0 -.1rem 0 0 #e8e8e8

    & .sidebar-icon
        width: 2rem
        height: 2rem
        cursor: pointer

    & .sidebar-form
        width: 100%

        & #sidebar-input
            width: 100%
            padding: .2rem 2rem .2rem 4rem
            font: 2rem/1 $josefin-sans-regular
            border: none

            +placeholder()
                text-transform: capitalize;


// SIDEBAR CONTENT
// ---------------------------------------------------

.sidebar-content
    min-height: 100%
    text-align: center;
    padding: 0 1rem


// SIDEBAR MENU PRIMARY
// ---------------------------------------------------

.sidebar-menu--primary
    margin: 0 0 10rem

.sidebar-menu--primary .sidebar-menu__item
    margin: 0 0 4rem

    &:last-child
        margin-bottom: 0

    & a
        text-transform: capitalize;
        color: $color-dark
        font: 3.4rem / 1 $josefin-sans-bold;
        transition: color .2s;
        will-change: color

        &:hover
            color: $color-red;


// SIDEBAR MENU SECONDARY
// ---------------------------------------------------

.sidebar-menu--secondary .sidebar-menu__item
    margin: 0 0 3rem

    &:last-child
        margin-bottom: 0

    & a
        text-transform: capitalize;
        font: 2.4rem/1 $josefin-sans-regular;
        color: $color-dark
        transition: color .2s
        will-change: color

        &:hover
            color: $color-blue