.player
    padding: 10rem 0 13rem
    background-color: rgb(241, 238, 237)

    &__center
        lost-center $width
        padding: 0 $gutter

    &__column
        lost-column 1/2
        lost-column-gutter 0
