mixin player(data)
    .player
        .player__center
            .player__column.discography
                figure.discography__cover
                h2.discography__title
                ul.discography__list
                    li.discography__album
                        span Surprise Without Flaws
                        span 2015
                        button.listen(type="button") listen
                        button.buy(type="button") buy
                    li.discography__album
                        span Mists Of A Shadow
                        span 2014
                        button.listen(type="button") listen
                        button.buy(type="button") buy
                    li.discography__album
                        span Heroes Of The Sun
                        span 2013
                        button.listen(type="button") listen
                        button.buy(type="button") buy
                    li.discography__album
                        span Picure Of The Past
                        span 2012
                        button.listen(type="button") listen
                        button.buy(type="button") buy
            .player__column.playing
