
// POST-SIDEBAR
// -----------------------------------

.post-sidebar
    //

    // POST-SIDEBAR HEADER
    // -----------------------------------

    &__header
        //

    // POST-SIDEBAR MAIN
    // -----------------------------------

    &__main
        //

    // POST-SIDEBAR PRIMARY
    // -----------------------------------

    &__primary
        //

    // POST-SIDEBAR SECONDARY
    // -----------------------------------

    &__secondary
        //
