include ../block-submit/block-submit

mixin block-banner()
    .block-banner
        .center
            .block-banner__primary
                .block-banner__tertiary
                    .block-banner__content
                        h4.block-banner__title
                            | Экспресс-чистка
                        p.block-banner__slogan
                            | Вернем чистые и поглаженные вещи через 24 часа
                .block-banner__tertiary
                    .block-banner__content
                        h4.block-banner__title
                            | работаем 24/7
                        p.block-banner__slogan
                            | Принимаем и доставляем заказы круглосуточно
            .block-banner__secondary
                +block-submit( 'Получить приглашение' )




