.header-button
  display inline-block
  vertical-align top
  size(4.6rem, 6.8rem)
  border .3rem solid $white
  border-radius 50em
  position absolute
  z-index 1
  left 50%
  bottom 18rem
  animation bounceButton 3s infinite

  &::before
    content ''
    display block
    size(.6rem, 1.8rem)
    border-radius .6rem
    border .3rem solid $white
    position absolute
    left 50%
    transform translateX(-50%)
    top 10px


// HEADER BUTTON BOUNCE ANIMATION
// --------------------------------------------

@keyframes bounceButton
  0%, 100%
    transform translate(-50%, 0%)
  50%
    transform translate(-50%, -30%)
  60%
    transform translate(-50%, 40%)
