include ../button/button

mixin download(data)
    .download#download
      .download__center
        h1.download__title are you impressed by my work?
        h3.download__subtitle None of these planets raise extraterrestrial, devastated admirals.
        .download__controls
          +button('download now')
          +button('get in touch')