.download
  background: url('%=static=%assets/download/download-bg.jpg') center center no-repeat

  &__center
    lost-center $wodth
    height: 52rem
    lost-flex-container: column
    align-items: center
    justify-content: center
    padding: 0 1rem

    @media screen and (max-width: $bp500)
      padding: 0 2rem

  &__title
    font: 3.6rem/1.4 $opensans-semibold
    color: $color-white
    text-transform: capitalize
    text-align: center
    margin: 0 0 1rem 0

    @media screen and (max-width: $bp768)
      font-size: 3rem

    @media screen and (max-width: $bp500)
      margin: 0 0 2rem 0

  &__subtitle
    font: 2rem/1.6 $opensans-light
    color: $color-white
    text-align: center
    margin: 0

    @media screen and (max-width: $bp768)
      font-size: 1.6rem

  &__controls
    lost-flex-container: row
    margin-top: 9rem

    & > .button
      margin: 0 1rem

      &:hover
      &:focus
      &:last-child
        background-color: $color-blue
        border-color: $color-blue

    @media screen and (max-width: $bp500)
      lost-flex-container: column

      & > .button
        margin: 1rem 0