mixin block-contacts(data)
    section.contacts
        header.contacts__header
            .center
                h2.contacts__title Остались вопросы? #[br] Свяжитесь с нами!
                ul.contacts__list
                    li.contacts__item
                        h3.contacts__subtitle Звоните:
                        a.link.contacts__link( href='tel:+78125556666' ) +7 (812) 555-66-66
                    li.contacts__item
                        h3.contacts__subtitle Приезжайте в гости:
                        a.link.contacts__link( href='#0' ) ул. Большая #[br] Конюшенная, 19/8
                    li.contacts__item
                        h3.contacts__subtitle Пишите:
                        a.link.contacts__link( href='mailto:mail@htmlacademy.ru' ) mail@htmlacademy.ru
        main.contacts__main
