.comment
    margin: 0 0 9rem

    &__item
        lost-utility clearfix
        margin: 0 0 4rem

    &__wrapper
        margin: 0 0 4rem

    &__image
        float: left
        width: 7rem
        height: 7rem
        border-radius: 50%

        & > img
            display: block
            width: 100%
            height: auto
            border-radius: 50%

    &__holder
        lost-utility clearfix
        margin-left: 10rem
        border-bottom: .1rem solid #b7b7b7
        padding: 0 0 2rem

    &__title
        text-transform: uppercase
        font: 400 1.3rem/1 $montserrat-bold
        color: $color-grey
        margin: 0 0 .8rem

    &__time
        color: $color-grey
        font: 400 1.4rem/1.2 $crimson_text-italic
        margin: 0 0 4rem

    & p
        font: 400 1.4rem/1.8 $crimson_text-roman
        color: $color-grey
        margin: 0 0 4rem

    &__reply
        float: right
        display: block
        padding: 0 0 0 2.4rem
        text-decoration: none
        text-transform: capitalize
        font: 400 1.3rem/1.2 $crimson_text-italic
        color: $color-grey
        background: url("%=static=%assets/block-comments/reply-icon.png") 0 50% no-repeat

        &:hover
        &:focus
            text-decoration: underline

.comment--reply
    margin: 0 0 0 10rem



















