mixin block-advantage()
    section.advantage
        .center
            h2.advantage__title
                | Преимущества
            ul.advantage__list
                li.advantage__item
                    .advantage__thumb
                    h3.advantage__subtitle
                        | Удобная доставка
                    p
                        | Доставим или вернем ваши вещи с точностью до 2 часов
                li.advantage__item
                    .advantage__thumb
                    h3.advantage__subtitle
                        | Прозрачные цены
                    p
                        | Стоимость услуги согласовывается с вами заранее
                li.advantage__item
                    .advantage__thumb
                    h3.advantage__subtitle
                        | Приятный сервис
                    p
                        | Оплата только после доставки чистых и поглаженных вещей
                li.advantage__item
                    .advantage__thumb
                    h3.advantage__subtitle
                        | Экспресс-чистка
                    p
                        | Ваши вещи вернуться к вам через 24 часа
                li.advantage__item
                    .advantage__thumb
                    h3.advantage__subtitle
                        | Обратная связь
                    p
                        | Учитываем все ваши пожелания и становимся лучше
