// BLOCK TOPHEADER
// -------------------------------------------------
.block-topheader
    position fixed
    width 100%
    top 0
    left 0
    padding 1rem 0
    outline 1px dotted green

    // BLOCK TOPHEADER JS-HIDDEN
    // -------------------------------------------------
    &.js-hidden
        //

    // BLOCK TOPHEADER CENTER
    // -------------------------------------------------
    & .center
        //
