.footer
    padding: 7rem 0 10rem
    background-color $color-slate-light


    // FOOTER TITLE
    // --------------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter


    // FOOTER CONTENT
    // --------------------------------------------

    &__content
        padding: 0 0 5rem
        border-bottom: .1rem solid rgba($color-teal, .3)
        color: $color-white

    &__title
        display: flex
        align-items: center
        text-transform: uppercase
        margin: 0 0 2rem 0
        font: 1.6rem/1 $raleway-medium
        letter-spacing: .6rem

        & .footer-logo
            margin: 0 2rem 0 0

    & p
        font: 1.4rem/1.4 $raleway-regular
        margin: 0


    // FOOTER NAVIGATION
    // --------------------------------------------

    &__navigation
        lost-center 100% flex
        padding: 3rem 0

        & a
            display: flex
            align-items: center
            text-transform: capitalize
            text-decoration: none
            font-size: 1.4rem
            color: $color-white
            word-wrap: normal
            transition: color .2s

            &:hover
            &:focus
                color: $color-teal

    &__navigation-primary
        lost-column 7/12
        lost-column-gutter $gutter

        @media screen and (max-width: $bp768)
            lost-column 1/1
            lost-column-gutter 0
            flex-direction: column

            & li
                border-bottom: 1px solid rgba($color-teal, .2)

                & a
                    padding: 3rem 0

    &__navigation-secondary
        lost-column 4/12
        lost-offset -1/12
        lost-column-gutter $gutter

        & .footer-icon
            margin: 0 1rem 0 0

        @media screen and (max-width: $bp768)
            lost-column 1/1
            lost-offset 0
            flex-direction: column
            margin-right: 0 !important

            & li
                margin: 0 !important
                border-bottom: 1px solid rgba($color-teal, .2)

                & a
                    padding: 3rem 0

    &__navigation-primary
        display: flex
        justify-content: space-between

    &__navigation-secondary
        display: flex
        justify-content: flex-end

        & li
            margin: 0 0 0 2rem



    // FOOTER COPYRIGHT
    // --------------------------------------------

    &__copyright
        color: $color-white
        font: 1.4rem/1.2 $raleway-light

        & a
            color: $color-teal
            text-transform: capitalize
            text-decoration: none

            &:hover
            &:focus
                color: $color-teal-dark



















