.footer
    padding: 7rem 0 10rem
    background-color $charcoal-grey-color

    &__center
        lost-center $width
        padding: 0 $gutter

    &__content
        padding: 0 0 5rem
        border-bottom: .2rem solid $white-color

        & p
            font-size: 1.4rem
            line-height: 1.8
            color: $white-color

    &__title
        display: flex
        align-items: center
        text-transform: uppercase
        color: $white-color
        font-size: 1.6rem
        padding: 0 0 0 5rem
        margin: 0 0 2rem 0

    &__navigation
        padding: 4rem 0
        display: flex
        justify-content: space-between

    &__menu
        display: flex

        & a
            text-transform: capitalize
            color: $white-color
            font-size: 1.4rem
            text-decoration: none
            margin: 0 6rem 0 0

            &:hover
            &:focus
                text-decoration: underline

    &__submenu
        display: flex

        & a
            text-transform: capitalize
            color: $white-color
            font-size: 1.4rem
            text-decoration: none
            margin: 0 0 0 6rem

            &:hover
            &:focus
                text-decoration: underline


    &__copyright
        color: $white-color
        font-size: 1.4rem

        & a
            color: cornflowerblue
            text-transform: capitalize
            text-decoration: none



















