mixin footer(data)
    footer.footer
        .footer__center
            .footer__content
                h1.footer__title synthetica
                p An experience design collective curated by designers, for designers.
            .footer__navigation
                ul.footer__menu
                    li: a(href="javascript:void();") the collective
                    li: a(href="javascript:void();") the crew
                    li: a(href="javascript:void();") articles
                    li: a(href="javascript:void();") freebies
                    li: a(href="javascript:void();") subscribe
                ul.footer__submenu
                    li: a(href="javascript:void();") licence
                    li: a(href="javascript:void();") share
            .footer__copyright &copy; Synthetica 2016. Design &amp; Development by <a href="javascript:void();">peter finlan</a>
