mixin clients(data)
    .clients
      .clients__center
        h2.clients__title clients i've worked so far
        .clients__gallery
          a.clients__item(href="#")
          a.clients__item(href="#")
          a.clients__item(href="#")
          a.clients__item(href="#")
          a.clients__item(href="#")
          a.clients__item(href="#")
        p.clients__subtitle
          | A falsis, assimilatio magnum abactus. Fall heavily like a clear gibbet.
          | View wihtout anomaly, and we won’t gather a ship. Lubbers grow on halitosis at jamaica!
          | In the popular world all yogis avoid paradox.