mixin navbar(data)
    aside#navbar.navbar-panel
        header.navbar-header
            h2.title navbar menu
        nav.navbar-content
            ul.navbar-menu
                li.navbar-menu__item
                    a(href='#0') sidebar menu item
                li.navbar-menu__item
                    a(href='#0') sidebar menu item
                li.navbar-menu__item
                    a(href='#0') sidebar menu item
                li.navbar-menu__item
                    a(href='#0') sidebar menu item
                li.navbar-menu__item
                    a(href='#0') sidebar menu item