.features
  background-color $color-green

  &__center
    lost-center $width
    padding 0 2rem

  &__row
    display flex

    &:nth-child(1) > .features__block-thumb
      background url('%=static=%assets/features/features-bg-01.jpg') center center no-repeat
      background-size cover

      & > .features__metrics
        right 4rem

    &:nth-child(2) > .features__block-thumb
      background url('%=static=%assets/features/features-bg-02.jpg') center center no-repeat
      background-size cover

      & > .features__metrics
        left 4rem

    @media screen and (max-width 600px)
      flex-direction column
      justify-content center
      align-items center


  &__block-text
    lost-column 5/12
    lost-column-gutter 0
    padding 5.5rem 5rem 9rem
    text-align center
    background-color $color-white
    min-height 39.4rem

    & > small
      display block
      color $color-red
      font-family $montserrat-regular
      font-weight 400
      font-size 1.2rem
      text-transform uppercase
      margin 0 0 1rem 0

    & > .features__title
      text-transform uppercase
      color $color-green
      font-family $opensans-light
      font-weight 300
      font-size 2rem
      margin 0 0 2rem 0

    & > .text-icon
      margin 0 0 2rem 0

    & > p
      color $color-grey
      font-family $opensans-regular
      font-weight 400
      font-size 1.4rem
      line-height 1.8
      margin 0 0 2rem 0

    & > .features__readmore
      font-family $opensans-regular
      font-weight 400
      text-transform capitalize
      color $color-green
      text-decoration: none

      &:hover
      &:active
        color: $color-red

    @media screen and (max-width 768px)
      lost-column 1/2
      lost-column-gutter 0

    @media screen and (max-width 600px)
      lost-column 1/1
      lost-column-gutter 0
      padding 5rem


  &__block-thumb
    lost-column 7/12
    lost-column-gutter 0
    position relative
    background-size cover
    min-height 39.4rem


    & > .features__metrics
      display flex
      align-items center
      position absolute
      bottom 4rem

      & > a
        text-decoration none
        text-transform capitalize
        font-family $opensans-regular
        font-weight 400
        color $color-red
        font-size 1.2rem
        transition: color .2s

        & > span
          color $color-white
          
        &:hover
          color: $color-green

      & > .thumbnail-icon
        margin 0 0 0 1rem

    @media screen and (max-width 768px)
      lost-column 1/2
      lost-column-gutter 0

    @media screen and (max-width 600px)
      lost-column 1/1
      lost-column-gutter 0
