mixin features(data)
	section.features#features
		.features__center
			.features__row
				.features__block-text
					small it’s all about
					h2.features__title fitness first
					!= jadeHelpers.Icon.call(locals, {iconName: 'drop-grey', className: 'text-icon'})
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi nostrum ratione distinctio aliquam ex quod, earum qui velit corrupti voluptatibus, eos at consequatur possimus veniam placeat mollitia iure eius!
					a.features__readmore(href="#") read more
				.features__block-thumb
					.features__metrics
						a(href="#") active users <span>(34)</span>
						!= jadeHelpers.Icon.call(locals, {iconName: 'drop-red', className: 'thumbnail-icon'})
			.features__row
				.features__block-thumb
					.features__metrics
						a(href="#") products used <span>(658)</span>
						!= jadeHelpers.Icon.call(locals, {iconName: 'drop-red', className: 'thumbnail-icon'})
				.features__block-text
					small love your
					h2.features__title your body
					!= jadeHelpers.Icon.call(locals, {iconName: 'drop-grey', className: 'text-icon'})
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi nostrum ratione distinctio aliquam ex quod, earum qui velit corrupti voluptatibus, eos at consequatur possimus veniam placeat mollitia iure eius!
					a.features__readmore(href="#") read more
