.features
  background-color $color-green

.features__primary
  padding 12rem 0

.features__center
  lost-center $width
  padding 0 1rem

.features__column
  lost-column 3/12
  lost-column-gutter 4rem
  display flex
  flex-direction column
  position relative

  & > .features-icon
    margin 0 0 2rem 0

    @media screen and (max-width $bp768)
      margin 0 auto 2rem

  & > h3
    text-transform capitalize
    color $color-white
    font-family $opensans-bold
    font-weight 400
    font-size 1.8rem
    line-height 1.4
    margin 0 0 2rem 0

  & > p
    font-weight 300
    color $color-white
    line-height 1.6
    margin 0 0 3rem 0

  & > a
    font-size 1.4rem
    text-decoration none
    text-transform capitalize
    color $color-white
    position absolute
    bottom 0
    left 0

    @media screen and (max-width $bp768)
      left 50%
      transform translateX(-50%)

  @media screen and (max-width $bp768)
    lost-column 6/12
    lost-column-cycle 2
    text-align center

    &:nth-child(-n+2)
      margin-bottom 6rem

  @media screen and (max-width $bp500)
    lost-column 1/1
    lost-column-cycle 0
    lost-column-gutter 0

.features__row
  display flex

  &:nth-child(1) > .features__block-thumb
    background url('%=static=%assets/features/features-bg-01.jpg') no-repeat

    & > .features__metrics
      right 4rem

  &:nth-child(2) > .features__block-thumb
    background url('%=static=%assets/features/features-bg-02.jpg') no-repeat

    & > .features__metrics
      left 4rem

.features__block-text
  lost-column 5/12
  lost-column-gutter 0
  padding 5.5rem 5rem 9rem
  text-align center
  background-color $color-white

  & > small
    display block
    color $color-red
    font-family $montserrat-regular
    font-weight 400
    font-size 1.2rem
    text-transform uppercase
    margin 0 0 1rem 0

  & > h2
    text-transform uppercase
    color $color-green
    font-family $opensans-light
    font-weight 300
    font-size 2rem
    margin 0 0 2rem 0

  & > .text-icon
    margin 0 0 2rem 0

  & > p
    color $color-grey
    font-family $opensans-regular
    font-weight 400
    font-size 1.4rem
    line-height 1.8
    margin 0 0 2rem 0

  & > a
    font-family $opensans-regular
    font-weight 400
    text-transform capitalize
    color $color-green

    &:hover
    &:active
      text-decoration none

.features__block-thumb
  lost-column 7/12
  lost-column-gutter 0
  position relative
  background-size cover

  & > .features__metrics
    display flex
    align-items center
    position absolute
    bottom 4rem

    & > a
      text-decoration none
      text-transform capitalize
      font-family $opensans-regular
      font-weight 400
      color $color-red
      font-size 1.2rem

      & > span
        color $color-white

    & > .thumbnail-icon
      margin 0 0 0 1rem
