include ../social-icons/social-icons

mixin gallery()
	ul.gallery
		li.gallery__item
			//- figure.gallery__image#galleryImage
			figure.gallery__image
				img(src="assets/images/team-member-1.jpg", alt="Team Member")
				+social-icons()
			.gallery__content
				h3.gallery__title john dow
				h4.gallery__subtitle senior desigener
				p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
		li.gallery__item
			figure.gallery__image
				img(src="assets/images/team-member-2.jpg", alt="Team Member")
				+social-icons()
			.gallery__content
				h3.gallery__title patricia medina
				h4.gallery__subtitle senior desigener
				p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
		li.gallery__item
			figure.gallery__image
				img(src="assets/images/team-member-3.jpg", alt="Team Member")
				+social-icons()
			.gallery__content
				h3.gallery__title peter manson
				h4.gallery__subtitle senior desigener
				p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
		li.gallery__item
			figure.gallery__image
				img(src="assets/images/team-member-4.jpg", alt="Team Member")
				+social-icons()
			.gallery__content
				h3.gallery__title mary lou
				h4.gallery__subtitle senior desigener
				p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
