include ../button/button

mixin play(data)
    .play
        .play__content
            .play__info
                h3.play__title Self-Effacing Rage
                h4.play__subtitle FT. Fascinating Collision
                ul
                    li Director: James G. Rohrer
                    li Production Company: Sycamore
                    li Producer: Laura S. Carlton
                    li Executive Producer: Jack M. Heckart
                +button('click to play')