mixin block-categories(data)
    .categories
        h3.categories__heading categories
        ul.categories__list
            li.categories__item: a.categories__link(href="javascript:void();") photography
            li.categories__item: a.categories__link(href="javascript:void();") website design
            li.categories__item: a.categories__link(href="javascript:void();") branding
            li.categories__item: a.categories__link(href="javascript:void();") flyers
            li.categories__item: a.categories__link(href="javascript:void();") uncategories
            li.categories__item: a.categories__link(href="javascript:void();") category 22
