@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
       url('../fonts/opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic.woff2') format('woff2'),
       url('../fonts/opensans-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light.woff2') format('woff2'),
       url('../fonts/opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
       url('../fonts/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
       url('../fonts/opensans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('../fonts/raleway-light.woff2') format('woff2'),
       url('../fonts/raleway-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium.woff2') format('woff2'),
       url('../fonts/raleway-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular.woff2') format('woff2'),
       url('../fonts/raleway-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold.woff2') format('woff2'),
       url('../fonts/raleway-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
