// File for less-vars.
// For example: main colors, paddings and so on.

// COLORS
// ---------------------------------

$color-white = #fff
$color-red = #ff3c1f
$color-grey = #4e5860


// DIMENTIONS
// ---------------------------------
$width = 1180px
