// File for less-vars.
// For example: main colors, paddings and so on.

// COLORS
// ---------------------------------

$color-white = #fff
$color-black = #000
$color-red = #ff3c1f
$color-red-light = #d24a37
$color-grey = #4e5860


// DIMENTIONS
// ---------------------------------
$width = 1180px


// FONTS VARIABLES
// ---------------------------------

$opensans-light = 'open_sanslight', sans-serif
$opensans-italic = 'open_sansitalic', sans-serif
$opensans-regular = 'open_sansregular', sans-serif
$opensans-semibold = 'open_sanssemibold', sans-serif
$opensans-bold = 'open_sansbold', sans-serif

$raleway-light = 'ralewaylight', sans-serif
$raleway-medium = 'ralewaymedium', sans-serif
$raleway-regular = 'ralewayregular', sans-serif
$raleway-semibold = 'ralewaysemibold', sans-serif
