include ../topheader__icon/topheader__icon
include ../topheader__menu--mobile/topheader__menu--mobile
include ../topheader__menu/topheader__menu
include ../topheader__logo/topheader__logo

mixin topheader()
	.topheader
		.topheader__content
			+topheader__logo()
			+topheader__menu()
			+topheader__icon()
		+topheader__menu--mobile()
