
// TOPHEADER
// ------------------------------------------

.topheader
	padding 2rem 0
	background-color #1d2126
	position absolute
	left 0
	top 0
	width 100%
	z-index 9
	transition all .2s
	position fixed

	// TOPHEADER FIXED
	// ------------------------------------------

	&--fixed
		padding 1.4rem 0
		z-index 10

	// TOPHEADER CONTENT
	// ------------------------------------------

	&__content
		lost-center $width flex
		padding 0 1rem
		justify-content space-between
		align-items center

		+below($bp-786)
			padding 0 2rem
