mixin topheader()
	.topheader
		.topheader__content
			h1.topheader__logo: a(href="#header" target="_blank" rel="nofollow") modest
			nav.topheader__menu
				a.topheader__link(href="#home") home
				a.topheader__link(href="#about") about
				a.topheader__link(href="#team") team
				a.topheader__link(href="#work") work
				a.topheader__link(href="#services") services
				a.topheader__link(href="#features") features
				a.topheader__link(href="#contact") contact
