// INFORMATION
// ---------------------------
.information
    //

    // INFORMATION HEADER
    // ---------------------------
    &__header
        padding 3rem 0
        background-color $pink-color-white

        @media screen and ( min-width $tablet )
            padding 6rem 0

    // INFORMATION TITLE
    // ---------------------------
    &__title
        text-align center
        font 2.4rem/1.6 $open-sans--light
        color $pink-color-dark

        &:nth-child(1)
            margin 0 0 2rem

        @media screen and ( min-width $tablet )
            font-size 4rem
            line-height 1.2

            &:nth-child(1)
                margin 0

        @media screen and ( min-width $desktop )
            font-size 5rem

    // INFORMATION MAIN
    // ---------------------------
    &__main
        padding 5rem 2rem 0 2rem
        background-color #f2f2f2
        position relative

        @media screen and ( min-width $tablet )
            display flex
            padding 0 2rem

    // INFORMATION CONTENT
    // ---------------------------
    &__content
        padding 4rem 2rem

        @media screen and ( min-width $tablet )
            max-width 62%
            display flex
            flex-direction column
            justify-content center
            order 2

        @media screen and ( min-width $desktop )
            max-width 100%
            flex-direction row
            justify-content space-between
            position relative
            padding 0 2rem 4rem

    // INFORMATION ITEM
    // ---------------------------
    &__item
        text-align center

        &:not(:last-child)
            margin 0 0 4rem

        @media screen and ( min-width $tablet )
            text-align left

        @media screen and ( min-width $desktop )
            flex 0 1 30%
            text-align center

            &:not(:last-child)
                margin 0

        @media screen and ( min-width $desktop ) and ( min-resolution 96dpi )

            &:nth-child(1) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-1@1x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

            &:nth-child(2) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-2@1x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

            &:nth-child(3) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-3@1x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

        @media screen and ( min-width $desktop ) and ( min-resolution 144dpi )

            &:nth-child(1) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-1@2x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

            &:nth-child(2) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-2@2x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

            &:nth-child(3) .information__thumb
                background url( '%=static=%assets/block-information/iphone-screen-desktop-3@2x.png' ) 0 0 no-repeat
                background-size cover
                size( 29.2rem, 30.2rem )

        & p
            font 1.6rem/1.6 $open-sans--regular
            color $pink-color-dark

            @media screen and ( max-width $tablet )
                font-size 1.4rem

    // INFORMATION THUMB
    // ---------------------------
    &__thumb
        size( 18.6rem, 28rem )
        margin 0 auto 6rem

        @media screen and ( max-width $desktop )
            display none

    // INFORMATION CAPTION
    // ---------------------------
    &__caption
        font 3rem/1.2 $open-sans--bold
        color $pink-color-black
        margin 0 0 2rem

        @media screen and ( max-width $tablet )
            font-size 2.4rem
            line-height 1.4

    // INFORMATION PICTURE
    // ---------------------------
    &__picture
        margin auto

        // information picture mobile --------------------
        // -----------------------------------------------
        @media screen and ( min-width $mobile ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-information/iphone-screen-mobile-3@1x.png' ) 0 0 no-repeat
            background-size cover
            size( 14.2rem, 25.1rem )

        @media screen and ( min-width $mobile ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-information/iphone-screen-mobile-3@2x.png' ) 0 0 no-repeat
            background-size cover
            size( 14.2rem, 25.1rem )

        @media screen and ( min-width $mobile ) and ( min-resolution 288dpi )
            background url( '%=static=%assets/block-information/iphone-screen-mobile-3@3x.png' ) 0 0 no-repeat
            background-size cover
            size( 14.2rem, 25.1rem )

        // information picture tablet --------------------
        // -----------------------------------------------
        @media screen and ( min-width $tablet ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-information/iphone-screen-tablet-3@1x.png' ) 0 0 no-repeat
            background-size cover
            size( 26.8rem, 48.1rem )
            position relative
            order 1

        @media screen and ( min-width $tablet ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-information/iphone-screen-tablet-3@2x.png' ) 0 0 no-repeat
            background-size cover
            size( 26.8rem, 48.1rem )
            position relative
            order 1

        // information picture desktop --------------------
        // -----------------------------------------------
        @media screen and ( min-width $desktop )
            display none
