mixin block-information()
    section.information
        header.information__header
            h2.information__title
                | Устали от серости мегаполиса?
            h2.information__title
                | Нам есть, что вам предложить!
        main.information__main
            canvas.information__canvas
            .information__content
                .information__item
                    .information__thumb
                    h3.information__caption
                        | Поднимает настроение
                    p
                        | Приложение позволит вам победить осеннюю хандру и деперессию буквально в несколько кликов!
                .information__item
                    .information__thumb
                    h3.information__caption
                        | Меняет мир вокруг
                    p
                        | Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
                .information__item
                    .information__thumb
                    h3.information__caption
                        | Заводит новых друзей
                    p
                        | Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых
            .information__picture











