// INFORMATION
// ---------------------------
.information
    //

    // INFORMATION HEADER
    // ---------------------------
    &__header
        padding 3rem 0
        background-color $pink-color-white

        @media screen and ( min-width $desktop )
            padding 6rem 0

    // INFORMATION TITLE
    // ---------------------------
    &__title
        text-align center
        font 2.4rem/1.6 $open-sans--light
        color $pink-color-dark

        &:nth-child(1)
            margin 0 0 2rem

        @media screen and ( min-width $tablet )
            font-size 4rem
            line-height 1.2

            &:nth-child(1)
                margin 0

        @media screen and ( min-width $desktop )
            font-size 5rem

    // INFORMATION MAIN
    // ---------------------------
    &__main
        padding 0 2rem 0 2rem
        background-color #f2f2f2
        position relative

        @media screen and ( min-width $tablet )
            display flex

    // INFORMATION CONTENT
    // ---------------------------
    &__content
        padding 4rem 2rem

        @media screen and ( min-width $tablet )
            max-width 62%
            display flex
            flex-direction column
            justify-content center
            order 2

        @media screen and ( min-width $desktop )
            max-width 100%
            flex-direction row
            justify-content space-between
            position relative
            padding 0 2rem 4rem

    // INFORMATION ITEM
    // ---------------------------
    &__item
        text-align center

        &:not(:last-child)
            margin 0 0 4rem

        @media screen and ( min-width $tablet )
            text-align left

        @media screen and ( min-width $desktop )
            flex 0 1 30%
            text-align center

            &:not(:last-child)
                margin 0

    // INFORMATION THUMB
    // ---------------------------
    &__thumb
        width 18.6rem
        height 28rem
        background-color cornflowerblue
        margin 0 auto 6rem

        & p
            font 1.4rem/1.6 $open-sans--regular
            color $pink-color-dark

        @media screen and ( max-width $desktop )
            display none

    // INFORMATION CAPTION
    // ---------------------------
    &__caption
        font 1.8rem/1.2 $open-sans--bold
        color $pink-color-black
        margin 0 0 2rem

    // INFORMATION PICTURE
    // ---------------------------
    &__picture
        size( 16rem, 32rem )
        margin auto
        background-color salmon

        @media screen and ( min-width $tablet )
            width 26.8rem
            height 54.8rem
            position relative
            order 1

        @media screen and ( min-width $desktop )
            display none
