.history
    background-color: #ededed
    padding: 7rem 0

    &__center
        lost-center $width
        padding: 0 $gutter

    // HISTORY CONTENT
    // ----------------------------------------------------
    & .content

        // CONTENT PANEL
        // ----------------------------------------------------
        &__panel
            padding: 7.4rem 0 0 0
            position: relative

        // CONTENT YEAR
        // ----------------------------------------------------
        &__year
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: 0
            display: flex
            justify-content: center
            align-items: center
            width: 7.4rem
            height: 7.4rem
            border-radius: 50%
            border: .2rem solid $color-grey
            font: 400 1.3rem/1.2 $montserrat-regular
            color: $color-grey

            @media screen and (max-width: $bp768)
                left: 0
                transform: translateX(0)

        // CONTENT LIST
        // ----------------------------------------------------
        &__list
            position: relative
            padding: 4rem 0

            &::before
                content: ''
                display: block
                width: .2rem
                height: 100%
                background-color: $color-grey
                position: absolute
                left: 50%
                top: 0
                transform: translateX(-50%)

                @media screen and (max-width: $bp768)
                    left: 5%
                    transform: translateX(0)

        // CONTENT ROW
        // ----------------------------------------------------
        &__row
            lost-utility clearfix
            position: relative

            &:not(:last-child)
                margin: 0 0 1rem

            @media screen and (max-width: $bp768)
                &:not(:last-child)
                    margin: 0 0 4rem 0

        // CONTENT ITEM
        // ----------------------------------------------------
        &__item
            text-decoration: none
            color: $color-grey
            border: .2rem solid $color-grey
            width: 48%
            transition: background-color .2s, color .2s

            @media screen and (max-width: $bp768)
                width: 90%

            & p
                font: 400 1.4rem/1.5 $crimson_text-roman
                margin: 0 0 3rem 0

                &:last-of-type
                    margin: 0

            &:first-child
                padding: 3rem 6rem 3rem 2rem
                float: left

                @media screen and (max-width: $bp768)
                    float: right
                    padding: 3rem 2rem 3rem 6rem


            &:last-child
                padding: 3rem 2rem 3rem 6rem
                float: right
                margin: 4rem 0 0 0


            &::before
                content: ''
                display: block
                border-radius: 50%
                width: 1.8rem
                height: 1.8rem
                background-color: $color-grey
                position: absolute
                left: 50%
                transform: translateX(-50%)

                @media screen and (max-width: $bp768)
                    left: 4%
                    transform: translateX(0)

            &:hover
            &:focus
                background-color: $color-grey
                color: #e4e4e4

        &__meta
            margin: 0 0 3rem

        &__heading
            text-transform: uppercase
            font: 400 1.3rem/1.2 $montserrat-regular
            margin: 0 0 1rem

        &__date
            text-transform: capitalize
            font: 400 1rem/1 $montserrat-regular

        // CONTENT SHOW MORE
        // ----------------------------------------------------
        &__more
            display: flex
            justify-content: center

            @media screen and (max-width: $bp768)
                justify-content: flex-start
                margin-left: 1rem

        &__show
            display: block
            border-radius: 50%
            width: 5.4rem
            height: 5.4rem
            background: $color-grey url("%=static=%assets/history/show.png") 50% 50% no-repeat
            transition: background-color .2s
            will-change: transition

            &:hover
            &:focus
                background-color: lighten($color-grey, 20%)


// SHOW COLLAPSED BLOCK
// ----------------------------------------------------
.is-collapsed
    display: none

.is-opened
    display: block
    padding-bottom: 0

    & > .content__list
        padding-bottom: 0

















