.history
    background-color: #ededed
    padding: 7rem 0

    &__center
        lost-center $width
        padding: 0 $gutter

    &__title
        text-align: center
        text-transform: uppercase
        font: 400 2rem/1.2 $amsdam-regular
        color: $color-grey
        padding: 0 0 3rem
        margin: 0 0 4rem
        background: url('%=static=%assets/history/underline-history.png') 50% 100% no-repeat

    &__subtitle
        font: 400 1.4rem/1.7 $crimson_text-roman
        color: $color-grey
        text-align: center
        padding: 0 7rem
        margin: 0 0 7rem
