include ../heading/heading

mixin history(data)
    .history
        .history__center
            +heading('history')
            .history__content
                .history__year 2015
                .history__list
                    .history__row
                        a.history__item(href="#")
                            .history__meta
                                .history__heading donec id lobortis tellus. maecenas vel dignissim
                                .history__date 07 october 2015
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        a.history__item(href="#")
                            .history__meta
                                .history__heading nam tincidunt, lacus sit amet ultrices
                                .history__date 05 june 2015
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .history__row
                        a.history__item(href="#")
                            .history__meta
                                .history__heading donec quis faucibus lorem
                                .history__date 07 may 2015
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        a.history__item(href="#")
                            .history__meta
                                .history__heading nunc efficitur laoreet turpis sed auctor.
                                .history__date 02 april 2015
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            p Praesent id augue in risus molestie euismod molestie id augue. Suspendisse a libero porttitor, lobortis eros ac, varius velit. Praesent sed eros at elit suscipit laoreet vitae condimentum risus.
                    .history__row
