.history
    background-color: #ededed
    padding: 7rem 0

    &__center
        lost-center $width
        padding: 0 $gutter

    &__title
        text-align: center
        text-transform: uppercase
        font: 400 2rem/1.2 $amsdam-regular
        color: $color-grey
        padding: 0 0 3rem
        margin: 0 0 4rem
        background: url('%=static=%assets/history/underline-history.png') 50% 100% no-repeat

    &__subtitle
        font: 400 1.4rem/1.7 $crimson_text-roman
        color: $color-grey
        text-align: center
        padding: 0 7rem
        margin: 0 0 7rem

    // HISTORY CONTENT

    &__content
        padding-top: 7.4rem
        position: relative

    &__year
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: 0
        display: flex
        justify-content: center
        align-items: center
        width: 7.4rem
        height: 7.4rem
        border-radius: 50%
        border: .2rem solid $color-grey
        font: 400 1.3rem/1.2 $montserrat-regular
        color: $color-grey

    &__list
        position: relative
        padding: 4rem 0

        &::before
            content: ''
            display: block
            width: .2rem
            height: 100%
            background-color: $color-grey
            position: absolute
            left: 50%
            top: 0
            transform: translateX(-50%)

    &__row
        lost-utility clearfix
        position: relative
        margin: 0 0 1rem

    &__item
        text-decoration: none
        color: $color-grey
        border: .2rem solid $color-grey
        width: 48%
        transition: background-color .2s, color .2s

        & p
            font: 400 1.4rem/1.5 $crimson_text-roman
            margin: 0 0 3rem 0

            &:last-of-type
                margin: 0

        &:first-child
            padding: 3rem 6rem 3rem 2rem
            float: left

        &:last-child
            padding: 3rem 2rem 3rem 6rem
            float: right
            margin: 4rem 0 0 0

        &::before
            content: ''
            display: block
            border-radius: 50%
            width: 1.8rem
            height: 1.8rem
            background-color: $color-grey
            position: absolute
            left: 50%
            transform: translateX(-50%)

        &:hover
        &:focus
            background-color: $color-grey
            color: #e4e4e4

    &__meta
        margin: 0 0 3rem

    &__heading
        text-transform: uppercase
        font: 400 1.3rem/1.2 $montserrat-regular
        margin: 0 0 1rem

    &__date
        text-transform: capitalize
        font: 400 1rem/1 $montserrat-regular




















