mixin testimonials(data)
    .testimonials
        //.testimonials__center
        .testimonials__slider
            .testimonials__slide
                .testimonials__thumb
                    img(src="%=static=%img/assets/testimonials/testimonials-image-01.jpg" alt="Author Image")
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .testimonials__author alexandr podvalny
                .testimonials__occupation Free-PSD-Template.com Company
            .testimonials__slide
                .testimonials__thumb
                    img(src="%=static=%img/assets/testimonials/testimonials-image-01.jpg" alt="Author Image")
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .testimonials__author alexandr podvalny
                .testimonials__occupation Free-PSD-Template.com Company
            .testimonials__slide
                .testimonials__thumb
                    img(src="%=static=%img/assets/testimonials/testimonials-image-01.jpg" alt="Author Image")
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .testimonials__author alexandr podvalny
                .testimonials__occupation Free-PSD-Template.com Company
