// SECTION-PRIMARY
// --------------------------------
.section-primary
    lost-center 100% flex
    border .2rem solid #e5e5e5
    padding 4rem 2rem
    margin 0 0 6rem
    position relative

    // SECTION-PRIMARY LEFT
    // --------------------------------
    &__primary
        lost-column 1/2
        lost-column-gutter 0

    // SECTION-PRIMARY RIGHT
    // --------------------------------
    &__secondary
        lost-column 1/2
        lost-column-gutter 0

    // SECTION-PRIMARY ROW
    // --------------------------------
    &__row
        display flex
        align-items center
        margin 0 0 2rem

        &:last-child
            margin-bottom 0

    // SECTION-PRIMARY LABEL
    // --------------------------------
    &__label
        //

    // SECTION-PRIMARY INPUT
    // --------------------------------
    &__input
        //

    // SECTION-PRIMARY CAPTION
    // --------------------------------
    &__caption
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        padding 0 2rem
