// SECTION-PRIMARY
// --------------------------------
.section-primary
    lost-center 100% flex
    padding 4rem 2rem
    margin 0 0 6rem
    border .2rem solid $pink-color-grey-dark
    position relative

    // SECTION-PRIMARY CAPTION
    // --------------------------------
    &__caption
        position absolute
        top -1rem
        left 50%
        transform translateX( -50% )
        padding 0 2rem
        color $pink-color-pink
        font 1.4rem/1.4 $open-sans--regular
        text-transform uppercase
        background-color $pink-color-white
        white-space nowrap

        @media screen and ( max-width $mobile )
            display none

    // SECTION-PRIMARY LEFT
    // --------------------------------
    &__primary
        lost-column 1/2
        lost-column-gutter $gutter*3

        @media screen and ( max-width $tablet )
            lost-column 1/1
            margin 0 0 6rem

    // SECTION-PRIMARY RIGHT
    // --------------------------------
    &__secondary
        lost-column 1/2
        lost-column-gutter $gutter*3
        display flex
        flex-direction column
        justify-content center
        padding 0 0 0 6rem

        @media screen and ( max-width $tablet )
            lost-column 1/1
            flex-direction row
            justify-content space-between
            padding 0

            & .section-primary__row
                margin 0

        @media screen and ( max-width 700px )
            flex-direction column

            & .section-primary__row:nth-child( -n + 3 )
                margin 0 0 4rem

    // SECTION-PRIMARY ROW
    // --------------------------------
    &__row
        display flex
        align-items center
        margin 0 0 2rem

        &:last-child
            margin-bottom 0

        @media screen and ( max-width $mobile )
            flex-direction column
            align-items flex-start

    // SECTION-PRIMARY LABEL
    // --------------------------------
    &__label
        text-transform uppercase
        color $pink-color-pink
        font 1.4rem/1.2 $open-sans--regular

        &::after
            content ':'
            margin 0 2rem 0 0

        @media screen and ( max-width $mobile )
            margin 0 0 2rem 2rem

        @media screen and ( max-width $mobile )
            font-size 1.2rem

    // SECTION-PRIMARY INPUT
    // --------------------------------
    &__input
        width 100%
        border .2rem solid $pink-color-grey-dark
        padding 2rem
        font 1.8rem/1.2 $open-sans--regular
        color $pink-color-dark
        transition border-color .2s
        background-color transparent

        &:hover
            border-color $pink-color-dark

        &:focus
            border-color $pink-color-pink

        &:hover .section-row__label::before
            border-color $pink-color-dark

        @media screen and ( max-width $mobile )
            font-size 1.4rem

    // SECTION-PRIMARY LABEL RADIO
    // --------------------------------
    &__label-radio
        color $pink-color-dark
        font 1.8rem/4rem $open-sans--regular
        padding 0 0 0 6rem
        position relative
        cursor pointer

        &::before
        &::after
            content ''
            display block
            position absolute
            top 50%
            transform translateY( -50% )
            border-radius 50%
            transition border-color .2s, background-color .2s

        &::before
            size( 4rem )
            left 0
            border .2rem solid $pink-color-grey-dark
            transition border-color .2s

        &::after
            size( 1.4rem )
            left 1.3rem
            background-color transparent

        @media screen and ( max-width $mobile )
            font-size 1.4rem

    // SECTION-PRIMARY INPUT RADIO
    // --------------------------------
    &__input-radio
        position absolute
        clip rect( 0, 0, 0, 0 )

        &:checked + .section-primary__label-radio::before
            border-color $pink-color-pink

        &:checked + .section-primary__label-radio::after
            background-color $pink-color-pink

