
// DIMENTIONS
$width = 1200px;
$gutter = 1.5rem
$gutter1 = $gutter/2
$gutter2 = $gutter*2
$gutter3 = $gutter*3

// COLORS
$color-white = #fff
$color-black = #000
$color-grey = #3e3d3d
$color-grey-light = #cecece

// FONTS
$montserrat-bold = 'montserratbold', sans-serif
$montserrat-regular = 'montserratregular', sans-serif
$crimson_text-roman = 'crimson_textroman', sans-serif
$crimson_text-italic = 'crimson_textitalic', sans-serif
$amsdam-regular = 'amsdamregular', sans-serif


// MEDIA QUERIES
$bp400 = 400px
$bp500 = 500px
$bp600 = 600px
$bp768 = 768px
$bp800 = 800px
$bp980 = 980px
