.portfolio
    background-color: $color-white
    padding: 8rem 0 0 0

    // PORTFOLIO HEADER
    // --------------------------------------

    &__header
        lost-center: 100% flex
        flex-direction: column
        margin: 0 0 5rem

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // PORTFOLIO MAIN
    // --------------------------------------

    &__main
        width: 100%

        @media screen and ( max-width $bp500 )
            padding 0 1rem

    // PORTFOLIO CONTROLS
    // --------------------------------------

    &__controls
        display: flex
        justify-content: center
        margin: 0 0 6rem

        & button
            padding: 1rem 2rem
            margin: 0 .3rem
            border: .2rem solid $color-grey
            font: 1.1rem/1.2 $montserrat-regular
            color: $color-grey
            text-transform: uppercase
            transition: background-color .2s, color .2s
            will-change: transition

            &:hover
            &:first-child
                background-color: $color-grey
                color: $color-white

        @media screen and ( max-width $bp500 )
            display none

    // PORTFOLIO GRID
    // --------------------------------------

    &__grid
        clearfix()

    // PORTFOLIO SIZER && ITEM
    // --------------------------------------

    &__sizer
    &__item
        float: left
        width: 25%
        height: auto
        img-adaptive()

        @media screen and ( max-width: $bp980 )
            width: 50%

        @media screen and ( max-width: $bp768 )
            width: 100%
