.portfolio
    background-color: $color-white
    padding: 8rem 0 0 0

    // PORTFOLIO HEADER
    // --------------------------------------

    &__header
        lost-center: 100% flex
        flex-direction: column
        margin: 0 0 5rem

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // PORTFOLIO MAIN
    // --------------------------------------

    &__main
        //