// BLOCK-REVIEW
// -----------------------------------------
.block-review
    padding 6rem 0 14rem
    background-color $help-color-grey-light

    // BLOCK-REVIEW CENTER
    // -----------------------------------------
    & .center
        //

    // BLOCK-REVIEW HEADER
    // -----------------------------------------
    &__header
        margin 0 0 6rem

    // BLOCK-REVIEW CAPTION
    // -----------------------------------------
    &__caption
        text-align center
        font 400 4rem/1.2 $raleway
        color $help-color-grey-dark

    // BLOCK-REVIEW MAIN
    // -----------------------------------------
    &__main
        display flex

        @media screen and ( max-width $tablet )
            justify-content center

    // BLOCK-REVIEW ITEM
    // -----------------------------------------
    &__item
        //

        @media screen and ( max-width $tablet )
            &:not(:first-child)
                display none

    // BLOCK-REVIEW ICON
    // -----------------------------------------
    &__icon
        size( 13rem )

    // BLOCK-REVIEW BUTTON
    // -----------------------------------------
    &__button
        //
