mixin block-review()
    section.block-review
        .center
            header.block-review__header
                h2.block-review__caption
                    | Отзывы наших клиентов
            main.block-review__main
                article.block-review__item
                    figure.block-review__thumb
                        a.block-review__icon( href='#0' )
                            img.block-review__image( src='%=static=%img/assets/block-review/review-image-01.jpg' alt='Review Image' )
                    .block-review__content
                        .block-review__meta
                            h4.block-review__title
                                | сергей жуков
                            span.block-review__subtitle
                                | солист группы «Руки Вверх!»
                        .block-review__cite
                            | Наконец-то, я освободил голову от бытовых забот и могу уделять больше времени творчеству и семье.
                article.block-review__item
                    figure.block-review__thumb
                        a.block-review__icon( href='#0' )
                            img.block-review__image( src='%=static=%img/assets/block-review/review-image-02.jpg' alt='Review Image' )
                    .block-review__content
                        .block-review__meta
                            h4.block-review__title
                                | алена маринина
                            span.block-review__subtitle
                                | Главный бухгалтер
                        .block-review__cite
                            | Спасибо помощникам! Теперь у меня есть время спокойно сходить в салон красоты.
                button.block-review__button( type='button' )
                    != jadeHelpers.Icon.call( locals, {iconName: 'reload', className: 'block-review-icon' })





