mixin block-review(data)
    .block-review
        .center
            header.block-review__header
                h2.block-review__caption
                    | Отзывы наших клиентов
            main.block-review__main
                .block-review__item
                    a.block-review__icon( href='#0' )
                    .block-review__content
                        .block-review__meta
                            h4.block-review__title
                                | сергей жуков
                            span.block-review__subtitle
                                | солист группы «Руки Вверх!»
                        .block-review__cite
                            | Наконец-то, я освободил голову от бытовых забот и могу уделять больше времени творчеству и семье.
                .block-review__item
                    a.block-review__icon( href='#0' )
                    .block-review__content
                        .block-review__meta
                            h4.block-review__title
                                | алена маринина
                            span.block-review__subtitle
                                | Главный бухгалтер
                        .block-review__cite
                            | Спасибо помощникам! Теперь у меня есть время спокойно сходить в салон красоты.
                button.block-review__button( type='button' )





