// BLOCK-REVIEW
// -----------------------------------------
.block-review
    padding 6rem 0 14rem
    background-color $help-color-grey-light

    @media screen and ( max-width $mobile )
        padding 4rem 0 5rem

    // BLOCK-REVIEW HEADER
    // -----------------------------------------
    &__header
        margin 0 0 6rem

        @media screen and ( max-width $mobile )
            margin 0 0 4rem

    // BLOCK-REVIEW CAPTION
    // -----------------------------------------
    &__caption
        text-align center
        font 400 4rem/1.4 $raleway
        color $help-color-grey-dark

        @media screen and ( max-width $mobile )
            font-size 2.4rem

    // BLOCK-REVIEW MAIN
    // -----------------------------------------
    &__main
        display flex
        position relative

        @media screen and ( max-width $tablet )
            justify-content center

    // BLOCK-REVIEW ITEM
    // -----------------------------------------
    &__item
        min-height 13rem
        display flex
        justify-content space-between
        padding 0 8% 0 0

        @media screen and ( max-width $tablet )
            padding 0

            &:not(:first-child)
                display none

        @media screen and ( max-width $mobile )
            flex-direction column
            align-items center

    &__thumb
        size( 13rem )
        margin 0 2rem 0 0
        border-radius 50%

        @media screen and ( max-width $mobile )
            margin 0 0 2rem 0

    // BLOCK-REVIEW ICON
    // -----------------------------------------
    &__icon
        display block
        size( 100% )

        &:hover > .block-review__image
            opacity 1

    // BLOCK-REVIEW IMAGE
    // -----------------------------------------
    &__image
        border-radius 50%
        opacity .8
        transition opacity .2s

    // BLOCK-REVIEW CONTENT
    // -----------------------------------------
    &__content
        width calc( 100% - ( 13rem + 2rem ) ) // use calc cause Safari
        padding .6rem 0 0 0

        @media screen and ( max-width $mobile )
            text-align center

        @media screen and ( max-width $mobile-x )
            width 100%

    // BLOCK-REVIEW META
    // -----------------------------------------
    &__meta
        margin 0 0 1rem

    // BLOCK-REVIEW TITLE
    // -----------------------------------------
    &__title
        text-transform uppercase
        color $help-color-grey-dark
        font 900 1.5rem/1.4 $raleway
        margin 0 0 .4rem

    // BLOCK-REVIEW SUBTITLE
    // -----------------------------------------
    &__subtitle
        text-transform uppercase
        font 400 1rem/1.4 $ptsans
        color #717171

    // BLOCK-REVIEW CITE
    // -----------------------------------------
    &__cite
        font 400 1.6rem/1.4 $ptsans
        color $help-color-grey-dark

    // BLOCK-REVIEW BUTTON
    // -----------------------------------------
    &__button
        position absolute
        top 0
        right 0

        & .block-review-icon
            fill $help-color-orange

        &:hover .block-review-icon
            fill $help-color-brown
