mixin module-invite()
    form.invite( action='action.php' method='post' )
        input.input( type='email' name='email' placeholder='Адрес эл. почты' required )
        button.btn.btn--tetro
            | Получить приглашение
