
// INVITE
// ------------------------------------------
.invite
    width 100%

    // INVITE FIELD
    // ------------------------------------------
    &__field
        display flex

        // INVITE FIELD PRIMARY
        // ------------------------------------------
        &--primary
            justify-content space-between
            align-items center
            margin 0 0 3rem

        // INVITE FIELD SECONDARY
        // ------------------------------------------
        &--secondary
            align-items center
            display none

        // INVITE FIELD VISIBILITY
        // ------------------------------------------
        &--visible
            display block


    // INVITE INPUT
    // -------------------------------------
    &__input
        flex 0 1 60%
        background-color $color-white
        border-radius 50em
        box-shadow inset 0 .3rem 0 #dadada
        border none
        padding 1.8rem 3rem 1.8rem 3rem
        font 600 1.7rem/1.2 $raleway
        color #b5b5b5

        &:focus
            box-shadow none
            color $color-black--light

        &.js-error
            box-shadow none
            border .1rem solid $color-orange
            color $color-orange

    // INVITE BUTTON
    // -------------------------------------
    &__button
        flex 1 0 10%
        padding 1.8rem 2.6rem 1.6rem 2.5rem
        margin 0 0 0 2rem
        font 600 1.6rem/1.2 $raleway
        border .1rem solid $color-orange
        border-radius 50em
        background-color $color-orange
        color $color-white
        transition background-color .2s, color .2s

        &:hover
            background-color $color-brown
            border-color $color-brown

        &:focus
        &:active
            background-color $color-brown--dark
            border-color $color-brown--dark

    // INVITE CHECKBOX
    // ------------------------------------------
    & .invite__checkbox
        opacity 0
        position absolute

    & .invite__checkbox + label.invite__label
        display inline-block
        padding 0 0 0 4rem
        height 3rem
        vertical-align middle
        font 400 1.4rem/3rem $ptsans
        color $color-white
        background url('http://csscheckbox.com/checkboxes/u/csscheckbox_9e0be0d3c50aa15eb49cfd5afdebcc01.png') 0 0 no-repeat
        user-select none
        cursor pointer

        & a
            color $color-orange

    & .invite__checkbox:checked + label.invite__label
        background-position 0 -30px
