// TOPHEADER
// ----------------------------------------
.block-topheader
    position fixed
    left 0
    top 0
    width 100%
    z-index 9
    padding 2rem 0
    transition all .2s
    background-color $modest-grey-dark

    // TOPHEADER FIXED
    // ----------------------------------------
    &.is-fixed
        padding 1.4rem 0
        z-index 10

    // TOPHEADER CENTER
    // ----------------------------------------
    & .center
        display flex
        justify-content space-between
        align-items center

    // TOPHEADER PRIMARY
    // ----------------------------------------
    &__primary
        //

    // TOPHEADER PRIMARY LOGO
    // ----------------------------------------
    &__logo
        bg( $modest-logo )

    // TOPHEADER SECONDARY
    // ----------------------------------------
    &__secondary
        //

        // TOPHEADER MENU
        // ----------------------------------------
        & .menu
            display flex
            justify-content space-between

            // TOPHEADER MENU LINK
            // ----------------------------------------
            &__link
                display block
                margin 0 1rem
                padding .8rem 1.2rem
                text-transform uppercase
                font-family $sans-semibold
                font-size 1rem
                color $modest-grey-light
                border .1rem solid transparent
                border-radius .1rem

                &:first-child
                    margin-left 0

                &:last-child
                    margin-right 0

                &:hover
                    border-color $color-blue

                &:active
                &.is-active
                    color $modest-blue
                    border-color $modest-blue
