mixin block-archives(data)
    .archives
        h3.archives__heading archives
        ul.archives__list
            li.archives__item: a.archives__link(href="javascript:void();") january 2015
            li.archives__item: a.archives__link(href="javascript:void();") december 2015
            li.archives__item: a.archives__link(href="javascript:void();") november 2015
            li.archives__item: a.archives__link(href="javascript:void();") october 2015
            li.archives__item: a.archives__link(href="javascript:void();") september 2015
