
// ARCHIVES
// --------------------------------------------------------------

.archives
    margin: 0 0 6rem

    &__heading
        text-transform: uppercase
        font: 400 1.6rem/1 $montserrat-bold
        color: $color-grey
        margin: 0

    &__list
        margin: 1rem 0 0

    &__item
        padding: 2rem 0
        border-bottom: 1px solid #b7b7b7

    &__link
        padding: 0 0 0 1.4rem
        text-decoration: none
        text-transform: capitalize
        font: 400 1.6rem/1 $crimson_text-italic
        color: $color-grey
        position: relative

        &::before
            content: ''
            display: block
            width: 0
            height: 0
            border-style: solid
            border-width: .4rem 0 .4rem .4rem
            border-color: transparent transparent transparent $color-grey
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)

        &:hover
            text-decoration: underline
