mixin block-about()
    .block-about
        .center
            .block-about__primary
                figure.block-about__picture
                    //
            .block-about__secondary
                h1.block-about__title
                    | about us
                p.indent
                    | We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class
                a.lear-more( href='#0' )
                    | learn more
