// BLOCK ABOUT
// ----------------------------
.block-about
    padding 14rem 0 12rem
    background-color $color-wooder-white
    overflow hidden
    position relative

    &::before
        content ''
        display block
        position absolute
        top 0
        right 0
        width 27.5rem
        height 26.4rem
        background url( '%=static=%assets/block-about/cover-secondary.png' ) no-repeat

    // BLOCK ABOUT CENTER
    // ----------------------------
    & > .center
        display flex
        justify-content center
        align-items center

    // BLOCK ABOUT PRIMARY
    // ----------------------------
    &__primary
        position relative

        // BLOCK ABOUT PRIMARY COVER
        // ----------------------------
        &::before
            content ''
            display block
            position absolute
            top 50%
            transform translateY( -50% )
            left 0
            width 86.7rem
            height 11.6rem
            background url( '%=static=%assets/block-about/cover-primary.png' ) no-repeat

    // BLOCK ABOUT
    // ----------------------------
    &__picture
        width 61.9rem
        height 40.8rem
        background-color #bababa
        box-shadow 0 0 14.56px 1.44px rgba( 0, 0, 0, 0.15 )

    // BLOCK ABOUT SECONDARY
    // ----------------------------
    &__secondary
        padding 0 0 0 9.5rem

    // BLOCK ABOUT SECONDARY PARAGRAPH
    // ----------------------------
    &__secondary p
        color $color-wooder-grey
        font-size 1.5rem
        line-height 1.6
        margin 0 0 3rem

    // BLOCK ABOUT TITLE
    // ----------------------------
    &__title
        text-transform uppercase
        color $color-wooder-black-dark
        font-size 4.8rem
        font-family $ProximaNovaBold
        margin 0 0 3rem
