// BLOCK ABOUT
// ----------------------------
.block-about
    padding 14rem 0 12rem
    background-color $color-wooder-white

    // BLOCK ABOUT CENTER
    // ----------------------------
    & > .center
        display flex
        justify-content center
        align-items center

    // BLOCK ABOUT PRIMARY
    // ----------------------------
    &__primary
        //

    // BLOCK ABOUT
    // ----------------------------
    &__picture
        width 60rem
        height 40rem
        background-color #bababa
        box-shadow 0 0 14.56px 1.44px rgba( 0, 0, 0, 0.15 )

    // BLOCK ABOUT SECONDARY
    // ----------------------------
    &__secondary
        padding 0 0 0 9.5rem

    // BLOCK ABOUT SECONDARY PARAGRAPH
    // ----------------------------
    &__secondary p
        color $color-wooder-grey
        font-size 1.5rem
        line-height 1.6
        margin 0 0 3rem

    // BLOCK ABOUT TITLE
    // ----------------------------
    &__title
        text-transform uppercase
        color $color-wooder-black-dark
        font-size 4.8rem
        font-family $ProximaNovaBold
        margin 0 0 3rem
