// PHOTO-POST
// --------------------------------
.photo-post
    display flex
    flex-direction column
    min-height 15.6rem

    &:hover .photo-post__thumb img
        opacity 1

    // PHOTO-POST THUMB
    // --------------------------------
    &__thumb
        img-adaptive()

        & img
            opacity .8
            transition opacity .2s

    // PHOTO-POST CONTENT
    // --------------------------------
    &__content
        padding 3rem 4rem 3rem 3rem
        background-color #f2f2f2

    // PHOTO-POST HEADER
    // --------------------------------
    &__header
        margin 0 0 2rem

    // PHOTO-POST TITLE
    // --------------------------------
    &__title
        color $pink-color-dark
        font 2rem/1.2 $open-sans--bold
        margin 0 0 .4rem

    // PHOTO-POST DATE
    // --------------------------------
    &__date
        font 1.4rem/1.2 $open-sans--light

    // PHOTO-POST SUBTITLE
    // --------------------------------
    &__subtitle
        color $pink-color-dark
        font 1.4rem/1.6 $open-sans--regular

    // PHOTO-POST FOOTER
    // --------------------------------
    &__footer
        display flex
        justify-content space-between
        align-items center

        & p
            font 1.8rem/1.6 $open-sans--bold
            color $pink-color-pink

        &__count
            font 1.8rem/1.6 $open-sans--light

        // PHOTO-POST FOOTER ICON
        // --------------------------------
        & .photo-post-icon
            size( 1.4rem )
            fill $pink-color-pink
