.header-content
  display flex
  flex-direction column
  justify-content center
  text-align center
  align-items center
  font-family $lato-bold
  color $white

  &__title
    font-size 2.2rem
    text-transform uppercase
    margin 0 0 4rem 0

    +below(650px)
      font-size 2rem

  &__logo
    size(19rem)
    background transparent url(../images/logo-header.png) 0 0 no-repeat
    background-size cover
    margin 0 0 8rem 0

    +below(650px)
      size(16rem)
      margin 0 0 6rem 0

    +below(400px)
      size(10rem)
      margin 0 0 4rem 0

  &__subtitle
    display block
    max-width 60rem
    font-family $lato-regular
    font-size 1.8rem
    line-height 1.4

    +below(650px)
      font-size 1.6rem
      padding 0 4%
