mixin header-content()
  section.header-content
    h2.header-content__title get ready
    .header-content__logo
    small.header-content__subtitle Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante.
