// TOPHEADER
// --------------------------------------
.topheader
    //

    & .center
        display flex
        flex-direction row
        justify-content space-between
        align-items center

        & a
            text-transform uppercase
            color $color-white

    &__primary
        width _d( 18.4rem )
        height _d( 8.6rem )
        background: url( '%=static=%assets/block-topheader/topheader-logo.png' ) 50% 50% no-repeat
        background-size cover

        & a
            display block
            width inherit
            height inherit

    &__secondary
        //

        & nav
            //

        & a
            font 700 _d( 1.3rem )/1.2 $raleway

    &__tertiary
        width _d( 28rem )

        & nav
            flex-center()

            & a:first-child
                font 700 _d( 1.6rem )/1.2 $ptsans

            & a:last-child
                font 700 _d( 1.3rem )/1.2 $raleway
