mixin block-topheader(data)
    section.topheader
        .center
            .topheader__primary
                a( href='/' )
            .topheader__secondary
                nav
                    a( href='#invite' ) получить приглашение
                    a( href='#calculator' ) калькулятор стоимости
                    a( href='#review' ) отзывы
            .topheader__tertiary
                nav
                    a( href='tel:+78003330872' ) 8 800 333-08-72
                    a( href='#' ) вход
