.heading-oneside
    display: flex
    justify-content: center
    margin: 0 0 4rem

    & > h2
        text-transform: uppercase
        font: 2rem/1.2 $amsdam-regular
        color: $color-grey
        letter-spacing: .2rem
        padding: 0 2rem 2.4rem
        background: url('%=static=%assets/module-heading-oneside/underline-pattern-black.png') 0 100% repeat-x
        // background: url('%=static=%assets/module-heading-oneside/underline-pattern-white.png') 0 100% repeat-x
        // color: $color-white
