.about
    padding: 6rem 0
    background-color: $color-grey-pale

    // ABOUT CENTER
    // -------------------------------------------

    & .center
        flex-direction: column
        align-items: center

    // ABOUT PRIMARY
    // -------------------------------------------

    &__primary
        display: flex
        width: 100%
        background-color: $color-white

    // ABOUT CONTENT
    // -------------------------------------------

    &__content
        background-color: $color-white
        padding: 6rem 7rem 12rem

        & p
            font-size: 1.4rem
            line-height: 2

    // ABOUT CONTROLS
    // -------------------------------------------

    &__controls
        margin: 4rem 0 0 0
        display: flex
        justify-content: center

        & .button
            margin: 0 1rem

            &:first-child
                background-color: $color-grey
                color: $color-white

    // ABOUT SECONDARY
    // -------------------------------------------

    &__secondary
        display: flex
        width: 100%
        padding: 3rem 0 0 0

    // ABOUT ITEM
    // -------------------------------------------

    &__item
        lost-column 1/4
        lost-column-gutter 0
        display: flex
        flex-direction: column
        align-items: center
        padding: .2rem 0
        color: $color-grey

        &:nth-child( -n+3 )
            border-right: .1rem solid $color-grey-smooth

    // ABOUT THUMB
    // -------------------------------------------

    &__thumb
        width: 4rem
        height: 4rem
        margin: 0 0 2rem

        & .about-icon
            width: 4rem
            height: 4rem
            fill: $color-grey

    // ABOUT CAPTION
    // -------------------------------------------

    &__caption
        font: 1.3rem/1.4 $montserrat-regular
        margin: 0 0 3rem
        text-align: center
        text-transform: uppercase

    // ABOUT COUNT
    // -------------------------------------------

    &__count
        font: 4rem/1.2 $montserrat-regular




























