// Common styles of the project

*, *::after, *::before
    box-sizing: border-box

html, body
    height 100%

html
    font-size: 62.5%

.page
    font-size: 1.6rem
    line-height: 1

.page__wrapper
    min-height 100%
    margin-bottom -50px

#blog .block-heading
    background: url("%=static=%assets/block-heading/blog-head-bg.jpg") 0 0 no-repeat
    background-size: cover

#blog-sidebar .block-heading
    background: url("%=static=%assets/block-heading/blog-sidebar-bg.jpg") 0 0 no-repeat
    background-size: cover

#post-sidebar .block-heading
    background: url("%=static=%assets/block-heading/post-head-bg.jpg") 0 0 no-repeat
    background-size: cover


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
