// File for less-vars.
// For example: main colors, paddings and so on.

// DIMENTIONS
$width = 1200px;

// COLORS
$color-white = #fff
$color-black = #000

// fonts
$montserrat-bold = 'montserratbold', sans-serif
$montserrat-regular = 'montserratregular', sans-serif
$crimson_text-roman = 'crimson_textroman', sans-serif
$crimson_text-italic = 'crimson_textitalic', sans-serif
$amsdam-regular = 'amsdamregular', sans-serif