
// COLOR VARIABLES
// ----------------------------------------
$color-primary: #242424;
$color-secondary: #90d23d;

$color-white: #fff;
$color-black: #000;
//$color-dark: #4a454b;

// FONT VARIABLES
// ----------------------------------------
$base-font-family: $font-primary;
$base-font-size: 1.6rem;
$base-font-color: $color-white;
$base-font-weight: 400;
$base-line-height: 1.5;


// DIMENTIONS
// ---------------------------------------
$padding: 3rem;

