
// COLOR VARIABLES
// ----------------------------------------

$color-white: #fff;

$color-golden-light: #ffd23f;
$color-golden-medium: #c4a96b;
$color-golden-dark: #dcb489;

$color-black-light: #808080;
$color-black-medium: #1e1e1e;
$color-black-dark: #000;

$color-blue: #0095da;


// FONT VARIABLES
// ----------------------------------------
$base-font-family: $font-primary;
$base-font-size: 1.6rem;
$base-font-color: $color-white;
$base-font-weight: 400;
$base-line-height: 1.5;


// DIMENTIONS
// ---------------------------------------
$padding: 3rem;

