mixin card()
	blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
	.card
		.card__left
			figure.card__image: img(src="assets/images/card-image.jpg", alt="Card Image")
		.card__right
			a.card__link(href="#{jv0}") &commat;Someone famous
			p.card__name Someone famous
