@font-face {
    font-family: 'lorabold';
    src: url('../fonts/lora-bold.woff2') format('woff2'),
    url('../fonts/lora-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loraitalic';
    src: url('../fonts/lora-italic.woff2') format('woff2'),
    url('../fonts/lora-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora-regular.woff2') format('woff2'),
    url('../fonts/lora-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold.woff2') format('woff2'),
    url('../fonts/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light.woff2') format('woff2'),
    url('../fonts/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular.woff2') format('woff2'),
    url('../fonts/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
