// File for less-vars.
// For example: main colors, paddings and so on.

// DIMENTIONS
// ------------------------------------------------
$gutter = 15px
$width = 1600px



// COLORS
// ------------------------------------------------
$black-color = #241c18
$white-color = #fff
$brown-dark-color = rgb(131, 107, 96)

// FONTS
// ------------------------------------------------
$lora-bold = 'lorabold', sans-serif
$lora-italic = 'loraitalic', sans-serif
$lora-regular = 'loraregular', sans-serif

$oswald-bold = 'oswaldbold', sans-serif
$oswald-light = 'oswaldlight', sans-serif
$oswald-regular = 'oswald_regularregular', sans-serif
