.services
    padding: 7rem 0
    background: url('%=static=%assets/services/services-bg.jpg') 50% 50% no-repeat
    background-size: cover

    &__center
        lost-center $width
        padding: 0 $gutter

        & .heading__title
            color: $color-white
            padding: 2.6rem 2rem

            &::before
            &::after
                background: url('%=static=%assets/services/underline-pattern.png') 0 0 repeat-x

            &::before
                content: ''
                display: block
                height: 5px
                width: 100%
                position: absolute
                left: 0
                top: 0

        & .heading__subtitle
            color: #cfcfcf

    &__content
        lost-column 100%

    &__item
        lost-column 1/4
        padding 4rem 3.4rem 6rem
        border-width: 0 .1rem .1rem .1rem
        border-color: transparent #898989 #898989 #898989
        border-style: none solid solid solid
        text-align: center
        color: #898989
        position: relative

        &::before
        &::after
            content: ''
            display: block
            height: .1rem
            width: 40%
            background-color: #898989
            position: absolute
            top: 0

        &::before
            left: 0

        &::after
            right: 0

        & p
            margin: 0
            font: 400 1.4rem / 1.5 $crimson_text-roman

        @media screen and (max-width: $bp980)
            lost-column 1/2
            lost-column-gutter $gutter2
            lost-column-cycle 2

        &:nth-child(-n+2)
            margin-bottom: $gutter2

        @media screen and (max-width: $bp600)
            lost-column 1/1
            lost-column-cycle 0

        &:nth-child(-n+4)
            margin-bottom: $gutter2

    &__icon
        min-height: 2.5rem
        position: absolute
        top: -1rem
        left: 50%
        transform: translateX(-50%);
        padding: 0 2rem

    &__heading
        text-transform: uppercase
        font: 400 1.3rem / 1.6 $montserrat-regular
        text-align: center
        margin: 0 0 3rem
