include ../block-post/block-post
include ../block-socials/block-socials
include ../block-comments/block-comments
include ../block-submit/block-submit

mixin post-wrapper-main(data)
    .post-wrapper-main
        +block-post('%=static=%img/assets/post-wrapper-main/post-image-01.jpg')
        +block-socials()
        +block-comments()
        +block-submit()
