mixin service-gallery()
	.service-gallery
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="cogs" xlink:href="/assets/images/icon.svg#icon_cogs")
			h4.service-gallery__title easy theme setup
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sunt, aperiam! Provident totam sed aperiam aliquam. Dignissimos odio mollitia rem.
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="pencil" xlink:href="/assets/images/icon.svg#icon_pencil")
			h4.service-gallery__title pixel perfect design
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima repellendus iusto, tempora vel quam molestias nemo itaque possimus pariatur facere.
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="mobile" xlink:href="/assets/images/icon.svg#icon_mobile")
			h4.service-gallery__title responsive display
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, deserunt quaerat quia voluptatem placeat odio in tempore explicabo. At, perferendis.
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="clock" xlink:href="/assets/images/icon.svg#icon_clock")
			h4.service-gallery__title 24/7 support
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic delectus possimus maiores nulla deserunt dolor facilis architecto magni non eius.
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="cogs" xlink:href="/assets/images/icon.svg#icon_cogs")
			h4.service-gallery__title easy theme setup
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aut, corporis et minima similique quaerat eaque nulla modi laudantium cumque!
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="pencil" xlink:href="/assets/images/icon.svg#icon_pencil")
			h4.service-gallery__title pixel perfect design
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem facere iste accusamus eos sequi repellat, voluptatum aliquam ipsum placeat eveniet!
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="mobile" xlink:href="/assets/images/icon.svg#icon_mobile")
			h4.service-gallery__title responsive display
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus itaque totam quaerat? Quo repellendus, fugiat, vel dolore consequatur eius.
		.service-gallery__item
			svg(class="icon" role="img")
				use(id="clock" xlink:href="/assets/images/icon.svg#icon_clock")
			h4.service-gallery__title 24/7 support
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi modi architecto, eos aspernatur repudiandae ipsa doloribus atque voluptas fugiat facilis.
