mixin block-citation(data)
    .citation
        .citation__center
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        header.citation__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'citation-icon', className: 'citation__icon'})
                        main.citation__main Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
                        footer.citation__footer Rudhi Sasmito - CEO Company
                    .swiper-slide
                        header.citation__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'citation-icon', className: 'citation__icon'})
                        main.citation__main Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
                        footer.citation__footer Rudhi Sasmito - CEO Company
                    .swiper-slide
                        header.citation__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'citation-icon', className: 'citation__icon'})
                        main.citation__main Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
                        footer.citation__footer Rudhi Sasmito - CEO Company
                .swiper-pagination
