include ../heading/heading
mixin team(data)
    .team
        .team__center
            +heading('our team')
            .team__gallery
                .team__item
                    img(src='%=static=%img/assets/team/team-gallery-item-01.jpg' alt='Team Image')
                    .team__cover
                        .team__data
                            .team__headling
                                h4.team__name john roderick
                                p.team__occupation designer
                            nav.team__socials
                                a(href="javascript:void();" title='Facebook')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-facebook', className: 'team-icon'})
                                a(href="javascript:void();" title='Twitter')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-twitter', className: 'team-icon'})
                                a(href="javascript:void();" title='Behance')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-behance', className: 'team-icon'})

                .team__item
                    img(src='%=static=%img/assets/team/team-gallery-item-02.jpg' alt='Team Image')
                    .team__cover
                        .team__data
                            .team__headling
                                h4.team__name julia smith
                                p.team__occupation designer
                            nav.team__socials
                                a(href="javascript:void();" title='Facebook')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-facebook', className: 'team-icon'})
                                a(href="javascript:void();" title='Twitter')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-twitter', className: 'team-icon'})
                                a(href="javascript:void();" title='Behance')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-behance', className: 'team-icon'})
                .team__item
                    img(src='%=static=%img/assets/team/team-gallery-item-03.jpg' alt='Team Image')
                    .team__cover
                        .team__data
                            .team__headling
                                h4.team__name omelia swansson
                                p.team__occupation designer
                            nav.team__socials
                                a(href="javascript:void();" title='Facebook')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-facebook', className: 'team-icon'})
                                a(href="javascript:void();" title='Twitter')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-twitter', className: 'team-icon'})
                                a(href="javascript:void();" title='Behance')
                                    != jadeHelpers.Icon.call(locals, {iconName: 'team-behance', className: 'team-icon'})
