// SECTION-QUINARY
// ----------------------------------------
.section-quinary
    lost-center 100% flex
    padding 4rem 2rem

    // SECTION-QUINARY PRIMARY
    // ----------------------------------------
    &__primary
        lost-column 1/2
        lost-column-gutter 0

    // SECTION-QUINARY SECONDARY
    // ----------------------------------------
    &__secondary
        lost-column 1/2
        lost-column-gutter 0

    // SECTION-QUINARY BUTTON
    // ----------------------------------------
    &__button
        //

    // SECTION-QUINARY REMARK
    // ----------------------------------------
    &__remark
        //
