mixin block-form-section-quinary()
    section.section-quinary
        .section-quinary__primary
            button.section-quinary__button( type='button' ) отправить форму
        .section-quinary__secondary
            p.section-quinary__remark
                | — обязательные для заполнения поля
