mixin block-intro()
    .intro
        .intro__primary
            .center
                h2.intro__title
                    | Все просто как раз-два-три ...
                ul.intro__list
                    li.intro__item
                        p
                            | Сделайте заказ, укажите, где и когда забрать ваши вещи
                    li.intro__item
                        p
                            | Отдайте вещи помощнику, который приедет к вам
                    li.intro__item
                        p
                            | Занимайтесь любимыми делами, помощник заберет и доставит вещи
        .intro__secondary
            .center
