.button
	display inline-block
	vertical-align middle
	padding 1.7rem 3.2rem
	border .2rem solid $color-white
	border-radius .3rem
	color $color-white
	text-transform uppercase
	font-family $quattro-bold
	font-size .875rem
	transition background-color .2s, border-color .2s

	&:hover
	&:active
		background-color $color-blue
		border-color $color-blue
