.purchase
    background-color: #2d2d2f
    padding: 4rem 0

    // PURCHASE PRIMARY
    // ---------------------------------

    &__primary
        //

    // PURCHASE SECONDARY
    // ---------------------------------

    &__secondary
        //

        & .button
            border-color: $color-grey-pale
            color: $color-grey-pale
