// ADVANTAGE
// -------------------------------------
.advantage
    padding 8rem 0 12rem
    background-color $color-grey

    // ADVANTAGE CENTER
    // -------------------------------------
    & > .center
        //

    // ADVANTAGE HEADER
    // -------------------------------------
    &__header
        text-align center
        margin 0 0 8rem

    // ADVANTAGE THUMB
    // -----------------------------------------
    &__thumb
        size( 14rem )

    // ADVANTAGE CONTENT
    // -------------------------------------
    &__content
        margin 3rem 0 0 0
        text-align center

        & p
            font 400 1.8rem/1.2 $ptsans
            color $color-black--light

    // ADVANTAGE TITLE
    // --------------------------------------
    &__title
        font 400 4rem/1.2 $raleway
        color $color-black--light

    // ADVANTAGE SUBTITLE
    // ---------------------------------
    &__subtitle
        font 700 2.4rem/1.2 $raleway
        color $color-black--light
        margin 0 0 2rem

    // ADVANTAGE LIST
    // ------------------------------------
    &__list
        display flex
        justify-content center
        flex-wrap wrap

    // ADVANTAGE ITEM
    // -------------------------------------
    &__item
        flex 0 1 calc( 100% / 3 )
        display flex
        flex-direction column
        align-items center
        padding 4rem

        &:nth-child(1) .advantage__thumb
            background url( '%=static=%assets/block-intro/advantage-icon-01.png' ) 50% 50% no-repeat
            background-size cover

        &:nth-child(2) .advantage__thumb
            background url( '%=static=%assets/block-intro/advantage-icon-02.png' ) 50% 50% no-repeat
            background-size cover

        &:nth-child(3) .advantage__thumb
            background url( '%=static=%assets/block-intro/advantage-icon-03.png' ) 50% 50% no-repeat
            background-size cover

        &:nth-child(4) .advantage__thumb
            background url( '%=static=%assets/block-intro/advantage-icon-04.png' ) 50% 50% no-repeat
            background-size cover

        &:nth-child(5) .advantage__thumb
            background url( '%=static=%assets/block-intro/advantage-icon-05.png' ) 50% 50% no-repeat
            background-size cover
