mixin module-heading-navigation( primo, secondo, tetro )
    section.heading-navigation
        h2= primo
        ul
            li: a( href='#{js}' )= secondo
            li: a( href='#{js}' )= tetro
