mixin module-heading-navigation( primo, secondo, tetro )
    section.heading-navigation
        h2= primo
        ul
            li
                a( href='#0' )= secondo
            li
                a( href='#0' )= tetro
