.pagination
    display: flex
    justify-content: center
    align-items: center

    &__link
        display: flex
        justify-content: center
        align-items: center
        width: 4rem
        height: 4rem
        margin: 0 .5rem
        border: .1rem solid $color-grey
        font: 400 1.4rem/1 $crimson_text-italic
        color: $color-grey
        text-decoration: none
        transition: background-color .2s, color .2s
        position: relative

        &:last-child::after
            content: '>'
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

        &:hover
        &:focus
            background-color: $color-grey
            color: $color-white
