mixin block-pagination(data)
    nav.pagination
        a.pagination__link(href="javascript:void();") 1
        a.pagination__link(href="javascript:void();") 2
        a.pagination__link(href="javascript:void();") 3
        a.pagination__link(href="javascript:void();")
