mixin topheader__menu()
	nav.topheader__menu
		a.topheader__link( href='#home' ) home
		a.topheader__link( href='#about' ) about
		a.topheader__link( href='#team' ) team
		a.topheader__link( href='#work' ) work
		a.topheader__link( href='#services' ) services
		a.topheader__link( href='#features' ) features
		a.topheader__link( href='#contact' ) contact
