mixin services()
	+b.services
		.services__center
			.heading
				.heading__left
					h2.heading__title our <span>services</span>
					small.heading__subtitle what we do with love
				.heading__right
					p.heading__text Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
			.features
				.features__item
					.features__icon
					.features__content
						h3.features__title brand identity
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.features__item
					.features__icon
					.features__content
						h3.features__title UI/UX design
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.features__item
					.features__icon
					.features__content
						h3.features__title graphic design
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.features__item
					.features__icon
					.features__content
						h3.features__title mobile application
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.features__item
					.features__icon
					.features__content
						h3.features__title illustration
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				.features__item
					.features__icon
					.features__content
						h3.features__title videography
						p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
