.footer
    padding: 6rem 0
    background-color: rgb(146, 126, 116)

    &__center
        lost-center $width
        padding: 0 $gutter
        text-align: center

    &__title
        text-transform: uppercase
        font: 8rem/1 $oswald-bold
        color: #241b17
        margin: 0 0 2rem

    &__phone
        text-decoration: none
        text-transform: uppercase
        color: #e4dddb
        font: 7rem/1 $oswald-bold
        padding: 0 7rem 3rem

    &__subscribe
        background-color: #241c18

    &__bar
        display: flex
        justify-content: space-between
        font: 1.8rem/1 $lora-bold
        color: #e4dddb
        text-transform: uppercase

    &__copyright
        margin: 0

    &__nav
        display: flex

        & li
            padding: 0 2rem

        & a
            text-decoration: none
            color: #e4dddb
