mixin footer(data)
    footer.footer
        .footer__center
            h1.footer__title contact
            a.footer__phone(href="+482025550114") +48 202 - 555 - 0114
            form.subscribe(action="action.php" method="post")
                label.subscribe__label subscribe
                input.subscribe__search(type="text" name="search" id="search")
            ul.socials
                li.socials__item.facebook: a(href="javascript:void();")
                li.socials__item.youtube: a(href="javascript:void();")
            ul.footer__bar
                p.footer__copyright copyright 2015 &copy; by the band
                ul.footer__nav
                    li: a(href="javascript:void();") home
                    li: a(href="javascript:void();") about
                    li: a(href="javascript:void();") music
                    li: a(href="javascript:void();") tours
                    li: a(href="javascript:void();") contact
