
    // PAGE-BLOG HEADER
    // ------------------------------------------------

    .page-blog__header .header-hero
        background: url( '%=static=%assets/block-hero/block-hero-bg-01.jpg' ) 0 0 no-repeat
        background-size cover

    // PAGE-BLOG MAIN
    // ------------------------------------------------

    .page-blog__main
        background-color $color-grey-pale
        padding 8rem 0

        & .center
            flex-direction row
            align-items stretch
            flex-wrap nowrap

        // PAGE-BLOG GRID
        // ------------------------------------------------

        & .blog-grid
            width: 100%
            clearfix()

        // PAGE-BLOG GRID SIZER && ITEM
        // ------------------------------------------

        & .blog-grid__sizer
        & .blog-grid__item
            width calc( 100% / 3 )

            @media screen and ( max-width $bp980 )
                width calc( 100% / 2 )

            @media screen and ( max-width $bp768 )
                width 100%

        & .blog-grid__item
            float left
            background-color $color-grey-pale
            padding 1.5rem
