include ../heading/heading

mixin crew(data)
    .crew
        .crew__center
            .crew__header
                +heading('the crew')

            ul.gallery

                li.gallery__item
                    .gallery__item-cover
                        h3 peter finlan
                        p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.
                        ul
                            li: a(href="javascript:void();" title="Twitter")
                                != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'gallery-icon'})
                            li: a(href="javascript:void();" title="LinkedIn")
                                != jadeHelpers.Icon.call(locals, {iconName: 'linkedin', className: 'gallery-icon'})

                li.gallery__item
                    .gallery__item-cover
                        h3 blaz robar
                        p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.
                        ul
                            li: a(href="javascript:void();" title="Twitter")
                                != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'gallery-icon'})
                            li: a(href="javascript:void();" title="LinkedIn")
                                != jadeHelpers.Icon.call(locals, {iconName: 'linkedin', className: 'gallery-icon'})

                li.gallery__item
                    .gallery__item-cover
                        h3 mary luo
                        p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.
                        ul
                            li: a(href="javascript:void();" title="Twitter")
                                != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'gallery-icon'})
                            li: a(href="javascript:void();" title="LinkedIn")
                                != jadeHelpers.Icon.call(locals, {iconName: 'linkedin', className: 'gallery-icon'})

                li.gallery__item
                    .gallery__item-cover
                        h3 crew dude
                        p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.
                        ul
                            li: a(href="javascript:void();" title="Twitter")
                                != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'gallery-icon'})
                            li: a(href="javascript:void();" title="LinkedIn")
                                != jadeHelpers.Icon.call(locals, {iconName: 'linkedin', className: 'gallery-icon'})

            ul.skills
                li.skills__column
                    .skills__item.skills__item-design
                        .skills__meta
                            h3.skills__title experience design
                            span.skills__value 90
                        .skills__bar
                            .skills__bar-value(data-value="90")
                    .skills__item.skills__item-html
                        .skills__meta
                            h3.skills__title html5/css3
                            span.skills__value 95
                        .skills__bar
                            .skills__bar-value(data-value="95")
                li.skills__column
                    .skills__item.skills__item-prototyping
                        .skills__meta
                            h3.skills__title interactive prototyping
                            span.skills__value 80
                        .skills__bar
                            .skills__bar-value(data-value="80")
                    .skills__item.skills__item-visual
                        .skills__meta
                            h3.skills__title visual design
                            span.skills__value 85
                        .skills__bar
                            .skills__bar-value(data-value="85")



































