include ../heading/heading

mixin crew(data)
    .crew
        .crew__center
            +heading('the crew')
            ul.crew__team
                li
                li
                li
                li
