include ../heading/heading

mixin blog(data)
    .blog#blog
        .blog__center
            +heading('blog')
        .grid
            .grid__item
            .grid__item
                .grid__meta
                    .grid__date
                        a(href="#") 14 aug 2015
                    .grid__author
                        a(href="#") by admin
                h2.grid__title donec id lobortis tellus maecenas
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .grid__item
            .grid__item
                .grid__meta
                    .grid__date
                        a(href="#") 14 aug 2015
                    .grid__author
                        a(href="#") by admin
                h2.grid__title donec id lobortis tellus maecenas
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .grid__item
                .grid__meta
                    .grid__date
                        a(href="#") 14 aug 2015
                    .grid__author
                        a(href="#") by admin
                h2.grid__title donec id lobortis tellus maecenas
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .grid__item
            .grid__item
                .grid__meta
                    .grid__date
                        a(href="#") 14 aug 2015
                    .grid__author
                        a(href="#") by admin
                h2.grid__title donec id lobortis tellus maecenas
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .grid__item
