.blog
    padding: 8rem 0 0
    background-color: #e3e3e3

    &__center
        lost-center $width
        padding: 0 $gutter

    $ .gallery
          lost-utility: clearfix

    & .gallery__item
        float: left
        width: 25%


        & img
            display: block
            width: 100%
            height: auto

        &:nth-child(2n)
            background-color: #424242
