include ../heading/heading

mixin blog(data)
    .blog
        .blog__center
            +heading('blog')
        .gallery
            .gallery__item
                img(src="%=static=%img/assets/blog/blog-image-01.jpg" alt="Blog Image")
            .gallery__item
                h3.gallery__title donec id lobortis tellus maecenas
            .gallery__item
                img(src="%=static=%img/assets/blog/blog-image-02.jpg" alt="Blog Image")
            .gallery__item
            .gallery__item
                img(src="%=static=%img/assets/blog/blog-image-03.jpg" alt="Blog Image")
            .gallery__item
            .gallery__item
                img(src="%=static=%img/assets/blog/blog-image-04.jpg" alt="Blog Image")
            .gallery__item
