include ../heading/heading

mixin blog(data)
    .blog
        .blog__center
            +heading('blog')
        .blog__gallery
            .blog__row
                .blog__item
                    .blog__thumb
                        img(src="%=static=%img/assets/blog/blog-image-01.jpg" alt="Blog Image")
                    .blog__content
                        .blog__meta
                            span.blog__date
                                a(href="#") 14 aug 2015
                            span.blog__author by
                                a(href="#") admin
                        h3.blog__heading
                            a(href="#") donec id lobortis tellus maecenas
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .blog__item
                    .blog__thumb
                        img(src="%=static=%img/assets/blog/blog-image-02.jpg" alt="Blog Image")
                    .blog__content
            .blog__row
                .blog__item
                    .blog__content
                    .blog__thumb
                        img(src="%=static=%img/assets/blog/blog-image-03.jpg" alt="Blog Image")
                .blog__item
                    .blog__content
                    .blog__thumb
                        img(src="%=static=%img/assets/blog/blog-image-04.jpg" alt="Blog Image")
