doctype html
html(class='no-js', lang='ru')

    include ../components/head/head
    include ../components/block-topheader/block-topheader
    include ../components/block-header/block-header
    include ../components/block-about/block-about
    include ../components/block-services/block-services
    include ../components/block-history/block-history
    include ../components/block-team/block-team
    include ../components/block-portfolio/block-portfolio
    include ../components/block-prices/block-prices
    include ../components/block-purchase/block-purchase
    include ../components/block-blog/block-blog
    include ../components/block-clients/block-clients
    include ../components/block-testimonials/block-testimonials
    include ../components/block-map/block-map
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page#page-index
        |%=symbols=%

        +block-topheader()

        section.page__wrapper

            +block-header()
            +block-about()
            +block-services()
            +block-history()
            +block-team()
            +block-portfolio()
            +block-prices()
            +block-purchase()
            +block-blog()
            +block-clients()
            +block-testimonials()
            +block-map()

            .page__buffer

        .page__footer
            +footer()

        script( src='%=static=%js/separate-js/svg4everybody.min.js' )
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script( src='%=static=%js/main%=hash=%%=min=%.js' )
