doctype html
html( class='no-js' lang='ru' )

    include ../components/head/head
    include ../components/block-topheader/block-topheader
    include ../components/page-post-sidebar/page-post-sidebar
    include ../components/footer/footer

    head
        +head(head.postSidebar)
        
    body.page#post-sidebar
        
        |%=symbols=%
        +block-topheader()
        
        section.page__wrapper

            +page-post-sidebar()

            section.page__buffer

        section.page__footer
            +footer()

        script( src='%=static=%js/separate-js/svg4everybody.min.js' )
        script svg4everybody();

        script( src='%=static=%js/main%=hash=%%=min=%.js' )
