include ../block-heading/block-heading

mixin block-features(data)
    section.block-features
        .center
            .block-features__header
                +block-heading()
            .block-features__main
