
// WORK
// -----------------------------------------
.work
	padding 8rem 0 6rem
	background-color #3a454d

	// WORK CENTER
	// -----------------------------------------
	&__center
		lost-center $width
		padding 0 1rem

	// WORK TITLE
	// -----------------------------------------
	& .title span
		color $color-white
