include ../header-main/header-main
include ../header-menu/header-menu
include ../header-cart/header-cart

mixin header(data)
    .header
        +header-menu()
        +header-main()
        +header-cart()
