include ../blog-meta/blog-meta
include ../blog-links/blog-links
include ../read-more/read-more

mixin blog-thumb(title, imagePath)
    .thumb
        .thumb__image
            img(src= imagePath alt="Blog Image")
        h3.thumb__title= title
        +blog-meta('admin', '07 october 2015')
        +blog-links()
        p Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
        +read-more('read more')

