// INFO
// ------------------------------------
.info
    width 100%
    border-top .1rem solid rgba( $color-white, .2 )
    padding 2rem 0

    // INFO CENTER
    // ------------------------------------
    & > .center
        display flex

    // INFO PRIMARY
    // ------------------------------------
    &__primary
        display flex
        flex 0 1 50%
        padding 0 6rem 0 0

    // INFO ITEM
    // ------------------------------------
    &__item
        flex 0 1 50%
        padding 0 0 0 6rem
        position relative

        &::before
            content ''
            display block
            position absolute
            top 0
            left 0
            bg($icon-block-info)

        & p
            font 400 1.6rem/1.2 $ptsans
            color $color-white

    // INFO TITLE
    // ------------------------------------
    &__title
        text-transform uppercase
        padding 1rem 0 0 0
        margin 0 0 1.4rem
        font 900 1.5rem/1.2 $raleway
        color $color-orange

    // INFO SECONDARY
    // ------------------------------------
    &__secondary
        display flex
        align-items center
        flex 0 1 50%
        // padding 0 0 0 6rem
