include ../module-invite/module-invite

mixin block-info()
    section.info
        .center
            .info__primary
                .info__item
                    h4.info__title
                        | экспресс-чистка
                    p
                        | Вернем чистые и поглаженные вещи через 24 часа
                .info__item
                    h4.info__title
                        | работаем 24/7
                    p
                        | Принимаем и доставляем заказы круглосуточно
            .info__secondary
                +module-invite()
