include ../button/button

mixin latest(data)
  .latest
    .latest__center
      .latest__icon
        != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'latest-twitter'})
      h4.latest__title latest from twitter
      p.latest__subtitle Facilisis sed lobortis id just Donec ollicitudin facil isis nulla.  Donec eget ligula. Cum sociis natoque penatibus et magnisn part dil urient. Suspendisse ullamcorper ornare. Etiam gravida. Morbi nec nulla. <a href='#'>http://to.ca/KsdL49HSfge</a>
      +button('follow me')