.latest
  background: url('%=static=%assets/latest/latest-bg.jpg') center center no-repeat

  &__center
    height: 600px
    lost-center $width
    padding: 0 1rem
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    color: $color-white

  &__icon
    display: flex
    justify-content: center
    align-items: center
    size(9rem)
    border: .2rem solid $color-white
    margin: 0 0 6rem 0
    transform: rotate(-45deg)

    & > .latest-twitter
      transform: rotate(45deg)
      width: 3rem
      height: 3rem

  &__title
    font: 400 1.4rem/1.2 $varela-regular
    text-transform: uppercase
    padding-bottom: 3rem
    position: relative
    margin: 0 0 5rem 0

    &::after
      content: ''
      display: block
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0
      width: 4rem
      height: .1rem
      background-color: #bbb

  &__subtitle
    font: 300 1.5rem/1.8 $opensans-light
    margin: 0 0 8rem 0
    padding: 0 1rem
    max-width: 80rem

    & a
      text-decoration: none
      color: $color-blue

      &:hover
      &:focus
        text-decoration: underline

