include ../block-sidebar-head/block-sidebar-head
include ../block-sidebar-content/block-sidebar-content

mixin block-sidebar(data)
    .block-sidebar
        +block-sidebar-head()
        +block-sidebar-content()
