// FOOTER
// -------------------------------
.footer
    padding 2.4rem
    height 6.8rem
    background $color-wooder-black url( '%=static=%assets/footer/footer-bg.jpg' ) no-repeat
    background-size cover

    // FOOTER CENTER
    // ----------------------------------
    & > .center
        display flex
        justify-content space-between
        align-items center

    // FOOTER PRIMARY
    // ----------------------------------
    &__primary
        text-transform uppercase
        color $color-wooder-grey
        font-size 1.5rem

    // FOOTER SECONDARY
    // ---------------------------------
    &__secondary
        width 17.3rem
        height 2rem
        background $color-wooder-black url( '%=static=%assets/footer/footer-logo.png' ) no-repeat
        background-size cover

    // FOOTER TERTIARY
    // ----------------------------------
    &__tertiary
        color $color-wooder-grey
        font-size 1.5rem

    &__author
        color $color-wooder-grey-light
        text-decoration none
        text-transform capitalize
