mixin footer()
    footer.footer
        .center
            .footer__primary
                p
                    | &copy; 2016 wooder
            .footer__secondary
            .footer__tertiary
                | Designed by <a class='footer__author' href='#0'>viacheslav olianishyn</a>
