include ../blog-thumb/blog-thumb

mixin blog-content(data)
    .blog-content
        .blog-content__grid
            .blog-content__sizer
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-01.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-02.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-03.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-04.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-05.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-06.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-07.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-08.jpg')
            .blog-content__item
                +blog-thumb('Donec id lobortis tellus. Maecenas vel dignissim','%=static=%img/assets/blog-content/blog-image-09.jpg')
