include ../block-heading/block-heading

mixin block-services(data)
    section.block-services
        .center
            .block-services__header
                +block-heading()
            .block-services__main
