mixin sidebar(data)
    aside#sidebar.sidebar-panel

        header.sidebar-header
            .sidebar-search
                != jadeHelpers.Icon.call(locals, {iconName: 'search', className: 'sidebar-icon'})
            form.sidebar-form(action="action.php" method="post")
                input(type="text" id="sidebar-input" name="sidebar-input" placeholder="start search here" required)
            .sidebar-close
                != jadeHelpers.Icon.call(locals, {iconName: 'switch', className: 'sidebar-icon'})


        .sidebar-content

            ul.sidebar-menu.sidebar-menu--primary
                li.sidebar-menu__item
                    a(href='javascript:void(0);') furniture
                li.sidebar-menu__item
                    a(href='javascript:void(0);') decoration
                li.sidebar-menu__item
                    a(href='javascript:void(0);') lighting
                li.sidebar-menu__item
                    a(href='javascript:void(0);') electronics

            ul.sidebar-menu.sidebar-menu--secondary
                li.sidebar-menu__item
                    a(href='javascript:void(0);') about us
                li.sidebar-menu__item
                    a(href='javascript:void(0);') contact us
                li.sidebar-menu__item
                    a(href='javascript:void(0);') delivery
                li.sidebar-menu__item
                    a(href='javascript:void(0);') returns
