// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.link
    color $pink-color-pink

    &:hover
        text-decoration underline
        color $pink-color-dark

    &:focus
    &:active
        color rgba( $pink-color-dark, .3 )
