// MIXINS
// ----------------------------------------------------

// image adaptive -------------------------------
img-adaptive()

    & img
        display block
        max-width 100%
        height auto

// clearfix -------------------------------------
clearfix()
    &::before
    &::after
        content ''
        display table
    &::after
        clear both


// placeholder hide on focus ---------------------
[placeholder]:focus::placeholder
    color transparent


// size ------------------------------------------
size( $width, $height = $width )
    width $width
    height $height


// placeholder style -----------------------------
placeholder()
    &::-webkit-input-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
