// DIMENTIONS
// ----------------------------------
$width = 120rem
$gutter = 2rem

// COLORS
// ----------------------------------
$color-white = #fff
$color-black = #000
$pink-color-grey = #f2f2f2
$pink-color-dark = #283645
$pink-color-pink = #d22856
$pink-color-green = #3dc644
$pink-color-red = #f25b26
$pink-color-white = #fff
$pink-color-black = #000
$pink-color-green = #2aab6d

// MEDIA QUERIES
// -----------------------------------

$desktop = 1024px
$tablet = 768px
$mobile = 500px

$bp600 = 600px

// FONTS
// -----------------------------------
$open-sans--light = 'open_sanslight', sans-serif
$open-sans--regular = 'open_sansregular', sans-serif
$open-sans--semibold = 'open_sanssemibold', sans-serif
$open-sans--bold = 'open_sansbold', sans-serif
