// DIMENTIONS
// ----------------------------------
$width = 120rem
$gutter = 2rem

// COLORS
// ----------------------------------
$color-white = #fff
$color-black = #000
$pink-color-grey = #f2f2f2
$pink-color-dark = #283645

// MEDIA QUERIES
// -----------------------------------
$desktop = 1200px

$bp1000 = 1000px
$bp980 = 980px
$bp768 = 768px
$bp600 = 600px
$bp500 = 500px
$bp400 = 400px

// FONTS
// -----------------------------------
$open-sans--light = 'open_sanslight', sans-serif
$open-sans--regular = 'open_sansregular', sans-serif
$open-sans--semibold = 'open_sanssemibold', sans-serif
$open-sans--bold = 'open_sansbold', sans-serif
