// BLOCK-ANNOUNCE
// --------------------------------------------
.block-announce
    min-height 62rem
    padding 10rem 0 12rem
    background $help-color-grey-dark url( '%=static=%assets/block-announce/block-announce-bg.jpg' ) 0 0 no-repeat
    background-size cover

    // BLOCK-ANNOUNCE PRIMARY
    // --------------------------------------------
    &__primary
        lost-center 100% flex
        margin 0 0 6rem

        @media screen and ( max-width $mobile )
            flex-direction column

        // BLOCK-ANNOUNCE PRIMARY COLUMN FIRST
        // --------------------------------------------
        & .column-primary
            lost-column 2/12
            lost-column-gutter $gutter*2

            @media screen and ( max-width $desktop-x )
                display none

        // BLOCK-ANNOUNCE PRIMARY COLUMN SECOND
        // --------------------------------------------
        & .column-secondary
            lost-column 7/12
            lost-column-gutter $gutter*2

            @media screen and ( max-width $desktop-x )
                lost-column 7/12
                lost-column-gutter $gutter*2

            @media screen and ( max-width $mobile )
                lost-column 1/1
                lost-column-gutter 0
                margin-bottom 4rem

            & .block-announce__title
                font 400 4rem/1.4 $raleway
                color $help-color-white
                margin 0 0 2rem

            & p
                font 400 1.6rem/1.4 $ptsans
                color $help-color-white

        // BLOCK-ANNOUNCE PRIMARY COLUMN THIRD
        // --------------------------------------------
        & .column-tertiary
            lost-column 3/12
            lost-column-gutter $gutter*2

            @media screen and ( max-width $desktop-x )
                lost-column 5/12
                lost-column-gutter $gutter*2

            @media screen and ( max-width $mobile )
                lost-column 1/1
                lost-column-gutter 0

            // BLOCK-ANNOUNCE PRIMARY COLUMN FIRST PART
            // --------------------------------------------
            &__first
                margin 0 0 4rem

                & p
                    font 400 1.4rem/1.4 $ptsans
                    color $help-color-white

            // BLOCK-ANNOUNCE PRIMARY COLUMN SECOND PART
            // --------------------------------------------
            &__second
                display flex
                justify-content space-around

                @media screen and ( min-width $desktop-x )
                    display none

            // BLOCK-ANNOUNCE THUMB
            // --------------------------------------------
            & .block-announce__thumb
                display flex
                justify-content center
                align-items center
                size( 3.2rem )
                border-radius 50%
                border .1rem solid $help-color-yellow
                margin 0 0 2rem

                @media screen and ( max-width $mobile )
                    margin 0 auto 2rem

                // BLOCK-ANNOUNCE THUMB ICON
                // --------------------------------------------
                & .block-announce-icon
                    size( 1.6rem )
                    fill $help-color-yellow

    // BLOCK-ANNOUNCE SECONDARY
    // --------------------------------------------
    &__secondary
        lost-center 100% flex

        // BLOCK-ANNOUNCE SECONDARY COLUMN FIRST
        // --------------------------------------------
        & > .column-primary
            lost-column 2/12
            lost-column-gutter $gutter*2

            & .block-logo
                flex-direction row
                align-items center
                max-width 18rem

                & .block-logo__thumb
                    bg( $logo-large )

                & .block-logo__content
                    width calc( 100% - 8.7rem - 1rem )
                    margin 0 0 0 .6rem

            @media screen and ( max-width $desktop-x )
                display none

        // BLOCK-ANNOUNCE SECONDARY COLUMN SECOND
        // --------------------------------------------
        & > .column-secondary
            lost-column 10/12
            lost-column-gutter $gutter*2

            @media screen and ( max-width $desktop-x )
                lost-column 1/1
                lost-column-gutter 0
