// BLOCK-ANNOUNCE
// --------------------------------------------
.block-announce
    min-height 62rem
    padding 10rem 0 12rem
    background $help-color-grey-dark url( '%=static=%assets/block-announce/block-announce-bg.jpg' ) 0 0 no-repeat
    background-size cover

    // BLOCK-ANNOUNCE PRIMARY
    // --------------------------------------------
    &__primary
        lost-center 100% flex
        margin 0 0 6rem

        @media screen and ( max-width $mobile )
            flex-direction column

        // BLOCK-ANNOUNCE PRIMARY COLUMN FIRST
        // --------------------------------------------
        & .column-primary
            lost-column 3/12
            lost-column-gutter $gutter

            height 10rem
            background-color salmon

            @media screen and ( max-width $tablet )
                display none

        // BLOCK-ANNOUNCE PRIMARY COLUMN SECOND
        // --------------------------------------------
        & .column-secondary
            lost-column 7/12
            lost-column-gutter $gutter

            height 10rem
            background-color salmon

            @media screen and ( max-width $tablet )
                lost-column 4/6
                lost-column-gutter $gutter

            @media screen and ( max-width $mobile )
                lost-column 1/1
                lost-column-gutter 0
                margin-bottom 4rem

        // BLOCK-ANNOUNCE PRIMARY COLUMN THIRD
        // --------------------------------------------
        & .column-tertiary
            lost-column 2/12
            lost-column-gutter $gutter

            height 10rem
            background-color salmon

            @media screen and ( max-width $tablet )
                lost-column 2/6
                lost-column-gutter $gutter

            @media screen and ( max-width $mobile )
                lost-column 1/1
                lost-column-gutter 0

            &__first
                size( 100%, 3rem )
                background-color lightgreen
                // margin 0 0 6rem
                margin 0 0 1rem

            &__second
                display flex
                justify-content space-between
                size( 100%, 6rem )
                background-color cyan

                // @media screen and ( min-width $tablet )

                //     & .block-counter
                //     & .block-logo
                //         display none

    // BLOCK-ANNOUNCE SECONDARY
    // --------------------------------------------
    &__secondary
        lost-center 100% flex

        // BLOCK-ANNOUNCE SECONDARY COLUMN FIRST
        // --------------------------------------------
        & > .column-primary
            lost-column 3/12
            lost-column-gutter $gutter

            height 10rem
            background-color salmon

            @media screen and ( max-width $tablet )
                display none

        // BLOCK-ANNOUNCE SECONDARY COLUMN SECOND
        // --------------------------------------------
        & > .column-secondary
            lost-column 9/12
            lost-column-gutter $gutter

            height 10rem
            background-color salmon

            @media screen and ( max-width $tablet )
                lost-column 1/1
                lost-column-gutter 0
