.topheader__logo
	size(10rem, 2rem)
	background-position center center
	background-repeat no-repeat
	retinaBackground('modest-logo', $ext = 'png')
	// background url(../images/modest-logo.png) 50% 50% no-repeat
	background-size 99%

	& > a
		display block
		width inherit
		height inherit
		squish-text()
