mixin contact(data)
    .contact
        .contact__center
            h2.contact__title contact m<span>i</span>ke
            h3.contact__slogan lum elit sit amet est aenean dui
            h4.contact__subtitle send us your thoughts
            form.form
                fieldset.form__row
                    input(type='text' name='name' value='your name')
                    input(type='email' name='email' value='your email')
                    input(type='text' name='subject' value='subject')
                fieldset.form__row
                    textarea(name='message' value='message' placeholer='message')
                fieldset.form__row
                    button(type='submit') send message
