
.blog-sidebar
    //

    // BLOG SIDEBAR HEADER
    // ----------------------------------

    &__header .header-hero
        background: url( '%=static=%assets/block-hero/block-hero-bg-02.jpg' ) 50% 50% no-repeat
        background-size cover

    // BLOG SIDEBAR MAIN
    // ----------------------------------

    &__main
        background-color $color-grey-pale
        padding 8rem 0

    // BLOG SIDEBAR CENTER
    // ----------------------------------

    &__center
        lost-center $width flex
        padding: 0 $gutter


    // BLOG SIDEBAR PRIMARY
    // ----------------------------------

    &__primary
        lost-column 8/12
        lost-column-gutter $gutter*2


    // BLOG SIDEBAR SECONDARY
    // ----------------------------------

    &__secondary
        lost-column 4/12
        lost-column-gutter $gutter*2


    // BLOG SIDEBAR FORM
    // ----------------------------------

    &__form
        margin 0 0 4rem
