.badge
    width: 17.6rem
    height: 17.6rem
    border-radius: 50%
    background-color: $color-red
    display: flex
    justify-content: center
    align-items: center
    font: 3rem/1 $montserrat-bold
    text-transform: uppercase
    position: absolute
