mixin block-form-section-tertiary()
    section.section-tertiary
        span.section-tertiary__caption ваши безбашенные достижения в путешествии
        ul.section-tertiary__list
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='one' checked )
                label.section-tertiary__label( for='one' ) Сделал селфи с акулой
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='two' )
                label.section-tertiary__label( for='two' ) Видел Чака Норриса
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='three' checked )
                label.section-tertiary__label( for='three' ) Удержал башню
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='four' checked )
                label.section-tertiary__label( for='four' ) Обгорел на пляже
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='five' )
                label.section-tertiary__label( for='five' ) Накупил сувениров
            li.section-tertiary__item
                input.section-tertiary__input( type='checkbox' id='six' )
                label.section-tertiary__label( for='six' ) Разгромил отель
