// SECTION-TERTIARY
// -------------------------------------------
.section-tertiary
    lost-center 100% flex
    padding 4rem 2rem
    margin 0 0 6rem
    border .2rem solid $pink-color-grey-dark
    position relative

    // SECTION-TERTIARY CAPTION
    // -------------------------------------------
    &__caption
        position absolute
        top -1rem
        left 50%
        transform translateX( -50% )
        padding 0 2rem
        color $pink-color-pink
        font 1.4rem/1.2 $open-sans--regular
        text-transform uppercase
        background-color $pink-color-white
        white-space nowrap

    // SECTION-TERTIARY LIST
    // -------------------------------------------
    &__list
        display flex
        justify-content center
        flex-wrap wrap

        @media screen and ( max-width $tablet )
            flex-direction column

    // SECTION-TERTIARY ITEM
    // -------------------------------------------
    &__item
        display flex
        flex 0 1 30%
        align-items center
        height 4rem
        padding 0 0 0 6rem

        &:nth-child( -n + 3 )
            margin 0 0 4rem

        &:hover .section-tertiary__label::before
            border-color $pink-color-dark

        @media screen and ( max-width $tablet )
            &:nth-child( -n + 5 )
                margin 0 0 4rem

    // SECTION-TERTIARY INPUT
    // -------------------------------------------
    &__input
        position absolute
        clip rect( 0, 0, 0, 0 )

        &:checked + .section-tertiary__label::before
            background url( '%=static=%assets/block-pink-form/checked.png' ) 50% 50% no-repeat
            border-color $pink-color-pink

    // SECTION-TERTIARY LABEL
    // -------------------------------------------
    &__label
        font 1.8rem/1.2 $open-sans--regular
        cursor pointer
        position relative

        &::before
            content ''
            display block
            size( 4rem )
            border .2rem solid $pink-color-grey-dark
            position absolute
            left -6rem
            top 50%
            transform translateY( -50% )
            transition border-color .2s
