// SECTION-TERTIARY
// -------------------------------------------
.section-tertiary
    lost-center 100% flex
    padding 4rem 2rem
    margin 0 0 6rem
    border .2rem solid #e5e5e5
    position relative

    // SECTION-TERTIARY CAPTION
    // -------------------------------------------
    &__caption
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        padding 0 2rem

    // SECTION-TERTIARY LIST
    // -------------------------------------------
    &__list
        //

    // SECTION-TERTIARY ITEM
    // -------------------------------------------
    &__item
        //

    // SECTION-TERTIARY INPUT
    // -------------------------------------------
    &__input
        //

    // SECTION-TERTIARY LABEL
    // -------------------------------------------
    &__label
        //
