mixin main(data)
    main#main.main
        h2.title main content title
        article.main-article(data-rellax-speed="-4")
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        //img(src='images/doggy.jpg', alt='Article Image')
                        | slide 1
                    .swiper-slide
                        //img(src='images/desert.jpg', alt='Article Image')
                        | slide 2
                    .swiper-slide
                        //img(src='images/mountain.jpg', alt='Article Image')
                        | slide 3
                .swiper-pagination
        article.main-article(data-rellax-speed="8")
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis dolorem doloribus, dolorum error esse explicabo harum in inventore laboriosam laudantium maxime, nesciunt odio placeat praesentium quae repellat rerum sapiente, vero? A animi consequuntur delectus ducimus ex excepturi expedita hic id illo ipsum laboriosam maxime mollitia necessitatibus obcaecati odit officia, quae quasi quidem quo rem repellendus velit vero voluptatum! Consequatur cum ex harum iste laborum nostrum quis quos reprehenderit sit! Dignissimos ex non officia qui, tempore vero! Alias aliquid architecto blanditiis, numquam optio possimus quas saepe voluptates. Adipisci aliquam doloribus ipsa magnam, maxime neque quis quod sit totam veritatis?
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio dolores est ipsa minus quam quo? Laboriosam mollitia quae suscipit. A accusantium animi aperiam consectetur debitis, dolorum, excepturi fugit laudantium minus modi natus nemo pariatur quam, sit temporibus unde vero. Architecto blanditiis cum debitis delectus hic in recusandae sed velit veniam voluptatibus. Ab animi aperiam assumenda debitis incidunt laboriosam sequi. Dicta dolorem enim magnam nam quam repellendus voluptatibus. A ad aliquam aspernatur beatae doloremque illo minus nesciunt nisi nostrum officiis perferendis porro quam repellendus rerum soluta suscipit, veniam. Aut enim harum iusto modi molestias necessitatibus nobis officia qui, quod sapiente.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto aut cupiditate delectus dicta eius eligendi eveniet ex excepturi facere illo incidunt laborum libero maiores molestias nisi nulla quae quia quidem repudiandae rerum, sit soluta ullam voluptates! Aperiam, at beatae commodi delectus distinctio nostrum pariatur similique? Aperiam ducimus eveniet ipsum quas rem. Aliquam animi consequatur cupiditate doloremque eius est, excepturi exercitationem, explicabo harum id iste iure maxime molestias nihil non officia officiis porro quam rem similique, sint ullam voluptatem voluptates? Autem, consequuntur cumque, cupiditate ea illo iure magni molestiae natus nesciunt, praesentium quo rem reprehenderit saepe tenetur vel voluptatibus.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolore doloremque dolorum eius iusto nam nesciunt nisi quam quibusdam, quidem, quis recusandae reiciendis repudiandae saepe vel vero voluptas voluptatum? Aliquam aspernatur atque dolorum et, ex excepturi exercitationem iusto nesciunt numquam officia officiis porro quisquam rem repellendus repudiandae rerum sint tempore temporibus? Excepturi, laboriosam, unde. Accusamus alias aliquid, aperiam magnam minima modi nisi, non obcaecati repellat sunt, temporibus vero vitae voluptatem. Aspernatur commodi corporis dolorem hic, id illo ipsam iusto neque nulla optio placeat porro provident quasi qui voluptatem! Commodi dolorem ipsa minus natus porro quaerat repellat veritatis voluptates. Deleniti, distinctio?
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam amet at autem culpa cum cupiditate dicta dolores earum eligendi et eum hic, id ipsa modi necessitatibus nihil nobis officiis pariatur provident quam quas quia quis soluta, totam, ut voluptates voluptatum! Accusamus adipisci alias aliquid aperiam architecto dignissimos doloremque dolores doloribus earum enim esse expedita fugit id illum ipsa ipsam iure magnam necessitatibus numquam officiis, omnis pariatur possimus quam ratione sunt temporibus vel voluptatem? Ab aliquid assumenda consectetur corporis dolorum et explicabo illum ipsa iure minima modi, nemo nihil possimus quam quasi quis quod similique tempora tempore veniam. Dolore, nihil.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium animi asperiores at autem beatae commodi consequatur culpa debitis eligendi explicabo facere hic iusto magni minima necessitatibus nemo nihil nobis non officia optio perspiciatis placeat qui reiciendis, sapiente tenetur totam voluptates! Alias animi architecto at atque autem consequatur cumque dolore eligendi enim excepturi facilis hic impedit in iste itaque labore laborum magni maiores molestias nesciunt nisi quae quaerat quam recusandae repellat sint tempore unde, ut vel vero? Aut autem earum esse eveniet, fuga id incidunt minus nam nisi quae quaerat reprehenderit repudiandae rerum saepe sequi sunt unde! Alias, dolores perspiciatis?
