include ../content/content
include ../subscribe/subscribe

mixin main(data)
    main#main.main
        .main__wrapper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        | slide 1
                    .swiper-slide
                        | slide 2
                    .swiper-slide
                        | slide 3
                .swiper-pagination
        +content()
        +subscribe()
