// Common styles of the project

*, *::before, *::after
    box-sizing: border-box

html, body
    height 100%
    position: relative

html
    font-size: 62.5%

ul, ol
    list-style-type: none
    padding: 0
    margin: 0

h1, h2, h3, h4, p
    margin: 0

a
    text-decoration: none

button
    border: none
    padding: 0

.page
    font: 1.6rem/1 $open_sans-regular
    color: $color-white

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px