
// DIMENTIONS
// -------------------------------------------------

$width = 1150px
$gutter = 1rem


// FONTS
// ------------------------------------------------

$open_sans-regular = 'open_sansregular', sans-serif
$open_sans-semibold = 'open_sanssemibold', sans-serif
$open_sans-bold = 'open_sansbold', sans-serif

$roboto-regular = 'robotoregular', sans-serif

$glegoo-regular = 'glegooregular', sans-serif

$concert_one-regular = 'concert_oneregular', sans-serif


// COLORS
// ------------------------------------------------

$color-white = #fff
$color-green = #6ec996
$color-grey = #5f7a87
$color-black = #000


// MEDIA QUERIES
// ------------------------------------------------

$bp768 = 768px