mixin module-social-icons()
    ul.social-icons
        li.social-icons__item
            a.social-icons__link( href='https://www.facebook.com/' title='Facebook' target='_blank' rel='nofollow' )
                != jadeHelpers.Icon.call( locals, {iconName: 'social-icon-01', className: 'social-icon' })
        li.social-icons__item
            a.social-icons__link( href='https://twitter.com/' title='Twitter' target='_blank' rel='nofollow' )
                != jadeHelpers.Icon.call( locals, {iconName: 'social-icon-02', className: 'social-icon' })
        li.social-icons__item
            a.social-icons__link( href='https://www.behance.net/' title='Behance' target='_blank' rel='nofollow' )
                != jadeHelpers.Icon.call( locals, {iconName: 'social-icon-03', className: 'social-icon' })
