
// SOCIAL-ICONS
// ---------------------------------------------

.social-icons
    display: flex
    align-items: center

    // SOCIAL-ICONS ITEM
    // ---------------------------------------------

    &__item
        padding: 0 .5rem

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0

        &:nth-child( -n+2 )
            border-right: .1rem solid $color-grey-light

    // SOCIAL-ICONS LINK
    // ---------------------------------------------

    &__link
        display: block
        width: 1.6rem
        height: 1.6rem

    // SOCIAL-ICONS SVG
    // ---------------------------------------------

    & .social-icon
        width: 1.6rem
        height: 1.6rem
        fill: $color-grey-light
