mixin gallery(data)
    .gallery
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category decoration
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
        .gallery__item
            .gallery__image
                img(src='' alt='Gallery Image')
            .gallery__content
                h4.category furniture
                h3.title big black chair
                h2.price $249
