.button
    display: inline-block
    vertical-align: top
    padding: 2rem 3rem
    border-radius: 50em
    border: .2rem solid $color-white
    background-color: transparent
    text-transform: uppercase
    color: #f9f9f9
    font: 1.8rem/1 $firasans-bold
