.button-submit
	padding 1.5rem 3rem
	border .2rem solid $color-blue
	border-radius .3rem
	background-color $color-blue
	color $color-white
	text-transform uppercase
	font-family $quattro-bold
	font-size .875rem
	transition background-color .2s, border-color .2s

	&:hover
		background-color darken($color-blue, 2%)
		border-color darken($color-blue, 2%)

	&:focus
	&:active
		background-color darken($color-blue, 5%)
		border-color darken($color-blue, 5%)
