.facts
    padding: 12rem 0
    background-color: $color-grey-grey

    // FACTS CENTER
    // --------------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter

    // FACTS HEADER
    // --------------------------------------------

    &__header
        lost-center 100% flex
        padding: 0 $gutter
        flex-direction: column
        margin: 0 0 6rem
        text-align: center

        & p
            lost-center 60rem flex
            font: 1.6rem/1.4 $lato-regular
            color: $color-grey

    // FACTS TITLE
    // --------------------------------------------

    &__title
        text-transform: uppercase
        margin: 0 0 5rem
        font: 2.4rem/1.2 $lato-black
        color: $color-grey

    // FACTS CONTENT
    // --------------------------------------------

    &__content
        lost-center 100% flex
        border 0.1rem solid #ccc

    &__item
        lost-column 1/4
        lost-column-gutter 0
        flex-direction: column
        align-items: center
        text-align: center
        padding: 3rem 1rem

        &:nth-child( -n+3 )
            border-right .1rem solid #ccc

        @media screen and ( max-width: $bp768 )
            lost-column 1/2
            lost-column-gutter 0
            lost-column-cycle 2

            &:nth-child( 2n+1 )
                border-right .1rem solid #ccc

            &:nth-child( -n+2 )
                border-bottom .1rem solid #ccc

            &:nth-child( 2 )
                border-right: none

        @media screen and ( max-width: $bp500 )
            lost-column 1/1
            lost-column-gutter 0
            lost-column-cycle 2

            &:nth-child( 2n+1 )
                border-right none

            &:nth-child( -n+3 )
                border-bottom .1rem solid #ccc

    &__thumb
        margin: 0 0 4rem

        & .facts-icon
            width: 6rem
            height: auto

    &__caption
        text-transform: capitalize
        margin: 0 0 3rem
        font: 2rem/1.2 $lato-regular
        color: $color-blue

    &__count
        font: 5rem/1.2 $lato-light
        color: $color-grey-dark

















