.blog
    padding: 8rem 0 0
    background-color: #e3e3e3

.blog__center
    lost-center $width
    padding: 0 $gutter

// GRID
// ------------------------------------

.grid
    display: flex
    justify-content: center
    flex-wrap: wrap

    &__item
        flex: 0 1 25%;
        display: flex
        flex-direction: column
        justify-content: center

        &:nth-child(1)
            background: url("%=static=%assets/blog/blog-image-01.jpg") 50% 50% no-repeat

        &:nth-child(3)
            background: url("%=static=%assets/blog/blog-image-02.jpg") 50% 50% no-repeat

        &:nth-child(6)
            background: url("%=static=%assets/blog/blog-image-03.jpg") 50% 50% no-repeat

        &:nth-child(8)
            background: url("%=static=%assets/blog/blog-image-04.jpg") 50% 50% no-repeat

        &:nth-child(1)
        &:nth-child(3)
        &:nth-child(6)
        &:nth-child(8)
            background-size: cover

            @media screen and (max-width: $bp768)
                min-height: 300px

        &:nth-child(2)
        &:nth-child(4)
        &:nth-child(5)
        &:nth-child(7)
            background-color: #424242
            padding: 4rem 4rem 6rem 4rem

        @media screen and (max-width: 1170px)
            flex: 0 1 50%
            margin: 0 0 1px

        @media screen and (max-width: $bp768)
            flex: 0 1 100%

    &__meta
        display: flex
        width: 60%
        border-bottom: 1px solid #949494
        padding: 0 0 1rem 0
        margin: 0 0 2rem 0

    &__date > a
    &__author > a
        text-decoration: none
        text-transform: capitalize
        font: 400 1.2rem/1.2 $crimson_text-italic
        color: #e3e3e3

    &__date::after
        content: '/'
        color: #e3e3e3
        font: 400 1.2rem/1.2 $crimson_text-italic

    &__title
        text-transform: uppercase
        color: #e3e3e3
        font: 400 1.3rem/1.4 $montserrat-regular
        position: relative
        padding: 0 0 0 1.2rem
        margin: 0 0 3rem 0

        &::before
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 4px 0 4px 4px
            border-color: transparent transparent transparent #e3e3e3
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)

    &__item p
        color: #949494
        font: 400 1.4rem/1.4 $crimson_text-roman
        margin: 0
