// BLOCK-BRIEF
// ---------------------------------------------
.block-brief
    background-color $help-color-white
    position relative
    padding 4rem 0 0 0

    @media screen and ( min-width $mobile )
        padding 0

    // BLOCK-BRIEF CENTER
    // --------------------------------------------
    & .center
        display flex
        flex-direction column

        @media screen and ( min-width $mobile )
            flex-direction row
            align-items center
            height 46rem

    // BLOCK-BRIEF CONTENT
    // ---------------------------------------------
    &__content
        margin 0 0 4rem

        @media screen and ( min-width $mobile )
            max-width 50%
            position relative
            z-index 2
            margin 0

        @media screen and ( min-width $tablet )
            max-width 100%
            display flex
            justify-content space-between

    // BLOCK-BRIEF PRIMARY
    // ---------------------------------------------
    &__primary
        margin 0 0 3rem

        @media screen and ( min-width $tablet )
            lost-column 4/12
            lost-column-gutter 0

        & p
            font 400 1.6rem/1.4 $ptsans
            color $help-color-grey-dark

    // BLOCK-BRIEF SECONDARY
    // ---------------------------------------------
    &__secondary

        @media screen and ( min-width $tablet )
            lost-column 5/12
            lost-column-gutter 0

        & p
            font 400 1.4rem/1.4 $ptsans
            color $help-color-grey-dark

            &:not(:last-child)
                margin 0 0 2rem

    // BLOCK-BRIEF CAPTION
    // ---------------------------------------------
    &__caption
        font 700 2rem/1.2 $raleway
        margin 0 0 2rem
        color $help-color-grey-dark

    // BLOCK-BRIEF PICTURE
    // ---------------------------------------------
    &__picture
        margin auto
        size( 28rem, 27.5rem )
        background url( '%=static=%assets/block-brief/brief-bg.png' ) 0 0 no-repeat
        background-size cover

        @media screen and ( min-width $mobile )
            size( 34.7rem, 51.8rem )
            position absolute
            bottom 0
            right 0

        @media screen and ( min-width $tablet )
            left 50%
            transform translateX( -50% )
            size( 52.8rem, 51.8rem )
