mixin block-brief(data)
    .block-brief
        .center
            .block-brief__primary
                h3.block-brief__caption
                    | Мы чистим и стираем — вы отдыхаете
                p
                    | Наша главная задача – освободить ваше время от повседневной рутины, уверены, что гладить, стирать и ездить по химчисткам доставляет вам мало удовольствия.
            .block-brief__secondary
                p
                    | Не важно мужчина вы или женщина, бизнесмен или домохозяйка — никто не любит стирать и гладить.
                p
                    | А если вы испортили дорогую вещь, то самостоятельно решить проблему порой бывает очень трудно, ехать же в химчистку — дополнительное время, которого очень частно попросту не хватает.




