mixin block-submit(data)
    .block-submit
        form.form(method="post" action="action.php")
            .form__row
                .form__column
                    input(type="text" name="name" id="name" placeholder="name" required)
                .form__column
                    input(type="email" name="email" id="email" placeholder="e-mail" required)
            .form__row
                .form__column
                    input(type="phone" name="phone" id="phone" placeholder="telephone" required)
                .form__column
                    input(type="text" name="site" id="site" placeholder="website")
            .form__row
                textarea(name="message" id="message" placeholder="message")
            .form__row
                button.form__button(type="submit") submit
