mixin block-topheader()
    section.topheader
        .center
            .topheader__primary
                a.logo( href='/' )
            .topheader__secondary
                nav.navigation
                    a.navigation__item( href='#0' ) главная
                    a.navigation__item( href='#0' ) фотографии
                    a.navigation__item( href='#0' ) конкурс
                    a.navigation__item( href='#0' ) HTML academy
