.topheader
    position fixed
    top 0
    left 0
    width 100%
    padding 2rem 0 4rem
    z-index 9999
    background-color rgba( $color-black, .3 )
    transition all .2s
    will-change transition


    &.js-hidden
        padding 2rem 0 3rem
        background-color rgba( $color-black, .6 )

    &__primary
        lost-column 4/12
        lost-column-gutter 0

        & .logo
            display block
            size( 14.6rem, 4rem )
            bg-svg( $logotype-white-desktop )

    &__secondary
        lost-column 8/12
        lost-column-gutter 0

        & .navigation
            display flex
            height 4rem
            align-items center
            justify-content space-between

            &__item
                text-transform capitalize
                font 1.8rem/1.2 $open-sans--regular
                color $color-white
