mixin block-intro()
    .intro
        .intro__primary
            .center
                h2.intro__title все просто как раз-два-три ...
                ul.intro-list
                    li.intro-list__item
                        p.intro-list__text Сделайте заказ, укажите, где и когда забрать ваши вещи
                    li.intro-list__item
                        p.intro-list__text Отдайте вещи помощнику, который приедет к вам
                    li.intro-list__item
                        p.intro-list__text Занимайтесь любимыми делами, помощник заберет и доставит вещи
        .intro__secondary
            .center
                .intro__primo
                    h3.intro__subtitle
                .intro__secondo
