mixin block-intro()
    section.intro
        .intro__primary
            .center
                .intro__heading
                    h2.intro__title
                        | Все просто как раз-два-три &hellip;
                .intro__content
                    ul.intro__list
                        li.intro__item
                            p
                                | Сделайте заказ, укажите, где и когда забрать ваши вещи
                        li.intro__item
                            p
                                | Отдайте вещи помощнику, который приедет к вам
                        li.intro__item
                            p
                                | Занимайтесь любимыми делами, помощник заберет и доставит вещи
        .intro__secondary
            .center
                .intro__primo
                    h3.intro__subtitle
                        | Мы чистим и стираем — вы отдыхаете
                    p
                        | Наша главная задача – освободить ваше время от повседневной рутины, уверены, что гладить, стирать и ездить по химчисткам доставляет вам мало удовольствия.
                .intro__secondo
                    p
                        | Не важно мужчина вы или женщина, бизнесмен или домохозяйка — никто не любит стирать и гладить.
                    p
                        | А если вы испортили дорогую вещь, то самостоятельно решить проблему порой бывает очень трудно, ехать же в химчистку — дополнительное время, которого очень частно попросту не хватает.
