mixin about(data)
  section.about
    .about__center
      header.about__header
        h1 about us
        small This is who we are - or at least who we strive to be &hellip;
      main.about__content
        .about__primary
          p If you can't explain it simply, you don't understand it well enough.
          a.more(href="#") the more you know
        .about__secondary
          .about__column
            h3 typography
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio! Sequi tenetur vero repellat quas quia quam voluptas ducimus suscipit nostrum?
          .about__column
            h3 full icon set
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio! Sequi tenetur vero repellat quas quia quam voluptas ducimus suscipit nostrum?
          .about__column
            h3 accurate
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio! Sequi tenetur vero repellat quas quia quam voluptas ducimus suscipit nostrum?
