.about
  padding 10rem 0 7rem
  background-color $color-white

.about__center
  lost-center $width

.about__content
  lost-center 100%

.about__primary
  lost-column 3/12

.about__secondary
  lost-column 9/12

.about__column
  lost-column 4/12
