.portfolio
    background-color: $color-white
    padding: 8rem 0 0

    &__center
        lost-center $width
        padding: 0 $gutter

    // PORTFOLIO FILTERING

    & .filtering
        display: flex
        justify-content: center
        align-items: center
        margin: 0 0 6rem

        &__item
            text-transform: uppercase
            text-decoration: none
            font: 400 1rem/1.2 $montserrat-regular
            color: $color-grey
            padding: 1rem 2rem
            border: .2rem solid $color-grey
            margin: 0 .2rem
            transition: background-color .2s, color .2s

            @media screen and (max-width: $bp400)
                padding: 1rem 1.4rem

            &:nth-child(1)
            &:hover
            &:focus
                background-color: $color-grey
                color: $color-white

    // PORTFOLIO GALLERY

    & .gallery::before
    & .gallery::after
        content: ''
        display: table

    & .gallery::after
        clear: both

    & .gallery__item
    & .gallery__sizer
        width: 25%

        @media screen and (max-width: $bp980)
            width: 33.3333%

        @media screen and (max-width: $bp600)
            width: 50%

        @media screen and (max-width: $bp400)
            width: 100%

    & .gallery__item
        float: left

        & > img
            display: block
            max-width: 100%
            width: 100%
            height: auto
            opacity: .8
            transition: opacity .3s;

            &:hover
            &:focus
                opacity: 1

















