.portfolio
    background-color: $color-white
    padding: 8rem 0 0

    &__center
        lost-center $width
        padding: 0 $gutter

    &__title
        text-transform: uppercase
        text-align: center
        font: 400 2rem/1 $amsdam-regular
        letter-spacing: .2rem
        color: $color-grey
        padding: 0 0 3rem
        margin: 0 0 4rem
        background: url('%=static=%assets/portfolio/portfolio-underline.png') 50% 100% no-repeat

    &__subtitle
        text-align: center
        font: 400 1.4rem/1.7 $crimson_text-roman
        color: $color-grey
