include ../heading/heading

mixin portfolio(data)
    .portfolio#portfolio
        .portfolio__center
            +heading('portfolio')
        .filtering
            a.filtering__item(href="#0" data-filter="*") all
            a.filtering__item(href="#0" data-filter=".gallery-website") website
            a.filtering__item(href="#0" data-filter=".gallery-brochures") brochures
            a.filtering__item(href="#0" data-filter=".gallery-logos") logos
        .gallery
            a.gallery__sizer
            a.gallery__item.gallery-website(href="%=static=%img/assets/portfolio/portfolio-image-01-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-01.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-brochures(href="%=static=%img/assets/portfolio/portfolio-image-02-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-02.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-website(href="%=static=%img/assets/portfolio/portfolio-image-03-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-03.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-brochures(href="%=static=%img/assets/portfolio/portfolio-image-04-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-04.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-website(href="%=static=%img/assets/portfolio/portfolio-image-05-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-05.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-logos(href="%=static=%img/assets/portfolio/portfolio-image-06-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-06.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-brochures(href="%=static=%img/assets/portfolio/portfolio-image-07-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-07.jpg" alt="Portfolio Image")
            a.gallery__item.gallery-logos(href="%=static=%img/assets/portfolio/portfolio-image-08-b.jpg")
                img(src="%=static=%img/assets/portfolio/portfolio-image-08.jpg" alt="Portfolio Image")
