mixin follow()
	+b.follow
		.follow__center
			.follow__logo
			.swiper-container
				.swiper-wrapper
					.swiper-slide Premium Template 1 - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero.
					.swiper-slide Premium Template 2 - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero.
					.swiper-slide Premium Template 3 - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero.
					.swiper-slide Premium Template 4 - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero.
				.swiper-pagination
			p.follow__twitter Follow us on Twitter <a href="#{jv0}">&commat;rudhisasmito</a>
