

// INSTAGRAM
// --------------------------------------------
.instagram
    /*lost-center 100% flex*/


// INSTAGRAM ROW
// --------------------------------------------

.instagram > .instagram__row
    lost-center 100% flex
    width: 100%


// INSTAGRAM ROW FIRST
// --------------------------------------------

.instagram__row--firts > .instagram__column
    lost-column 1/2
    lost-column-gutter 0
    height: 50rem

.instagram__row--firts > .instagram__column:nth-child(1)
    background: url('%=static=%assets/instagram/instagram-image-01.jpg') 50% 50% no-repeat
    background-size: cover

.instagram__row--firts > .instagram__column:nth-child(2)
    background-color: $color-grey
    padding: 11rem 25rem 12rem 5rem


// INSTAGRAM ROW SECOND
// --------------------------------------------

.instagram__row--second > .instagram__column
    lost-column 1/4
    lost-column-gutter 0
    height: 50rem

.instagram__row--second > .instagram__column:nth-child(1)
    background: url('%=static=%assets/instagram/instagram-image-02.jpg') 50% 50% no-repeat
    background-size: cover

.instagram__row--second > .instagram__column:nth-child(2)
    background: url('%=static=%assets/instagram/instagram-image-03.jpg') 50% 50% no-repeat
    background-size: cover

.instagram__row--second > .instagram__column:nth-child(3)
    background: url('%=static=%assets/instagram/instagram-image-04.jpg') 50% 50% no-repeat
    background-size: cover

.instagram__row--second > .instagram__column:nth-child(4)
    background: url('%=static=%assets/instagram/instagram-image-05.jpg') 50% 50% no-repeat
    background-size: cover


// INSTAGRAM ROW THIRD
// --------------------------------------------

.instagram__row--third > .instagram__column
    height: 50rem

.instagram__row--third > .instagram__column:nth-child(1)
    lost-column 2/4
    lost-column-gutter 0
    background-color: $color-blue

.instagram__row--third > .instagram__column:nth-child(2)
    lost-column 1/4
    lost-column-gutter 0
    background: url('%=static=%assets/instagram/instagram-image-06.jpg') 50% 50% no-repeat
    background-size: cover

.instagram__row--third > .instagram__column:nth-child(3)
    lost-column 1/4
    lost-column-gutter 0
    background-color: $color-blue