mixin top-head(data)
    .top-head
        .top-head__center
            ul.navigation
                li.navigation__item: a.navigation__link(href="javascript:void();") home
                li.navigation__item: a.navigation__link(href="javascript:void();") about
                li.navigation__item: a.navigation__link(href="javascript:void();") music
                li.navigation__item: a.navigation__link(href="javascript:void();") tours
                li.navigation__item: a.navigation__link(href="javascript:void();") contact
