mixin block-category( title, ...items )
    .category
        h3.category__title= title
        ul.category__list
            each item in items
                li.category__item
                    a.category__link( href='#{js}' )= item
