
// CATEGORY
// ----------------------
.category
    //

    // CATEGORY TITLE
    // ----------------------

    &__title
        //

    // CATEGORY LIST
    // ----------------------

    &__list
        //

    // CATEGORY ITEM
    // ----------------------

    &__item
        //

    // CATEGORY LINK
    // ----------------------

    &__link
        //
