// DIMENTIONS
// ----------------------------------
$width = 114rem
$gutter = 1rem

// COLORS
// ----------------------------------
$modest-white = #fff
$modest-white-light = #e1e6ea
$modest-black = #000
$modest-grey-light = #a5aead
$modest-grey = #3a454d
$modest-grey-dark = #1d2126
$modest-grey-dark2 = #8d8f92
$modest-blue = #23b7a4
$modest-dark = #292f36

// FONTS
// -----------------------------------
$sans-regular = 'open_sansregular', sans-serif
$sans-semibold = 'open_sanssemibold', sans-serif
$sans-bold = 'open_sansbold', sans-serif
$quattro-bold = 'quattrocento_sansbold', sans-serif

// MEDIA QUERIES
// -----------------------------------
$bp1000 = 1000px
$bp980 = 980px
$bp768 = 768px
$bp600 = 600px
$bp500 = 500px
$bp400 = 400px
