// DIMENTIONS
// ----------------------------------
$width = 114rem
$gutter = 1rem

// COLORS
// ----------------------------------
$color-white = #fff
$color-black = #000

// MEDIA QUERIES
// -----------------------------------
$bp1000 = 1000px
$bp980 = 980px
$bp768 = 768px
$bp600 = 600px
$bp500 = 500px
$bp400 = 400px
