include ../button-design/button-design

mixin design(data)
  section.design#desing
    .design__primary
      .design__center
        h1.design__title designed for humans
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, in porro tempora eaque beatae dicta, corrupti asperiores, ex dolorum excepturi et? Officia aspernatur cumque, rem facilis magni ex, quaerat sint, excepturi ratione inventore distinctio. Velit natus itaque, fugit veritatis repudiandae at eos harum distinctio consequuntur libero dolore, totam amet.
        .design__promo
          header
            span
          main
            //- from 768px
            +button-design()
        //- to 768px
        +button-design()
    .design__secondary
      .design__content
        .design__column
          != jadeHelpers.Icon.call(locals, {iconName: 'icon-design-01', className: 'icon-design'})
          h3.design__column__caption #[span 01]Design
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus libero dolore dignissimos nesciunt officia sunt, molestias sit, mollitia odio explicabo, quaerat iste earum maxime necessitatibus perferendis voluptate. Repudiandae ad corporis repellat sit illo, libero alias accusantium vitae explicabo impedit at in ipsa, magnam, dolores aliquam necessitatibus praesentium doloribus. Dicta, fugiat.
        .design__column
          != jadeHelpers.Icon.call(locals, {iconName: 'icon-design-02', className: 'icon-design'})
          h3.design__column__caption #[span 02]Refinement
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nihil optio illo sapiente similique, cumque necessitatibus quis exercitationem. Voluptas blanditiis dignissimos nesciunt expedita itaque. Dolores aliquam quas nesciunt quos perspiciatis, maxime quis, minima deleniti earum ducimus. Iste distinctio libero, quidem!
        .design__column
          != jadeHelpers.Icon.call(locals, {iconName: 'icon-design-03', className: 'icon-design'})
          h3.design__column__caption #[span 03]Dive In
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate saepe cum voluptatum explicabo tempora in dolores hic quam, ipsam nam facilis libero impedit quisquam obcaecati unde tenetur facere, aperiam veniam!
        .design__column
          != jadeHelpers.Icon.call(locals, {iconName: 'icon-design-04', className: 'icon-design'})
          h3.design__column__caption #[span 04]Research
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dicta incidunt, id accusamus distinctio magnam tempore tempora dolore minus tenetur.
