.design

  // PRIMARY PART
  // ---------------------------------------

  &__primary
    padding-top 10rem
    background-color $color-bg-design

    @media screen and (max-width: 768px)
      padding 6rem 0

  &__center
    max-width $width
    margin auto
    padding 0 1rem
    text-align center

  &__title
    font-size 2.5rem
    color $color-white
    line-height 1.2
    text-transform capitalize
    margin 0 0 6rem

  & p
    color $color-grey
    font-size 1.3rem
    line-height 1.8
    margin 0 0 9rem

    @media screen and (max-width: 768px)
      margin 0 0 4rem


  // BLOCK PROMO
  // ----------------------------

  &__promo
    width 80%
    max-width 80%
    margin auto
    padding-bottom 26%
    position relative

    @media screen and (max-width: 768px)
      display none

    & header
    & main
      width 100%
      position absolute
      left 0

    & header
      top 0
      height 10%
      background-color #2b303b
      display flex
      align-items center
      padding 0 2rem

      & span
        display block
        size(1rem)
        border-radius 50%
        background-color #434955
        box-shadow 1.5rem 0 0 #434955, 3rem 0 0 #434955

    & main
      top 10%
      height 82%
      background url('%=static=%assets/design/promo-image.png') 50% 50% no-repeat
      background-size cover

      // button design from 768px
      & > .button-design
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)


  // SECONDARY PART
  // ---------------------------------------

  &__secondary
    lost-utility clearfix
    padding 8rem 0 16rem
    background-color #2b303b

    @media screen and (max-width 980px)
      padding 10rem 0

  &__content
    lost-center $width
    padding 0 1rem

    @media screen and (max-width 768px)
      display block

  &__column
    lost-column 3/12
    padding 0 2rem

    @media screen and (max-width 980px)
      lost-column 6/12
      lost-column-cycle 2

    @media screen and (max-width 768px)
      lost-column 1/1
      lost-column-cycle 0
      text-align center

      &:not(:last-child)
        margin 0 0 8rem

    & > .icon-design
      margin 0 0 3rem

    &__caption
      text-transform capitalize
      font-size 2rem
      color $color-white
      margin 0 0 3rem

      & > span
        color #3a4d60

    & > p
      color #9da5b0
      line-height 1.8

      @media screen and (max-width: 768px)
        margin 0


// DESING BUTTON TO 768PX
@media screen and (max-width: 768px)

  .design__center > .button-design
    display inline-block


// DESING BUTTON FROM 768PX
@media screen and (min-width: 768px)

  .design__center > .button-design
    display none
