include ../post-wrapper-main/post-wrapper-main
include ../post-wrapper-aside/post-wrapper-aside

mixin post-wrapper-content(data)
    .post-wrapper-content
        .post-wrapper-content__center
            .post-wrapper-content__primary
                +post-wrapper-main()
            .post-wrapper-content__secondary
                +post-wrapper-aside()
