.post-wrapper-content
    background-color: #e3e3e3
    padding: 8rem 0 14rem

    &__center
        lost-center $width
        padding: 0 $gutter

    &__primary
        lost-column 8/12
        lost-column-gutter $gutter3

    &__secondary
        lost-column 4/12
        lost-column-gutter $gutter3
