// BLOCK-COUNTER
// ----------------------------------------------
.block-counter
    max-width 8rem
    font 700 4rem/1.2 $ptsans
    color $help-color-yellow

    & span
        font 900 1.3rem $raleway
        color $help-color-white
