// BLOCK-COUNTER
// ----------------------------------------------
.block-counter
    max-width 8rem

    &__primo
        font 700 4rem/1.2 $ptsans
        color $help-color-yellow

    &__secondo
        font 900 1.3rem/1.4 $raleway
        color $help-color-white
