.contact
	padding 6rem 0 10rem

	&__center
		lost-center $width
		padding 0 1rem

		& p
			color #8d8f92
			font-size 1rem
			line-height 1.8

			&:not(:last-child)
				margin-bottom 2rem

	&__map
		min-height 35rem
		background-color #ddd

	&__footer
		padding-top 6rem

	&__half
		lost-column 6/12
		lost-column-gutter 3rem
		position relative

		+below($bp-786)
			lost-column 1/1
			lost-column-gutter 0

			&:first-child
				margin-bottom 6rem

		+below($bp-500)
			&:first-child
				text-align center

	&__title
		text-transform uppercase
		color #292f36
		font-size 1.25rem
		margin-bottom 4rem
