// File for less-vars.
// For example: main colors, paddings and so on.

// dimentions

$width = 1180px

// COLORS

$color-white = #fff
$color-orange = #f26522


// FONTS

$opensans-regular = 'open_sansregular', sans-serif
$opensans-light = 'open_sanslight', sans-serif

$raleway-regular = 'ralewayregular', sans-serif
$raleway-light = 'ralewaylight', sans-serif

$montserrat-regular = 'montserratregular', sans-serif
