mixin footer(data)
    footer.footer
      .footer__center
        .navigation
          ul.navigation__column
            h4.navigation__title quicklinks
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
          ul.navigation__column
            h4.navigation__title our profile
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
          ul.navigation__column
            h4.navigation__title information
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
          ul.navigation__column
            h4.navigation__title courses
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
          ul.navigation__column
            h4.navigation__title publication
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
            li: a(href="#") a footer link
        p.footer__copyright Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur sed quos, iste quisquam! Dolore porro asperiores laboriosam deleniti similique, illo a fuga voluptas harum doloribus, et quo magnam minus
