.button-primary
    padding: 1rem 2rem
    background-color: $color-teal
    color: $color-white
    text-transform: uppercase
    text-decoration: none
    font: 1.3rem/1 $raleway-semibold
    transition: background-color .2s

    &:hover
    &:focus
        background-color: $color-teal-dark
