.button-primary
    display: inline-block
    vertical-align: middle
    padding: 2rem 2.2rem
    background-color: $color-teal
    color: $color-white
    text-transform: uppercase
    text-decoration: none
    font: 1.3rem/1 $raleway-semibold
    transition: background-color .2s

    &:hover
    &:focus
        background-color: $color-teal-dark
