
// SERVICES
// ------------------------------

.services
	padding 8rem 0 16rem

	+below( $bp-786 )
		padding 8rem 0

	// SERVICES CENTER
	// ------------------------------

	&__center
		lost-center $width
		padding 0 1rem
