mixin block-recent(data)
    .recent
        .recent__center
            .recent__header
                h2.recent__title additional recent work
                p.recent__subtitle Market-proven software with award winning design
            .recent__content
                .recent-grid
                    .recent-grid__control
                        a.recent-grid__link(href='javascript:void(0);' data-filter='*') all
                        a.recent-grid__link(href='javascript:void(0);' data-filter='.website') website
                        a.recent-grid__link(href='javascript:void(0);' data-filter='.graphic') graphic
                        a.recent-grid__link(href='javascript:void(0);' data-filter='.identity') identity
                        a.recent-grid__link(href='javascript:void(0);' data-filter='.mobile') mobile apps
                    .recent-grid__main
                        .recent-grid__sizer
                        .recent-grid__item.website
                            | 1-1
                        .recent-grid__item.graphic
                            | 2-1
                        .recent-grid__item.identity
                            | 3-1
                        .recent-grid__item.mobile
                            | 4-1
                        .recent-grid__item.website
                            | 5-1
                        .recent-grid__item.graphic
                            | 6-1
                    .recent-grid__button load more