.recent
    padding: 12rem 0
    background-color: $color-grey-grey

    // RECENT CENTER
    // -----------------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter

    // RECENT HEADER
    // -----------------------------------------------

    &__header
        margin: 0 0 9rem
        text-align: center

    // RECENT TITLE
    // -----------------------------------------------

    &__title
        font: 2.4rem/1.2 $lato-black
        color: $color-grey
        text-transform: uppercase
        margin: 0 0 2.6rem

    // RECENT SUBTITLE
    // -----------------------------------------------

    &__subtitle
        font: 2.4rem/1.2 $lato-regular
        color: $color-grey-dark

    // RECENT CONTENT
    // -----------------------------------------------

    & .recent-grid
        //

        &__control
            margin: 0 0 6rem
            display: flex
            justify-content: center

        &__link
            padding: .9rem 1.6rem 1rem 1.6rem
            border .1rem solid #ccc
            border-radius .2rem .1rem .1rem .2rem
            font: 1.4rem/1 $lato-regular
            color: $color-grey
            text-transform: capitalize
            margin: 0 .6rem
            transition: background-color .2s

            &:nth-child(1)
                background-color: #f1f1f1

            &:hover
                background-color: #f1f1f1

        &__main
            lost-center 100%

        &__sizer
        &__item
            //lost-column 1/3
            //lost-cloumn-gutter 2rem
            float: left
            width: 31%
            height: 32rem
            background-color: salmon
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 1rem






















