.recent
    padding: 12rem 0
    background-color: $color-grey-grey

    // RECENT CENTER
    // -----------------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter

    // RECENT HEADER
    // -----------------------------------------------

    &__header
        padding: 0 $gutter
        margin: 0 0 9rem
        text-align: center

    // RECENT TITLE
    // -----------------------------------------------

    &__title
        font: 2.4rem/1.2 $lato-black
        color: $color-grey
        text-transform: uppercase
        margin: 0 0 2.6rem

    // RECENT SUBTITLE
    // -----------------------------------------------

    &__subtitle
        font: 2.4rem/1.2 $lato-regular
        color: $color-grey-dark


    // RECENT GRID
    // -----------------------------------------------

    & .recent-grid
        position: relative


    // RECENT GRID CONTROL
    // -----------------------------------------------

    & .recent-grid__control
        margin: 0 0 6rem
        display: flex
        justify-content: center

    & .recent-grid__link
        padding: .9rem 1.6rem 1rem 1.6rem
        border .1rem solid #ccc
        border-radius .2rem .1rem .1rem .2rem
        font: 1.4rem/1 $lato-regular
        color: $color-grey
        text-transform: capitalize
        margin: 0 .6rem
        transition: background-color .2s

        &:nth-child(1)
            background-color: #f1f1f1

        &:hover
            background-color: #f1f1f1

    // RECENT GRID MAIN
    // -----------------------------------------------

    & .recent-grid__main
        margin: 0 0 6rem

    & .recent-grid__main::before
    & .recent-grid__main::after
        content: ''
        display: table

    & .recent-grid__main::after
        clear: both

    & .recent-grid__sizer
    & .recent-grid__item
        float: left
        width: 32%
        height: 32rem
        background-color: salmon
        margin: .666666667%

        @media screen and ( max-width: $bp980 )
            width: 48%
            margin: 1%

        @media screen and ( max-width: $bp768 )
            width: 98%
            margin: 1%


    // RECENT GRID BUTTON
    // -----------------------------------------------

    & .recent-grid__button
        width: 14rem
        height: 4rem
        background-color: $color-blue
        display: flex
        justify-content: center
        align-items: center
        text-transform: uppercase
        font: 1.4rem/1.2 $lato-regular
        cursor: pointer
        margin: auto

        &:hover
            background-color: darken( $color-blue, 10% )




















