mixin topheader(data)
    .topheader
        .topheader__logo
            a(href="javascript:void();")
                != jadeHelpers.Icon.call(locals, {iconName: 'logo', className: 'topheader-icon'})
                | synthetica
        .topheader__menu
            ul.topheader__menu-list
                li: a(href="javascript:void();") the collective
                li: a(href="javascript:void();") the crew
                li: a(href="javascript:void();") articles
                li: a(href="javascript:void();") freebies
            ul.topheader__menu-button
                li: a(href="javascript:void();") subscribe
                li: a(href="javascript:void();")
