.topheader
    position: fixed
    z-index: 999
    top: 0
    left: 0
    width: 100%
    height: 10rem
    display: flex
    justify-content: space-between
    align-items: center


    // TOPHEADER PRIMARY
    // ------------------------------------------------------------

    &__primary
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        padding: 0 4rem
        background-color: $color-slate
        border-bottom: .5rem solid $color-teal-light

        & a
            display: flex
            width: 100%
            height: 100%
            align-items: center
            justify-content: center
            font: 1.6rem/1.2 $raleway-semibold
            text-transform: uppercase
            letter-spacing: .6rem
            color: $color-white

        & .topheader-icon
            margin: 0 2rem 0 0


    // TOPHEADER SECONDARY
    // ------------------------------------------------------------

    &__secondary
        display: flex


    // TOPHEADER SECONDARY NAV
    // ------------------------------------------------------------

    &__secondary-nav
        display: flex
        justify-content: center
        align-items: center
        margin: 0 6rem 0 0

        & li
            padding: .6rem 2rem

            &:not(:last-child)
                border-right: .1rem solid $color-grey-light-super

        & a
            display: flex
            text-transform: uppercase
            font: 1.3rem/1 $raleway-bold
            letter-spacing: .1rem
            color: $color-slate-dark
            border-bottom: .2rem solid transparent
            padding: 0 0 .4rem 0
            transition: border-bottom-color .2s, color .2s

            &:hover
            &:focus
                color: $color-teal-light
                border-bottom-color: $color-teal-light


    //  TOPHEADER SECONDARY SUBSCRIBE
    // ------------------------------------------------------------

    &__secondary-subscribe
        display: flex
        align-items: center
        justify-content: center
        background-color: $color-slate
        height: 10rem
        padding: 0 2rem

        & li
            padding: .6rem 2rem

            &:first-child
                border-right: .1rem solid $color-grey-light-super

                & a:hover
                & a:focus
                    border-bottom-color: $color-teal-light

        & a
            display: flex
            color: $color-teal-light
            text-transform: uppercase
            font: 1.3rem/1 $raleway-bold
            letter-spacing: .1rem
            border-bottom: .2rem solid transparent
            padding: 0 0 .4rem 0
            transition: border-bottom-color .2s

        & .topheader-search-icon
            width: 1.4rem
            height: 1.4rem






























