
// LIST-COMPONENT
// --------------------------------------
.list-component
	//

	// LIST-COMPONENT ITEM
	// ------------------------------------------

	&__row
		display flex

		&:not(:last-child)
			margin 0 0 2rem

		+below( $bp-500 )
			flex-direction column
			align-items center
			text-align center

			&:not(:last-child)
				margin 0 0 4rem

	// LIST-COMPONENT PRIMARY
	// -------------------------------------------

	&__primary
		display flex
		justify-content center
		align-items center
		size( 5rem )
		flex 0 0 1 5rem
		background-color $color-blue
		transition background-color .2s

		& span
			font 1.4rem/1.2 $quattro-bold
			color $color-white

		+below( $bp-500 )
			margin 0 0 2rem 0

	// LIST-COMPONENT SECONDARY
	// -------------------------------------------

	&__secondary
		flex 1 24 auto
		padding 0 0 0 1rem

		& p
			color #8d8f92
			font-size 1rem
			line-height 1.6

	// LIST-COMPONENT TITLE
	// -------------------------------------------

	&__title
		margin 0 0 1rem

		& span
			font 1.2rem/1.2 $quattro-bold
			text-transform uppercase
			color #292f36
			transition color .2s

			&:hover
				color lighten( #292f36, 20% )
