.started
    /*padding: 10rem 0*/
    height: 25rem
    background: linear-gradient(to right, #51ccdc 0%, #70f6ea 100%)
    color: $color-white
    position: relative

    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: url('%=static=%assets/started/started-bg.png') repeat


    // STARTED CENTER
    // ---------------------------------------------------

    &__center
        lost-center $width flex
        padding: 0 $gutter
        height: 25rem
        align-items: center
        justify-content: center
        position: relative
        z-index: 2

        @media screen and (max-width: $bp900)
            flex-direction: column


    // STARTED PRIMARY
    // ---------------------------------------------------

    &__primary
        margin: 0 2rem 0 0

        @media screen and (max-width: $bp900)
            margin: 1rem 0


    // STARTED SECONDARY
    // ---------------------------------------------------

    &__secondary
        margin: 0 0 0 2rem

        & .button-secondary
            color: $color-white
            border-color: $color-white
            transition: border-color .2s, color .2s, background-color .2s

            &:hover
            &:focus
                background-color: transparent
                color: $color-teal-dark
                border-color: $color-teal-dark

        @media screen and (max-width: $bp900)
            margin: 1rem 0


    // STARTED OFFER
    // ---------------------------------------------------

    &__offer
        font: 2.6rem/1.4 $raleway-light

        & a
            color: $color-white
            text-decoration: none
            font-family: $raleway-semibold


        @media screen and (max-width: $bp900)
            text-align: center
            font-size: 2rem
            line-height: 1.8
