include ../../../node_modules/bemto.jade/bemto.jade
include ../page/page
include ../box/box
include ../header/header
include ../footer/footer
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head
	+page
		+box
			+header
			block content
			+footer

		+scripts(['app.min.js'])
