mixin block-mobile(data)
    .block-mobile
        .center
            .block-mobile__content
                h4.block-mobile__caption
                    | Помощник в вашем телефоне
                p
                    | Установите бесплатное приложение и получайте чистые вещи нажатием одной кнопки
                .block-mobile__apps
                    a.block-mobile__icon( href='#' title='App Store' target='_blank' rel='nofollow' )
                    a.block-mobile__icon( href='#' title='Google Play' target='_blank' rel='nofollow' )
        .block-mobile__image
