mixin block-mobile(data)
    .block-mobile
        .center
            .block-mobile__content
                h4.block-mobile__caption
                    | Помощник в вашем телефоне
                p
                    | Установите бесплатное приложение и получайте чистые вещи нажатием одной кнопки
                nav.block-mobile__apps
                    a.block-mobile__icon.block-mobile__icon--primary( href='#0' title='App Store' target='_blank' rel='nofollow' )
                    a.block-mobile__icon.block-mobile__icon--secondary( href='#0' title='Google Play' target='_blank' rel='nofollow' )
            .block-mobile__image--tablet
        .block-mobile__image
        .block-mobile__label
