mixin block-mobile()
    section.mobile
        .center
            .mobile__primary
                h3.mobile__title
                    | Помощник в вашем телефоне
            .mobile__secondary
                .mobile__image
                p
                    | Установите бесплатное приложение и получайте чистые вещи нажатием одной кнопки
            .mobile__tertiary
                nav
                    a( href='#' title='App Store' target='_blank' )
                    a( href='#' title='Google Play' target='_blank' )
