// BLOCK-MOBILE
// ----------------------------------------------------
.block-mobile
    min-height 36rem
    background url( '%=static=%assets/block-mobile/mobile-bg.png' ) 0 0 repeat
    position relative

    @media screen and ( min-width $tablet )
        min-height 20rem

    // BLOCK-MOBILE CENTER
    // ----------------------------------------------------
    & .center
        display flex
        flex-direction column

        @media screen and ( min-width $tablet )
            position relative
            min-height 20rem
            justify-content center

    // BLOCK-MOBILE CONTENT
    // ----------------------------------------------------
    &__content
        display flex
        flex-direction column
        justify-content center
        min-height 36rem

        @media screen and ( min-width $tablet )
            padding 0 0 0 40%
            min-height 20rem

        @media screen and ( min-width $desktop )
            padding 0
            flex-direction row

    // BLOCK-MOBILE CAPTION
    // ----------------------------------------------------
    &__caption
        max-width 80%
        font 700 2rem/1.2 $raleway
        color $help-color-white
        margin 0 0 2rem

        @media screen and ( min-width $desktop )
            lost-column 2/12
            lost-column-gutter $gutter
            margin 0
            max-width 100%
            padding 8rem 0 0 0
            font-size 1.4rem

    // BLOCK-MOBILE SLOGAN
    // ----------------------------------------------------
    &__slogan
        font 400 1.4rem/1.4 $ptsans
        color $help-color-white
        margin 0 0 2rem

        @media screen and ( min-width $desktop )
            lost-column 6/12
            lost-column-gutter $gutter
            padding 8rem 0 0 30rem
            margin 0
            position relative

    // BLOCK-MOBILE APPS
    // ----------------------------------------------------
    &__apps
        display flex

        @media screen and ( max-width $mobile )
            flex-direction column

        @media screen and ( min-width $mobile )
            flex-direction row

        @media screen and ( min-width $desktop )
            lost-column 4/12
            lost-column-gutter $gutter
            padding 8rem 0 0 0
            display flex
            justify-content flex-end

    // BLOCK-MOBILE ICONS
    // ----------------------------------------------------
    &__icon
        size( 16rem, 6rem )
        background-color $help-color-black
        border-radius .4rem

        // BLOCK-MOBILE ICON PRIMARY
        // ----------------------------------------------------
        &--primary
            margin 0 0 1rem
            bg( $app-store )

            @media screen and ( min-width $mobile )
                margin 0 1rem 0 0

        // BLOCK-MOBILE ICON SECONDARY
        // ----------------------------------------------------
        &--secondary
            bg( $google-play )

    // BLOCK-MOBILE IMAGE
    // ----------------------------------------------------
    &__image
        size( 12rem, 17.2rem )
        position absolute
        right 0
        bottom 0
        background url( '%=static=%assets/block-mobile/mobile-image-mobile.png' ) 0 0 no-repeat

        @media screen and ( min-width $tablet )
            display none

// BLOCK-MOBILE LABEL
// ----------------------------------------------------

.block-mobile .block-mobile__label
    size( 10rem )
    position absolute
    background url( '%=static=%assets/block-mobile/label-bg.png' ) 0 0 no-repeat
    z-index 1

.block-mobile > .block-mobile__label
    top -4rem
    right 1rem

    @media screen and ( min-width $tablet )
        display none

// BLOCK-MOBILE LABEL TABLET
// ----------------------------------------------------
.block-mobile .block-mobile__image--tablet
    size( 22.7rem, 27.3rem )
    background url( '%=static=%assets/block-mobile/mobile-image-tablet.png' ) 0 0 no-repeat
    position absolute
    bottom 0
    left $gutter

    @media screen and ( max-width $tablet )
        display none

    & > .block-mobile__label
        right -5rem
        top 8rem

    @media screen and ( min-width $desktop )
        display none

// BLOCK-MOBILE LABEL DESKTOP
// ----------------------------------------------------
.block-mobile .block-mobile__image--desktop
    size( 22.7rem, 27.3rem )
    background url( '%=static=%assets/block-mobile/mobile-image-tablet.png' ) 0 0 no-repeat
    position absolute
    bottom 0
    left 0

    & > .block-mobile__label
        right -5rem
        top 8rem

    @media screen and ( max-width $desktop )
        display none
