.header-fixed
	position fixed
	z-index 99
	top 0
	left 0
	width 100%

	&__center
		margin auto
		padding 4rem 1rem 3rem
		display flex
		width $width-desktop
		box-shadow 0 .1rem 0 rgba($color-white, .2)
		transition all .2s
		justify-content space-between
		align-items center

		& a
			text-transform uppercase
			transition color .2s

		&--active
			padding 1.8rem 10rem
			width 100%
			background-color darken($charcoal-grey, 20%)
			box-shadow 0 .1rem .6rem rgba($color-black, .3)

	&__primary
		display flex
		justify-content space-between

	&__logo
		margin-right 7rem
		display flex
		align-items center

		& > a
			font-family $opensans-bold
			font-size 2.4rem
			letter-spacing .2rem
			color $grey-blue-two

	&__navigation
		display flex
		justify-content space-between
		align-items center

		& > a
			margin 0 2rem
			font-size 1.3rem
			color $color-white

			&:hover
			&:active
			&.is-active
				color $warm-pink

	&__secondary
		display flex
		justify-content center
		align-items center

		& a
			padding .8rem 2.6rem .9rem
			display block
			font-size 1.3rem
			color $color-white
			border .2rem solid $color-white
			border-radius 50em
			transition border-color .2s

			&:nth-child(1)
				margin-right 1rem

			&:nth-child(2)
				margin-left 1rem


			&:hover
			&:active
				color $warm-pink
				border-color $warm-pink
