mixin header-fixed()
	+b.header-fixed
		.header-fixed__center
			.header-fixed__primary
				.header-fixed__logo
					a(href="/") sedna
				nav.header-fixed__navigation
					a(href="#features") features
					a(href="#assets") assets
					a(href="#blog") blog
					a(href="#download") download
			.header-fixed__secondary
				a.topheader__login(href="#{jv0}") login
				a.topheader__signup(href="#{jv0}") sign up
