include ../header-logo/header-logo
include ../header-icon/header-icon

mixin header-fixed()
	+b.header-fixed
		.header-fixed__center
			.header-fixed__primary
				+header-logo()
				nav.header-fixed__navigation
					a(href="#assets") assets
					a(href="#features") features
					a(href="#news") blog
					a(href="#download") download
			.header-fixed__secondary
				a.topheader__login(href="#{jv0}") login
				a.topheader__signup(href="#{jv0}") sign up
			+header-icon()
