.post-sidebar
    lost-column 4/12
    lost-column-gutter $gutter*3


    // POST SEARCH
    // --------------------------------------------------------------
    & .search
        margin: 0 0 4rem
        border: .2rem solid #a8a8a8
        padding: 1rem 2.6rem 1rem 1rem
        background: url("%=static=%assets/post-sidebar/search-icon.png") 98% 50% no-repeat
        transition: border-color .2s
        will-change: transition

        &:hover
        &:focus
            border-color: darken(#a8a8a8, 30%)

        & > input
            width: 100%
            border: none
            background-color: transparent;
            padding: .2rem
            font: 400 1.3rem/1 $crimson_text-italic
            color: $color-grey
            text-transform: capitalize

    // LATESTS POSTS
    // --------------------------------------------------------------
    & .posts
        margin: 0 0 6rem

        &__heading
            text-transform: uppercase
            font: 400 1.6rem/1 $montserrat-bold
            color: $color-grey
            margin: 0

        &__list
            margin: 4rem 0 0

        &__item
            lost-utility clearfix
            color: $color-grey

            &:not(:last-child)
                padding: 0 0 4rem
                margin: 0 0 3rem
                border-bottom: .1rem solid #b7b7b7

        &__image
            float: left
            width: 11rem
            height: 11rem

            & > img
                display: block
                width: 100%
                height: auto

        &__holder
            margin: 0 0 0 13rem

        &__title
            text-transform: uppercase
            font: 400 1.2rem/1.6 $montserrat-regular
            margin: 0 0 2rem

        & p
            font: 400 1.4rem/1.8 $crimson_text-italic
            margin: 0


    // CATEGORIES
    // --------------------------------------------------------------
    & .categories
        margin: 0 0 6rem

        &__heading
            text-transform: uppercase
            font: 400 1.6rem/1 $montserrat-bold
            color: $color-grey
            margin: 0

        &__list
            margin: 1rem 0 0

        &__item
            padding: 2rem 0
            border-bottom: 1px solid #b7b7b7

        &__link
            padding: 0 0 0 1.4rem
            text-decoration: none
            text-transform: capitalize
            font: 400 1.6rem/1 $crimson_text-italic
            color: $color-grey
            position: relative

            &::before
                content: ''
                display: block
                width: 0
                height: 0
                border-style: solid
                border-width: .4rem 0 .4rem .4rem
                border-color: transparent transparent transparent $color-grey
                position: absolute
                left: 0
                top: 50%
                transform: translateY(-50%)

            &:hover
                text-decoration: underline

    // ARCHIVES
    // --------------------------------------------------------------
    & .archives
        margin: 0 0 6rem

        &__heading
            text-transform: uppercase
            font: 400 1.6rem/1 $montserrat-bold
            color: $color-grey
            margin: 0

        &__list
            margin: 1rem 0 0

        &__item
            padding: 2rem 0
            border-bottom: 1px solid #b7b7b7

        &__link
            padding: 0 0 0 1.4rem
            text-decoration: none
            text-transform: capitalize
            font: 400 1.6rem/1 $crimson_text-italic
            color: $color-grey
            position: relative

            &::before
                content: ''
                display: block
                width: 0
                height: 0
                border-style: solid
                border-width: .4rem 0 .4rem .4rem
                border-color: transparent transparent transparent $color-grey
                position: absolute
                left: 0
                top: 50%
                transform: translateY(-50%)

            &:hover
                text-decoration: underline

    // FLICKR
    // --------------------------------------------------------------
    & .flickr
        margin: 0

        &__heading
            text-transform: uppercase
            font: 400 1.6rem/1 $montserrat-bold
            color: $color-grey
            margin: 0

        &__gallery
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin: 4rem 0 0

        &__image
            flex: 0 1 9rem
            height: 9rem
            margin: .7rem

            & img
                display: block
                width: 100%
                height: auto
