include ../block-posts/block-posts
include ../block-categories/block-categories
include ../block-archives/block-archives
include ../block-flickr/block-flickr
include ../block-search/block-search

mixin post-sidebar(data)
    .post-sidebar
        +block-search()
        +block-posts()
        +block-categories()
        +block-archives()
        +block-flickr()






























