mixin block-pagination()
    ul.pagination
        li.pagination__item
            a.pagination__link( href='#{js}' ) 1
        li.pagination__item
            a.pagination__link( href='#{js}' ) 2
        li.pagination__item
            a.pagination__link( href='#{js}' ) 3
        li.pagination__item
            a.pagination__link( href='#{js}' ) >
