mixin block-pagination()
    ul.pagination
        li.pagination__item
            a.pagination__link( href='#0' ) 1
        li.pagination__item
            a.pagination__link( href='#0' ) 2
        li.pagination__item
            a.pagination__link( href='#0' ) 3
        li.pagination__item
            a.pagination__link( href='#0' ) >
