// PHOTO
// --------------------------------------------
.photo
    //

    // PHOTO PICTURE
    // --------------------------------------------
    & .picture
        position relative
        img-adaptive()

    // PHOTO PICTURE LABEL
    // --------------------------------------------
    & .picture-label
        padding 1.1rem 2rem
        background-color $pink-color-pink
        text-transform uppercase
        color $pink-color-white
        font 1.2rem/1.2 $open-sans--bold
        position absolute
        top 4rem
        right 4rem

    // PHOTO PICTURE-CAPTION
    // --------------------------------------------
    & .picture-caption
        //

        // PHOTO PICTURE-CAPTION CENTER
        // --------------------------------------------
        & > .center
            background-color #f2f2f2
            padding 3rem 2rem

        // PHOTO PICTURE-CAPTION HEADER
        // --------------------------------------------
        &__header
            display flex
            justify-content space-between
            margin 0 0 1rem

            @media screen and ( max-width $tablet )
                flex-direction column

        // PHOTO PICTURE-CAPTION TITLE
        // --------------------------------------------
        &__title
            font 2rem/1.2 $open-sans--bold
            color $pink-color-dark

            @media screen and ( max-width $tablet )
                margin 0 0 1rem

        &__date
            font 1.4rem/1.2 $open-sans--light
            text-transform uppercase

        // PHOTO PICTURE-CAPTION SUBTITLE
        // --------------------------------------------
        &__subtitle
            display flex
            align-items center
            font 1.4rem/1.2 $open-sans--regular
            text-transform uppercase
            color $pink-color-pink

            &:hover
                text-decoration underline
                color $pink-color-dark

            &:focus
            &:active
                color rgba( $pink-color-dark, .3 )

            & .photo-post-icon
                fill $pink-color-pink
                size( 1.4rem )
                margin 0 0 0 1.4rem

        &__count
            margin 0 0 0 .4rem

        // PHOTO PICTURE-CAPTION CONTENT
        // --------------------------------------------
        &__content
            font 1.4rem/1.6 $open-sans--regular
            color $pink-color-dark

    // PHOTO MAIN
    // --------------------------------------------
    &__main

        // PHOTO MAIN CENTER
        // --------------------------------------------
        & > .center
            padding 5rem 0

        // PHOTO MAIN GALLERY
        // --------------------------------------------
        & .gallery
            clearfix()

            &__sizer
            &__item
                width calc( 100% / 3 )

                @media screen and ( max-width $tablet )
                    width calc( 100% / 2 )

                @media screen and ( max-width $mobile )
                    width 100%

            &__item
                float left
                padding calc( ( 100% - 30% * 3 ) / 6 )

                @media screen and ( max-width $tablet )
                    padding calc( ( 100% - 46% * 2 ) / 4 )
