// PHOTO
// --------------------------------------------
.photo
    //

    // PHOTO HEADER
    // --------------------------------------------
    &__header
        //

    // PHOTO PICTURE
    // --------------------------------------------
    & .picture
        position relative
        img-adaptive()

    // PHOTO PICTURE LABEL
    // --------------------------------------------
    & .picture-label
        padding 1.1rem 2rem
        background-color $pink-color-pink
        text-transform uppercase
        color $pink-color-white
        font 1.2rem/1.2 $open-sans--bold
        position absolute
        top 4rem
        right 4rem

    // PHOTO PICTURE-CAPTION
    // --------------------------------------------
    & .picture-caption
        //

        // PHOTO PICTURE-CAPTION CENTER
        // --------------------------------------------
        & > .center
            background-color #f2f2f2
            padding 3rem 2rem

        // PHOTO PICTURE-CAPTION HEADER
        // --------------------------------------------
        &__header
            display flex
            justify-content space-between
            margin 0 0 1rem

        // PHOTO PICTURE-CAPTION TITLE
        // --------------------------------------------
        &__title
            font 2rem/1.2 $open-sans--bold
            color $pink-color-dark

        &__date
            font 1.4rem/1.2 $open-sans--light
            text-transform uppercase

        // PHOTO PICTURE-CAPTION SUBTITLE
        // --------------------------------------------
        &__subtitle
            font 1.4rem/1.2 $open-sans--regular
            text-transform uppercase
            color $pink-color-pink

            &:hover
            &:focus
                text-decoration underline
                color $pink-color-dark

            &:active
                color rgba( $pink-color-dark, .3 )

        // PHOTO PICTURE-CAPTION CONTENT
        // --------------------------------------------
        &__content
            font 1.4rem/1.2 $open-sans--regular
            color $pink-color-dark

    // PHOTO MAIN
    // --------------------------------------------
    &__main

        // PHOTO MAIN CENTER
        // --------------------------------------------
        & > .center
            padding 5rem 0

        // PHOTO MAIN GALLERY
        // --------------------------------------------
        & .gallery
            clearfix()

            &__sizer
            &__item
                width calc( 100% / 3 )

            &__item
                float left
                padding calc( ( 100% - 30% * 3 ) / 6 )
