mixin block-socials(data)
    nav.block-socials
        a.block-socials__icon(href="javascript:void();" title="Facebook")
        a.block-socials__icon(href="javascript:void();" title="Twitter")
        a.block-socials__icon(href="javascript:void();" title="Google Plus")
        a.block-socials__icon(href="javascript:void();" title="Behance")
        a.block-socials__icon(href="javascript:void();" title="YouTube")
