include ../block-post-thumb/block-post-thumb
include ../block-pagination/block-pagination

mixin block-sidebar-main(data)
    .block-sidebar-main
        .block-sidebar-main__post
            +block-post-thumb('%=static=%img/assets/block-sidebar-main/post-thumb-image-01.jpg')
        .block-sidebar-main__post
            +block-post-thumb('%=static=%img/assets/block-sidebar-main/post-thumb-image-02.jpg')
        .block-sidebar-main__post
            +block-post-thumb('%=static=%img/assets/block-sidebar-main/post-thumb-image-03.jpg')
        .block-sidebar-main__post
            +block-post-thumb('%=static=%img/assets/block-sidebar-main/post-thumb-image-04.jpg')
        .block-sidebar-main__post
            +block-post-thumb('%=static=%img/assets/block-sidebar-main/post-thumb-image-05.jpg')
        .block-sidebar-main__pagination
            +block-pagination()
