.block-sidebar-main

    // SIDEBAR MAIN POST
    &__post
        margin: 0 0 5rem

    // SIDEBAR MAIN PAGINATION
    &__pagination
        border-top: .1rem solid $color-grey
        padding: 6rem 0 0
