mixin list-social-icons(  )
	nav.list-social-icons
		a( href='#' title='Facebook' target='_blank' rel='nofollow' )
			svg( class='icon' role='img' )
				use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
		a( href='#' title='Twitter' target='_blank' rel='nofollow' )
			svg( class='icon' role='img' )
				use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
		a( href='#' title='Google' target='_blank' rel='nofollow' )
			svg( class='icon' role='img' )
				use( id='google' xlink:href='/assets/images/icon.svg#icon_google' )
		a( href='#' title='Dribbble' target='_blank' rel='nofollow' )
			svg( class='icon' role='img' )
				use( id='dribbble' xlink:href='/assets/images/icon.svg#icon_dribbble' )
		a( href='#' title='Tumblr' target='_blank' rel='nofollow' )
			svg( class='icon' role='img' )
				use( id='tumblr' xlink:href='/assets/images/icon.svg#icon_tumblr' )
