
// LIST-SOCIAL-ICONS
// ----------------------------------

.list-social-icons
	display flex
	margin-top 5rem

	+below( $bp-786 )
		justify-content center

	+below( $bp-500 )
		justify-content space-around

	// LIST-SOCIAL-ICONS LINK
	// ----------------------------------

	& a
		display flex
		justify-content center
		align-items center
		size( 6rem )
		background-color #c8cdd0
		transition background-color .2s

		&:not(:last-child)
			margin-right .1rem

		&:hover
			background-color $color-blue

		// SVG ICON SIZE
		// ------------------------------------

		& > .icon
			size( 2rem )
			fill: $color-white

			+below( $bp-500 )
				size( 2.4rem )
