.footer
    background: #292929 url("%=static=%assets/footer/footer-bg.png") 0 0 repeat
    padding: 6rem 0 4rem

    // FOOTER CENTER SECTION
    // -----------------------------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter


    // FOOTER HEADER SECTION
    // -----------------------------------------------------------

    &__header
        display: flex
        align-items: center
        height: 2.9rem
        margin: 0 0 4rem

        @media screen and (max-width: $bp800)
            justify-content: center

    &__title
        display: flex
        align-items: center
        min-height: 2.9rem
        font: 400 1.8rem/1 $montserrat-regular
        color: $color-white
        letter-spacing: .2rem
        text-transform: uppercase
        padding: 0 0 0 5.3rem
        margin: 0
        background: url("%=static=%assets/footer/footer-logo.png") 0 50% no-repeat


    // FOOTER CONTENT SECTION
    // -----------------------------------------------------------

    &__content
        lost-center 100% flex
        padding: 0 0 6rem


    // FOOTER PRIMARY SECTION
    // -----------------------------------------------------------

    &__primary
        lost-column 4/12
        lost-column-gutter $gutter2

        @media screen and (max-width: $bp800)
            lost-column 1/1
            lost-column-gutter 0
            text-align: center
            margin-bottom: $gutter2

    &__slogan
        font: 400 1.4rem/1.5 $crimson_text-roman
        color: #949494
        margin: 0

    &__address
        margin: 4rem 0 0 0

    &__subtitle
        text-transform: uppercase
        font: 400 1.3rem/1 $montserrat-regular
        color: #e3e3e3
        margin: 0 0 3rem

    &__city
        margin: 0 0 3rem

        & > li
            font: 400 1.4rem/1.5 $crimson_text-roman
            color: #949494

            &:not(:last-child)
                margin: 0 0 1rem

    &__contacts
        margin: 0 0 4rem

        & > li
            font: 400 1.3rem/1.6 $montserrat-regular
            color: #e3e3e3
            text-transform: uppercase
            letter-spacing: .2rem

            & > a
                text-decoration: none
                color: #e3e3e3

    &__socials
        display: flex

        & a
            display: flex
            font-size: 1rem
            padding: 0 .6rem

            &:not(:last-child)
                border-right: .1rem solid #a4a4a4

        @media screen and (max-width: $bp800)
            justify-content: center


    // FOOTER SECONDARY SECTION
    // -----------------------------------------------------------
    &__secondary
        lost-column 8/12
        lost-column-gutter $gutter2

        @media screen and (max-width: $bp800)
            lost-column 1/1
            lost-column-gutter 0


    // FOOTER COPYRIGHT
    // -----------------------------------------------------------

    &__footer
        display: flex
        padding: 4rem 0 3rem
        border-top: .1rem solid #3e3e3e

        @media screen and (max-width: $bp800)
            justify-content: center

        & p
            font: 400 1.4rem/1.2 $crimson_text-italic
            color: #949494
            margin: 0

            & > a
                text-decoration: none
                color: #949494

                &:hover
                &:focus
                    text-decoration: underline
