mixin block-photo-upload(data)
    section.photo-upload
        .center
            header.photo-upload__header
                h3.photo-upload__title
                    | Затмите их всех!
                h3.photo-upload__title
                    | Выкладывайте все, что накопилось в телефоне!
            main.photo-upload__main
                .photo-upload__primary
                    img( src='%=static=%img/assets/block-photo-upload/photo-upload-image.jpg' alt='Upload Image' )
                .photo-upload__secondary
                    .toolbar
                        ul.toolbar__list
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'crop', className: 'toolbar-icon' })
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'flask', className: 'toolbar-icon' })
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'adjust', className: 'toolbar-icon' })
                    ul.submit
                        li.submit__item
                            button.submit__button( type='button' ) Запостить
                        li.submit__item
                            button.submit__button( type='button' ) Отмена




