mixin block-photo-upload()
    section.photo-upload
        .center
            header.photo-upload__header
                h3.photo-upload__title
                    | Затмите их всех!
                h3.photo-upload__title
                    | Выкладывайте все, что накопилось в телефоне!
            main.photo-upload__main
                figure.photo-upload__primary
                    img.photo-upload__image( src='%=static=%img/assets/block-photo-upload/photo-upload-image.jpg' alt='Upload Image' )
                .photo-upload__secondary
                    .toolbar
                        ul.toolbar__list
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'crop', className: 'toolbar-icon' })
                                form.toolbar__form( method='post' action='action.php' )
                                    input.toolbar__slider( type='range' min='0' max='100' value='20' step='1' )
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'flask', className: 'toolbar-icon' })
                                form.toolbar__form( method='post' action='action.php' )
                                    input.toolbar__slider( type='range' min='0' max='100' value='80' step='1' )
                            li.toolbar__item
                                != jadeHelpers.Icon.call( locals, { iconName: 'adjust', className: 'toolbar-icon' })
                                form.toolbar__form( method='post' action='action.php' )
                                    input.toolbar__slider( type='range' min='0' max='100' value='60' step='1' )
                    ul.submit
                        li.submit__item
                            button.submit__button( type='button' )
                                | запостить
                        li.submit__item
                            button.submit__button.submit__button--cancel( type='button' )
                                | отмена




