// Common styles of the project
*, *::before, *::after
    box-sizing border-box

html
    font-size 62.5%

html, body
    height 100%

p
    margin 0

h1, h2, h3, h4
    margin 0

.page
    font-size 1.6rem
    width 100%
    font-family $ProximaNovaRegular

.page__wrapper
    min-height 100%
    margin-bottom -50px

.center
    margin auto
    max-width 900px

* html .page__wrapper
    height 100%

.page__buffer
    height 50px
