// GUI stylies of the project
// For example, styles of the links, buttons and so on.

// LEARN MORE LINK
// ------------------------------
.lear-more
    font-family $ProximaNovaBold
    text-transform uppercase
    text-decoration none
    font-size 1.4rem
    color $color-wooder-black
    padding 0 0 .9rem 0
    position relative

    &::before
        content ''
        display block
        width 4.4rem
        height .2rem
        background-color $color-wooder-beige-light
        position absolute
        left 0
        bottom -.2rem

    &::after
        content ''
        display block
        width 3.5rem
        height .7rem
        position absolute
        top .4rem
        right -4.5rem
        background url('%=static=%assets/block-about/arrow.png') no-repeat

// PARAGRAPH WITH INDENT
// --------------------------------
.indent
    position relative

    &::before
        content ''
        display block
        width 4.4rem
        height .4rem
        background-color $color-wooder-beige-light
        position absolute
        left -7.4rem
        top .6rem

// STRIKE TITLE
// --------------------------------
.strike
    position relative

    &::before
        content ''
        display block
        width 15rem
        height .1rem
        background-color $color-wooder-black
        position absolute
        top 50%
        transform translateY( -50% )
        left -18rem





























