

// DIMENTIONS
// ----------------------------------------
$width = 192rem
$gutter = 1rem

// COLORS
// ----------------------------------------
$color-wooder-white = rgb( 255, 255, 255 )
$color-wooder-black = rgb( 0, 0, 0 );
$color-wooder-black-dark = rgb(1, 1, 1)
$color-wooder-grey = rgb( 70, 70, 70 );
$color-wooder-grey-light = rgb( 125, 125, 125 );
$color-wooder-beige-light = rgb( 190, 166, 124 );
