// INFO
// ------------------------------------------
.info
    //

    // INFO HEADER
    // ------------------------------------------
    &__header
        padding 7rem 0
        background-color $color-white

        & .title
            lost-center 73rem
            font 5rem/1.2 $open-sans--light
            color $pink-color-dark
            text-align center

    // INFO MAIN
    // ------------------------------------------
    &__main
        background-color $pink-color-grey
        padding 0 0 6rem

        & .gallery
            lost-center 100%

            &__item
                lost-column 1/3
                lost-column-gutter $gutter*3
                text-align center

            &__image
                margin 0 0 6rem

            &__title
                font 3rem/1.2 $open-sans--bold
                color $color-black
                margin 0 0 3rem

            & p
                font 1.8rem/1.4 $open-sans--regular
                color $pink-color-dark

    // INFO FOOTER
    // ------------------------------------------
    &__footer
        background-color $pink-color-grey
