
// FEATURES
// ------------------------------------
.features
	padding 8rem 0 12rem
	background-color #3a454d

	// FEATURES CENTER
	// ---------------------------------------

	&__center
		lost-center $width flex
		padding 0 1rem

		// FEATURES TITLE
		// ---------------------------------------

		& > .title span
			color $color-white
