mixin top-header(data)
	.top-header
		.top-header__center
			nav.top-header__menu
				a(href="#") about
				a(href="#") products
				a(href="#") projects
				a(href="#") contact
			.top-header__logo trans
