include ../heading/heading

mixin articles(data)
    .articles
        .articles__center

            .articles__head
                +heading('latest articles')
                form.articles__search(method="post" action="action.php")
                    label(for="name")
                    input(type="text" name="" id="" placeholder="experience design")

            .articles__gallery

                .articles__gallery-item
                    figure.articles__gallery-image
                        a.articles__gallery-tooltip(href="javascript:void();") featured article
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category: a(href="javascript:void();") product
                        li.articles__gallery-comments: a(href="javascript:void();") 0

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category: a(href="javascript:void();") product
                        li.articles__gallery-comments: a(href="javascript:void();") 0

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category: a(href="javascript:void();") product
                        li.articles__gallery-comments: a(href="javascript:void();") 0
