include ../heading/heading

mixin articles(data)
    .articles
        .articles__center

            .articles__head
                +heading('latest articles')
                form.articles__search(method="post" action="action.php")
                    label(for="search") sort by
                    select(name="search" class="search")
                        option(value="") experience design
                        option(value="") visual design
                        option(value="") product design
                        option(value="") patterns

            .articles__gallery

                .articles__gallery-item
                    figure.articles__gallery-image
                        a.articles__gallery-tooltip(href="javascript:void();") featured article
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") design
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 1

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") prototyping
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 13

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") javascript
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 3

                .articles__gallery-item
                    figure.articles__gallery-image
                        a.articles__gallery-tooltip(href="javascript:void();") featured article
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") angular
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 11

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") design
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 20

                .articles__gallery-item
                    figure.articles__gallery-image
                    .articles__gallery-content
                        h3.articles__gallery-title 8 tips when working with multiple stakeholders
                        p A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus &hellip;
                    ul.articles__gallery-meta
                        li.articles__gallery-category
                            a(href="javascript:void();") javascript
                        li.articles__gallery-comments
                            != jadeHelpers.Icon.call(locals, {iconName: 'bubbles', className: 'articles-icon'})
                            a(href="javascript:void();") 10
