.articles
    background-color: $white-color
    padding: 12rem 0

    &__center
        lost-center $width
        padding: 0 $gutter


    // ARTICLES HEAD
    // -----------------------------------------------

    &__head
        display: flex
        justify-content: space-between
        margin: 0 0 6rem

        @media screen and (max-width: $bp768)
            flex-direction: column
            justify-content: flex-start

            & .articles__search
                margin: 4rem 0 0 0


    // ARTICLES GALLERY
    // -----------------------------------------------

    &__gallery
        lost-center 100%

    &__gallery-item
        lost-column 1/3
        lost-column-gutter 3rem

        &:nth-child(-n+3)
            margin-bottom: $gutter

        &:hover .articles__gallery-image::before
        &:focus .articles__gallery-image::before
            opacity: .2

        @media screen and (max-width: $bp900)
            lost-column 1/2 2
            lost-column-gutter 3rem

            &:nth-child(-n+4)
                margin-bottom: $gutter

        @media screen and (max-width: $bp768)
            lost-column 1/1 0
            lost-column-gutter 0

            &:nth-child(-n+5)
                margin-bottom: $gutter


    // ARTICLES GALLERY IMAGE
    // -----------------------------------------------

    &__gallery-image
        width: 100%
        height: 25rem
        min-height: 25rem
        margin: 0 0 2rem
        position: relative

        &:nth-child(1)
            background: url('%=static=%assets/articles/article-image-01.jpg') 50% 50% no-repeat
            background-size: cover

        &:nth-child(2)
            background: url('%=static=%assets/articles/article-image-02.jpg') 50% 50% no-repeat
            background-size: cover

        &:nth-child(3)
            background: url('%=static=%assets/articles/article-image-03.jpg') 50% 50% no-repeat
            background-size: cover

        &:nth-child(4)
            background: url('%=static=%assets/articles/article-image-04.jpg') 50% 50% no-repeat
            background-size: cover

        &:nth-child(5)
            background: url('%=static=%assets/articles/article-image-05.jpg') 50% 50% no-repeat
            background-size: cover

        &:nth-child(6)
            background: url('%=static=%assets/articles/article-image-06.jpg') 50% 50% no-repeat
            background-size: cover

        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background-color: #414a52
            opacity: .6
            transition: opacity .2s


    // ARTICLES GALLERY TOOLTIP
    // -----------------------------------------------

    &__gallery-tooltip
        display: block
        padding: .6rem 1.2rem
        border-radius: 4rem
        background-color: $color-teal
        transition: background-color .2s
        text-decoration: none
        color: $color-white
        text-transform: capitalize
        font-size: 1.3rem
        position: absolute
        left: 2rem
        bottom: 2rem

        &:hover
        &:focus
            background-color: $color-teal-dark


    // ARTICLES GALLERY CONTENT
    // -----------------------------------------------

    &__gallery-content
        margin: 0 0 3rem

        & p
            font: 1.5rem/1.8 $raleway-regular
            color: $color-slate
            margin: 0 0 2rem

            &:last-child
                margin: 0

        @media screen and (max-width: $bp500)
            text-align: center


    // ARTICLES GALLERY TITLE
    // -----------------------------------------------

    &__gallery-title
        font: 2rem/1.4 $raleway-semibold
        color: $color-slate-light
        margin: 0 0 1rem

        @media screen and (max-width: $bp500)
            margin: 0 0 2rem


    // ARTICLES GALLERY META
    // -----------------------------------------------

    &__gallery-meta
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1.4rem 0 0
        border-top: .2rem solid #e1e3e7
        font: 1.3rem/1 $raleway-regular

        & a
            text-decoration: none
            text-transform: capitalize
            transition: color .2s

    &__gallery-category a
        color: $color-teal

        &:hover
        &:focus
            color: $color-teal-dark

    &__gallery-comments
        display: flex

        & .articles-icon
            width: 1.3rem
            height: 1.3rem

        & a
            display: flex
            padding: 0 0 0 .5rem
            color: $color-slate

            &:hover
            &:focus
                color: $color-black
