
mixin block-hero( title, ...items )
    .header-hero
        .center
            h2.header-hero__title= title
            ul.breadcrumbs
                each item in items
                    li.breadcrumbs__item
                        a.breadcrumbs__link( href='#{js}' )= item
