include ../module-heading-navigation/module-heading-navigation

mixin block-hero( title, itemPrimary, itemSecondary )
    .header-hero
        .center
            +module-heading-navigation( title, itemPrimary, itemSecondary )
