
// HEADER HERO
// --------------------------------------

.header-hero
    // background: url( '%=static=%assets/block-hero/header-blog-bg.jpg' ) 50% 50% no-repeat
    background-size cover
    height 39.6rem

    // HEADER HERO CENTER
    // --------------------------------------

    & .center
        height 39.6rem
        justify-content center
