// ABOUT
// -------------------------------------------
.block-about
    padding 8rem 0
    border-bottom .3rem solid #dde1e4

    // ABOUT HEADER
    // -------------------------------------------
    &__header
        margin 0 0 6rem

    // ABOUT MAIN
    // -------------------------------------------
    &__main
        lost-center 100% flex

    // ABOUT PRIMARY
    // -------------------------------------------
    &__primary
        lost-column 7/12
        lost-column-gutter $gutter

        @media screen and ( max-width $bp-786 )
            lost-column 1/1
            lost-column-gutter 0

    // ABOUT CONTENT
    // -------------------------------------------
    &__content
        margin 0 0 5rem

        & p
            font 1rem/1.6 $sans-regular
            color $modest-grey-dark2

            &:not(:last-child)
                margin 0 0 2rem

   // ABOUT SOCIALS
   // -------------------------------------------
    &__socials
        display flex

        & a
            display flex
            justify-content center
            align-items center
            size( 6rem )
            background-color #c8cdd0

            &:not(:last-child)
                margin-right .1rem

            &:hover
                background-color $modest-blue

        @media screen and ( max-width $bp-786 )
            justify-content center

    // ABOUT SECONDARY
    // -------------------------------------------
    &__secondary
        lost-column 5/12
        lost-column-gutter $gutter

        @media screen and ( max-width $bp-786 )
            lost-column 1/1
            lost-column-gutter 0

        // ABOUT LIST
        // -------------------------------------------
        & .list
            //

            // ABOUT LIST ROW
            // -------------------------------------------
            &__row
                display flex

                &:not(:last-child)
                    margin 0 0 2rem

                @media screen and ( max-width $bp-500 )
                    flex-direction column
                    align-items center
                    text-align center

                    &:not(:last-child)
                        margin 0 0 4rem

            // ABOUT LIST PRIMARY
            // -------------------------------------------
            &__primary
                display flex
                justify-content center
                align-items center
                size( 5rem )
                flex 0 0 1 5rem
                background-color $modest-blue
                transition background-color .2s

                & span
                    font 1.4rem/1.2 $quattro-bold
                    color $modest-white

                @media screen and ( max-width $bp-500 )
                    margin 0 0 2rem 0

            // ABOUT LIST SECONDARY
            // -------------------------------------------
            &__secondary
                flex 1 24 auto
                padding 0 0 0 1rem

                & p
                    color $modest-grey-dark2
                    font-size 1rem
                    line-height 1.6

            // ABOUT LIST TITLE
            // -------------------------------------------
            &__title
                margin 0 0 1rem

                & span
                    font 1.2rem/1.2 $quattro-bold
                    text-transform uppercase
                    color $modest-dark
                    transition color .2s

                    &:hover
                        color lighten( #292f36, 20% )
