include ../block-heading/block-heading

mixin block-about(data)
    section.block-about
        .center
            .block-about__header
                +block-heading()
            .block-about__main
