.button-secondary
    display: inline-block
    vertical-align: middle
    padding: 1.4rem 2.4rem
    border: .2rem solid $color-teal
    color: $color-teal
    text-transform: uppercase
    text-decoration: none
    font: 1.3rem/1 $raleway-semibold
    transition: background-color .2s, color .2s

    &:hover
    &:focus
        background-color: $color-teal
        color: $color-white
