mixin navigation(data)
    ul.navigation
        li.navigation__item: a.navigation__link(href="javascript:void();") featured
        li.navigation__item: a.navigation__link(href="javascript:void();") furniture
        li.navigation__item: a.navigation__link(href="javascript:void();") decoration
        li.navigation__item: a.navigation__link(href="javascript:void();") lighting
        li.navigation__item: a.navigation__link(href="javascript:void();") electronics
