mixin navigation(data)
    .navigation
        ul.navigation__wrapper
            li.navigation__item: a(href="javascript:void();") featured
            li.navigation__item: a(href="javascript:void();") furniture
            li.navigation__item: a(href="javascript:void();") decoration
            li.navigation__item: a(href="javascript:void();") lighting
            li.navigation__item: a(href="javascript:void();") electronics
