mixin social-icons()
  nav.social
    a.social__item(href="#{jv0}" title="Facebook")
    a.social__item(href="#{jv0}" title="Twitter")
    a.social__item(href="#{jv0}" title="LinkedIn")
    a.social__item(href="#{jv0}" title="Behance")
