include ../about/about
include ../skills/skills
include ../team/team
include ../services/services
include ../facts/facts
include ../work/work
include ../addwork/addwork
include ../follow/follow
include ../testimonial/testimonial
include ../pricing/pricing
include ../quotation/quotation
include ../touch/touch
include ../map/map
include ../socials/socials

mixin index()
	+b.index
		+about()
		+skills()
		+team()
		+services()
		+facts()
		+work()
		+addwork()
		+follow()
		+testimonial()
		+pricing()
		+quotation()
		+touch()
		+map()
		+socials()
