@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/montserrat-regular.woff2') format('woff2'),
			 url('../fonts/montserrat-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular.woff2') format('woff2'),
			url('../fonts/opensans-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light.woff2') format('woff2'),
			url('../fonts/opensans-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold.woff2') format('woff2'),
			url('../fonts/opensans-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
			url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
			url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}