// COLOR
// ---------------------------------------------
$color-white = #fff
$color-black = #000
$color-green = #a2ca28
$color-red = #fd634e
$color-grey = #656e74
$color-grey-dark = #0d1119
$color-grey-light = #8297a7

$color-facebook-icon = #2e3192
$color-twitter-icon = #00aeef
$color-youtube-icon = #ed3123
$color-linkedin-icon = #171a8f

// FONTS
// ---------------------------------------------
$montserrat-regular = 'montserratregular', sans-serif
$opensans-regular = 'open_sansregular', sans-serif
$opensans-light = 'open_sanslight', sans-serif
$opensans-bold = 'open_sansbold', sans-serif
$proximanova-regular = 'ProximaNovaRegular', sans-serif
$proximanova-bold = 'ProximaNovaBold', sans-serif


// DIMENTIONS
// ---------------------------------------------
$width = 1180px


// MEDIA QUERIES
// ---------------------------------------------
$bp768 = 768px
$bp500 = 500px
