.footer
	padding 5rem 0
	background-color #3a454d

	& a
		color $color-white

		&:hover
			text-decoration underline

	&__center
		lost-center $width flex
		padding 0 1rem
		justify-content space-between

		+below($bp-500)
			flex-direction column
			align-items center

	&__copyright
		font-size 1rem
		color $color-white

		+below($bp-500)
			margin-bottom 3rem

	&__social
		display flex
		justify-content center
		align-items center

		& .icon
			display block
			size(1.75rem)
			margin 0 1rem

			+below($bp-500)
				size(2rem)
