.footer
	padding 5rem 0
	background-color #3a454d

	& a
		color $color-white

		&:hover
			text-decoration underline

	&__center
		width $width
		margin auto
		padding 0 1rem
		display flex
		justify-content space-between

	&__copyright
		font-size 1rem
		color $color-white

	&__social
		display flex
		justify-content center
		align-items center

		& .icon
			display block
			size(1.75rem)
			margin 0 1rem
