mixin footer(  )
	footer.footer
		.footer__center
			.footer__copyright
				| &copy; Copyright #[span 2014] by <a href='#'>PSD Booster</a>. <span>All Right Reserved</span>.
			nav.footer__social
				a( href='#' title='Twitter' target='_blank' rel='nofollow' )
					svg( class='icon' role='img' )
						use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
				a( href='#' title='Facebook' target='_blank' rel='nofollow' )
					svg( class='icon' role='img' )
						use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
				a( href='#' title='Skype' target='_blank' rel='nofollow' )
					svg( class='icon' role='img' )
						use( id='skype' xlink:href='/assets/images/icon.svg#icon_skype' )
				a( href='#' title='Behance' target='_blank' rel='nofollow' )
					svg( class='icon' role='img' )
						use( id='behance' xlink:href='/assets/images/icon.svg#icon_behance' )
				a( href='#' title='LinkedIn' target='_blank' rel='nofollow' )
					svg( class='icon' role='img' )
						use( id='linkedin' xlink:href='/assets/images/icon.svg#icon_linkedin' )
