include ../module-header/module-header

mixin block-pricing(data)
    .pricing
        .pricing__center
            .pricing__header
                +module-header( 'plant &', 'pricing' )
            .pricing__content
                .table
                    .table__item
                        .table__header basic plan
                        .table__main
                            h3.table__price <span class='table__currency'>$</span>25<span class='table__month'>mo</span>
                            .table__info
                                ul.table__list
                                    li.table__list-item 60 users
                                    li.table__list-item unlimited forums
                                    li.table__list-item unlimited reports
                                    li.table__list-item 3,000 entries per month
                                    li.table__list-item 200 mb storage
                                    li.table__list-item unlimited support
                        .table__footer
                            button.table__button( type='button' ) order now
                            small.table__special 30 days free trial
                    .table__item
                        .table__header basic plan
                        .table__main
                            h3.table__price <span class='table__currency'>$</span>25<span class='table__month'>mo</span>
                            .table__info
                                ul.table__list
                                    li.table__list-item 60 users
                                    li.table__list-item unlimited forums
                                    li.table__list-item unlimited reports
                                    li.table__list-item 3,000 entries per month
                                    li.table__list-item 200 mb storage
                                    li.table__list-item unlimited support
                        .table__footer
                            button.table__button( type='button' ) order now
                            small.table__special 30 days free trial
                    .table__item
                        .table__header basic plan
                        .table__main
                            h3.table__price <span class='table__currency'>$</span>25<span class='table__month'>mo</span>
                            .table__info
                                ul.table__list
                                    li.table__list-item 60 users
                                    li.table__list-item unlimited forums
                                    li.table__list-item unlimited reports
                                    li.table__list-item 3,000 entries per month
                                    li.table__list-item 200 mb storage
                                    li.table__list-item unlimited support
                        .table__footer
                            button.table__button( type='button' ) order now
                            small.table__special 30 days free trial
                    .table__item
                        .table__header basic plan
                        .table__main
                            h3.table__price <span class='table__currency'>$</span>25<span class='table__month'>mo</span>
                            .table__info
                                ul.table__list
                                    li.table__list-item 60 users
                                    li.table__list-item unlimited forums
                                    li.table__list-item unlimited reports
                                    li.table__list-item 3,000 entries per month
                                    li.table__list-item 200 mb storage
                                    li.table__list-item unlimited support
                        .table__footer
                            button.table__button( type='button' ) order now
                            small.table__special 30 days free trial
