include ../block-form-section-primary/block-form-section-primary
include ../block-form-section-secondary/block-form-section-secondary
include ../block-form-section-tertiary/block-form-section-tertiary
include ../block-form-section-quaternary/block-form-section-quaternary
include ../block-form-section-quinary/block-form-section-quinary

mixin block-form()
    form.form( method='post' action='action.php' )
        +block-form-section-primary()
        +block-form-section-secondary()
        +block-form-section-tertiary()
        +block-form-section-quaternary()
        +block-form-section-quinary()
