



// FORM SECTION
// ------------------------------
& .section
    margin 0 0 6rem

// SECTION FIRST
// --------------------------------------------------------
& .section--first
    @media screen and ( max-width $desktop )
        display flex
        flex-direction column

        & > .section-half
            width 100%

            &:first-child
                margin 0 0 6rem

// SECTION SECOND
// ----------------------------------------------------------
& .section--second
    @media screen and ( max-width $desktop )
        display flex
        flex-direction column

        & > .section-half
            width 100%

            &:nth-child(2)
                margin 0 0 6rem

// SECTION FIFTH
// ----------------------------------------------------------
& .section--fifth .section-half
    width 50%

    @media screen and ( max-width $tablet )
        flex-direction column

        & > .section-half
            width 100%
            display flex
            justify-content center

            &:first-child
                margin 0 0 6rem

& .section--fifth .section-half.section-half--secondary
    text-align right





// FORM SECTION SPLIT
// ------------------------------
& .section--split
    display flex
    justify-content space-between
    align-items center

// FORM SECTION HALF
// ------------------------------
& .section-half
    width 46%

& .section-half--primary
    display flex
    flex-direction column
    justify-content space-between

& .section-half--primary .section-row
    display flex

    @media screen and ( max-width $mobile )
        flex-direction column

& .section-half--primary .section-row__label::after
    content ':'
    margin 0 2rem 0 0

& .section-half--primary .section-row__input
    width 100%
    border .2rem solid #e5e5e5
    padding 2rem
    font 1.8rem/1.2 $open-sans--regular
    color $pink-color-dark
    transition border-color .2s
    background-color transparent

    &:hover
        border-color $pink-color-dark

    &:focus
        border-color $pink-color-pink

    &:hover .section-row__label::before
        border-color $pink-color-dark

& .section-half--primary .section-row__label
    text-transform uppercase
    color $pink-color-pink
    font 1.4rem/1.2 $open-sans--regular

    @media screen and ( max-width $mobile )
        display block
        width 100%
        margin 0 0 2rem 4rem

& .section-half--secondary .section-row__label
    color $pink-color-dark
    font 1.8rem/4rem $open-sans--regular
    padding 0 0 0 6rem
    position relative
    cursor pointer

    &::before
    &::after
        content ''
        display block
        position absolute
        top 50%
        transform translateY( -50% )
        border-radius 50%
        transition border-color .2s, background-color .2s

    &::before
        size( 4rem )
        left 0
        border .2rem solid #e5e5e5
        transition border-color .2s

    &::after
        size( 1.4rem )
        left 1.3rem
        background-color transparent

& .section-half--secondary .section-row__input
    position absolute
    clip rect( 0, 0, 0, 0 )

    &:checked + .section-row__label::before
        border-color $pink-color-pink

    &:checked + .section-row__label::after
        background-color $pink-color-pink





// SECTION ROW
// ------------------------------------------------------
& .section-row
    display flex
    align-items center
    margin 0 0 2rem

    &:last-child
        margin 0

    @media screen and ( max-width $mobile )
        margin 0 0 4rem

        &:last-child
            margin 0



// FORM LIST
// -------------------------------------------------------
& .section-list
    display flex
    justify-content space-between
    flex-wrap wrap

    @media screen and ( max-width $desktop )
        flex-direction column

    // FORM LIST ITEM
    // ---------------------------------------------------
    &__item
        display flex
        flex 0 1 30%
        align-items center
        padding 0 0 0 6rem

        &:nth-child( -n+3 )
            margin 0 0 4rem

        &:hover .section-list__label::before
            border-color $pink-color-dark

        @media screen and ( max-width $desktop )
            &:nth-child( -n+5 )
                margin 0 0 4rem

    // FORM LIST CHECK
    // ------------------------------
    &__input
        position absolute
        clip rect( 0, 0, 0, 0 )

        &:checked + .section-list__label::before
            background url( '%=static=%assets/block-form/checked.png' ) 50% 50% no-repeat
            border-color $pink-color-pink

    // FORM LIST LABEL
    // ------------------------------
    &__label
        font 1.8rem/1.2 $open-sans--regular
        cursor pointer
        position relative

        &::before
            content ''
            display block
            size( 4rem )
            border .2rem solid #e5e5e5
            position absolute
            left -6rem
            top 50%
            transform translateY( -50% )
            transition border-color .2s

        @media screen and ( max-width $desktop )
            line-height 4rem
