// FORM
// ------------------------------
.pink-form
    //

    // FORM CENTER
    // ------------------------------
    & .center
        //

    // FORM FORM
    // ------------------------------
    & .form
        padding 10rem 0 0 0

        // FORM TITLE
        // ------------------------------
        &__title
            font 1.8rem/1.4 $open-sans--regular
            color $pink-color-dark
            text-align center
            max-width 75rem
            margin 0 auto 8rem

        // FORM SECTION
        // ------------------------------
        & .section
            margin 0 0 6rem

        // FORM SECTION BORDERED
        // ------------------------------
        & .section--bordered
            padding 4.4rem 6rem
            position relative
            border .2rem solid #e5e5e5

        // FORM LEGEND
        // ------------------------------
        & .section__caption
            white-space: nowrap
            text-transform uppercase
            color $pink-color-pink
            font 1.4rem/1.2 $open-sans--regular
            text-align center
            letter-spacing .1rem
            padding 0 4rem
            position absolute
            left 50%
            top -.8rem
            transform translateX(-50%)
            background-color $pink-color-white

        // FORM DESCRIPTION
        // ------------------------------
        & .section__description
            width 100%
            min-height 13rem
            padding 2.5rem 2.2rem 2.2rem 2.2rem
            font 1.8rem/1.4 $open-sans--regular
            color $pink-color-dark
            border .2rem solid #e5e5e5

        // FORM SECTION SPLIT
        // ------------------------------
        & .section--split
            display flex
            justify-content space-between
            align-items center
            cursor not-allowed

        // FORM SECTION HALF
        // ------------------------------
        & .section-half
            width 46%

        & .section-half--primary
            display flex
            flex-direction column
            justify-content space-between

        & .section-half--primary .section-row
            display flex

        & .section-half--primary .section-row__label

            &::after
                content ':'
                margin 0 2rem 0 0

        & .section-half--primary .section-row__input
            width 100%
            border .2rem solid #e5e5e5
            padding 2rem
            font 1.8rem/1.2 $open-sans--regular
            color $pink-color-dark
            transition border-color .2s

            &:hover
                border-color $pink-color-dark

            &:focus
                border-color $pink-color-pink

        & .section-half--secondary .section-row
            // height 3.9rem

            &:hover .section-row__label::before
                border-color $pink-color-dark

        & .section-half--primary .section-row__label
            text-transform uppercase
            color $pink-color-pink
            font 1.4rem/1.2 $open-sans--regular

        & .section-half--secondary .section-row__label
            color $pink-color-dark
            font 1.8rem/4rem $open-sans--regular
            padding 0 0 0 6rem
            position relative
            cursor pointer

            &::before
            &::after
                content ''
                display block
                position absolute
                top 50%
                transform translateY( -50% )
                border-radius 50%
                transition border-color .2s, background-color .2s

            &::before
                size( 4rem )
                left 0
                border .2rem solid #e5e5e5
                transition border-color .2s

            &::after
                size( 1.4rem )
                left 1.3rem
                background-color transparent

        & .section-half--secondary .section-row__input
            position absolute
            clip rect( 0, 0, 0, 0 )

            &:checked + .section-row__label::before
                border-color $pink-color-pink

            &:checked + .section-row__label::after
                background-color $pink-color-pink

        // SECTION FIELD
        // ------------------------------
        & .section-field
            display flex
            justify-content space-between
            align-items center
            padding 2rem
            margin 0 0 2rem
            border .2rem solid #e5e5e5
            transition border-color .2s

            &__input
                width 100%
                background-color transparent
                border 0
                font 1.8rem/1.2 $open-sans--regular
                color $pink-color-dark

                &:focus
                    outline none

            & .section-icon
                size( 2rem )
                margin 0 0 0 2rem
                fill $pink-color-pink

            &:hover
                border-color $pink-color-dark

            &__label
                text-transform uppercase
                color $pink-color-pink
                font 1.4rem/1.2 $open-sans--regular
                letter-spacing .1rem
                margin 0 0 0 2rem

        // SECTION ROW
        // ------------------------------------------------------
        & .section-row
            display flex
            align-items center
            margin 0 0 2rem

            &:last-child
                margin 0

        // SECTION BUTTON
        // -------------------------------------------------------
        & .section-button
            size( 30rem, 6rem )
            background-color $pink-color-green
            text-transform uppercase
            font 1.8rem/1.2 $open-sans--bold
            color $pink-color-white
            transition background-color .2s, color .2s

            &:hover
                background-color darken( $pink-color-green, 20% )

            &:active
            &:focus
                color rgba( $pink-color-white, .3 )
                background-color darken( $pink-color-green, 20% )

            &.is-disabled
                background-color #e5e5e5
                color $pink-color-white
                pointer-events none

        // SECTION REMARK
        // ------------------------------------------------------
        & .section-remark
            text-transform uppercase
            color $pink-color-dark
            font 1.4rem/1.2 $open-sans--regular

            &::before
                content '*'
                color $pink-color-pink
                margin 0 .5rem 0 0

        // FORM LIST
        // -------------------------------------------------------
        & .section-list
            display flex
            justify-content center
            flex-wrap wrap

            // FORM LIST ITEM
            // ---------------------------------------------------
            &__item
                display flex
                flex 0 1 30%
                align-items center
                height 4rem
                padding 0 0 0 6rem

                &:nth-child( -n+3 )
                    margin 0 0 4rem

                &:hover .section-list__label::before
                    border-color $pink-color-dark

            // FORM LIST CHECK
            // ------------------------------
            &__input
                position absolute
                clip rect( 0, 0, 0, 0 )

                &:checked + .section-list__label::before
                    background url( '%=static=%assets/block-form/checked.png' ) 50% 50% no-repeat
                    border-color $pink-color-pink

            // FORM LIST LABEL
            // ------------------------------
            &__label
                font 1.8rem/1.4 $open-sans--regular
                cursor pointer
                position relative

                &::before
                    content ''
                    display block
                    size( 4rem )
                    border .2rem solid #e5e5e5
                    position absolute
                    left -6rem
                    top 50%
                    transform translateY( -50% )
                    transition border-color .2s
