// REVIEWS
// ---------------------------
.reviews
    padding 6rem 0 3rem
    background-color $color-white

    // REVIEWS SWIPER-CONTAINER
    // -------------------------------------------
    & .swiper-container
        width 100%
        height 100%
        padding 0 0 4rem

    // REVIEWS SWIPER-SLIDE
    // ------------------------------------------
    & .swiper-slide
        display flex
        flex-direction column
        align-items center

    // REVIEWS SWIPER-BUTTON-NEXT && SWIPER-BUTTON-PREV
    // --------------------------------------------------
    & .swiper-button-next
    & .swiper-button-prev
        background none
        opacity 1

        & .reviews-arrows
            fill: rgba( $pink-color-dark, .3 )

        &:hover .reviews-arrows
            fill: rgba( $pink-color-dark, .6 )

        &:focus .reviews-arrows
            fill: rgba( $pink-color-dark, .1 )

        @media screen and ( max-width $tablet )
            display none

    // REVIEWS SWIPER-PAGINATION
    // ---------------------------
    & .swiper-pagination
        bottom 0
        display flex
        align-items center
        justify-content center
        
        @media screen and ( min-width $tablet )
            display none

    // REVIEWS SWIPER-PAGINATION-BULLET
    // ---------------------------
    & .swiper-pagination-bullet
        size( .6rem )
        opacity 1
        background-color rgba( $pink-color-dark, .3 )

        &:hover
        &:focus
            background-color rgba( $pink-color-dark, .6 )

        &:active
            background-color rgba( $pink-color-dark, .1 )

    & .swiper-pagination-bullet-active
        size( 1.2rem )
        background-color transparent
        border .3rem solid $pink-color-dark


    // REVIEWS CONTENT
    // ----------------------------------------
    &__content
        max-width 90%
        display flex
        flex-direction column
        align-items center

    // REVIEWS THUMB
    // ----------------------------------------
    &__thumb
        margin 0 0 5rem

        & .reviews-icon
            fill #efefef

        @media screen and ( max-width $tablet )
            display none

    // REVIEWS CITE
    // ----------------------------------------
    &__cite
        font 1.8rem/1.8 $open-sans--regular
        color $pink-color-dark
        text-align center
        quotes '\00ab' '\00bb'

        &::before
            content open-quote

        &::after
            content close-quote
            
        @media screen and ( min-width $tablet )
            max-width 80%

    // TODO
    // добавить кавычки

    // REVIEWS META
    // ----------------------------------------
    &__meta
        margin 4rem 0 0
        text-align center

        // REVIEWS META TITLE
        // ---------------------------------------
        & .title
            font 3rem/1.4 $open-sans--bold
            color $color-black
            text-transform capitalize

        // REVIEWS META SUBTITLE
        // --------------------------------------------
        & .subtitle
            font 1.8rem/1.4 $open-sans--regular
            color $pink-color-dark
