// REVIEWS
// ---------------------------
.reviews
    padding 6rem 0 3rem
    background-color $color-white

    // REVIEWS SWIPER-CONTAINER
    // -------------------------------------------
    & .swiper-container
        width 100%
        height 100%

    // REVIEWS SWIPER-SLIDE
    // ------------------------------------------
    & .swiper-slide
        display flex
        flex-direction column
        align-items center

    // REVIEWS SWIPER-BUTTON-NEXT && SWIPER-BUTTON-PREV
    // --------------------------------------------------
    & .swiper-button-next
    & .swiper-button-prev
        background none
        opacity 1

        & .reviews-arrows
            fill: rgba( $pink-color-dark, .3 )

        &:hover .reviews-arrows
            fill: rgba( $pink-color-dark, .6 )

        &:focus .reviews-arrows
            fill: rgba( $pink-color-dark, .1 )


    // REVIEWS CONTENT
    // ----------------------------------------
    &__content
        lost-center 70rem
        display flex
        flex-direction column
        align-items center

    // REVIEWS THUMB
    // ----------------------------------------
    &__thumb
        margin 0 0 5rem

        & .reviews-icon
            fill: #efefef

    // REVIEWS CITE
    // ----------------------------------------
    &__cite
        font 1.8rem/1.4 $open-sans--regular
        color $pink-color-dark
        text-align center

    // REVIEWS META
    // ----------------------------------------
    &__meta
        margin 4rem 0 0
        text-align center

        // REVIEWS META TITLE
        // ---------------------------------------
        & .title
            font 3rem/1.4 $open-sans--bold
            color $color-black
            text-transform capitalize

        // REVIEWS META SUBTITLE
        // --------------------------------------------
        & .subtitle
            font 1.8rem/1.4 $open-sans--regular
            color $pink-color-dark
