// CLIENTS
// --------------------------------

.clients
    background-color: $color-white
    padding: 8rem 0

    // CLIENTS HEADER
    // --------------------------------

    &__header
        margin: 0 0 8rem

        & p
            lost-center: 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // CLIENTS MAIN
    // --------------------------------

    &__main
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        width: 100%

    // CLIENTS ITEM
    // --------------------------------

    &__item
        flex: 1 1 12rem
        margin: 2rem
        display: flex
        justify-content: center
        align-items: center
