mixin header(data)
    .header
        .header__primary
            .header__center
                .header__logo
                    a( href='javascript:void(0);' )
                        h1 cherry<span>shop</span>
                        small top of the fashion
                .header__form
        .header__secondary
            .header__center
                ul.header__menu
                    li: a( href='javascript:void(0);' ) electronics
                    li: a( href='javascript:void(0);' ) parts &amp; accessories
                    li: a( href='javascript:void(0);' ) components
                    li: a( href='javascript:void(0);' ) fashion
                    li: a( href='javascript:void(0);' ) interiors
                    li: a( href='javascript:void(0);' ) kitchen
                    li: a( href='javascript:void(0);' ) house holds