mixin footer(data)
    footer.footer
        .footer__center
            .footer__primary
                h1.footer__title about us
            .footer__secondary
                p.footer__slogan Soho make it possible for everyone to create a unique and personal look by introducing a large range of different fabrics, lovely patterns and beautiful colors. thank your for your attention.
                .footer__content
                    .footer__main-list
                        ul
                            li: a(href='javascript:void(0);') featured
                            li: a(href='javascript:void(0);') furniture
                            li: a(href='javascript:void(0);') decoration
                            li: a(href='javascript:void(0);') electronics
                            li: a(href='javascript:void(0);') lighting
                    .footer__second-list
                        ul
                            li: a(href='javascript:void(0);') about us
                            li: a(href='javascript:void(0);') contact us
                            li: a(href='javascript:void(0);') delivery
                            li: a(href='javascript:void(0);') returns
                    .footer__content-info
                        p Copyright 2016 Soho Theme.
                        p Powered by <a href='javascript:void(0); target='_blank' rel='nofollow'>Shopify</a>
                        ul.footer-social
                            li: a(href='javascript:void(0);' title='visa' target='_blank' rel='nofollow')
                                != jadeHelpers.Icon.call(locals, {iconName: 'visa-icon', className: 'footer-icon'})
                            li: a(href='javascript:void(0);' title='mastercard' target='_blank' rel='nofollow')
                                != jadeHelpers.Icon.call(locals, {iconName: 'mastercard-icon', className: 'footer-icon'})
                            li: a(href='javascript:void(0);' title='paypal' target='_blank' rel='nofollow')
                                != jadeHelpers.Icon.call(locals, {iconName: 'paypal-icon', className: 'footer-icon'})