mixin block-hero(data)
    .hero
        .hero__center
            h2.hero__title get ready
            .hero__logo
            p.hero__subtitle Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante
            .hero__button
        .hero__bottom
            canvas#heroBottomCanvas
            img.hero-bottom-image
