mixin top-header(data)
    .top-header
        .top-header__center
            // MAIN MENU
            .top-header__primary
                a.top-header__logo(href="#") atlantida
                nav.top-header__navigation
                    a.top-header__link(href="#home") home
                    a.top-header__link(href="#about") about
                    a.top-header__link(href="#services") services
                    a.top-header__link(href="#history") history
                    a.top-header__link(href="#team") team
                    a.top-header__link(href="#portfolio") portfolio
                    a.top-header__link(href="#prices") prices
                    a.top-header__link(href="#blog") blog
                    a.top-header__link(href="#contact") contact
            // SOCIAL MENU
            .top-header__secondary
                a.top-header__icons(href="#" title="Facebook")
                    != jadeHelpers.Icon.call(locals, {iconName: 'facebook', className: 'header-icon'})
                a.top-header__icons(href="#" title="Twitter")
                    != jadeHelpers.Icon.call(locals, {iconName: 'twitter', className: 'header-icon'})
                a.top-header__icons(href="#" title="Behance")
                    != jadeHelpers.Icon.call(locals, {iconName: 'behance', className: 'header-icon'})
            // OVERLAY MENU
            nav.overlay
                a.overlay__link(href="#home") home
                a.overlay__link(href="#about") about
                a.overlay__link(href="#services") services
                a.overlay__link(href="#history") history
                a.overlay__link(href="#team") team
                a.overlay__link(href="#portfolio") portfolio
                a.overlay__link(href="#prices") prices
                a.overlay__link(href="#blog") blog
                a.overlay__link(href="#contact") contact
