mixin promo(data)
  section.promo#promo
    .promo__center
      h1.promo__title We launch leaders with big ideas
      small.promo__slogan Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa alias voluptatem iste quam eius vero velit iusto dolores tempore, culpa pariatur neque! Quos a ut ea saepe at! Maxime, exercitationem!
    .promo__decor
