
*,*::before,*::after
    box-sizing: border-box

html, body
    height 100%

html
    font-size: 62.5%

.page
    font-size: 1.6rem
    line-height: 1

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
