// File for less-vars.
// For example: main colors, paddings and so on.

// DIMENTIONS
// ---------------------------------------------
$width = 1170px
$gutter = 30px

// COLORS
// ---------------------------------------------
$white-color = #fff // background color && h2 color
$charcoal-grey-color = #414a52
$gunmetal = #4d5256

// fonts
// ---------------------------------------------
$raleway-light = 'ralewaylight', sans-serif
$raleway-regular = 'ralewayregular', sans-serif
$raleway-medium = 'ralewaymedium', sans-serif
$raleway-semibold  ='ralewaysemibold', sans-serif
$raleway-bold = 'ralewaybold', sans-serif