
// DIMENTIONS
// ---------------------------------------------

$width = 1170px
$gutter = 30px


// COLORS
// ---------------------------------------------

$color-white = #fff
$color-black = #000

$color-teal = #5bc9c5
$color-teal-dark = #4cafac
$color-teal-light = #66e0e5

$color-slate = #4d5256
$color-slate-dark = #5e6265
$color-slate-light = #414a52

$color-grey = #8a9097
$color-grey-light = #f4f6f9
$color-grey-dark = #55595d
$color-grey-light-super = #e5e7e9

$color-silver = #e5e7e9


// FONTS
// ---------------------------------------------

$raleway-light = 'ralewaylight', sans-serif
$raleway-regular = 'ralewayregular', sans-serif
$raleway-medium = 'ralewaymedium', sans-serif
$raleway-semibold  ='ralewaysemibold', sans-serif
$raleway-bold = 'ralewaybold', sans-serif


// MEDIA QUERIES
// ---------------------------------------------

$bp500 = 500px
$bp600 = 600px
$bp768 = 768px
$bp900 = 900px
$bp980 = 980px
