// FOOTER
// ----------------------------------------
.footer
    padding 4rem 0
    background-color $color-grey--light

    // FOOTER CENTER
    // ----------------------------------------

    & > .center
        display flex
        justify-content space-between
        align-items center

    // FOOTER PRIMARY
    // ----------------------------------------

    &__primary
        display flex
        align-items center
        height 3.2rem
        padding 0 0 0 4.6rem
        background url( '%=static=%assets/footer/footer-logo.png' ) 0 50% no-repeat

        & p
            font 400 1.4rem/1.2 $ptsans
            color $color-black--light

    // FOOTER SECONDARY
    // ----------------------------------------

    &__secondary a
        margin 0 1rem
        font 400 1.4rem/1.2 $ptsans
        color $color-black--light

        &:hover
            color $color-orange

    // FOOTER TERTIARY
    // ----------------------------------------

    &__tertiary

        & nav
            display flex

        & a
            display block
            size( 3.2rem )
            border-radius 50%
            background-color $color-orange

            &:not(:first-child)
                margin 0 0 0 1rem
