mixin footer()
    footer.footer
        .center
            .footer__primary
                | &copy; <a class='footer__brand' href='#0'>Gethelp.pro</a>, <span class='footer-year'>2015</span>
            nav.footer__secondary
                a.footer__link( href='#0' )
                    | О нас
                a.footer__link( href='#0' )
                    | Калькулятор услуг
                a.footer__link( href='#0' )
                    | Поставщикам услуг
                a.footer__link( href='#0' )
                    | Договор-оферта
            nav.footer__tertiary
                a.footer__icon( href='#0' title='Instagram' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, {iconName: 'instagram', className: 'footer-icon' })
                a.footer__icon( href='#0' title='Facebook' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, {iconName: 'facebook', className: 'footer-icon' })
