mixin hero(data)
    .hero
        .slider
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency
                h1.slider__title we are atlantida
                a.slider__button(href="#") get started
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency
                h1.slider__title we are atlantida
                a.slider__button(href="#") get started
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency
                h1.slider__title we are atlantida
                a.slider__button(href="#") get started
