mixin hero(data)
    .hero
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    p Design Studio and Digital Agency
                    h1 we are atlantida
                    a(href="#") get started
                .swiper-slide slide 2
                .swiper-slide slide 3
                .swiper-slide slide 4
                .swiper-slide slide 5
            .swiper-button-next
            .swiper-button-prev