mixin hero(data)
    .hero
        .slider
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency 1
                h1.slider__title we are atlantida
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency 2
                h1.slider__title we are atlantida
            .slider__content
                h4.slider__subtitle Design Studio and Digital Agency 3
                h1.slider__title we are atlantida
        a.slider__button(href="#") get started
