mixin hero(data)
    .hero
        ul.slider
            li.slider__item
                .slider__content
                    h3.title Sammen Armchair
                    .slider__data
                        span.price $399
                        a.buy(href='javascript:void()' target='_blank') buy now
                .slider__image
                    img(src='%=static=%img/assets/hero/slider-image-01.jpg' alt='Image Slider')
            li.slider__item
                .slider__content
                    h3.title Braun Watch SD12
                    .slider__data
                        span.price $299
                        a.buy(href='javascript:void()' target='_blank') buy now
                .slider__image
                    img(src='%=static=%img/assets/hero/slider-image-02.jpg' alt='Image Slider')
            li.slider__item
                .slider__content
                    h3.title Sammen Armchair
                    .slider__data
                        span.price $399
                        a.buy(href='javascript:void()' target='_blank') buy now
                .slider__image
                    img(src='%=static=%img/assets/hero/slider-image-01.jpg' alt='Image Slider')
