.topheader
    background-color: $color-white
    padding: 2rem 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 999
    visibility: visible
    opacity: 1
    transition: visibility .2s, opacity .2s
    will-change: transition

    &.is-hidden
        visibility: hidden
        opacity: 0

    @media screen and ( max-width $bp980 )
        display none


    // TOPHEADER CENTER
    // ----------------------------

    & .center
        lost-center 100% flex
        justify-content space-between

    // TOPHEADER PRIMARY
    // -----------------------------

    &__primary
        display flex
        justify-content space-between
        align-items center
        lost-column 9/12
        lost-column-gutter 0

    // TOPHEADER SECONDARY
    // -----------------------------

    &__secondary
        lost-column 1/12
        lost-column-gutter $gutter
        display flex
        align-items center

    // TOPHEADER LOGO
    // -----------------------------

    &__logo
        lost-column 2/9
        lost-column-gutter $gutter

        & a
            display: flex
            align-items: center
            padding: 0 0 0 5rem
            height: 2.9rem
            text-transform: uppercase
            font: 1.8rem/1.2 $montserrat-regular
            color: $color-grey-light
            background: url('%=static=%assets/block-topheader/icon-logo.png') 0 50% no-repeat

    // TOPHEADER MENU PRIMARY
    // -----------------------------

    &__menu--primary
        lost-column 6/9
        lost-column-gutter $gutter
        display flex
        justify-content space-between

        & > a
            display inline-block
            text-transform uppercase
            font 1.2rem/1.2 $montserrat-regular
            color $color-grey-dark

            &:hover
                color darken( $color-grey-dark, 50% )

    // TOPHEADER MENU SECONDARY
    // -----------------------------

    &__menu--secondary
        display: flex
        justify-content: space-around
        width: 100%

        & .social-icons .social-icon:hover
            fill: $color-grey-dark
