include ../module-social-icons/module-social-icons

mixin block-topheader()
    section.topheader#topheader
        .center
            .topheader__primary
                .topheader__logo
                    a( href='#0' ) atlantida
                nav.topheader__menu--primary
                    a( href='/' ) home
                    a( href='#about' ) about
                    a( href='#services' ) services
                    a( href='#history' ) history
                    a( href='#team' ) team
                    a( href='#portfolio' ) portfolio
                    a( href='#prices' ) prices
                    a( href='#blog' ) blog
                    a( href='#contact' ) contact
            .topheader__secondary
                .topheader__menu--secondary
                    +module-social-icons()
