.topheader
    background-color: $color-white
    padding: 2rem 0


    // TOPHEADER CENTER
    // ----------------------------

    & .center
        justify-content: space-between

    // TOPHEADER PRIMARY
    // -----------------------------

    &__primary
        display: flex
        justify-content: space-between
        align-items: center
        lost-column 9/12
        lost-column-gutter $gutter
        outline: 1px solid red


    // TOPHEADER SECONDARY
    // -----------------------------

    &__secondary
        lost-column 1/12
        lost-column-gutter $gutter
        outline: 1px solid blue
        display: flex
        align-items: center

    // TOPHEADER LOGO
    // -----------------------------

    &__logo
        lost-column: 2/9
        lost-column-gutter: $gutter

        & a
            display: flex
            align-items: center
            padding: 0 0 0 5rem
            min-height: 2.9rem
            text-transform: uppercase
            font: 1.8rem/1.2 $montserrat-regular
            color: $color-grey-light
            background: url('%=static=%assets/block-topheader/icon-logo.png') 0 50% no-repeat
            outline: 1px solid green

    // TOPHEADER MENU PRIMARY
    // -----------------------------

    &__menu--primary
        lost-column: 6/9
        lost-column-gutter: $gutter
        display: flex
        justify-content: space-between

        & > a
            text-transform: uppercase
            font: 1.2rem/1.2 $montserrat-regular
            color: $color-grey-dark


    // TOPHEADER MENU SECONDARY
    // -----------------------------

    &__menu--secondary
        //





























