.hero
    min-height: 96.4rem
    background: url('%=static=%assets/hero/hero-bg.jpg') 50% 50% no-repeat

    &__center
        lost-center $width flex
        padding: 0 $gutter
        min-height: 96.4rem
        flex-direction: column
        justify-content: center
        align-items: flex-end

    &__content
        text-transform: uppercase
        font: 10rem/1 $oswald-bold
        color: #e4dddb

        & > span
            display: block
            color: #241b17
