
// LINKS
// ------------------------------------------------------------

.links
    display: flex
    padding: 1.4rem 0 1.4rem .6rem
    margin: 0 0 3rem
    border-top: .1rem solid #818181
    border-bottom: .1rem solid #818181

    & li
        margin: 0 1rem 0 0

    & a
        font: 400 1.4rem/1.2 $crimson_text-italic
        text-transform: capitalize
        text-decoration: none
        color: $color-grey

        &:hover
        &:focus
            text-decoration: underline

    &__comments
        padding: 0 0 0 2.3rem
        background: url("%=static=%assets/block-links/link-icon-01.png") 0 50% no-repeat

    &__views
        padding: 0 0 0 3rem
        background: url("%=static=%assets/block-links/link-icon-02.png") 0 50% no-repeat

    &__tag
        padding: 0 0 0 2.3rem
        background: url("%=static=%assets/block-links/link-icon-03.png") 0 50% no-repeat
