// COMMON STYLES OF THE PROJECT

*, *::before, *::after
    box-sizing: border-box

ul, ol
    list-style-type: none
    padding: 0
    margin: 0

a
    text-decoration: none

html
    position: relative;

html, body
    height 100%
    width: 100%


.page
    // Стили для body

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
