.heading
    margin: 0 0 8rem
    text-align: center

    &__title
        display: inline-block
        text-transform: uppercase
        font: 400 2rem/1 $amsdam-regular
        text-align: center
        color: $color-grey
        margin: 0 0 4rem
        letter-spacing: .2rem
        padding: 0 2rem 2.6rem
        position: relative

        &::after
            content: ''
            display: block
            height: 5px
            width: 100%
            background: url('%=static=%assets/heading/underline-pattern.png') 0 0 repeat-x
            position: absolute
            left: 0
            bottom: 0

    &__subtitle
        text-align: center
        font: 400 1.4rem/1.7 $crimson_text-roman
        color: $color-grey
        margin: 0

        @media screen and (max-width: $bp980)
            padding: 0 $gutter
