// File for less-vars.
// For example: main colors, paddings and so on.

$color-white = #fff
$color-black = #000
$color-blue = #196fc0
$color-grey = #666

// DIMENTIONS
$width = 1180px


// MEDIA QUERIES
$bp980 = 980px
$bp768 = 768px
$bp500 = 500px
$bp400 = 400px