// SECTION-SECONDARY
// --------------------------------
.section-secondary
    lost-center 100% flex
    padding 4rem 2rem
    margin 0 0 6rem
    border .2rem solid $pink-color-grey-dark
    position relative

    // SECTION-SECONDARY CAPTION
    // --------------------------------
    &__caption
        position absolute
        top -1rem
        left 50%
        transform translateX( -50% )
        padding 0 2rem
        color $pink-color-pink
        font 1.4rem/1.4 $open-sans--regular
        text-transform uppercase
        background-color $pink-color-white
        white-space nowrap

        @media screen and ( max-width $mobile )
            display none

    // SECTION-SECONDARY PRIMARY
    // --------------------------------
    &__primary
        lost-column 1/2
        padding 0 3rem 0 0
        display flex
        flex-direction column

        @media screen and ( max-width $tablet )
            lost-column 1/1
            padding 0
            margin 0 0 4rem

    // SECTION-SECONDARY SECONDARY
    // --------------------------------
    &__secondary
        lost-column 1/2
        padding 0 0 0 3rem
        display flex
        flex-direction column

        @media screen and ( max-width $tablet )
            lost-column 1/1
            padding 0

    // SECTION-SECONDARY INPUT
    // --------------------------------
    &__input
        padding 2rem 5rem 2rem 2rem
        margin 0 0 2rem
        border .2rem solid $pink-color-grey-dark
        background-color transparent
        font 1.8rem/1.2 $open-sans--regular
        color $pink-color-dark
        transition border-color .2s

        &:hover
            border-color $pink-color-dark

        &:focus
            border-color $pink-color-pink

        &[ type='tel' ]
            background url( '%=static=%assets/block-pink-form/old-phone.svg' ) 96% 50% no-repeat

        &[ type='email' ]
            background url( '%=static=%assets/block-pink-form/mail.svg' ) 96% 50% no-repeat

        @media screen and ( max-width $mobile )
            font-size 1.4rem

    // SECTION-SECONDARY LABEL
    // --------------------------------
    &__label
        text-transform uppercase
        color $pink-color-pink
        font 1.4rem/1.2 $open-sans--regular
        margin 0 0 0 2rem

        @media screen and ( max-width $mobile )
            font-size 1.2rem
