mixin block-form-section-secondary()
    section.section-secondary
        span.section-secondary__caption
            | контактная информация
        .section-secondary__primary
            input.section-secondary__input( type='tel' id='tel' placeholder='+7 ХХХ ХХХ-ХХ-ХХ' )
            label.section-secondary__label( for='tel' )
                | номер телефона
        .section-secondary__secondary
            input.section-secondary__input( type='email' id='email' placeholder='Введите почту' )
            label.section-secondary__label( for='email' )
                | адрес почты
