// Common styles of the project

*, *::before, *::after
    box-sizing: border-box

html, body
    height 100%

html
    font-size: 62.5%

a
    text-decoration: none

ul, ol
    list-style-type: none
    padding: 0
    margin: 0


.page
    font-size: 1.6rem

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
