// COMMON STYLES OF THE PROJECT

*, *::before, *::after
    box-sizing border-box

h1, h2, h3, h4
    margin 0

p
    margin 0

ul, ol
    list-style-type none
    padding 0
    margin 0

a
    text-decoration none
    transition color .2s

img
    vertical-align top

input:focus
    outline none

button
    border none
    padding 0

html, body
    height 100%
    width: 100%

html
    position relative
    font-size 62.5%

.page
    font-size 1.6rem
    line-height 1

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
