
// FONTS
// ---------------------------------------------------------

$josefin-sans-regular = 'josefin_sansregular', sans-serif
$josefin-sans-semibold = 'josefin_sanssemibold', sans-serif
$josefin-sans-bold = 'josefin_sansbold', sans-serif

$montserrat-bold = 'montserratbold', sans-serif

$work-sans-regular = 'work_sansregular', sans-serif
$work-sans-medium = 'work_sansmedium', sans-serif
$work-sans-semibold = 'work_sanssemibold', sans-serif
$work-sans-bold = 'work_sansbold', sans-serif


// COLORS
// ---------------------------------------------------------

$color-white = #fff
$color-blue = #92cacc
$color-red = #e0aac9
$color-dark = #242424


// DIMENTIONS
// ---------------------------------------------------------

$width = 1200px
$gutter = 15px
