.footer
    background: #292929 url( '%=static=%assets/moduleName/sample-image-name.png' ) 0 0 repeat

    &__primary
        padding: 6rem 0
        lost-center: 100% flex

    &__first-part
        lost-column 4/12
        lost-column-gutter $gutter*2

    &__second-part
        lost-column 8/12
        lost-column-gutter $gutter*2

    &__secondary
        padding: 4rem 0
        border-top: .1rem solid $color-grey
        width: 100%

        & p
            font: 1.3rem/1.2 $crimson-italic
            color: #949494