// BLOCK-LOGO
// ------------------------------------------------
.block-logo
    display flex
    flex-direction column
    max-width 9rem

    // BLOCK-LOGO THUMB
    // ------------------------------------------------
    &__thumb
        bg( $logo-medium )

    // BLOCK-LOGO CONTENT
    // ------------------------------------------------
    &__content
        margin 1rem 0 0 0

    // BLOCK-LOGO TITLE
    // ------------------------------------------------
    &__title
        font 900 2rem/1.2 $raleway
        text-transform uppercase
        color $help-color-white
        margin 0 0 .5rem

    // BLOCK-LOGO SUBTITLE
    // ------------------------------------------------
    &__subtitle
        font 500 .9rem/1.4 $raleway
        color $help-color-white
