// LOGO
// -----------------------------------
.logo
    height 8.6rem
    display flex
    align-items center
    padding 0 0 0 10rem
    position relative

    &::before
        content ''
        display block
        position absolute
        top 0
        left 0
        bg($help-logo)

    // LOGO CONTENT
    // -----------------------------------
    &__content
        display flex
        flex-direction column

    // LOGO TITLE
    // -----------------------------------
    &__title
        font 700 2.4rem/1.4 $ptsans-caption
        color $color-white
        text-transform uppercase

    // LOGO SUBTITLE
    // -----------------------------------
    &__subtitle
        font 600 1rem/1.2 $raleway
        color $color-white
