mixin block-logo()
    .block-logo
        .block-logo__thumb
        .block-logo__content
            p.block-logo__title
                | help!
            p.block-logo__subtitle
                | Твой персональный помощник
