.button
    display: block
    text-transform: uppercase
    text-decoration: none
    color: $color-white
    padding: 20px 40px
    border: 1px solid #f0f0f0
    font-size: 1.3rem
    font-family: $varela-regular
