.button
  display: block
  padding: 2rem 4rem
  border: .1rem solid #f0f0f0
  font: 1.3rem/1 $varela-regular
  color: $color-white
  text-transform: uppercase
  text-decoration: none
  text-align: center
  transition: all .2s

