mixin block-search()
    section.search
        form.search__form( method='post' action='action.php' )
            fieldset.search__field
                input.search__input( type='text' name='search' id='search' placeholder='search' )
                != jadeHelpers.Icon.call( locals, { iconName: 'search-icon', className: 'blog-sidebar-icon' })
