include ../heading/heading

mixin freebies(data)
    .freebies
        .freebies__center
            +heading('freshest freebies')
            .freebies__content
                .freebies__content-column A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.
                .freebies__content-column A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.
        .freebies__gallery
            .freebies__thumb
                .freebies__thumb-cover
                    ul.freebies__thumb-meta
                        li: a(href="javascript:void();") 24
                        li: a(href="javascript:void();") share
                    .freebies__thumb-content
                        time.date 03/01/2016
                        h2 sedna html css template
                        a.download(href="javascript:void();") download
            .freebies__thumb
                .freebies__thumb-cover
