.freebies
    padding: 12rem 0 0
    background-color: $color-white

    // FREEBIES PRIMARY
    // -----------------------------------------

    &__center
        lost-center $width
        padding: 0 $gutter


    // FREEBIES HEAD
    // -----------------------------------------

    &__head
        margin: 0 0 6rem

    &__content
        lost-center 100%
        padding: 0 0 8rem

    &__content-column
        lost-column 1/2
        lost-column-gutter 0

        & p
            font: 1.5rem/1.8 $raleway-regular
            color: $color-slate
            margin: 0 0 2rem

            &:last-of-type
                margin: 0

        &:first-child
            padding-right: 4rem
            border-right: .1rem solid $color-silver

        &:last-child
            padding-left: 4rem

        @media screen and (max-width: $bp768)
            lost-column 1/1
            lost-column-gutter 0

            &:first-child
                padding-right: 0
                border-right: none
                margin: 0 0 $gutter

            &:last-child
                padding-left: 0


    // FREEBIES SECONDARY
    // -----------------------------------------

    &__gallery
        lost-center 100% flex

    &__gallery-item
        lost-column 1/2 2
        lost-column-gutter 0
        background-color: $color-slate-dark
        position: relative


        & img
            display: block
            width: 100%
            height: auto

        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            background-color: $color-slate-light
            position: absolute
            top: 0
            left: 0
            opacity: .6
            transition: opacity .2s

        &:hover::before
        &:focus::before
            opacity: .9

        @media screen and (max-width: $bp768)
            lost-column 1/1 0
            lost-column-gutter 0

        & .overlay
            visibility: hidden
            opacity: 0

        &:hover .overlay
        &:focus .overlay
            visibility: visible
            opacity: 1

        @media screen and (max-width: $bp500)

            & .overlay
                display: none










































