.freebies
    padding: 12rem 0 0
    background-color: $white-color

    &__center
        lost-center $width
        padding: 0 $gutter

    &__content
        lost-center 100%

    &__content-column
        lost-column 1/2
        lost-column-gutter 0
        padding-bottom: 8rem
        color: $gunmetal
        line-height: 1.8
        font-size: 1.5rem

        &:first-child
            padding-right: 4rem

        &:last-child
            padding-left: 4rem

    &__gallery
        display: flex
        justify-content: center
        flex-wrap: wrap

    &__thumb
        flex 0 1 50%
        height: 500px // ACHTUNG!
        background-color: #cccccc // ACHTUNG!
        position: relative

    &__thumb-cover
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $charcoal-grey-color
        opacity: .9

    &__thumb-meta
        position: absolute
        top: 3rem
        left: 5rem
        display: flex

        & li
            padding: 0 1rem

            &:not(:last-child)
                border-right: 1px solid $white-color

        & a
            display: flex
            align-items: center
            text-decoration: none
            color: $white-color
            font-size: 1.3rem

    &__thumb-content
        text-align: center

        .date
            display: block
            color: #b0b3b6
            font-size: 1.3rem
            margin: 0 0 1.4rem
            letter-spacing: .2rem

        & h2
            padding: 0 3.5rem 3rem
            border-bottom: .2rem solid #e3e7ec
            margin: 0 0 4rem
            color: $white-color
            text-transform: uppercase
            font-size: 1.5rem
            font-weight: 400

        & .download
            text-transform: uppercase
            text-decoration: none
            border: .2rem solid #66e0e5
            padding: 1.5rem 2rem
            color: #66e0e5
            font-size: 1.3rem






































