mixin header-fixed(data)
  section.header-fixed
    .header-fixed__center
      a(href="/").header-fixed__logo
        != jadeHelpers.Icon.call(locals, {iconName: 'drop-red', className: 'logo-icon'})
        span fitness
      .header-fixed__nav
        a(href="#") about
        a(href="#") how it works
        a(href="#services") services
        a(href="#promo") faq
        a(href="#contact") contact
      .header-fixed__icon
