mixin header-fixed(data)
  section.header-fixed
    .header-fixed__center
      a.header-fixed__logo(href="/")
        != jadeHelpers.Icon.call(locals, {iconName: 'drop-red', className: 'logo-icon'})
        span fitness
      .header-fixed__nav
        a(href="#about") about
        a(href="#features") how it works
        a(href="#gallery") services
        a(href="#promo") faq
        a(href="#contact") contact
      a.header-fixed__icon(href="#")
