mixin footer(data)
    footer.footer
        .footer__center
            .footer__column
                h3.footer__title amazing dude.
                h3.footer__title amazing life.
                p Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.
                p &copy;2015. all rights reserved.
            .footer__column
                h3.footer__title contact me
                ul.footer__address
                    li 1242 Crestview Terrace
                    li Artesia Wells, TX 78001
                ul.footer__contact
                    li Phone: 830-676-7974
                    li Email: halo@sitename.com
                h3.footer__title follow me on
                ul.follow__follow
                    li: a(href='javascript:void(0);')
                    li: a(href='javascript:void(0);')
                    li: a(href='javascript:void(0);')
                    li: a(href='javascript:void(0);')
            .footer__column
                h3.footer__title subscribe
                p Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
                form.footer__subscribe
                    input(type='email' placeholder='enter your email address')
                h3.footer__title sponsor
                    ul.footer__sponsor
                        li: a(href='javascript:void(0);')
                        li: a(href='javascript:void(0);')
                        li: a(href='javascript:void(0);')