.footer
    background-color: $color-dark2
    padding: 10rem 0

    &__center
        lost-center $width

.footer__column:nth-child(1)
    lost-column 4/12
    lost-column-gutter $gutter

.footer__column:nth-child(2)
    lost-column 2/12
    lost-column-gutter $gutter

.footer__column:nth-child(3)
    lost-column 6/12
    lost-column-gutter $gutter

.footer__title
    text-transform: uppercase
    font: 1.8rem/1 $firasans-bold
    color: $color-grey-light
    margin: 0 0 3rem