include ../about/about
include ../team/team
include ../work/work
include ../services/services
include ../features/features
include ../contact/contact
//- include ../button-to-top/button-to-top

mixin index()
	.index
		+about()
		+team()
		+work()
		+services()
		+features()
		+contact()
		//- +button-to-top()
