.work
    background-color: $color-white
    padding: 18rem 0 3rem

    // WORK HEADER
    // -----------------------------------------

    &__header
        lost-center 100% flex
        margin: 0 0 12rem

    // WORK CENTER
    // -----------------------------------------

    &__center
        lost-column $width
        padding: 0 $gutter

    // WORK GRID
    // -----------------------------------------

    & .work-grid
        lost-center 100% flex

        &__item
            lost-column 1/3
            lost-column-gutter 3rem
            padding: 1rem
            height: 48.4rem
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            color: $color-grey-dark
            opacity: .7
            transition: all .4s

            &:nth-child(1)
                background: url('%=static=%assets/block-work/work-image-01.jpg') 50% 50% no-repeat
                background-size: cover

            &:nth-child(2)
                background: url('%=static=%assets/block-work/work-image-02.jpg') 50% 50% no-repeat
                background-size: cover

            &:nth-child(3)
                background: url('%=static=%assets/block-work/work-image-03.jpg') 50% 50% no-repeat
                background-size: cover

            &:nth-child(4)
                background: url('%=static=%assets/block-work/work-image-04.jpg') 50% 50% no-repeat
                background-size: cover

            &:nth-child(5)
                background: url('%=static=%assets/block-work/work-image-05.jpg') 50% 50% no-repeat
                background-size: cover

            &:nth-child( -n+3 )
                margin-bottom: 3rem

            &--double
                lost-column 2/3
                lost-column-gutter 3rem

            &:hover
                opacity: 1

            &:hover .work-grid__button
                visibility: visible
                opacity: 1

            @media screen and ( max-width: $bp980 )
                lost-column 1/2
                lost-column-gutter 3rem

                &--double
                    lost-column 1/1
                    lost-column-gutter 0
                    order 1

            @media screen and ( max-width: $bp768 )
                lost-column 1/1
                lost-column-gutter 0

                &:nth-child( 5 )
                    margin-bottom: 3rem

        // WORK GRID TITLE
        // -----------------------------------------

        &__title
            font: 4rem/1.2 $lato-light
            margin: 0 0 3rem

        // WORK GRID SUBTITLE
        // -----------------------------------------

        &__subtitle
            lost-center 40rem
            font: 2rem/1.4 $lato-regular
            text-align: center
            margin: 0 0 4rem

        // WORK GRID BUTTON
        // -----------------------------------------

        &__button
            /*display: block;*/
            /*padding: 1.4rem 6.4rem 1.8rem*/
            max-width: 30rem
            padding: 1.4rem 0 1.8rem
            /*lost-center 33.6rem*/
            text-transform: lowercase
            font: 3rem/1 $lato-regular
            color: $color-grey-dark
            border: .4rem solid $color-grey-dark
            transition: background-color .2s, color .2s
            visibility: hidden
            opacity: 0

            &:hover
                color: $color-white
                background-color: $color-grey-dark