.work
    background-color: $color-white
    padding: 18rem 0 3rem

    &__header
        lost-center 100% flex
        margin: 0 0 12rem

    &__center
        lost-column $width
        padding: 0 $gutter

    &__content
        //
