include ../module-header/module-header

mixin block-work(data)
    .work#work
        .work__header
            .work__center
                +module-header( 'our', 'work' )
        .work__content
            ul.work-grid
                li.work-grid__item
                    h3.work-grid__title Lorem ipsum
                    p.work-grid__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
                    a.work-grid__button( href='javascript:void(0);' ) view case study
                li.work-grid__item
                    h3.work-grid__title Lorem ipsum
                    p.work-grid__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
                    a.work-grid__button( href='javascript:void(0);' ) view case study
                li.work-grid__item
                    h3.work-grid__title Lorem ipsum
                    p.work-grid__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
                    a.work-grid__button( href='javascript:void(0);' ) view case study
                li.work-grid__item.work-grid__item--double
                    h3.work-grid__title Lorem ipsum
                    p.work-grid__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
                    a.work-grid__button( href='javascript:void(0);' ) view case study
                li.work-grid__item
                    h3.work-grid__title Lorem ipsum
                    p.work-grid__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
                    a.work-grid__button( href='javascript:void(0);' ) view case study
