
// TEAM-CARD
// ------------------------------------
.team-card
	//

	// TEAM CARD WRAPPER
	// -----------------------------------

	&__list
		lost-center 100%


	// TEAM CARD ITEM
	// -----------------------------------

	&__item
		lost-column 3/12
		lost-column-gutter 3rem
		display flex
		flex-direction column

		+below( $bp-786 )
			lost-column 6/12 2
			lost-column-gutter 3rem

			&:nth-child( -n+2 )
				margin-bottom 3rem

		+below( $bp-500 )
			lost-column 1/1
			lost-column-gutter 0

			&:not(:last-child)
				margin-bottom 3rem

		&:hover .team-card__overlay
			opacity 1

		&:hover .team-card__content
			background-color #3a454d

		&:hover .team-card__name
		&:hover .team-card__headline
			color $color-white

	// TEAM CARD OVERLAY
	// -----------------------------------

	&__overlay
		display flex
		justify-content center
		align-items center
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba( $color-white, .4 )
		opacity 0
		transition opacity .3s

	// TEAM CARD CONTACTS
	// -----------------------------------

	&__contacts
		display flex

		& > a
			display block
			display flex
			justify-content center
			align-items center
			size( 5rem )
			background-color #3a454d
			transition background-color .3s

			&:not(:last-child)
				margin-right .1rem

			&:hover
			&:active
				background-color #4e5a62

			// TEAM CARD CONTACTS ICONS
			// -----------------------------------

			& > .icon
				size( 1.6rem )


	// TEAM CARD IMAGE
	// -----------------------------------

	&__image
		height 80%
		position relative
		img-adaptive()

	// TEAM CARD CONTENT
	// -----------------------------------

	&__content
		height 20%
		background-color #e1e6ea
		padding 2rem
		transition background-color .3s

	// TEAM CARD NAME
	// -----------------------------------

	&__name
		margin-bottom .5rem
		text-transform uppercase
		color #292f36
		font-size 1.3rem

	// TEAM CARD HEADLINE
	// -----------------------------------

	&__headline
		text-transform capitalize
		color #8d8f92
		font-size 1.1rem
