mixin team-card(  )
	ul.team-card__list
		li.team-card__item
			.team-card__image
				a( href='#' )
					img( src='/assets/images/team-member-image-01.jpg' alt='Team Member' )
				.team-card__overlay
					nav.team-card__contacts
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_linkedin' )
			.team-card__content
				h4.team-card__name
					| elliot fu
				p.team-card__headline
					| ceo and founder
		li.team-card__item
			.team-card__image
				a( href='#' )
					img( src='/assets/images/team-member-image-02.jpg' alt='Team Member' )
				.team-card__overlay
					nav.team-card__contacts
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_linkedin' )
			.team-card__content
				h4.team-card__name
					| judith gillette
				p.team-card__headline
					| graphic desinger
		li.team-card__item
			.team-card__image
				a( href='#' )
					img( src='/assets/images/team-member-image-03.jpg' alt='Team Member' )
				.team-card__overlay
					nav.team-card__contacts
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_linkedin' )
			.team-card__content
				h4.team-card__name
					| steve jobes
				p.team-card__headline
					| ceo and founder
		li.team-card__item
			.team-card__image
				a( href='#' )
					img( src='/assets/images/team-member-image-04.jpg' alt='Team Member' )
				.team-card__overlay
					nav.team-card__contacts
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='twitter' xlink:href='/assets/images/icon.svg#icon_twitter' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_facebook' )
						a( href='#' )
							svg( class='icon' role='img' )
								use( id='facebook' xlink:href='/assets/images/icon.svg#icon_linkedin' )
			.team-card__content
				h4.team-card__name
					| daniel louise
				p.team-card__headline
					| ceo and founder
