.follow
    lost-center 100%

.follow__column
    lost-column 1/2
    lost-column-gutter 0
    height: 50rem

.follow__column:nth-child(1)
    background-color: $color-green-light

.follow__column:nth-child(2)
    background-color: $color-dark