include ../heading/heading

mixin prices(data)
    .prices
        .prices__center
            +heading('prices')
            .table
                .table__item
                    h4.table__title basic
                    .table__icon
                    p.table__price <span class="table__currency">$</span> 10
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href="javascript:void();") sign up
                .table__item
                    h4.table__title advanced
                    .table__icon
                    p.table__price <span class="table__currency">$</span> 20
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href="javascript:void();") sign up
                .table__item
                    h4.table__title pro
                    .table__icon
                    p.table__price <span class="table__currency">$</span> 30
                    ul.table__list
                        li full access
                        li unlimited edition
                        li full backup
                        li free tea and free mockup
                        li several prices
                    a.table__button(href="javascript:void();") sign up
