
// COMMENTS
// ---------------------------------

.comments
    padding 6rem 0

    // COMMENTS PRIMARY
    // ---------------------------------

    &__primary
        margin 0 0 8rem

    // COMMENTS ITEM
    // ---------------------------------

    &__item
        padding 0 0 6rem
        border-bottom .1rem solid $color-grey-4
        position relative

    // COMMENTS REPLY
    // ---------------------------------

    &__reply
        position absolute
        right 0
        bottom 1rem

        & a
            text-transform capitalize
            font 1.4rem/1.2 $crimson-italic
            color $color-grey

    // COMMENTS SECONDARY
    // ---------------------------------

    &__secondary
        //

    // COMMENTS TITLE
    // ---------------------------------

    &__title
        font 1.6rem/1.2 $montserrat-bold
        color $color-grey
        text-transform uppercase
        margin 0 0 4rem
