include ../heading/heading

mixin collective(data)

    .collective#collective

        .collective__center

            header.collective__header
                +heading('the collective')
                .collective__header-content
                    p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund hella. Kinfolk gluten-free lo-fi quinoa. Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.

            main.collective__main
                .collective__main-content
                    video.video(controls preload="none" poster="%=static=%img/assets/collective/video-cover.jpg" data-setup="{}")
                        source(src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4')
                        source(src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm')
                        source(src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg')

            footer.collective__footer
                .collective__footer-content
                    p 8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund hella. Kinfolk gluten-free lo-fi quinoa.
                    p Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.
