mixin block-flickr(data)
    .flickr
        h3.flickr__heading flickr photos
        ul.flickr__gallery
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-01.jpg" alt="Flickr Image")
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-02.jpg" alt="Flickr Image")
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-03.jpg" alt="Flickr Image")
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-04.jpg" alt="Flickr Image")
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-05.jpg" alt="Flickr Image")
            li.flickr__image
                a(href="javascript:void();")
                    img(src="%=static=%img/assets/block-flickr/flickr-image-06.jpg" alt="Flickr Image")
