
// FLICKR
// --------------------------------------------------------------

.flickr
    margin: 0

    &__heading
        text-transform: uppercase
        font: 400 1.6rem/1 $montserrat-bold
        color: $color-grey
        margin: 0

    &__gallery
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 4rem 0 0

    &__image
        flex: 0 1 9rem
        height: 9rem
        margin: .7rem

        & img
            display: block
            width: 100%
            height: auto
