
// HEADER-CONTENT
// ---------------------------------------
.header-content
	lost-center $width
	padding 0 1rem
	display flex
	flex-direction column
	justify-content center
	min-height 66rem

	+below( $bp-786 )
		align-items center
		text-align center

	// HEADER-CONTENT TITLE
	// ------------------------------------

	&__title
		text-transform uppercase
		color $color-white
		font-size 2.4rem
		line-height 1.2
		margin-bottom 3rem

		+below( $bp-500 )
			font-size 1.8rem

	// HEADER-CONTENT SUBTITLE
	// -------------------------------------

	&__subtitle
		color #ccd1d7
		font-size 1.4rem
		line-height 1.6
		margin-bottom 4rem

	// HEADER-CONTENT BUTTON
	// -------------------------------------

	&__controls
		display flex
		justify-content center

		+below( $bp-500 )
			flex-direction column
			align-items center

		& .button
			padding 1.6rem 3rem
			border-radius .3rem
			color $color-white
			border .1rem solid $color-white
			font-size 1.2rem
			text-transform uppercase
			font-weight 700
			margin 0 .8rem

			&:hover
			&:focus
				background-color $color-blue
				border-color $color-blue

			+below( $bp-500 )
				margin .8rem 0
