mixin header-content()
	.header-content
		h1.header-content__title welcome to our marketplace
		p.header-content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus &hellip;
		.header-content__controls
			a.button.button--more(href="#{jv0}") view more
			a.button.button--video(href="#{jv0}") video tour
