mixin slider(data)
    .slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .slider__content
                        .slider__info
                            p try our new <span>collection</span>
                            p insipred from the cold nature
                            p exclusive in <span>our store</span>
                .swiper-slide
                    .slider__content
                        .slider__info
                            p try our new <span>collection</span>
                            p insipred from the cold nature
                            p exclusive in <span>our store</span>
                .swiper-slide
                    .slider__content
                        .slider__info
                            p try our new <span>collection</span>
                            p insipred from the cold nature
                            p exclusive in <span>our store</span>
                .swiper-slide
                    .slider__content
                        .slider__info
                            p try our new <span>collection</span>
                            p insipred from the cold nature
                            p exclusive in <span>our store</span>
            .swiper-button-next
            .swiper-button-prev