mixin hero(data)
  section.hero#hero
    .hero__center
      .hero__content
        h1.hero__title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h2.hero__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum vero nam eos, neque labore amet molestiae ipsum dignissimos, quo quae.
