
// META
// ------------------------------

.meta
    display: flex
    padding: 0 0 1rem 0
    border-bottom: .1rem solid $color-grey-2

    @media screen and ( max-width $bp500 )
        justify-content center

    &__primary
    &__secondary
        color: $color-grey-pale
        font: 1.2rem/1.2 $crimson-italic
        position: relative

    // META PRIMARY
    // ------------------------------

    &__primary
        padding: 0 .8rem 0 0

        &::after
            content: '/'
            position: absolute
            right: -.3rem


    // META SECONDARY
    // ------------------------------

    &__secondary
        padding: 0 0 0 .8rem

    // META LINK
    // ------------------------------

    &__link
        color: $color-grey-pale
        text-transform: capitalize

        &:hover
            color: darken( $color-grey-pale, 50% )
