mixin quotation()
	+b.quotation
		.quotation__center
			.quotation__logo
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, #[br] porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
						p.quotation__author Rudhi Sasmito - CEO Company
					.swiper-slide
						p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, #[br] porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
						p.quotation__author Rudhi Sasmito - CEO Company
					.swiper-slide
						p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, #[br] porttitor bibendum facilisi suspendiss  aliquam ipsum ante.
						p.quotation__author Rudhi Sasmito - CEO Company
				.swiper-pagination
