include ../module-button/module-button
include ../module-heading-twoside/module-heading-twoside

mixin block-header()
    header.header
        .center
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        h3.header__title
                            | Design Studio and Digital Agency
                        +module-heading-twoside( 'we are atlantida' )
                        +module-button( 'get started' )
                    .swiper-slide
                        h3.header__title
                            | Design Studio and Digital Agency
                        +module-heading-twoside( 'we are atlantida' )
                        +module-button( 'get started' )
                    .swiper-slide
                        h3.header__title
                            | Design Studio and Digital Agency
                        +module-heading-twoside( 'we are atlantida' )
                        +module-button( 'get started' )
                .swiper-button-next
                .swiper-button-prev
