// HEADER
// ---------------------------------------------

.header
    background: url( '%=static=%assets/block-header/header-bg.jpg' ) 50% 50% no-repeat
    background-size: cover

    // HEADER SWIPER-CONTAINER
    // ---------------------------------------------

    & .swiper-container
        width: 100%

    // HEADER SWIPER-SLIDE
    // ---------------------------------------------

    & .swiper-slide
        min-height: 69.8rem
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    // HEADER SWIPER-BUTTON
    // ---------------------------------------------

    & .swiper-button-next
    & .swiper-button-prev
        size( 3.4rem )
        border-radius: 50%
        background-color: $color-white

        @media screen and ( max-width $bp768 )
            display: none

    & .swiper-button-next
        background: url( '%=static=%assets/block-header/arrow-next.png' ) 50% 50% no-repeat
        background-size: cover

    & .swiper-button-prev
        background: url( '%=static=%assets/block-header/arrow-prev.png' ) 50% 50% no-repeat
        background-size: cover

    // HEADER TITLE
    // ---------------------------------------------

    &__title
        margin 0 0 3rem
        font 1.4rem/1.2 $crimson-regular
        color $color-white

    // HEADER HEADING-TWOSIDE
    // ---------------------------------------------

    & .heading-twoside h2
        color: $color-white
        background: url('%=static=%assets/module-heading-oneside/underline-pattern-white.png') 0 0 repeat-x,
                    url('%=static=%assets/module-heading-oneside/underline-pattern-white.png') 0 100% repeat-x

        @media screen and ( max-width $bp768 )
            font-size 2rem

        @media screen and ( max-width $bp500 )
            font-size 1.6rem

    // HEADER BUTTON
    // ---------------------------------------------

    & .button
        border-color: $color-white
        color: $color-white
        position: relative

        &:hover
            background-color: $color-white
            color: $color-grey

        &::after
            content: ''
            display: block
            width: 1.5rem
            height: 5rem
            position: absolute
            left: 50%
            transform: translateX( -50% )
            bottom: -4.4rem
            background: url( '%=static=%assets/block-header/button-arrow.png' ) 50% 50% no-repeat
            background-size: cover
            transition bottom .2s

            @media screen and ( max-width $bp768 )
                display: none

        &:hover::after
            bottom -5.2rem
