// FONTS
// ------------------------------------

$opensans-light = 'open_sanslight', sans-serif
$opensans-regular = 'open_sansregular', sans-serif
$opensans-semibold = 'open_sanssemibold', sans-serif
$opensans-bold = 'open_sansbold', sans-serif
$opensans-extrabold = 'open_sansextrabold', sans-serif
$varela-regular = 'varelaregular', sans-serif

// COLORS
// ------------------------------------

$color-white = #fff
$color-blue = #196fc0
$color-grey = #666


// DIMENTIONS
// ------------------------------------

$width = 100rem
