// BLOCK POST
// ----------------------------------------------------

.block-post
    margin: 0 0 4rem

    // POST ITEM IMAGE
    &__image
        margin: 0 0 4rem

        & > img
            display: block
            width: 100%
            height: auto

    // POST ITEM TITLE
    &__title
        text-transform: uppercase
        font: 700 1.6rem/1.6 $montserrat-regular
        color: $color-grey
        margin: 0 0 1.4rem

    // POST ITEM CONTENTS
    &__contents
        color: $color-grey

        & p
            font: 400 1.4rem/1.8 $crimson_text-roman
            margin: 0 0 2rem

        & blockquote
            font: 700 1.6rem/1.8 $crimson_text-italic
            padding: 5rem 4rem
            border: .2rem solid #a8a8a8
            margin: 4rem 0
