$width = 118rem

$color-blue = #3dd2ae
$color-blue-dark = #2b303b
$color-blue-dark-two = #696f7c
$color-blue-dark-three = #44474f
$color-bg-features = #f4f8fb
$color-bg-intro = #835fa8
$color-bg-design = #232831

$color-grey = #9da5b0
$color-violet = #835fa8
$color-white = #fff
$color-black = #000
