mixin block-steps(data)
    section.block-steps
        .center
            header.block-steps__header
                h1.block-steps__caption
                    | Все просто как раз-два-три &hellip;
            main.block-steps__main
                .block-steps__item
                    .block-steps__content
                        | Сделайте заказ, укажите, где и когда забрать ваши вещи
                .block-steps__item
                    .block-steps__content
                        | Отдайте вещи помощнику, который приедет к вам
                .block-steps__item
                    .block-steps__content
                        | Занимайтесь любимыми делами, помощник заберет и доставит вещи

