// BLOCK-STEPS
// ---------------------------------------------------------
.block-steps
    padding 6rem 0 8rem
    background-color $help-color-grey-light

    // BLOCK-STEPS HEADER
    // ---------------------------------------------------------
    &__header
        margin 0 0 6rem

    // BLOCK-STEPS CAPTION
    // ---------------------------------------------------------
    &__caption
        text-align center
        font 400 2.4rem/1.4 $raleway
        color $help-color-grey-dark

    // BLOCK-STEPS MAIN
    // ---------------------------------------------------------
    &__main
        display flex
        justify-content space-between

        @media screen and ( max-width $tablet )
            flex-direction column
            justify-content center
            align-items center

    // BLOCK-STEPS ITEM
    // ---------------------------------------------------------
    &__item
        max-width 28rem
        padding 8rem 0 0 10rem
        position relative

        @media screen and ( max-width $desktop )
            max-width 20rem
            padding 9rem 0 0 4rem

        @media screen and ( max-width $tablet )
            padding 10rem 0 0 0
            max-width 22rem
            text-align center

            &:not(:last-child)
                margin 0 0 10rem

        // BLOCK-STEPS ITEM ICONS
        // ---------------------------------------------------------
        &::before
            content ''
            display block
            size( 14rem )
            position absolute
            top 0
            left 0

            @media screen and ( max-width $desktop )
                size( 12rem )

            @media screen and ( max-width $tablet )
                size( 12rem, 9rem )
                left 50%
                transform translateX( -50% )

        &:nth-child(1)::before
            bg( $steps-icon-01 )

            @media screen and ( max-width $desktop )
                bg( $benefits-icon-tablet-01 )

            @media screen and ( max-width $tablet )
                bg( $benefits-icon-mobile-01 )

        &:nth-child(2)::before
            bg( $steps-icon-02 )

            @media screen and ( max-width $desktop )
                bg( $benefits-icon-tablet-02 )

            @media screen and ( max-width $tablet )
                bg( $benefits-icon-mobile-02 )

        &:nth-child(3)::before
            bg( $steps-icon-03 )

            @media screen and ( max-width $desktop )
                bg( $benefits-icon-tablet-03 )

            @media screen and ( max-width $tablet )
                bg( $benefits-icon-mobile-03 )

        // BLOCK-STEPS ITEM ARROWS
        // ---------------------------------------------------------
        &:nth-child(2)::after
        &:nth-child(3)::after
            content ''
            display block
            size( 10.8rem, 1.4rem )
            position absolute
            top calc( 14rem / 2 )
            left -14rem
            bg( $steps-arrow )

            @media screen and ( max-width $desktop )
                size( 5.8rem, 1.4rem )
                bg( $steps-arrow-small )
                left -8rem
                top calc( 12rem / 2 )

            @media screen and ( max-width $tablet )
                transform rotate( 90deg )
                top -5rem
                left 38%

    // BLOCK-STEPS CONTENT
    // ---------------------------------------------------------
    &__content
        font 700 1.7rem/1.6 $ptsans
        color $help-color-grey-dark
