    .post
        //

        // POST HEADER
        // ------------------------------------------

        &__header
            margin 0 0 3rem

        // POST IMAGE
        // ------------------------------------------

        &__image
            margin 0 0 4rem
            img-adaptive()

        // POST TITLE
        // ------------------------------------------

        &__title
            font 1.6rem/1.4 $montserrat-bold
            color $color-grey
            text-transform uppercase
            letter-spacing .1rem
            margin 0 0 1rem

            @media screen and ( max-width $bp400 )
                text-align center

        // POST META
        // ------------------------------------------

        & .meta
            margin 0 0 2rem
            padding 0
            border-bottom none

            & .meta__link
            & .meta__primary
            & .meta__secondary
                color $color-grey

            & .meta__link:hover
                color darken( $color-grey, 90% )

        // POST MAIN
        // ------------------------------------------

        &__main
            margin 0 0 3rem

            & p
                font 1.4rem/1.8 $crimson-regular
                color $color-grey

        // POST FOOTER
        // ------------------------------------------

        &__footer
            padding 0 0 6rem 0

            @media screen and ( max-width $bp500 )
                display flex
                justify-content center
