
// MAIN-BLOG
// ------------------------------------------

.main-blog
    background-color $color-grey-pale
    padding 8rem 0

    // MAIN-BLOG GRID
    // ------------------------------------------

    & .grid
        clearfix()

        // MAIN-BLOG GRID SIZER && ITEM
        // ------------------------------------------

        &__sizer
        &__item
            width 31%

        &__item
            float left
            margin calc( (100% - 31% * 3 ) / 6 )
