
// MAIN-BLOG
// ------------------------------------------

.main-blog
    background-color $color-grey-pale
    padding 8rem 0

    // MAIN-BLOG CENTER
    // ------------------------------------------

    & .center
        //

    // MAIN-BLOG GRID
    // ------------------------------------------

    & .grid
        //

        // MAIN-BLOG GRID SIZER && ITEM
        // ------------------------------------------

        &__sizer
        &__item
            //


        // MAIN-BLOG GRID HEADER
        // ------------------------------------------

        &__header
            margin 0 0 3rem

        // MAIN-BLOG GRID THUMB
        // ------------------------------------------

        &__thumb
            margin 0 0 4rem
            img-adaptive()

        // MAIN-BLOG GRID TITLE
        // ------------------------------------------

        &__title
            font 1.6rem/1.4 $montserrat-bold
            color $color-grey
            text-transform uppercase
            letter-spacing .1rem

        // MAIN-BLOG GRID META
        // ------------------------------------------

        & .meta
            margin 1rem 0 2rem
            padding 0
            border-bottom none

            & .meta__link
            & .meta__primary
            & .meta__secondary
                color $color-grey

            & .meta__link:hover
                color darken( $color-grey, 90% )

        // MAIN-BLOG GRID MAIN
        // ------------------------------------------

        &__main
            margin 0 0 3rem

            & p
                font 1.4rem/1.8 $crimson-regular
                color $color-grey

        // MAIN-BLOG GRID FOOTER
        // ------------------------------------------

        &__footer
            padding 0 0 6rem 0
