.header
	width 100vw
	height 103rem
	background $black url(../images/bg-header.jpg) 50% 50% no-repeat
	background-size cover
	position relative
	text-shadow 1px 1px .5px rgba(0, 0, 0, .2)

	&::before
		content ''
		display block
		position absolute
		top 0
		left 0
		width auto
		height auto
		min-height 100%
		min-width 100%
		background transparent url(../images/overlay.png) 0 0 repeat
		opacity .6


	// HEADER CENTER
	// ----------------------------------------

	&__center
		lost-center $width
		padding 0 10px

	&__top-menu
		position relative
		z-index 1
		padding-top 30px
		clearfix()

	&__top-logo
		display block
		float left
		width 69px
		height 64px
		background transparent url(../images/logo.png) 0 0 no-repeat
		background-size cover
		squish-text()

	&__top-navigation
		float right
		padding-top 16px
		clearfix()

	&__top-item
		float left

		&:not(:first-child)
			margin-left 4rem

	&__top-link
		text-decoration none
		text-transform capitalize
		color $white
		transition color .2s

		&:hover
		&:active
			color $orange


	// HEADER HERO
	// ----------------------------------------

	&__hero
		position absolute
		z-index 1
		top 50%
		left 50%
		transform translate(-50%, -50%)
		text-align center
		font-weight 700
		font-size 2.2rem
		color $white

	&__logo
		display inline-block
		vertical-align top
		width 192px
		height 191px
		background transparent url(../images/logo-header.png) 0 0 no-repeat
		background-size cover
		margin-bottom 8rem
		squish-text()

	&__title
		text-transform uppercase
		margin-bottom 4rem
		margin-left 4.5rem

	&__subtitle
		line-height 1.4


	// HEADER BUTTON
	// ----------------------------------------

	&__button
		display inline-block
		vertical-align top
		width 46px
		height 68px
		border 3px solid $white
		border-radius 23px
		position absolute
		z-index 1
		left 50%
		bottom 12%
		animation bounceButton 3s infinite

		&::before
			content ''
			display block
			width 6px
			height 18px
			border-radius 6px
			border 3px solid $white
			position absolute
			left 50%
			transform translateX(-50%)
			top 10px


// HEADER BUTTON BOUNCE ANIMATION
// --------------------------------------------

@keyframes bounceButton
	0%, 100%
		transform translate(-50%, 0%)
	50%
		transform translate(-50%, -30%)
	60%
		transform translate(-50%, 40%)
