mixin header-mobile()
	a.header-mobile__button(href="#{jv0}")
		.stripe
	nav.header-mobile__nav
		a(href="#assets") assets
		a(href="#features") features
		a(href="#news") blog
		a(href="#download") download
