// HISTORY
// ---------------------------------

.history
    background-color: #ededed
    padding: 6rem 0

    // HISTORY CENTER
    // ------------------------------------

    & .center
        //


    // HISTORY HEADER
    // ------------------------------------

    &__header
        margin: 0 0 4rem

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // HISTORY MAIN
    // ------------------------------------

    &__main
        //

    // HISTORY BLOCK
    // ------------------------------------

    &__block
        padding: 10rem 0 6rem 6rem
        position: relative
        outline: .1rem dashed red

        @media screen and ( max-width: $bp500 )
            padding 7rem 0 6rem

        &::before
            content: ''
            display: block
            width: .1rem
            height: calc( 100% - 6rem )
            background-color: $color-grey
            position: absolute
            top: 6rem
            left: 3rem

            @media screen and ( max-width: $bp500 )
                display: none

    // HISTORY YEAR
    // ------------------------------------

    &__year
        size( 6rem )
        border .1rem solid $color-grey
        border-radius: 50%
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center

        & span
            font: 1.3rem/1.2 $montserrat-regular
            color: $color-grey

        @media screen and ( max-width: $bp500 )
            border-radius 0
            width 100%
            background-color $color-grey

            & span
                color $color-white

    // HISTORY ROW
    // ------------------------------------

    &__row
        margin: 0 0 3rem

        &:last-child
            margin-bottom: 0

    // HISTORY THUMB
    // ------------------------------------

    &__thumb
        border: .1rem solid $color-grey
        padding: 3rem 7rem 3rem 2rem
        margin: 0 0 $gutter*2
        color: $color-grey

        &:last-child
            margin-bottom: 0

        & p
            font: 1.4rem/1.8 $crimson-regular

        @media screen and ( max-width: $bp500 )
            padding 3rem

        @media screen and ( max-width: $bp400 )
            text-align center
            padding 2rem

    // HISTORY META
    // ------------------------------------

    &__meta
        margin: 0 0 3rem

    // HISTORY TITLE
    // ------------------------------------

    &__title
        font: 1.3rem/1.4 $montserrat-regular
        text-transform: uppercase
        margin: 0 0 1rem

    // HISTORY DATE
    // ------------------------------------

    &__date
        font 1.1rem/1.2 $montserrat-regular
        text-transform capitalize
