include ../module-heading-oneside/module-heading-oneside

mixin block-history()
    .history
        .center
            .history__header
                +module-heading-oneside( 'history' )
                p Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
            .history__main
                .history__block
                    .history__row
                        .history__thumb
                            .history__meta
                                h4.history__title
                                    | donec id lobortis tellus. Maecenas vel dignissim
                                small.history__date
                                    | 07 october 2015
                            .history__content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        .history__thumb
                            .history__meta
                                h4.history__title
                                    | donec id lobortis tellus. Maecenas vel dignissim
                                small.history__date
                                    | 07 october 2015
                            .history__content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .history__row
                        .history__thumb
                            .history__meta
                                h4.history__title
                                    | donec id lobortis tellus. Maecenas vel dignissim
                                small.history__date
                                    | 07 october 2015
                            .history__content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        .history__thumb
                            .history__meta
                                h4.history__title
                                    | donec id lobortis tellus. Maecenas vel dignissim
                                small.history__date
                                    | 07 october 2015
                            .history__content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
