// HISTORY
// ---------------------------------

.history
    background-color: #ededed
    padding: 6rem 0

    // HISTORY CENTER
    // ------------------------------------

    & .center
        //


    // HISTORY HEADER
    // ------------------------------------

    &__header
        margin: 0 0 4rem

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // HISTORY MAIN
    // ------------------------------------

    &__main
        position: relative

        &::before
            content: ''
            size( 6rem )
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            left: 0
            bottom: -6rem
            background: $color-grey url( '%=static=%assets/block-history/history-icon.png' ) 50% 50% no-repeat
            cursor: pointer
            transition: background-color .2s

            @media screen and ( min-width: $bp980 )
                left: 50%
                transform: translateX( -50% )

            @media screen and ( max-width: $bp500 )
                left: 50%
                transform: translateX( -50% )

        &:hover::before
            background-color: $color-black-light



    // HISTORY BLOCK
    // ------------------------------------

    &__block
        padding: 10rem 0 6rem 6rem
        position: relative

        @media screen and ( min-width: $bp980 )
            padding: 10rem 0 6rem 0

        @media screen and ( max-width: $bp500 )
            padding 7rem 0 6rem

        &::before
            content: ''
            display: block
            width: .2rem
            height: calc( 100% - 6rem )
            background-color: $color-grey
            position: absolute
            top: 6rem
            left: 3rem

            @media screen and ( min-width: $bp980 )
                left: 50%
                transform: translateX( -50% )

            @media screen and ( max-width: $bp500 )
                display: none

    // HISTORY YEAR
    // ------------------------------------

    &__year
        size( 6rem )
        border .2rem solid $color-grey
        border-radius: 50%
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center

        & span
            font: 1.3rem/1.2 $montserrat-regular
            color: $color-grey

        @media screen and ( min-width: $bp980 )
            left: 50%
            transform: translateX( -50% )

        @media screen and ( max-width: $bp500 )
            border-radius 0
            width 100%
            background-color $color-grey

            & span
                color $color-white

    // HISTORY ROW
    // ------------------------------------

    &__row
        margin: 0 0 3rem

        &:last-child
            margin-bottom: 0

        @media screen and ( min-width: $bp980 )
            display: flex
            justify-content: space-between
            align-items: flex-start
            position: relative

            &::before
            &::after
                content: ''
                display: block
                size( 1.6rem )
                border-radius 50%
                background-color $color-grey
                position: absolute
                left: 50%
                transform: translateX( -50% )

            &::before
                top: 1rem

            &::after
                top: 4rem

    // HISTORY THUMB
    // ------------------------------------

    &__thumb
        border: .2rem solid $color-grey
        padding: 3rem 6rem 3rem 3rem
        margin: 0 0 $gutter*2
        color: $color-grey
        position relative
        transition background-color .2.5s, color .2.5s

        &:last-child
            margin-bottom: 0

        & p
            font: 1.4rem/1.8 $crimson-regular

        &::before
        &::after
            content ''
            display block
            position absolute

        &::before
            size( 1.6rem )
            border-radius 50%
            background-color $color-grey
            top 1rem
            left -( 3rem + .9rem )

            @media screen and ( min-width: $bp980 )
                display: none

            @media screen and ( max-width: $bp500 )
                display: none

        &::after
            size( 1rem )
            top: 1.5rem
            left: -1rem
            background: url( '%=static=%assets/block-history/arrow_left.png' ) 50% 50% no-repeat

            @media screen and ( max-width: $bp500 )
                display: none

        &:hover
            background-color $color-grey
            color $color-white

            & a
                color $color-white

        &:hover::after
            background: url( '%=static=%assets/block-history/arrow_left--active.png' ) 50% 50% no-repeat

        @media screen and ( min-width: $bp980 )
            flex: 0 1 44%

            &:first-child
                margin-bottom: 0

            &:first-child::after
                left: auto
                right: -1rem
                background: url( '%=static=%assets/block-history/arrow_right.png' ) 50% 50% no-repeat

            &:first-child:hover::after
                background: url( '%=static=%assets/block-history/arrow_right--active.png' ) 50% 50% no-repeat

            &:last-child
                margin-top: 3rem
                padding: 3rem 3rem 3rem 6rem

        @media screen and ( max-width: $bp500 )
            padding 3rem

        @media screen and ( max-width: $bp400 )
            text-align center
            padding 2rem

    // HISTORY META
    // ------------------------------------

    &__meta
        margin: 0 0 3rem

        & a
            color $color-grey

            &:hover
                color $color-grey-light

    // HISTORY TITLE
    // ------------------------------------

    &__title
        font: 1.3rem/1.4 $montserrat-regular
        text-transform: uppercase
        margin: 0 0 1rem

    // HISTORY DATE
    // ------------------------------------

    &__date
        font 1.1rem/1.2 $montserrat-regular
        text-transform capitalize
