mixin overlay(data)
  section.overlay.overlay-hugeinc
    button(type="button" class="overlay-close") close
    nav.overlay__navigation
      ul.overlay__list
        li.overlay__item: a.overlay__link(href="#hero") hero
        li.overlay__item: a.overlay__link(href="#intro") intro
        li.overlay__item: a.overlay__link(href="#features") features
        li.overlay__item: a.overlay__link(href="#desing") desing
        li.overlay__item: a.overlay__link(href="#conectivity") conectivity
        li.overlay__item: a.overlay__link(href="#contact") contact
