mixin overlay(data)
  section.overlay.overlay-slidedown
    nav.overlay__wrapper
      ul.overlay__list
        li.overlay__item: a.overlay__link(href="#about") about
        li.overlay__item: a.overlay__link(href="#features") how it works
        li.overlay__item: a.overlay__link(href="#gallery") services
        li.overlay__item: a.overlay__link(href="#promo") faq
        li.overlay__item: a.overlay__link(href="#contact") contact
