mixin block-follow(data)
    .follow
        .follow__top
            canvas#followTopCanvas
            img.follow-top-image()
        .follow__center
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        header.follow__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'follow-icon', className: 'follow__icon'})
                        main.follow__main
                            p Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero
                        footer.follow__footer
                            p Follow us on Twitter
                                = ' '
                                a( href='javascript:void(0);' ) @rudhisasmito
                    .swiper-slide
                        header.follow__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'follow-icon', className: 'follow__icon'})
                        main.follow__main
                            p Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero
                        footer.follow__footer
                            p Follow us on Twitter
                                = ' '
                                a( href='javascript:void(0);' ) @rudhisasmito
                    .swiper-slide
                        header.follow__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'follow-icon', className: 'follow__icon'})
                        main.follow__main
                            p Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero
                        footer.follow__footer
                            p Follow us on Twitter
                                = ' '
                                a( href='javascript:void(0);' ) @rudhisasmito
                    .swiper-slide
                        header.follow__header
                            != jadeHelpers.Icon.call(locals, {iconName: 'follow-icon', className: 'follow__icon'})
                        main.follow__main
                            p Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero
                        footer.follow__footer
                            p Follow us on Twitter
                                = ' '
                                a( href='javascript:void(0);' ) @rudhisasmito
                .swiper-pagination
        .follow__bottom
            canvas#followBottomCanvas
            img.follow-bottom-image()