mixin block-follow(data)
    .follow
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .follow__icon
                    p Premium Template - orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero
                    p Follow us on Twitter: @rudhisasmito
                .swiper-slide
                .swiper-slide
                .swiper-slide
                .swiper-slide
