.follow
    height 83rem
    background url('%=static=%assets/block-follow/follow-bg.jpg') 50% 50% no-repeat
    background-size cover
    display flex
    flex-direction column
    align-items center
    opacity .6
