mixin block-hero()
    .hero
        .center
            .hero__content
                h1.hero__title
                    span освободите свое время!
                p Передайте бытовые заботы по стирке, глажке белья или его химчистке нашим помощниками, а сами займитесь любимым делом
                button.button сколько стоит?
