include ../block-info/block-info

mixin block-hero()
    header.hero
        //- .hero__content
        //-     .center
        //-         h1.hero__title
        //-             | освободите свое время!
        //-         p.hero__subtitle
        //-             | Передайте бытовые заботы по стирке, глажке белья или его химчистке нашим помощниками, а сами займитесь любимым делом
        //-         button.btn.btn--secondo
        //-             | Сколько стоит?
        //- +block-info()
