include ../header-content/header-content

mixin header()
	header.header#home
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					+header-content()
				.swiper-slide
					+header-content()
				.swiper-slide
					+header-content()
			.swiper-pagination
