mixin header()
	header.header#home
		.swiper-container
			.swiper-wrapper
				.swiper-slide
				.swiper-slide
				.swiper-slide
			.swiper-pagination
		.header__center
			h1.header__title welcome to our marketplace
			p.header__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus $hellip;
			.header__controls
				a.button.button--more(href="#{jv0}") view more
				a.button.button--video(href="#{jv0}") video tour
