include ../heading/heading

mixin history(data)
    .history
        .history__center
            +heading('history')
            .content
                .content__panel
                    time.content__year 2015
                    .content__list
                        ul.content__row
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading donec id lobortis tellus. maecenas vel dignissim
                                        time.content__date 07 october 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading nam tincidunt, lacus sit amet ultrices
                                        time.content__date 05 june 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        ul.content__row
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading donec quis faucibus lorem
                                        time.content__date 07 may 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading nunc efficitur laoreet turpis sed auctor.
                                        time.content__date 02 april 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    p Praesent id augue in risus molestie euismod molestie id augue. Suspendisse a libero porttitor, lobortis eros ac, varius velit. Praesent sed eros at elit suscipit laoreet vitae condimentum risus.
                .content__panel
                    time.content__year 2014
                    .content__list
                        ul.content__row
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading donec id lobortis tellus. maecenas vel dignissim
                                        time.content__date 07 october 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading nam tincidunt, lacus sit amet ultrices
                                        time.content__date 05 june 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .content__more
                    a.content__show(href="javascript:void();")

                .content__panel.is-collapsed
                    time.content__year 2013
                    .content__list
                        ul.content__row
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading donec id lobortis tellus. maecenas vel dignissim
                                        time.content__date 07 october 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            li.content__item
                                a(href="javascript:void();")
                                    .content__meta
                                        .content__heading nam tincidunt, lacus sit amet ultrices
                                        time.content__date 05 june 2015
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
