include ../module-heading-oneside/module-heading-oneside

mixin block-blog(data)
    .blog
        .blog__header
            +module-heading-oneside( 'blog' )
            p Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
        .blog__main