
// BLOG
// -----------------------------------------

.blog
    width: 100%

    // BLOG HEADER
    // -----------------------------------------

    &__header
        background-color: $color-grey-pale
        padding: 8rem 0

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // BLOG MAIN
    // -----------------------------------------

    &__main
        //
