
// BLOG
// -----------------------------------------

.blog
    width: 100%

    // BLOG HEADER
    // -----------------------------------------

    &__header
        background-color: $color-grey-pale
        padding: 8rem $gutter

        & p
            lost-center 100rem flex
            text-align: center
            font-size: 1.4rem
            color: $color-grey
            line-height: 2

    // BLOG MAIN
    // -----------------------------------------

    &__main
        display: flex
        justify-content: center
        flex-wrap: wrap

    // BLOG ITEM
    // -----------------------------------------

    &__item
        display: flex
        flex-direction: column
        flex: 0 1 25%

        &:nth-child(1)
            background: url( '%=static=%assets/block-blog/blog-image-01.jpg' ) 50% 50% no-repeat
            background-size: cover

        &:nth-child(3)
            background: url( '%=static=%assets/block-blog/blog-image-02.jpg' ) 50% 50% no-repeat
            background-size: cover

        &:nth-child(6)
            background: url( '%=static=%assets/block-blog/blog-image-03.jpg' ) 50% 50% no-repeat
            background-size: cover

        &:nth-child(8)
            background: url( '%=static=%assets/block-blog/blog-image-04.jpg' ) 50% 50% no-repeat
            background-size: cover

        @media screen and ( max-width: $bp1200 )
            flex: 0 1 50%
            border: .1rem solid $color-grey-58

        @media screen and ( max-width: $bp768 )
            flex: 0 1 100%

        &--content
            background-color: $color-grey-heavy
            padding: 4rem

    // BLOG META
    // -----------------------------------------

    &__meta
        margin: 0 0 2rem

    // BLOG DESCRIPTION
    // -----------------------------------------

    &__description p
        color: $color-grey-58
        font: 1.4rem/1.6 'crimson_textroman', sans-serif

    // BLOG TITLE
    // -----------------------------------------

    &__title
        text-transform: uppercase
        font: 1.3rem/1.2 $montserrat-regular
        letter-spacing: .1rem
        margin: 0 0 4rem
        position: relative
        padding: 0 0 0 1rem

        &::before
            content: ''
            display: block
            width: 0
            height: 0
            border-style: solid
            border-width: 3.5px 0 3.5px 4px
            border-color: transparent transparent transparent $color-grey-pale
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0

        & a
            color: $color-grey-pale

            &:hover
                color: $color-grey-58