include ../module-header/module-header

mixin block-testimonials(data)
    .testimonials#testimonials
        .testimonials__center
            .testimonials__header
                +module-header( 'our', 'testimonial' )
            .testimonials__content
                .testimonials__labels
                    .testimonials__client
                        a( href='javascript:void(0);' )
                            img(src='%=static=%img/assets/block-testimonials/testimonials-image-01.png' alt='Testimonials Image')
                    .testimonials__client
                        a( href='javascript:void(0);' )
                            img(src='%=static=%img/assets/block-testimonials/testimonials-image-02.png' alt='Testimonials Image')
                    .testimonials__client
                        a( href='javascript:void(0);' )
                            img(src='%=static=%img/assets/block-testimonials/testimonials-image-03.png' alt='Testimonials Image')
                    .testimonials__client
                        a( href='javascript:void(0);' )
                            img(src='%=static=%img/assets/block-testimonials/testimonials-image-04.png' alt='Testimonials Image')
                    .testimonials__client
                        a( href='javascript:void(0);' )
                            img(src='%=static=%img/assets/block-testimonials/testimonials-image-05.png' alt='Testimonials Image')
                .testimonials__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                            .swiper-slide
                                header.swiper-slide__header
                                    blockquote ornare pede montes, morbi urna sed temporibus non, nibh inceptos enim turpis natoque
                                footer.swiper-slide__footer
                                    ul.swiper-slide__info
                                        li.swiper-slide__image
                                            a( href='javascript:void(0);' )
                                                img(src='%=static=%img/assets/block-testimonials/testimonials-client-image-01.jpg' alt='Testimonials Client Image')
                                        li.swiper-slide__contacts
                                            .swiper-slide__title
                                                a( href='javascript:void(0);' ) @Someone famous
                                            .swiper-slide__author someone famous
                        .swiper-pagination
