mixin promo()
	+b.promo#assets
		.promo__center
			.promo__content
				h1.promo__title Sedna will drive your product forward
				p Present your product, start up, or portfolio in a beautifully modern way. Turn your visitors in to clients.
				ul.promo__list
					li
						svg(class="icon" role="img")
							use(id="icon_promo-icon-1" xlink:href="/assets/images/icon.svg#icon_promo-icon-1")
						h3 universal &amp; responsive
						p Sedna is universal and will look smashing on any device.
					li
						svg(class="icon" role="img")
							use(id="icon_promo-icon-2" xlink:href="/assets/images/icon.svg#icon_promo-icon-2")
						h3 user centric design
						p Design UX first, allowing for ease of use and user centric behaviours.
					li
						svg(class="icon" role="img")
							use(id="icon_promo-icon-3" xlink:href="/assets/images/icon.svg#icon_promo-icon-3")
						h3 clean, reusable code
						p Download and re-use the code for any other project you like.
		.promo__image.promo__image--one
		.promo__image.promo__image--two
