.promo
	position relative
	padding-top 12rem
	overflow hidden
	min-height 76rem
	background-color $silver
	box-shadow inset 0 .1rem 0 darken($silver, 20%), inset 0 -.1rem 0 darken($silver, 20%)

	+below($bp1)
		min-height 0

	&__center
		lost-center $width-desktop

		+below($bp1)
			lost-center $width-mobile
			margin-bottom 10%

	&__content
		lost-column 5/12
		lost-offset -7/12
		lost-column-gutter 2rem

		+below($bp1)
			lost-offset 0
			lost-column-gutter 0
			lost-column 1/1

		& p
			font-family $opensans-light
			font-size 1.5rem
			line-height 1.6
			color $dark-slate-blue

	&__title
		margin-bottom 2rem
		font-size 2.4rem
		color $charcoal-grey

	&__list
		margin-top 6rem

		& > li
			position relative
			padding 2rem 0 2rem 6rem

			+below($bp1)
				&:not(:last-child)
					margin-bottom 4rem

			&:not(:last-child)
				border-bottom .1rem solid $silver

			& > .icon
				position absolute
				top 2rem
				left 0
				size(4rem)

			& > h3
				margin-bottom 1rem
				font-size 1.5rem
				text-transform uppercase
				color $charcoal-grey

	// PROMO IMAGES
	// --------------------------------------------------------

	&__image
		position absolute
		bottom 0
		visibility hidden
		animation-iteration-count 1
		animation-fill-mode both

		&--one
			right 60%
			width 72rem
			height 64.1rem
			background url(../images/ipad-device.png) 0 0 no-repeat
			animation-duration 1s

			+below($bp1)
				display none

		&--two
			left 30%
			width 30.4rem
			height 39.2rem
			background url(../images/iphone-device.png) 0 0 no-repeat
			animation-duration 2s

			+below($bp1)
				display none


	// PROMO DEVICES
	// ----------------------------------------------------

	&__devices
		margin auto
		display none
		width 80%

		& > img
			display block
			width 100%
			height auto

		+below($bp1)
			display block


@keyframes fadeInUp
	from
		opacity 0
		transform translate3d(0, 100%, 0)
	to
		visibility visible
		opacity 1
		transform none
