.promo
	position relative
	padding-top 12rem
	min-height 76rem
	background-color $silver
	border-top .1rem solid darken($silver, 10%)
	border-bottom .1rem solid darken($silver, 10%)

	&__center
		lost-center $width

	&__content
		lost-column 5/12
		lost-offset -7/12
		lost-column-gutter 2rem

		& p
			font-family $opensans-light
			font-size 1.5rem
			line-height 1.6
			color $dark-slate-blue

	&__title
		margin-bottom 2rem
		font-size 2.4rem
		color $charcoal-grey

	&__list
		margin-top 6rem

		& > li
			position relative
			padding 2rem 0 2rem 6rem

			&:not(:last-child)
				border-bottom .1rem solid $silver

			& > .icon
				position absolute
				top 2rem
				left 0
				size(4rem)

			& > h3
				margin-bottom 1rem
				font-size 1.5rem
				text-transform uppercase
				color $charcoal-grey

	&__image
		position absolute
		bottom 0
		visibility hidden
		animation-iteration-count 1
		animation-fill-mode both

		&--one
			left 0
			width 54.9rem
			height 64.1rem
			background url(../images/ipad.png) 0 0 no-repeat
			animation-duration 1s

		&--two
			left 42.8rem
			width 30.4rem
			height 39.2rem
			background url(../images/iphone.png) 0 0 no-repeat
			animation-duration 2s


@keyframes fadeInUp
	from
		opacity 0
		transform translate3d(0, 100%, 0)
	to
		visibility visible
		opacity 1
		transform none
