include ../readmore-button/readmore-button

mixin footer(data)
    footer.footer
        .footer__center
            .footer__primary
                h2.footer__title about store
                p electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishingelectronic typesetting,  It was popularised in the 1960s with the release of Letraset
                p electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishingelectronic typesetting,  It was popularised in the 1960s with the release of Letraset
                +readmore-button('read more')
            .footer__secondary
                ul.footer__menu
                    li: a(href='javascript:void(0);') about us
                    li: a(href='javascript:void(0);') delivery information
                    li: a(href='javascript:void(0);') privacy policy
                    li: a(href='javascript:void(0);') terms &amp; conditions
                    li: a(href='javascript:void(0);') about us
                    li: a(href='javascript:void(0);') about us
                    li: a(href='javascript:void(0);') delivery information
