// footer
// ------------------------------
.footer
    background-color $color-white
    padding 6rem 0

    & .center
        display flex
        justify-content space-between
        align-items center

    &__nav
        display flex
        justify-content center

    &__item
        size( 5rem )
        border-radius 50%
        border .3rem solid $pink-color-dark
