// FOOTER
// ------------------------------
.footer
    background-color $color-white
    padding 6rem 0


    // FOOTER CENTER
    // ------------------------------
    & .center
        display flex
        justify-content space-between
        align-items center

        @media screen and ( max-width $bp600 )
            flex-direction column


    // FOOTER PRIMARY
    // ------------------------------
    &__primary

        @media screen and ( max-width $bp600 )
            margin 0 0 3rem

        // FOOTER PRIMARY LOGO
        // ------------------------------
        & .logo
            display flex
            align-items center
            text-transform uppercase
            color $pink-color-dark
            font 3rem/1.2 $open-sans--regular

            & .footer-icon-logo
                margin 0 1rem 0 0
                fill: $pink-color-pink

            &:hover
            &:focus
                color $pink-color-pink

            &:active
                color rgba( $pink-color-dark, .3 )

                & .footer-icon-logo
                    fill: rgba( $pink-color-pink, .3 )

    // FOOTER SECONDARY
    // ------------------------------
    &__secondary

        @media screen and ( max-width $bp600 )
            margin 0 0 3rem

        // NAVIGATION
        // ------------------------------
        & .navigation
            display flex
            justify-content center

            // NAVIGATION ITEM
            // ------------------------------
            &__item
                display flex
                justify-content center
                align-items center
                size( 5rem )
                margin 0 .6rem
                background-color #fefefe
                border-radius 50%
                border .3rem solid rgba( $pink-color-dark, .1 )
                transition all .2s

                & .footer-icon
                    fill: $pink-color-pink

                &:hover
                    border-color $pink-color-dark

                &:focus
                &:active
                    border-color rgba( $pink-color-dark, .1 )

                    & .footer-icon
                        fill: rgba( $pink-color-pink, .3 )


    // FOOTER TERTIARY
    // ------------------------------
    &__tertiary
        //

        // FOOTER TERTIARY AUTHOR
        // ------------------------------
        & .author
            display flex
            align-items center
            font 1.8rem/1.2 $open-sans--regular
            color $pink-color-dark
            text-transform capitalize

            & .footer-icon-brand
                fill: $pink-color-pink
                margin 0 0 0 1.4rem

            &:hover .footer-icon-brand
                fill: $pink-color-dark

            &:focus .footer-icon-brand
            &:active .footer-icon-brand
                fill: rgba( $pink-color-dark, .3 )
