mixin footer()
    footer.footer
        .center
            .footer__primary
                a.logo( href='#0' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'logotype', className: 'footer-icon-logo' })
                    | pink
            .footer__secondary
                nav.navigation
                    a.navigation__item( href='#0' )
                        != jadeHelpers.Icon.call( locals, { iconName: 'facebook', className: 'footer-icon' })
                    a.navigation__item( href='#0' )
                        != jadeHelpers.Icon.call( locals, { iconName: 'twitter', className: 'footer-icon' })
                    a.navigation__item( href='#0' )
                        != jadeHelpers.Icon.call( locals, { iconName: 'youtube', className: 'footer-icon' })
            .footer__tertiary
                a.author( href='#0' ) разработано
                    != jadeHelpers.Icon.call( locals, { iconName: 'htmlacademy', className: 'footer-icon-brand' })
