mixin footer(data)
    footer.footer
        .center
            .footer__primary
            .footer__secondary
                nav.footer__nav
                    a.footer__item( href='#0' )
                    a.footer__item( href='#0' )
                    a.footer__item( href='#0' )
            .footer__tertiary
