
// PHOTOS
// ------------------------------------

.photos
    //

    // PHOTOS TITLE
    // ------------------------------------

    &__title
        text-transform uppercase
        font 1.6rem/1.2 $montserrat-bold
        margin 0 0 4rem

    // PHOTOS LIST
    // ------------------------------------

    &__list
        clearfix()

    // PHOTOS ITEM
    // ------------------------------------

    &__item
        width 32%
        float left
        margin calc( ( 100% - 32% * 3 ) / 6 )

    // PHOTOS LINK
    // ------------------------------------

    &__link
        img-adaptive()

        & > img
            transition opacity .2s
            opacity .8

            &:hover
                opacity 1
