mixin block-photos( title, ...items )
    section.photos
        h3.photos__title= title
        ul.photos__list
            each item in items
                li.photos__item
                    a.photos__link( href='#0' )
                        img( src=item alt='Picture' )
