mixin block-diagram()
    section.diagram
        .center
            .diagram__primary
                .diagram__timer
                    span.diagram__count 24
            .diagram__secondary
                .diagram__content
                    h2.diagram__title
                        | Эффект на 24 часа!
                    p
                        | Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
                    a.diagram__link( href='#0' ) Узнать больше об исследовании
