// PINK-FORM
// ------------------------------
.pink-form
    padding 6rem 0

    // PINK-FORM HEADER
    // ------------------------------
    &__header
        padding 2rem 0

    // PINK-FORM TITLE
    // ------------------------------
    &__title
        max-width 70rem

        & p
            font 1.8rem/1.6 $open-sans--regular
            color $pink-color-dark
            text-align center

            &:not(:last-child)
                margin 0 0 2rem

    // PINK-FORM HEADER
    // ------------------------------
    &__main
        padding 4rem 0

