// REVIEW
// ----------------------------------------
.review
    padding 6rem 0 12rem
    background-color $color-white

    // REVIEW CENTER
    // -------------------------------------
    & .center
        flex-direction column
        align-items center

    // REVIEW HEADER
    // -------------------------------------
    &__header
        margin 0 0 6rem

    // REVIEW TITLE
    // -----------------------------------
    &__title
        font 700 4rem/1.2 $raleway
        color $color-black--light

    // REVIEW MAIN
    // -------------------------------------
    &__main
        position relative
        width 100%

    // REVIEW LIST
    // -------------------------------------
    &__list
        display flex
        position relative

    // REVIEW ITEM
    // -------------------------------------
    &__item
        display flex
        flex 0 1 40%

        &:last-of-type
            margin 0 0 0 8rem

    // REVIEW IMAGE
    // -------------------------------------
    &__image
        size( 13rem )
        overflow hidden
        border-radius 50%
        img-adaptive()

    // REVIEW CONTENT
    // -------------------------------------
    &__content
        padding .6rem 0 0 1.8rem

        & p
            color $color-black--light
            font 400 1.6rem $ptsans

    // REVIEW META
    // -------------------------------------
    &__meta
        margin 0 0 2rem

    // REVIEW CAPTION
    // ----------------------------------------
    &__caption
        color $color-black--light
        text-transform uppercase
        font 900 1.5rem/1.2 $raleway
        margin 0 0 1rem

    // REVIEW INFO
    // ----------------------------------------
    &__info
        text-transform uppercase
        font 400 1rem $ptsans

    // REVIEW BUTTON
    // ----------------------------------------
    &__button
        position absolute
        top 0
        right 0
        size( 3.8rem, 3rem )
        background url( '%=static=%assets/block-review/review-button.png' ) 50% 50% no-repeat
        background-size cover

        &:hover
        &:active
            background url( '%=static=%assets/block-review/review-button--active.png' ) 50% 50% no-repeat
            background-size cover
