
// ABOUT
// -------------------------------------------
.about
	padding 8rem 0
	border-bottom .3rem solid #dde1e4

	// ABOUT CENTER
	// -------------------------------------------
	&__center
		lost-center $width
		padding 0 1rem

	// ABOUT CONTENT
	// -------------------------------------------
	&__content
		lost-center 100% flex
		// color #8d8f92
		// font-size 1rem
		// line-height 1.6

	// ABOUT CONTENT PRIMARY
	// -------------------------------------------
	&__primary
		lost-column 7/12
		lost-column-gutter 2rem

		& p
			color #8d8f92
			font-size 1rem
			line-height 1.6
			margin-bottom 2rem

		+below( $bp-786 )
			lost-column 1/1
			lost-column-gutter 0
			margin 0 0 6rem

		+below( $bp-500 )

			& p
				text-align center

	// ABOUT CONTENT SECONDARY
	// -------------------------------------------
	&__secondary
		lost-column 5/12

		+below( $bp-786 )
			lost-column 1/1
			lost-column-gutter 0
