include ../heading/heading

mixin about(data)
    .about
        .about__center
            .about__primary
                figure.about__image
                    img(src='%=static=%img/assets/about/about-image.jpg' alt='About Image~')
                .about__content
                    +heading('about us')
                    .about__controls
                        a(href="javascript:void();") contact us
                        a(href="javascript:void();") portfolio
            .about__secondary
                .about__item
                    .about__icon
                        img(src='%=static=%img/assets/about/about-icon-01.png' alt="About Icon")
                    p.about__slogan awards <br> winner
                    p.about__number 54
                .about__item
                    .about__icon
                        img(src='%=static=%img/assets/about/about-icon-02.png' alt="About Icon")
                    p.about__slogan jobs <br> done
                    p.about__number 1054
                .about__item
                    .about__icon
                        img(src='%=static=%img/assets/about/about-icon-03.png' alt="About Icon")
                    p.about__slogan happy <br> clients
                    p.about__number 120
                .about__item
                    .about__icon
                        img(src='%=static=%img/assets/about/about-icon-04.png' alt="About Icon")
                    p.about__slogan reviews <br> recieved
                    p.about__number 54
