.about
    background-color: #e3e3e3
    padding: 7rem 0

    &__center
        lost-center $width
        padding: 0 $gutter

    // PRIMARY SECTION
    // --------------------------------------------------------

    &__primary
        background-color: $color-white

    &__image > img
        display: block
        width: 100%
        height: auto

    &__content
        padding: 5rem 10rem

        & p
            font-family: $crimson_text-roman
            font-weight: 400
            font-size: 1.4rem
            color: #3e3d3d
            line-height: 1.7

            &:not(:last-child)
                margin: 0 0 4rem

            @media screen and ( max-width: $bp768 )
                text-align: center

        @media screen and ( max-width: $bp768 )
            padding: 5rem

        @media screen and (max-width: $bp500)
            padding: 5rem $gutter2

    &__title
        text-align: center
        padding: 0 0 3rem
        margin: 0 0 4rem
        font-family: $amsdam-regular
        text-transform: uppercase
        font-weight: 400
        letter-spacing: .2rem
        background: url('%=static=%assets/about/underline.png') 50% 100% no-repeat

    &__controls
        display: flex
        justify-content: center
        align-items: center

        & > a
            display: flex
            justify-content: center
            align-items: center
            width: 14rem
            height: 5rem
            text-decoration: none
            text-transform: capitalize
            font: 400 1.3rem/1 $montserrat-regular
            color: $color-grey
            border: .2rem solid $color-grey
            margin: 0 .5rem
            transition: color .2s, background-color .2s

            &:hover
            &:focus
            &:first-child
                background-color: $color-grey
                color: $color-grey-light

        @media screen and (max-width: $bp500)
            flex-direction: column

    // SECONDARY SECTION
    // --------------------------------------------------------

    &__secondary
        lost-center 100%
        padding: 3rem 0

    &__item
        lost-column 1/4
        lost-column-gutter 0
        text-align: center
        font-family: $montserrat-regular
        font-weight: 400
        color: $color-grey
        padding: 1rem 0

        &:not(:last-child)
            border-right: .1rem solid #b0b0b0

        @media screen and ( max-width: $bp768 )
            lost-column 1/2
            lost-column-gutter 0
            lost-column-cycle 2

        &:nth-child(n+1)
            padding: $gutter*2 0

        &:nth-child(-n+2)
            border-bottom: .1rem solid #b0b0b0

        &:nth-child(2n+1)
            border-right: .1rem solid #b0b0b0

        &:nth-child(2n)
            border-right: none

        @media screen and (max-width: $bp500)
            lost-column 1/1
            lost-column-gutter 0
            lost-column-cycle 0

        &:nth-child(n+1)
            border-right: none
            border-bottom: .1rem solid #b0b0b0
            margin: 0

    &__icon
        min-height: 4.1rem
        margin: 0 0 2rem

    &__slogan
        text-transform: uppercase
        font-size: 1.3rem
        line-height: 1.6
        margin: 0 0 3rem

    &__number
        font-size: 4.5rem
        line-height: 1
        margin: 0
