.footer
    background-color: #292929
    padding: 6rem 0 4rem

    &__center
        lost-center $width
        padding: 0 $gutter

    &__content
        lost-center 100% flex

    &__primary
        lost-column 4/12
        lost-column-gutter 0

    &__secondary
        lost-column 8/12
        lost-column-gutter 0
