include ../block-links/block-links
include ../block-meta/block-meta
include ../block-readmore/block-readmore

mixin block-post-thumb(imagePath)
    .block-post-thumb
        figure.block-post-thumb__image: img(src= imagePath alt="Post Image")
        h2.block-post-thumb__title donec id lobortis tellus. maecenas vel dignissim
        +block-meta('admin', '07 october 2015')
        +block-links()
        .block-post-thumb__content
            p Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
        +block-readmore('read more')
