.block-post-thumb

    // POST IMAGE
    &__image
        margin: 0 0 4rem

        & img
            display: block
            width: 100%
            height: auto

    // POST TITLE
    &__title
        text-transform: uppercase
        font: 1.6rem/1.2 $montserrat-bold
        color: $color-grey
        margin: 0 0 1rem

    // POST CONTENT
    &__content
        margin: 0 0 2rem

        & p
            font: 1.4rem/1.8 $crimson_text-roman
            color: $color-grey
            margin: 0 0 2rem

            &:last-child
                margin: 0
