mixin block-topheader(data)
    .topheader
        .topheader__center
            .topheader__logo
                a( href='javascript:void(0);' )
                    != jadeHelpers.Icon.call(locals, {iconName: 'topheader-logo', className: 'topheader-icon'})
            .topheader__navigation
                ul.topheader-menu
                    li
                        a( href='javascript:void(0);' ) home
                    li
                        a( href='javascript:void(0);' ) about us
                    li
                        a( href='javascript:void(0);' ) products
                    li
                        a( href='javascript:void(0);' ) testimonials
                    li
                        a( href='javascript:void(0);' ) contact
            .topheader-menu__mobile