mixin block-topheader(data)
    .topheader
        .topheader__center
            .topheader__logo
            .topheader__navigation
                ul.topheader-menu
                    li: a( href='javascript:void(0);' ) home
                    li: a( href='#about' ) about us
                    li: a( href='#work' ) products
                    li: a( href='#testimonials' ) testimonials
                    li: a( href='#touch' ) contact
            .topheader-menu__mobile
