// BLOCK-CALC
// -----------------------------------------
.block-calc
    padding 14rem 0 0 0


    &__primary
        //

    &__main
        //

    &__header
        margin 0 0 16rem

    &__title
        padding 0 0 0 8rem
        font 400 4rem/5.2rem $raleway
        color $help-color-grey-dark
        position relative

        &::before
            content ''
            display block
            size( 4rem, 5.2rem )
            position absolute
            left 0
            top 0
            bg( $calc-icon )

    &__subtitle
        margin 5rem 0 0 8rem

        & p
            font 400 1.8rem/1.4 $ptsans
            color $help-color-grey-dark

    &__caption
        text-transform uppercase
        font 900 1.5rem/1.2rem $raleway
        color $help-color-grey-dark
        margin 0 0 2rem

    &__gallery
        //

    &__sibebar
        //

    &__secondary
        //
