include ../block-widget/block-widget

mixin block-calc()
    .block-calc
        .center
            .block-calc__primary
                aside.block-calc__sibebar
                    article.widget.widget--primary
                        header.widget__header
                            ul.list
                                li.list__item.list__item--first
                                    h3.title
                                        | Ваш заказ
                                li.list__item.list__item--second
                                    .primo
                                        h4.caption
                                            | Стоимость
                                        .value
                                            | 1 490 <span class='currency'>&#8381;</span>
                                    .secondo
                                        h4.caption
                                            | Доставка
                                        .value
                                            | 220 <span class='currency'>&#8381;</span>
                                li.list__item.list__item--third
                                    h4.caption
                                        | общая стоимость
                                    .value
                                        | 1 900 <span class='currency'>&#8381;</span>
                                li.list__item.list__item--fourth
                                    .icon
                                        != jadeHelpers.Icon.call( locals, { iconName: 'close', className: 'block-widget-icon' })
                                    a.link( href='#0' )
                                        | Сбросить расчет
                        footer.widget__footer
                            button.button.button--secondary( type='button' )
                                | Вызвать помощника
                    article.widget.widget--secondary
                        header.widget__header
                            ul.list
                                li.list__item.list__item--first
                                    h3.title
                                        | Ваш заказ
                                li.list__item.list__item--second
                                    p
                                        | До начала выполнения работ мы с вами обязательно свяжемся и сообщим точную стоимость оказания услуги.
                        footer.widget__footer
                            button.button.button--secondary( type='button' )
                                | Вызвать помощника

                main.block-calc__main
                    header.block-calc__header
                        h1.block-calc__title
                            | Калькулятор стоимости
                        .block-calc__subtitle
                            h3.block-calc__caption
                                | Что будем стирать, гладить, чистить?
                            p
                                | Если вам требуется просто постирать и погладить или выполнить химчистку ваших вещей, мы с радостью поможем в этом.
                    main.block-calc__content
                        .gallery
                            header.gallery__header
                                nav.controls
                                    a.controls__item( href='#0' data-filter='all' )
                                        | Все
                                    a.controls__item( href='#0' data-filter='female' )
                                        | Женские вещи
                                    a.controls__item( href='#0' data-filter='male' )
                                        | Мужские вещи
                            main.gallery__main
                                ul.list
                                    li.list__item( data-filter='female' )
                                        .primary
                                            .primary__thumb
                                                img.primary__image( src='%=static=%img/content/gallery-image-01.jpg' alt='Gallery Image' )
                                            h3.primary__caption
                                                | Пуховик с натуральным мехом
                                        .secondary
                                            .secondary__title
                                                | 220 <span class='secondary__currency'>&#8381;</span>
                                            .secondary__subtitle
                                                | за 1 штуку
                                        .tertiary
                                            .stepper
                                                button.stepper__button.stepper__button--left( type='button' ) -
                                                input.stepper__input( type='text' value='1' placeholder='Amount' )
                                                button.stepper__button.stepper__button--right( type='button' ) +
                                    li.list__item( data-filter='male' )
                                        .primary
                                            .primary__thumb
                                                img.primary__image( src='%=static=%img/content/gallery-image-02.jpg' alt='Gallery Image' )
                                            h3.primary__caption
                                                | Ветровка
                                        .secondary
                                            .secondary__title
                                                | 500 <span class='secondary__currency'>&#8381;</span>
                                            .secondary__subtitle
                                                | за 1 штуку
                                        .tertiary
                                            .stepper
                                                button.stepper__button.stepper__button--left( type='button' ) -
                                                input.stepper__input( type='text' value='1' placeholder='Amount' )
                                                button.stepper__button.stepper__button--right( type='button' ) +
                                    li.list__item( data-filter='female' )
                                        .primary
                                            .primary__thumb
                                                img.primary__image( src='%=static=%img/content/gallery-image-03.jpg' alt='Gallery Image' )
                                            h3.primary__caption
                                                | Пальто демисезонное средней длинны
                                        .secondary
                                            .secondary__title
                                                | 1 256 <span class='secondary__currency'>&#8381;</span>
                                            .secondary__subtitle
                                                | за 1 штуку
                                        .tertiary
                                            .stepper
                                                button.stepper__button.stepper__button--left( type='button' ) -
                                                input.stepper__input( type='text' value='1' placeholder='Amount' )
                                                button.stepper__button.stepper__button--right( type='button' ) +
                                    li.list__item( data-filter='male' )
                                        .primary
                                            .primary__thumb
                                                img.primary__image( src='%=static=%img/content/gallery-image-04.jpg' alt='Gallery Image' )
                                            h3.primary__caption
                                                | Пиджак с карманами
                                        .secondary
                                            .secondary__title
                                                | 500 <span class='secondary__currency'>&#8381;</span>
                                            .secondary__subtitle
                                                | за 1 штуку
                                        .tertiary
                                            .stepper
                                                button.stepper__button.stepper__button--left( type='button' ) -
                                                input.stepper__input( type='text' value='1' placeholder='Amount' )
                                                button.stepper__button.stepper__button--right( type='button' ) +

            .block-calc__secondary
                .half-first
                    h3.header
                        | В течение 24 часов вам доставят
                    ul.list
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | Чистые и свежие вещи
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | Выглаженные, как в магазине
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | На вешалке или в упаковке
                    .mark
                        | Выполнение заказа в течение 24 часов осуществляется при заказе услуги <q>экспресс-чистка</q>
                .half-second
                    .quatter-first
                        h3.header
                            | Внимание
                        p
                            | Калькулятор предназначен для примерного расчета заказа. Окончательная стоимость зависит от реального объема белья и одежды, от сложности пятен, которые требуется вывести, наличия декоративных элементов и возможных особенностей ухода за конкретным типом изделия.
                    .quatter-second
                        p
                            | В любом случае до начала выполнения работ мы с вами свяжемся, уточним все детали и окончательную стоимость.
