include ../block-widget/block-widget

mixin block-calc(data)
    .block-calc
        .center
            .block-calc__primary


                aside.block-calc__sibebar
                    article.widget.widget--primary
                        header.widget__header
                            ul.list
                                li.list__item
                                    h3.title
                                        | Ваш заказ
                                li.list__item
                                    .primo
                                        h4.caption
                                            | Стоимость
                                        .value
                                            p 1 490 <span class='currency'></span>
                                    .secondo
                                        h4.caption
                                            | Доставка
                                        .value
                                            p 220 <span class='currency'></span>
                                li.list__item
                                    h4.caption
                                        | общая стоимость
                                    .value
                                        p 1 900 <span class='currency'></span>
                                li.list__item
                                    a.link( href='#0' )
                                        | Сбросить расчет
                        footer.widget__footer
                            button.button.button--secondary( type='button' )
                                | Вызвать помощника
                    article.widget.widget--secondary
                        header.widget__header
                            ul.list
                                li.list__item
                                    h3.title
                                        | Ваш заказ
                                li.list__item
                                    p
                                        | До начала выполнения работ мы с вами обязательно свяжемся и сообщим точную стоимость оказания услуги.
                        footer.widget__footer
                            button.button.button--secondary( type='button' )
                                | Вызвать помощника

                main.block-calc__main
                    | main

            .block-calc__secondary
                .half-first
                    h3.header
                        | В течение 24 часов вам доставят
                    ul.list
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | Чистые и свежие вещи
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | Выглаженные, как в магазине
                        li.list__item
                            .list__thumb
                            .list__slogan
                                | На вешалке или в упаковке
                    .mark
                        | Выполнение заказа в течение 24 часов осуществляется при заказе услуги <q>экспресс-чистка</q>
                .half-second
                    .quatter-first
                        h3.header
                            | Внимание
                        p
                            | Калькулятор предназначен для примерного расчета заказа. Окончательная стоимость зависит от реального объема белья и одежды, от сложности пятен, которые требуется вывести, наличия декоративных элементов и возможных особенностей ухода за конкретным типом изделия.
                    .quatter-second
                        p
                            | В любом случае до начала выполнения работ мы с вами свяжемся, уточним все детали и окончательную стоимость.
