mixin topheader__menu--mobile()
	nav.topheader__menu--mobile
		a(href="#home") home
		a(href="#about") about
		a(href="#team") team
		a(href="#work") work
		a(href="#services") services
		a(href="#features") features
		a(href="#contact") contact
