.header-blog
    background: url( '%=static=%assets/block-header-blog/header-blog-bg.jpg' ) 50% 50% no-repeat
    background-size cover
    height 39.6rem


    & .center
        height 39.6rem
        justify-content center
