// header
// ---------------------------------
.header
    //

    &__primary
        background url( '%=static=%assets/block-header/background-fullsize.jpg' ) 50% 50% no-repeat
        background-size cover
        overflow hidden

        @media screen and ( max-width $tablet ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-header/background-tablet@1x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $tablet ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-header/background-tablet@2x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $mobile ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-header/background-mobile@1x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $mobile ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-header/background-mobile@2x.jpg' ) 50% 50% no-repeat
            background-size cover

        & .center
            height 85.3rem
            position relative

            @media screen and ( max-width $tablet )
                height 72.9rem

            @media screen and ( max-width $mobile )
                height 45.8rem

    &__image
        position absolute
        bottom -.2rem
        right $gutter

        @media screen and ( min-resolution 96dpi )
            size( 58rem, 64.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-desktop@1x.png' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( min-resolution 144dpi )
            size( 58rem, 64.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-desktop@2x.png' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $tablet ) and ( min-resolution 96dpi )
            size( 47.2rem, 54.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-tablet@1x.png' ) 0 0 no-repeat
            background-size cover
            right $gutter

        @media screen and ( max-width $tablet ) and ( min-resolution 144dpi )
            size( 47.2rem, 54.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-tablet@2x.png' ) 0 0 no-repeat
            background-size cover
            right $gutter

        @media screen and ( max-width $mobile ) and ( min-resolution 96dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@1x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)

        @media screen and ( max-width $mobile ) and ( min-resolution 144dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@2x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)

        @media screen and ( max-width $mobile ) and ( min-resolution 288dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@3x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)



    &__secondary
        height 27rem
        padding 2rem
        background-color lightgreen

        @media screen and ( min-width $mobile )
            position absolute
            left 0
            top 0
            height 72.9rem
            width 30rem
            display flex
            flex-direction column
            align-items center
            justify-content center

        @media screen and ( min-width $tablet )
            height 85.3rem

    &__remarks
        text-align center
