// HEADER
// ---------------------------------
.header
    //

    // HEADER PRIMARY
    // ---------------------------------
    &__primary
        background url( '%=static=%assets/block-header/background-fullsize.jpg' ) 50% 50% no-repeat
        background-size cover
        overflow hidden

        @media screen and ( max-width $tablet ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-header/background-tablet@1x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $tablet ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-header/background-tablet@2x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $mobile ) and ( min-resolution 96dpi )
            background url( '%=static=%assets/block-header/background-mobile@1x.jpg' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $mobile ) and ( min-resolution 144dpi )
            background url( '%=static=%assets/block-header/background-mobile@2x.jpg' ) 50% 50% no-repeat
            background-size cover

        // HEADER CENTER
        // ---------------------------------
        & .center
            height 85.3rem
            position relative

            @media screen and ( max-width $tablet )
                height 72.9rem

            @media screen and ( max-width $mobile )
                height 45.8rem

    // HEADER IMAGE
    // ---------------------------------
    &__image
        position absolute
        bottom -.2rem
        right $gutter

        @media screen and ( min-resolution 96dpi )
            size( 58rem, 64.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-desktop@1x.png' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( min-resolution 144dpi )
            size( 58rem, 64.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-desktop@2x.png' ) 50% 50% no-repeat
            background-size cover

        @media screen and ( max-width $tablet ) and ( min-resolution 96dpi )
            size( 47.2rem, 54.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-tablet@1x.png' ) 0 0 no-repeat
            background-size cover
            right $gutter

        @media screen and ( max-width $tablet ) and ( min-resolution 144dpi )
            size( 47.2rem, 54.5rem )
            background url( '%=static=%assets/block-header/iphone-hand-tablet@2x.png' ) 0 0 no-repeat
            background-size cover
            right $gutter

        @media screen and ( max-width $mobile ) and ( min-resolution 96dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@1x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)

        @media screen and ( max-width $mobile ) and ( min-resolution 144dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@2x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)

        @media screen and ( max-width $mobile ) and ( min-resolution 288dpi )
            size( 25.8rem, 28.6rem )
            background url( '%=static=%assets/block-header/iphone-hand-mobile@3x.png' ) 0 0 no-repeat
            background-size cover
            left 50%
            transform translateX(-50%)

    // HEADER SECONDARY
    // ---------------------------------
    &__secondary
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding 4rem 2rem
        background-color $pink-color-dark

        @media screen and ( min-width $mobile )
            position absolute
            left $gutter
            top 0
            z-index 2
            height 72.9rem
            width 30rem

        @media screen and ( min-width $tablet )
            height 85.3rem

        @media screen and ( min-width $mobile )
            background-color rgba( $pink-color-black, .6 )

    // HEADER TITLE
    // ---------------------------------
    &__title
        font 4rem/1.2 $open-sans--light
        max-width 100%
        text-align center
        color $pink-color-white
        margin 0 0 4rem

        @media screen and ( max-width $mobile )
            display none

    // HEADER DOWNLOAD
    // ---------------------------------
    &__download
        margin 0 0 4rem
        border .3rem solid $pink-color-white
        border-radius 50em
        size( 100%, 5.5rem )
        max-width 30rem
        font 1.8rem/1.2 $open-sans--bold
        color $pink-color-white
        transition background-color .2s, color .2s

        &:hover
        &:focus
            background-color $pink-color-white
            color $pink-color-pink

        &:active
            color rgba( $pink-color-pink, .3 )

    // HEADER SOCIALS
    // ---------------------------------
    &__socials
        display flex
        align-items center
        justify-content space-around
        width 80%
        margin 0 0 2rem

        & .header__item:nth-child(1)
            bg($header-icon-01)

        & .header__item:nth-child(2)
            bg($header-icon-02)

        & .header__item:nth-child(3)
            bg($header-icon-03)

        @media screen and ( min-width $mobile )
            width 100%

    // HEADER REMARKS
    // ---------------------------------
    &__remarks
        text-align center
        font 1.4rem/1.8 $open-sans--light
        color $pink-color-white
        max-width 90%

        @media screen and ( min-width $mobile )
            max-width 100%
