mixin block-header()
    header.header
        .center
            .header__content
                h1.title Взгляните на жизнь иначе!
                a.button( href='#0' ) Скачать приложение
                nav.socials
                    a.socials__item( href='#0' title='App Store' rel='nofollow' target='_blank' )
                    a.socials__item( href='#0' title='Google Play' rel='nofollow' target='_blank' )
                    a.socials__item( href='#0' title='Windows Store' rel='nofollow' target='_blank' )
                p.remarks
                    | Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
            .header__image
