mixin block-header()
    section.header
        .center
            .header__content
                h1.title Взгляните на жизнь иначе!
                a.button( href='#0' ) Скачать приложение
                nav.socials
                    a.socials__item( href='#0' )
                    a.socials__item( href='#0' )
                    a.socials__item( href='#0' )
                p.remarks
                    | Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
            .header__slider
