// POST MAIN
// ----------------------------------------------------
.post-main
    lost-column 8/12
    lost-column-gutter $gutter*3

    @media screen and (max-width: 800px)
        lost-column 1/1
        lost-column-gutter 0





// POST COMMENTS LEAVE
// ----------------------------------------------------
.post-comment-leave

    & .form__button
        background-color: #464646

        &:hover
        &:focus
            background-color: $color-grey-light

    & input
    & textarea
        color: #464646

        +placeholder()
            color: #464646
