mixin overlay()
	.overlay.overlay--slidedown
		button.overlay__close(type="button")
		nav
			ul
				li: a(href="#assets") assets
				li: a(href="#features") features
				li: a(href="#news") blog
				li: a(href="#download") download
