mixin footer()
    footer.footer
        .center
            .footer__primary
                p
                    | &copy; Gethelp.pro, 2015
            .footer__secondary
                nav
                    a( href='#0' ) О нас
                    a( href='#0' ) Калькулятор услуг
                    a( href='#0' ) Поставщикам услуг
                    a( href='#0' ) Договор-оферта
            .footer__tertiary
                nav
                    a( href='#0' )
                    a( href='#0' )
