mixin download()
	+b.download#download
		.head
			h1.head__title Customise Sedna with the included <span>sketch<sup>3</sup></span> file
			p.head__subtitle Change/swap/edit every aspect of Sedna before you hit development with the included Sketch file.
			a.head__button(href="#{jv0}") download now
		.content
			.content__inner
				h2.content__heading Showcase your smashing product with Sedna
				.content__center
					.content__column
						h3.content__title exclusive to codrops
						p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.content__column
						h3.content__title spreading pixels around the world
						p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
