.download
	padding 12rem 0 0
	background-color $color-white

	// DOWNLOAD HEAD
	// -------------------------------------------------

	& .head
		position relative
		display flex
		flex-direction column
		min-height 50rem
		background url(../images/bg-download.jpg) center center no-repeat
		background-size cover
		justify-content center
		align-items center
		text-align center


		// SKETCH LOGO
		// --------------------------------------------------

		&::after
			position absolute
			left 50%
			bottom -14rem
			display block
			content ''
			background url(../images/sketch-logo.png) center center no-repeat
			background-size cover
			transform translateX(-50%)
			animation logoAnime 2s infinite
			size(23rem)

			+below($bp2)
				size(12rem)
				bottom -14%

			+below($bp4)
				display none


		// TITLE
		// --------------------------------------------------

		&__title
			margin 0 1rem 3rem
			font-family $opensans-light
			font-size 4rem
			color $color-white
			line-height 1.2

			& > span
				text-transform capitalize
				color rgba($color-white, .6)
				white-space nowrap

				& > sup
					font-size 2.5rem
					line-height 1.8
					color $faded-orange

			+below($bp1)
				font-size 3rem

				& > span > sup
					font-size 1.5rem

			+below($bp4)
				font-size 2rem


		// SUBTITLE
		// --------------------------------------------------

		&__subtitle
			margin 0 1rem 6rem
			font-family $opensans-light
			color $cool-grey
			line-height 1.6

			+below($bp4)
				font-size 1.5rem


		// BUTTON
		// --------------------------------------------------

		&__button
			padding 1.2rem 3rem
			display block
			font-size 1.3rem
			text-transform uppercase
			color $warm-pink
			border .2rem solid $warm-pink
			border-radius 50em
			transition color .2s, background-color .2s

			&:hover
			&:active
				color $color-white
				background-color $warm-pink




	// DOWNLOAD CONTENT
	// -------------------------------------------------

	& .content
		margin-top 20rem

		+below($bp4)
			margin-top 10rem

		& p
			font-family $opensans-light
			font-size 1.5rem
			line-height 2
			color $slate-grey

		&__heading
			margin-bottom 6rem
			font-size 2.4rem
			line-height 1.2
			color $charcoal-grey

		&__title
			margin-bottom 2rem
			font-size 1.5rem
			text-transform uppercase
			color $charcoal-grey

		&__inner
			lost-center $width-desktop

			+below($bp0)
				lost-center $width-mobile

			+below($bp2)
				text-align center
				lost-center 90%

		&__center
			lost-utility clearfix

		&__column
			width 50%
			lost-column 6/12
			lost-column-gutter 2rem

			+below($bp0)
				width 100%
				lost-column 1/1
				lost-column-gutter 0

			&:first-child
				padding-right 7rem
				border-right .1rem solid $silver

				+below($bp0)
					margin-bottom 6rem
					padding-right 0
					border-right none

			&:last-child
				padding-left 7rem

				+below($bp0)
					padding-left 0


// SKETCH LOGO ANIME
// --------------------------------------------------
@keyframes logoAnime
	0%, 100%
		transform translate(-50%, 0%)
	40%
		transform translate(-50%, -2%)
	60%
		transform translate(-50%, 5%)

