.gallery
    background-color: $color-white


// GALLERY CONTROL
// -----------------------------------------

.gallery .gallery-control
    padding: 6rem 0
    display: flex
    justify-content: center

    &__item
        text-transform: capitalize
        font: 3rem/1 $josefin-sans-regular
        color: $color-dark
        margin: 0 2rem .1rem
        transition: color .2s
        will-change: color

        &:hover
            color: $color-red

        &:first-child
            border-bottom: 2px solid $color-red


// GALLERY CONTENT
// -----------------------------------------

.gallery-content
    border-top: 1px solid #e8e8e8

.gallery-content::before
.gallery-content::after
    content: ''
    display: table

.gallery-content::after
    clear: both

.gallery-content__sizer
.gallery-content__item
    float: left
    width: 33.33%
    height: 48rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


// SPECIAL
// ----------------------------------

.gallery-content__item.special
    background: url('%=static=%assets/content/product-image-08.jpg') 50% 50% no-repeat
    background-size: cover

    & a
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        overflow: hidden

    & .special-label
        padding: 4rem 3rem 1rem
        background-color: $color-dark
        color: $color-white
        text-transform: uppercase
        font: 1.3rem/1 $work-sans-semibold
        transform: rotate(-45deg)
        position: absolute
        top: -14px
        left: -38px

    & .special__title
        font: 3rem/1.2 $josefin-sans-semibold
        text-transform: uppercase
        color: $color-white
        margin: 0 0 1.4rem

    & .special__price
        font-family: $work-sans-semibold
        color: $color-white
        font-size: 2.2rem

        & span
            font-size: 1.6rem
            vertical-align: top
            text-decoration: line-through

// SALES
// ----------------------------------
.gallery-content__item.sales
    background-color: $color-fusia
    will-change background-color
    transition: background-color .2s

    & a
        display: flex;
        flex-direction: column
        justify-content: center;
        align-items: center;
        text-align: center
        font-family: $work-sans-semibold

    & .sales__caption
        line-height: 1
        margin: 0 0 4rem
        padding: 0 0 4rem
        position: relative
        
        &::before
            content: ''
            display: block
            background-color: $color-white
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            height: .2rem
            width: 2rem

    &:hover
        background-color: darken($color-fusia, 10%)

    & .sales__title
        font-size: 11.6rem
        color: rgba($color-white, .5)


    & .sales__percentage
        color: rgba($color-black, .2)
        margin-left: -5.6rem

    & .sales__brief
        font-size: 3.4rem
        color: rgba($color-white, .5)

    & .sales__slogan
        font: 2.2rem/1.4 $work-sans-medium
        color: $color-white

.gallery-content__item a
    display: block
    width: 100%
    height: 100%
    padding: 4rem
    transition: background-color .2s
    will-change: background-color


    // HOVER EFFECT
    // ----------------------------------
    &:hover
        //background-color: #f2f5f9

.gallery-content__item .gallery-image
    text-align: center
    margin: 0 0 4rem
    height: 26rem
    width: 100%

.gallery-content__item .gallery-info
    text-align: center

.gallery-content__item .gallery-category
    margin: 0 0 2rem
    text-transform: uppercase
    font: 1.2rem/1 $josefin-sans-bold
    letter-spacing: .2rem
    color: #a9a9a9

.gallery-content__item .gallery-title
    text-transform: capitalize
    color: $color-dark
    margin: 0 0 2rem
    font: 2.6rem/1 $josefin-sans-semibold

.gallery-content__item .gallery-price
    font: 2.2rem/1 $work-sans-bold
    color: $color-blue


// gallery content button
// ---------------------------------------
.gallery-content-open
    width: 100%
    height 7rem
    border 1px solid #e8e8e8
    background-color rgba(242, 245, 249, .4)
    font: 2.2rem/1 $josefin-sans-bold
    color: $color-dark
    text-transform: capitalize

    &:hover
        background-color: darken(rgba(242, 245, 249, .4), 2%)















