mixin block-skills(data)
    .skills
        .skills__center
            .skills__header
                h2 our skills
                p Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
            ul.skills__content
                li.skills__item
                    .skills__diagram
                        canvas.skills__canvas#wordpress( width='154' height='154' )
                    .skills__info
                        h3 wordpress
                        p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
                li.skills__item
                    .skills__diagram
                        canvas.skills__canvas#html( width='154' height='154' )
                    .skills__info
                        h3 html 5
                        p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
                li.skills__item
                    .skills__diagram
                        canvas.skills__canvas#css( width='154' height='154' )
                    .skills__info
                        h3 css 3
                        p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
                li.skills__item
                    .skills__diagram
                        canvas.skills__canvas#photoshop( width='154' height='154' )
                    .skills__info
                        h3 photoshop
                        p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.