// SKILLS
// -----------------------------------------------------------
.skills
    padding: 12rem 0
    background-color: rgb( 247, 247, 247 )


// SKILLS CENTER
// -----------------------------------------------------------
.skills__center
    lost-center: $width
    padding: 0 $gutter


// SKILLS HEADER
// -----------------------------------------------------------
.skills__header
    margin: 0 0 10rem
    color: $color-grey-light-dark
    text-align: center

    & h2
        text-transform: uppercase
        font: 2.4rem/1.2 $lato-bold
        margin: 0 0 5rem

    & p
        lost-center: 60rem
        font: 1.6rem/1.4 $lato-regular

// SKILLS CONTENT
// -----------------------------------------------------------
.skills__content
    lost-center 100% flex

// SKILLS CONTENT ITEM
// -----------------------------------------------------------
.skills__item
    lost-column 1/4
    lost-column-gutter 0
    display flex
    align-items center
    flex-direction column
    padding 0 1rem

    @media screen and ( max-width $bp980 )
        lost-column 1/2
        lost-column-cycle 2
        lost-column-gutter 0

        &:nth-child( -n+2 )
            margin 0 0 4rem 0

    @media screen and ( max-width $bp768 )
        lost-column 1/1
        lost-column-gutter 0
        lost-column-cycle 0

        &:nth-child( -n+3 )
            margin 0 0 4rem 0


// SKILLS CONTENT DIAGRAM
// -----------------------------------------------------------
.skills__diagram
    margin 0 0 4rem
    position relative

.ct-series-a .ct-slice-donut {
  stroke #0cf
}

.ct-series-c .ct-slice-donut {
  stroke #eaeaea
}

.ct-chart .divider {
    stroke: transparent
}

.holder-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  font-size: 2.6rem;
  color #333;
  font-family 'Lato', sans-serif
}

// SKILLS CONTENT INFO
// -----------------------------------------------------------
.skills__info
    text-align: center

    & h3
        text-transform: uppercase
        font: 2rem/1 $lato-bold
        color: $color-grey-dark
        margin: 0 0 2rem

    & p
        font: 1.6rem/1.4 $lato-regular
        color: $color-grey-light-dark





















