
// COMMON STYLES OF THE PROJECT
// ----------------------------------------

html, body
    height 100%
    width: 100%

html
    font-size: 62.5%

ul, ol
    list-style-type: none
    padding: 0
    margin: 0

a
    text-decoration: none

    &:focus
        outline: none

button
    cursor: pointer
    padding: 0
    border: none

h1, h2, h3, h4, p
    margin: 0

// BODY STYLES
// ------------------------------------------

.page
    font-size: 1.6rem
    line-height: 1.2

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px