
// VARIABLES FOR USING CUSTOM FONT
// ------------------------------------------------
$amsdam-regular = 'amsdamregular', sans-serif

$crimson-regular = 'crimson_textroman', sans-serif
$crimson-italic = 'crimson_textitalic', sans-serif

$montserrat-regular = 'montserratregular', sans-serif
$montserrat-bold = 'montserratbold', sans-serif


// FONTS
// ------------------------------------------------

// amsdam font ---------------------------------
@font-face {
    font-family: 'amsdamregular';
    src: url('../fonts/amsdam_regular.woff2') format('woff2'), url('../fonts/amsdam_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// crimson font -----------------------------------
@font-face {
    font-family: 'crimson_textitalic';
    src: url('../fonts/crimsontext-italic.woff2') format('woff2'), url('../fonts/crimsontext-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson_textroman';
    src: url('../fonts/crimsontext-regular.woff2') format('woff2'), url('../fonts/crimsontext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// montserrat font -----------------------------------
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
