// DIMENTIONS
// ----------------------------------

$width = 120rem
$gutter = 1.5rem


// COLORS
// ----------------------------------

$color-white = #fff
$color-white-smoke = #cfcfcf
$color-white-smooth = #d8d8d8
$color-black = #000
$color-black-light = #515151
$color-grey = #3e3d3d
$color-grey-dark = #aaa
$color-grey-light = #757575
$color-grey-pale = #e3e3e3
$color-grey-smooth = #b0b0b0
$color-grey-heavy = #2d2d2f
$color-grey-58 = #949494


// MEDIA QUERIES
// -----------------------------------

$bp980 = 980px
$bp768 = 768px
$bp500 = 500px