// DIMENTIONS
// ----------------------------------

$width = 120rem
$gutter = 1.5rem


// COLORS
// ----------------------------------

$color-white = #fff
$color-black = #000
$color-grey = #3e3d3d
$color-grey-dark = #aaa
$color-grey-light = #757575



// MEDIA QUERIES
// -----------------------------------

$bp980 = 980px
$bp768 = 768px
$bp500 = 500px