
// META-ICONS
// -----------------------------------

.meta-icons
    border-top .1rem solid $color-grey-pale
    border-bottom .1rem solid $color-grey-pale
    padding 1.4rem 0 1.4rem .6rem
    display flex
    align-items center

    // META-ICONS ITEM
    // -----------------------------------

    &__item
        margin 0 1rem 0 0

    // META-ICONS LINK
    // -----------------------------------

    &__link
        color $color-grey-3
        text-transform capitalize
        font 1.4rem/1.2 $crimson-italic

        &:hover
            color darken( $color-grey-3, 50% )
