
// META-ICONS
// -----------------------------------

.meta-icons
    border-top .1rem solid $color-grey-4
    border-bottom .1rem solid $color-grey-4
    padding 1.4rem 0 1.4rem .6rem
    display flex
    align-items center

    @media screen and ( max-width $bp500 )
        justify-content center

    // META-ICONS ITEM
    // -----------------------------------

    &__item
        display flex
        margin 0 1.6rem 0 0

        &:last-child
            margin-right 0

    // META-ICONS LINK
    // -----------------------------------

    &__link
        color $color-grey-3
        text-transform capitalize
        font 1.4rem/1.2 $crimson-italic
        vertical-align middle

        &:hover
            color darken( $color-grey-3, 60% )

    & .meta-icon
        size( 1.4rem )
        margin 0 .5rem 0 0
        fill: $color-grey-3
