include ../block-heading/block-heading

mixin block-contact(data)
    section.block-contact
        .center
            .block-contact__header
                +block-heading()
            .block-contact__main
