
// DIMENTIONS
// -------------------------------------------
$width = 1200px
$gutter = 15px


// FONTS
// -------------------------------------------
$lato-light = 'latolight', sans-serif
$lato-regular = 'latoregular', sans-serif
$lato-bold = 'latobold', sans-serif
$lato-black = 'latoblack', sans-serif


// COLORS
// -------------------------------------------
$color-white = #fff
$color-black = #000
$color-blue = #00ccff
$color-grey-light = #eaeaea
$color-grey-dark = #333
$color-grey-light-dark = #999


// MEDIA QUERIES
// ------------------------------------------
$bp600 = 600px
$bp768 = 768px
$bp980 = 980px
